{% extends 'howto/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block content %}
<div id="view-article">
    <div class="w3-row">
        <div class="w3-col m8 l8">
            <div id="article-head">
                <div id="article-head-view">
                    <div class="w3-row w3-padding" id="heading-view">
                        <h1>{%if article.heading %}{{ article.heading}}{% else %}Untitled Article{% endif %}</h1>
                    </div>
                    <div class="w3-row text-medium w3-padding" id="subheading-view">{{article.subheading}}</div>
                </div>
            </div>
            <br />
            <div class="w3-row">
                <div class="w3-col m3 l3 w3-padding"><span class="dead-text">{{article.modifiedOn}}</span></div>
                <div class="w3-col m7 l7 w3-padding">
                    <div id="view-articletags">
                        {% for tag in article.tags.all %}
                        <a href="{{URLS.HOWTO}}?search=tag:{{tag}}"><button class="small positive">#{{tag}}</button></a>
                        {% empty %}
                            <strong class="dead-text">{% trans "No tags assigned" %}</strong>
                        {% endfor %}
                        {% if self %}<button class="small edit-action" data-icon="edit" data-edittarget="articletags"></button>{% endif %}
                    </div>
                    {% if self %}
                    <div id="edit-articletags">
                        <strong class="dead-text">{% trans "Total 5 tags allowed" %}</strong>
                        <form class="no-auto" id="edit-tag-inputs">
                            {% csrf_token %}
                            <input class="tertiary" maxlength="40" placeholder="{% trans "Search tags" %}" id="tag-search-input" />
                            <div class="w3-show-inline-block"><button class="small" id="save-edit-articletags" data-icon="done">{% trans "Save" %}</button>
                            <button class="small" id="discard-edit-articletags" data-icon="close">{% trans "Cancel" %}</button></div>
                            <div class="w3-row w3-padding" id="tags-viewer">
                                {% for tag in article.tags.all %}
                                <button type="button" class="primary small negative-text tag-existing" data-icon="close" id="{{tag.id}}">{{tag.name}}</button>
                                {% endfor %}
                                <div class="w3-row w3-padding" id="tags-viewer-new"></div>
                            </div>
                            <input id="removetagIDs" name="removetagIDs" hidden type="text" />
                            <input id="addtagIDs" name="addtagIDs" hidden type="text" />
                            <input id="addtags" name="addtags" hidden type="text" />
                        </form>
                    </div>
                    {% endif %}
                </div>
                <div class="w3-col l2 m2 w3-padding" >
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="{{ URLS.TOGGLE_ADMIRATION|params:article.id }}">
                        {% csrf_token %}
                        <input type="hidden" value="{% if isAdmirer %}false{% else %}true{% endif %}" name="admire" />
                        <button type="submit" class="{% if isAdmirer %}positive{% else %}primary{% endif %}" data-icon="volunteer_activism" id="toggle-admiration" ></button>
                    </form>
                    {% else %}
                    <a href="{{URLS.Auth.LOGIN}}?next={{request.path}}"><button class="primary" data-icon="volunteer_activism"></button></a>
                    {% endif %}
                    <a id="show-admirations"><strong>{{ article.total_admirers }}&nbsp;admirer{{ article.total_admirers|pluralize }}</strong></a>
                </div> 
            </div>
        </div>
        <div class="w3-col m4 l4 w3-right">
            <div class="w3-row w3-padding w3-right-align">
                <a href="{{article.author.getLink}}">
                    <img class="w3-circle w3-right" src="{{article.author.getDP}}" width="50"/>
                    <strong class="text-medium text-primary">{{article.author.getName}}</strong>
                    {% if article.author.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}
                    <br />
                    {% for label in article.author.get_labels %}
                        <strong class="w3-tiny w3-round w3-tag {{label.theme}} w3-padding-small">{{label.name}}</strong>
                    {% endfor %}
                    <span class="dead-text">{{article.author.getXP}}</span>
                </a>
            </div>
            <div class="w3-row w3-right {% if request.user.is_authenticated %}trigger-article-rating{% else %}trigger-login-popup{% endif %}">
                <div class="rate">
                    <span class="w3-left text-large">{{ article.get_avg_rating }}</span>
                    {% for i in '0123456789'|make_list %}
                    <input type="checkbox" required/>
                    <label class="{% if forloop.counter0|divisibleby:"2" %}half{% endif %} {% if forloop.counter0 < article.get_rating_out_of_ten %}selected{% endif %}"></label>
                    {% endfor %}
                </div>
            </div>
            <div class="w3-row w3-padding">
                <div id="view-articletopics" class="w3-right">
                    {% for topic in article.topics.all %}
                        <a href="{{URLS.HOWTO}}?search=topic:{{topic}}">
                            <button class="button topic-name primary border-joy">
                            {{topic}}
                            </button>
                        </a>
                    {% empty %}
                        {% if self %}
                            <br/>
                            <button class="accent edit-action w3-padding" data-edittarget="articletopics" data-icon="add">Add topics</button>
                        {% else %}
                            <br/>
                            <div class="dead-text">
                                <h4>No topics yet</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if self and article.topics.all|length > 0 %}<i class="edit-action" data-edittarget="articletopics">edit</i>{% endif %}
                </div>
                {% if self %}
                <div id="edit-articletopics" class="w3-right" hidden>
                    <strong class="dead-text">Total 3 topics allowed</strong>
                    <form class="no-auto" method="POST" id="edit-article-topics-form">
                        {% csrf_token %}
                        <input class="wide" placeholder="Search topics" id="topic-search-input" maxlength="35" />
                        <div><button id="save-edit-articletopics" data-icon="done">Save</button>
                        <button id="discard-edit-articletopics" data-icon="close">Cancel</button></div>
                        <div class="w3-row w3-padding" id="topics-viewer">
                            {% for topic in article.getTopics %}
                            <button type="button" class="primary negative-text topic-existing" data-icon="close" id="{{topic.getID}}">{{topic.name}}</button>
                            {% endfor %}
                            <div class="w3-row w3-padding" id="topics-viewer-new"></div>
                        </div>
                        <input id="removetopicIDs" name="removetopicIDs" hidden type="text" />
                        <input id="addtopicIDs" name="addtopicIDs" hidden type="text" />
                        <input id="addtopics" name="addtopics" hidden type="text" />
                        <br/>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br />
    <div id="sections">
        {% if sections or self %}
            <div class="parent-sidenav" id="sidenav-menu">
                <div class="sidenav-small w3-hide-large w3-hide-medium w3-animate-left tertiary w3-center w3-padding text-medium">
                    <div class="w3-row w3-left align text-primary">
                        <i class="w3-xlarge material-icons text-primary" id="closenav">close</i>
                    </div>
                    <div id="sidenav-view">
                        {% if self %}
                            <div class="w3-row align w3-padding">
                                <button id="deleteArticle" class="negative w3-large w3-animate-zoom" type="submit">Delete Article</button> 
                            </div>
                        {% endif %}
                        <br />
                        {% for section in sections %}
                        <div class="w3-row">
                            <a class="text-primary" href="#view-section-{{ section.id }}">
                                <strong>{{section.subheading}}</strong>
                            </a>
                        </div>
                        <br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="w3-row section-body">
            {% if sections or self %}
                <div class="sidenav w3-hide-small tertiary w3-center w3-padding text-medium">
                    <div id="sidenav2-view">
                        {% if self %}
                            <div class="w3-row align w3-padding">
                                <button id="deleteArticle" class="negative w3-large w3-animate-zoom" type="submit">Delete Article</button> 
                            </div>
                        {% endif %}
                        <br />
                        {% for section in sections %}
                        <div class="w3-row">
                            <a class="text-primary" href="#view-section-{{ section.id }}">
                                <strong>{{section.subheading}}</strong>
                            </a>
                        </div>
                        <br />
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="sections">
                <i class="w3-padding w3-hide-large w3-hide-medium" id="opennav">menu</i>
                <div id="section-body-view">
                    {% for section in sections %}
                        <div class="w3-row">
                            <div class="w3-row w3-padding" id="view-section-{{section.id}}" sectionid="{{section.id}}">
                                {% if section.paragraph %}
                                <span class="text-tertiary text-medium ">{{section.paragraph}}</span><br/>
                                {% endif %}
                                <div class="w3-row w3-center" style="padding-bottom:1rem">
                                    {% if section.image %}
                                    <img class="primary w3-round-xlarge" src="{{ section.get_image }}"/>
                                    <br/>
                                    {% endif %}
                                    {% if section.video %}
                                    <video class="w3-round-xlarge section-video" src="{{section.get_video}}" controls></video>
                                    <br/>
                                    {% endif %}
                                </div>
                            </div>
                            <br/>
                        </div>
                        {% empty %}
                            <h5 class="dead-text align ">{% trans "No Sections Yet" %}</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script nonce="{{request.csp_nonce}}" src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.ARTICLE}}?nickname={{article.nickname}}"></script>
<script nonce="{{request.csp_nonce}}" src="{% static 'scripts/howto/article.js' %}"></script>
{% endblock %}
