{% extends 'howto/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_href %}{{ URLS.HOWTO }}{% endblock %}

{% block content %}
{% if self and article.isEditable %}
<div id="edit-article">
    <div class="w3-row">
        <div class="w3-col m8 l8">
            <div id="article-head">
                <div class="article-edit" id="article-head-edit">
                    <div class="w3-row w3-padding-small">
                        <textarea maxlength='75' class="article-edit wide heading-input" id="heading" name="heading" placeholder="Heading">{{ article.heading }}</textarea>
                    </div>
                    <div class="w3-row w3-padding-small">
                        <textarea maxlength='250' class="article-edit wide text-medium" rows='5' name="subheading" id="subheading" placeholder="Subheading">{{ article.subheading }}</textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="w3-row">
                <div class="w3-col m7 l7 w3-padding">
                    <div id="view-articletags">
                        {% for tag in article.tags.all %}
                        <a href="{{URLS.HOWTO}}?search=tag:{{tag}}"><button class="small positive">#{{tag}}</button></a>
                        {% empty %}
                            <strong class="dead-text">{% trans "No tags assigned" %}</strong>
                        {% endfor %}
                        {% if self %}<button class="small edit-action" data-icon="edit" data-edittarget="articletags"></button>{% endif %}
                    </div>
                    {% if self %}
                    <div id="edit-articletags">
                        <strong class="dead-text">{% trans "Total 5 tags allowed" %}</strong>
                        <form class="no-auto" id="edit-tag-inputs">
                            {% csrf_token %}
                            <input class="tertiary" maxlength="40" placeholder="{% trans "Search tags" %}" id="tag-search-input" />
                            <div class="w3-show-inline-block"><button class="small" id="save-edit-articletags" data-icon="done">{% trans "Save" %}</button>
                            <button class="small" id="discard-edit-articletags" data-icon="close">{% trans "Cancel" %}</button></div>
                            <div class="w3-row w3-padding" id="tags-viewer">
                                {% for tag in article.tags.all %}
                                <button type="button" class="primary small negative-text tag-existing" data-icon="close" id="{{tag.id}}">{{tag.name}}</button>
                                {% endfor %}
                                <div class="w3-row w3-padding" id="tags-viewer-new"></div>
                            </div>
                            <input id="removetagIDs" name="removetagIDs" hidden type="text" />
                            <input id="addtagIDs" name="addtagIDs" hidden type="text" />
                            <input id="addtags" name="addtags" hidden type="text" />
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="w3-col m4 l4 w3-right">
            <div class="w3-row w3-padding w3-right-align">
                <a href="{{article.author.getLink}}">
                    <img class="w3-circle w3-right" src="{{article.author.getDP}}" width="50"/>
                    <strong class="text-medium text-primary">{{article.author.getName}}</strong>
                    {% if article.author.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}
                    <br />
                    {% for label in article.author.get_labels %}
                        <strong class="w3-tiny w3-round w3-tag {{label.theme}} w3-padding-small">{{label.name}}</strong>
                    {% endfor %}
                    <span class="dead-text">{{article.author.getXP}}</span>
                </a>
            </div>
            <div class="w3-row w3-padding">
                <div id="view-articletopics" class="w3-right">
                    {% for topic in article.topics.all %}
                        <a href="{{URLS.HOWTO}}?search=topic:{{topic}}">
                            <button class="button topic-name primary border-joy">
                            {{topic}}
                            </button>
                        </a>
                    {% empty %}
                        {% if self %}
                            <br/>
                            <button class="accent edit-action w3-padding" data-edittarget="articletopics" data-icon="add">Add topics</button>
                        {% else %}
                            <br/>
                            <div class="dead-text">
                                <h4>No topics yet</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if self and article.topics.all|length > 0 %}<i class="edit-action" data-edittarget="articletopics">edit</i>{% endif %}
                </div>
                {% if self %}
                <div id="edit-articletopics" class="w3-right" hidden>
                    <strong class="dead-text">Total 3 topics allowed</strong>
                    <form class="no-auto" method="POST" id="edit-article-topics-form">
                        {% csrf_token %}
                        <input class="wide" placeholder="Search topics" id="topic-search-input" maxlength="35" />
                        <div><button id="save-edit-articletopics" data-icon="done">Save</button>
                        <button id="discard-edit-articletopics" data-icon="close">Cancel</button></div>
                        <div class="w3-row w3-padding" id="topics-viewer">
                            {% for topic in article.getTopics %}
                            <button type="button" class="primary negative-text topic-existing" data-icon="close" id="{{topic.getID}}">{{topic.name}}</button>
                            {% endfor %}
                            <div class="w3-row w3-padding" id="topics-viewer-new"></div>
                        </div>
                        <input id="removetopicIDs" name="removetopicIDs" hidden type="text" />
                        <input id="addtopicIDs" name="addtopicIDs" hidden type="text" />
                        <input id="addtopics" name="addtopics" hidden type="text" />
                        <br/>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="w3-row">
                <button id="sync-button" class="w3-right w3-margin-right w3-margin-top positive" hidden><i>sync</i>Save Changes</button>
            </div>
            <div class="w3-row">
                <a href="{{ URLS.Howto.VIEW|params:article.get_nickname }}" target="_blank"><button id="preview-button" class="w3-right w3-margin positive" data-icon="preview">Preview</button></a>
            </div>
        </div>
    </div>
    <br />
    <div id="sections">
        <div class="parent-sidenav" id="sidenav-menu">
            <div class="sidenav-small w3-hide-large w3-hide-medium w3-animate-left tertiary w3-center w3-padding text-medium">
                <div class="w3-row w3-left align text-primary">
                    <i class="w3-xlarge material-icons text-primary" id="closenav">close</i>
                </div>
                <div class="w3-row align w3-padding">
                    {% if article.is_draft%}
                        <button id="publishArticle" class="accent w3-large w3-animate-zoom">
                            Publish
                        </button>
                    {% endif %}
                    <button id="deleteArticle" class="negative w3-large w3-animate-zoom" type="submit">Delete</button> 
                </div>
                <div id="sidenav-edit">
                    {% for section in sections %}
                        <div class="w3-row w3-margin-bottom section-content" sectionid="{{ section.id }}">
                            <div class="w3-col s10 m10 l10">
                                <div class="section-edit" sectionid="{{ section.id }}">
                                    <input maxlength='75' id="{{ section.id }}-subheading" type="text" class="primary w3-input subheading" name="subheading" placeholder="Subheading" value="{{section.subheading}}"/>
                                </div>
                            </div>
                            <div class="w3-col s2 m2 l2">
                                <button class="small w3-right negative" id='delete-section-{{ section.id }}' data-icon='delete'></button>  
                            </div>   
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w3-row section-body">
            <div class="sidenav w3-hide-small tertiary w3-center w3-padding text-medium">
                <div class="w3-row align">
                    {% if article.is_draft %}
                        <button id="publishArticle" class="accent w3-large w3-animate-zoom">
                            Publish
                        </button>
                    {% endif %}
                    <button id="deleteArticle" class="negative w3-large w3-animate-zoom" type="submit">Delete</button> 
                </div>
                <br />
                <div id="sidenav2-edit">
                    {% for section in sections%}
                    <div class="w3-row w3-margin-bottom section-content" sectionid="{{ section.id }}">
                        <div class="w3-col s10 m10 l10">
                            <div class="section-edit section-elements" sectionid="{{ section.id }}" hasImage="{%if section.image %}true{% else %}false{% endif %}" hasVideo="{%if section.video %}true{% else %}false{% endif %}">
                                <input maxlength='75' type="text" id="{{ section.id }}-subheading-2" class="primary w3-input subheading" name="subheading" placeholder="Subheading" value="{{section.subheading}}"/>
                            </div>
                        </div>
                        <div class="w3-col s2 m2 l2">
                            <button class="small w3-right negative" id='delete-section-{{ section.id }}' data-icon='delete'></button>  
                        </div> 
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="sections">
                <i class="w3-padding w3-hide-large w3-hide-medium" id="opennav">menu</i>
                <div id="section-body-edit">
                    <div class="w3-row" id="section-edit-inputs">
                        {% for section in sections %}
                            <div class="w3-row w3-padding section-content" sectionid="{{ section.id }}">
                                {% if section.paragraph %}
                                <div class="section-edit" sectionid="{{ section.id }}">
                                    <textarea maxlength='500' id="{{ section.id }}-paragraph" class="wide paragraph" name='paragraph' rows="3" placeholder="paragraph">{{ section.paragraph }}</textarea>
                                </div>
                                {% endif %}
                                {% if section.image %}
                                    <input type='file' hidden id='section-file-{{section.id}}' accept="image/png, image/jpg, image/jpeg"/>
                                    <div class="w3-center">
                                        <img class="primary w3-round-xlarge" src="{{ section.get_image }}" alt="{{ section.subheading }}" id="imageOutput-{{section.id}}" style="opacity:0.5" />
                                    </div>
                                    <div class="dead-text w3-center w3-padding" id='add-image-view-{{section.id}}'>
                                        <button type="button" class="small accent" data-icon="upload">
                                            <label for="section-file-{{section.id}}">Update Image</label>
                                        </button>
                                    </div>
                                    <input type="text" class="image" id='imageData-{{section.id}}' name='image' hidden value="">
                                {% endif %}
                                {% if section.video %}
                                    <input type='file' hidden id='section-video-file-{{section.id}}' accept="video/mp4, video/ogg"/>
                                    <div class="w3-center">
                                        <video controls class="w3-round-xlarge section-video" src="{{ section.get_video }}" id="videoOutput-{{section.id}}">
                                            Your browser does not support the video playback.
                                        </video>
                                    </div>
                                    <div class="dead-text w3-center w3-padding" id='add-video-view-{{section.id}}'>
                                        <button type="button" class="small accent" data-icon="upload">
                                            <label for="section-video-file-{{section.id}}">Update Video</label>
                                        </button>
                                    </div>
                                    <input type="text" class="video" id='videoData-{{section.id}}' name='video' hidden value="">
                                {% endif %}
                                <br />
                            </div>
                        {% endfor %}
                    </div>
                    <div class="w3-row">
                        <div class="w3-center">
                            <button id="add-paragraph" class="primary small w3-padding w3-margin border-joy" data-icon="add">
                                Add Paragraph
                            </button>
                            <button id="add-image" class="primary small w3-padding w3-margin border-joy" data-icon="add">
                                Add Image
                            </button>
                            <button id="add-video" class="primary small w3-padding w3-margin border-joy" data-icon="add">
                                Add Video
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script nonce="{{request.csp_nonce}}" src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.ARTICLE_EDIT}}?nickname={{article.nickname}}"></script>
<script nonce="{{request.csp_nonce}}" src="{% static 'scripts/howto/article.js' %}"></script>
{% endblock %}
