{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
{% endblock %}

{% block meta_description %}Detailed guides to help you grow.{% endblock %}
{% block og_url %}{{URLS.HOWTO}}{% endblock %}
{% block og_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block og_description %}Detailed guides to help you grow.{% endblock %}
{% block og_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block tw_url %}{{URLS.HOWTO}}{% endblock %}
{% block tw_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block tw_description %}Detailed guides to help you grow.{% endblock %}
{% block tw_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block themecolor %}accent{% endblock %}
{% block title %}{{SUBAPPNAME|capfirst}}{% endblock %} 

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}
{% block nav_back_theme %}accent{% endblock %}

{% block nav_href %}/{% endblock %}
{% block nav_text %}{% endblock %}

{% block nav_noauth_people %}
{% endblock %}

{% block nav_extra_links %}
    {% if request.user.is_authenticated and request.user.profile.canCreateArticle %}
    <a href="{{URLS.CREATE}}"><button title="{% trans "New Article" %}" class="accent" data-icon="add"><span class="w3-hide-small">{% trans "New Article" %}</span></button></a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="w3-row tertiary">
    <div class="w3-row tertiary w3-padding" id="mainframe">
        <div class="w3-col w3-quarter w3-padding-small">
        </div>
        <form class="no-auto" id="search-articles-form">
            <div class="w3-col w3-half w3-center w3-padding-small">
                <input class="wide primary bold border-accent" type="search" inputmode="search" placeholder="{% trans "Search articles as topic:translation, or anything" %}" id="browse-search-input" />
            </div>
            <div class="w3-col w3-quarter w3-padding-small" id="browse-search-actions" hidden>
                <button type="button" class="negative w3-right browse-search-articles" data-icon="close" id="browse-search-clear"></button>
                <button type="button" class="positive w3-right browse-search-articles" data-icon="search" id="browse-search-exec"></button>
            </div>
        </form>
    </div>
    <div class="w3-row search-view" data-search-type="articles" id='browse-search-view'>
    </div>
    <div class="w3-row">
        {% for article in articles %}
        <div class="w3-col m4 l3 w3-padding"> 
            <a href="{{article.get_link}}">
                <div class="pallete no-pad">
                    {% if article.getVideo %}
                    <div class="pallete no-pad pallete-media">
                        <video autoplay muted loop src="{{ article.getVideo }}">Video playback is not supported</video>
                    </div>
                    {% else %}
                    <div class="pallete no-pad pallete-media">
                        <img src="{{ article.getImage }}">
                    </div>
                    {% endif %}
                    <div class="w3-row">
                        <div class="w3-padding article-details">
                            <div class="article-heading">
                                <h3>{{ article.heading }}</h3>
                            </div>
                            <div class="article-subheading">
                                {{ article.subheading | truncatewords:30}}
                            </div>
                        </div>
                        <div class="rate rate-small w3-right">
                            <span class="w3-left text-small">{{ article.get_avg_rating }}</span>
                            {% for i in '0123456789'|make_list %}
                            <input type="checkbox" required/>
                            <label class="{% if forloop.counter0|divisibleby:"2" %}half{% endif %} {% if forloop.counter0 < article.get_rating_out_of_ten %}selected{% endif %}"></label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br />
    <div class="w3-row w3-padding w3-center dead-text">
        <div class="material-icons w3-jumbo">done</div>
        <h3 class="dead-text">{% trans "That's all here for now, you can search for more." %}</h3>
       <br/><br/>
      </div>
</div>
{% endblock %}
{% block scripts %}
<script nonce="{{request.csp_nonce}}" src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.INDEX}}?search={{request.GET.search}}"></script>
{% endblock %}