{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% for section in sections %}
    <div class="w3-row">
        <div class="w3-row w3-padding" id="view-section-{{ section.id }}">
            {% if self and article.isEditable %}
            <div class="w3-row">
                <button class="small w3-right negative" id='delete-section-{{ section.id }}' data-icon='delete'></button>
                <button class="small edit-action w3-right w3-margin-right" data-icon='edit' data-edittarget="section-{{ section.id }}"></button>
            </div>
            {% endif %}
            {% if section.paragraph %}
            <span class="text-tertiary text-medium ">{{section.paragraph}}</span><br/>
            {% endif %}
            <div class="w3-row w3-center" style="padding-bottom:1rem">
                {% if section.image %}
                <img class="primary " src="{{ section.get_image }}"/>
                <br/>
                {% endif %}
                {% if section.video %}
                <video src="{{section.get_video}}" width="40%" class="preview-type-video"></video>
                <br/>
                {% endif %}
            </div>
        </div>
        {% if self and article.isEditable%}
        <div class="w3-row w3-padding" id="edit-section-{{ section.id }}">
            <input type='file' hidden id='section-file-{{section.id}}' accept="image/png, image/jpg, image/jpeg"/>
            <form action="{{URLS.SECTION|params:article.id|params:'update'}}" method="POST">
                {% csrf_token %}
                <input type="text" name='sectionid' hidden value="{{ section.id }}">
                {% if section.paragraph %}
                <textarea class="wide" name='paragraph' rows="3" placeholder="paragraph">{{ section.paragraph }}</textarea>
                {% endif %}
                <input type="text" id='imageData-{{section.id}}' name='image' hidden value=""/>
                {% if section.image %}
                <div class="w3-center">
                    <img class="primary" src="{{ section.get_image }}" alt="{{ section.subheading }}" id="imageOutput-{{section.id}}" style="opacity:0.5" />
                </div>
                <div class="dead-text w3-center w3-padding" id='add-image-view-{{section.id}}'>
                    <button type="button" class="small accent" data-icon="upload">
                        <label for="section-file-{{section.id}}">Update Image</label>
                    </button>
                </div>
                {% else %}
                <div class="w3-center">
                    <img hidden id='imageOutput-{{section.id}}' class="preview-type-image" />
                </div>
                <div class="dead-text w3-center w3-padding" id='add-image-view-{{section.id}}'>
                    <button type="button" class="small accent" data-icon="upload">
                        <label for="section-file-{{section.id}}">Upload Image</label>
                    </button>
                </div>
                {% endif %}
                <div class="w3-center w3-padding">
                    <button class="small positive" type='submit' id="save-edit-section-{{ section.id }}" data-icon="done">{% trans "Update Section" %}</button>
                    <button class="small negative" type='button' id="discard-edit-section-{{ section.id }}" data-icon="close">{% trans "Discard" %}</button>
                </div>
            </form>
            <hr/>
        </div>
        {% endif %}
        <br/>
    </div>
{% empty %}
<h5 class="dead-text align ">{% trans "No Sections Yet" %}</h6>
{% endfor %}

