{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<input hidden type="text" name="size" id="size" value="{{ sections|length }}">
{% for section in sections %}
    <div class="w3-row pallete-slab" style="border-radius:10px;margin: 20px auto;padding:0">
        <div class="w3-row w3-padding" id="view-section-{{ forloop.counter }}">
            <span class="dead-text text-tertiary text-large ">{{section.subheading}}</span><br/>
            <span class="text-tertiary text-medium ">{{section.paragraph}}</span><br/>
            <div class="w3-row" style="padding-bottom:1rem">
                {% if section.image %}
                <img class="primary preview-type-image" src="{{ section.get_image }}"/>
                <br/>
                {% endif %}
                {% if section.video %}
                <video src="{{section.get_video}}" width="40%" class="preview-type-video"></video>
                <br/>
                {% endif %}
            </div>
            {% if self %}
            <div class="w3-row">
            <button class="small edit-action" data-icon='edit' id="create-snap" data-edittarget="section-{{ forloop.counter }}">Edit Section</button>
            </div>
            {% endif %}
        </div>
        {% if self %}
        <div class="w3-row w3-padding" id="edit-section-{{ forloop.counter }}">
            <input type='file' hidden id='section-file-{{forloop.counter}}' accept="image/png, image/jpg, image/jpeg"/>
            <form action="{{URLS.SECTION|params:article.id|params:'update'}}" method="POST">
                {% csrf_token %}
                <input type="text" name='sectionid' hidden value="{{ section.id }}">
                <input class="primary" type="text" name="subheading" placeholder="subheading" value="{{ section.subheading }}">
                <textarea class="wide primary" style="margin-top: 1rem" name='paragraph' rows="3" placeholder="paragraph">{{ section.paragraph }}</textarea>
                <input type="text" id='imageData-{{forloop.counter}}' name='image' hidden value=""/>
                <img hidden width='20%' id='imageOutput-{{forloop.counter}}' class="preview-type-image" />
                <div class="dead-text" id='add-image-view-{{forloop.counter}}'>
                    <label for="section-file-{{forloop.counter}}">
                        <div class="w3-jumbo material-icons">add_circle</div>
                        <h5>Add image</h5>
                    </label>
                </div>
                <button class="small positive" type='submit' id="save-edit-section-{{ forloop.counter }}" data-icon="done">{% trans "Update Section" %}</button>
                <button class="small negative" type='button' id="discard-edit-section-{{ forloop.counter }}" data-icon="close">{% trans "Discard" %}</button>
            </form>
            <hr/>
        </div>
        {% endif %}
        <br/>
    </div>
{% empty %}
<h5 class="dead-text align ">{% trans "No Sections Yet" %}</h6>
{% endfor %}

