{% extends 'projects/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block meta_description %}A new project is always a good start. Create a Quick, Verified, or Core project at {{APPNAME}}.{% endblock %}

{% block og_url %}{{URLS.CREATE}}{% endblock %}
{% block og_description %}A new project is always a good start. Create a Quick, Verified, or Core project at {{APPNAME}}.{% endblock %}
{% block og_title %}{% trans "Create Project" %}{% endblock %}
{% block og_site_name %}{% trans "Create Project" %}{% endblock %}

{% block tw_url %}{{URLS.CREATE}}{% endblock %}
{% block tw_title %}{% trans "Create Project" %}{% endblock %}
{% block tw_site_name %}{% trans "Create Project" %}{% endblock %}
{% block tw_description %}A new project is always a good start. Create a Quick, Verified, or Core project at {{APPNAME}}.{% endblock %}

{% block title%}{% trans "Create project" %}{%endblock%}

{% block nav_extra_links %}
<a href="{{URLS.ALLLICENSES}}"><button title="Licenses" class="primary" data-icon="article"><span class="w3-hide-small">{% trans "Licenses" %}</span></button></a>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/project/create.css' %}" />
{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}

{% block nav_text %}Create project{% endblock %}


{% block content %}
<div class="w3-row w3-padding-small">
    <center>
    <h2 class="dead-text w3-padding">A new project is always a good start.</h2>
    <strong class="dead-text text-medium w3-padding">Your next project can be anyone of the following.</strong>
    </center>
    <br/>
    <div class="w3-row">
        <div class="w3-col w3-third w3-padding">
            <div class="pallete primary positive">
                <center><h2 class="text-positive">{% trans "Quick Project" %}</h2></center><br/>
                <div class="pallete-slab primary">
                    <h4>Instantly start a new project without waiting for someone's approval.</h4><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Choose license from publicly available licenses at {{APPNAME}}</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Get a permanent publicly available URL for your project</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Associate at most 10 static assets of your own</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Link with your own public Github repository, after creation</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Topics and tags association for contribution record</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Infinite Snapshots for project's lifetime</strong><br/><br/>
                    <center>
                    <a href="{{URLS.CREATE_FREE}}">
                        <button class="big-button positive" data-icon="add">New Quick Project</button>
                    </a>
                    </center>
                    <br/>
                </div>
            </div>
        </div>
        <div class="w3-col w3-third w3-padding">
            <div class="pallete accent">
                <center><h2>{% trans "Verified Project" %}</h2></center><br/>
                <div class="pallete-slab primary">
                    <h4>Submit a request to get an approved, verified project with a preset repository at <a href="https://github.com/Knotters">{{APPNAME}}</a>.</h4><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Everything of the Quick Project</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;A preset repository and team on GitHub.</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Associate any number of static assets of your own</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;A moderator for help and support</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Mentor request eligibility</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Separate Discord channel on Knotters Discord Server</strong><br/><br/>
                    <center>
                    <a href="{{URLS.CREATE_MOD}}">
                        <button class="big-button accent" data-icon="verified">New Verified Project</button>
                    </a>
                    </center>
                    <br/>
                </div>
            </div>
        </div>
        <div class="w3-col w3-third w3-padding">
            <div class="pallete primary positive-text">
                <center><h2>{% trans "Core Project" %}</h2></center><br/>
                <div class="pallete-slab tertiary">
                    <h4>Request a project with a private preset repository at <a href="https://github.com/Knotters">{{APPNAME}}</a>.</h4><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Everything of the Verified Project</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;A preset repository and team on GitHub, hidden from rest of the world.</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Pay as you associate static assets</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Customize moderator to ensure work progress.</strong><br/><br/>
                    <strong class="text-medium">&#183;&nbsp;&nbsp;Separate Discord channel on Knotters Discord Server with limited visibility.</strong><br/><br/>
                    <center>
                    <a href="{{URLS.CREATE_CORE}}">
                        <button class="big-button primary" data-icon="lock">New Core Project</button>
                    </a>
                    </center>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="w3-row">
        <div class='w3-col w3-half w3-padding-large'>
            <div class='w3-row'>
                <h1 class='w3-hide-small'>{% blocktrans %}Quick Projects{% endblocktrans %}</h1>
                <br/>
                <strong class='text-medium'>
                    {% trans "A quick project can be created quickly, without waiting for anyone's approval. This is the fastest way to start a new project here. Any kind of project can be created under this category." %}
                    <br/><br/>
                    {% trans "You can link your own public github repository to track contribution progress with it." %}
                </strong>
            </div>
            <a href="{{URLS.CREATE_FREE}}">
                <button class="big-button positive" data-icon="add">New Quick Project</button>
            </a>
        </div>
    </div>
    <br/>
    <div class="w3-row">
        <div class='w3-col w3-quarter w3-padding-large'>
        </div>
        <div class='w3-col w3-half w3-center w3-padding-large'>
            <div class='w3-row'>
                <h1 class='w3-hide-small'>{% blocktrans %}Verified Projects{% endblocktrans %}
                <i>verified</i>
                </h1>
                <br/>
                <strong class='text-medium'>
                    Project under this category will be provided its own Github repository under {{APPNAME}} organization on GitHub,
                    and much more.
                    <br/><br/>But to fall under this category, your project has to undergo a review procedure
                    by the moderators at {{APPNAME}}.
                </strong>
            </div>
            <a href="{{URLS.CREATE_MOD}}">
                <button class="big-button accent" data-icon="verified">New Verified Project</button>
            </a>
        </div>
        <div class='w3-col w3-quarter w3-padding-large'>
        </div>
    </div>
    <br/>
    <div class="w3-row">
        <div class='w3-col w3-half w3-padding-large'>
        </div>
        <div class='w3-col w3-half w3-padding-large'>
            <div class='w3-row' align='right'>
                <h1 class='w3-hide-small'>{% blocktrans %}Core Projects{% endblocktrans %}
                <i>lock</i>
                </h1>
                <br/>
                <strong class='text-medium'>
                    This is currently available to management/organization accounts only.
                    Under this category, a closed source project can be requested,
                    and it will be available to certain people at {{APPNAME}}, for contribution.
                    <br/>The source code of these kind of projects will <br/>remain private under {{APPNAME}} organization.
                    <br/><br/>
                    Organizations may also provide incentives to the people<br/> who contribute to it by setting a budget.
                </strong>
            </div>
            <a href="{{URLS.CREATE_CORE}}" class="w3-right">
                <button class="big-button primary" data-icon="lock">New Core Project</button>
            </a>
        </div>
    </div>
    <br/><br/>
    <div class="w3-row">
        <center><h2>Learn more on <a href="{{URLS.LANDING}}#projects" target="_blank">The Landing Page<i>open_in_new</i></a></h2></center>
    </div>
</div>
<br/>
{% endblock %}

{% block in_scripts %}
{% endblock %}
