{% extends 'projects/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load custom_tags %}

{% block themecolor %}#f5d702{% endblock %}

{% block og_url %}{{URLS.CREATE}}{% endblock %}
{% block og_title %}Create Project{% endblock %}
{% block og_site_name %}Create Project{% endblock %}

{% block tw_url %}{{URLS.CREATE}}{% endblock %}
{% block tw_title %}Create Project{% endblock %}
{% block tw_site_name %}Create Project{% endblock %}
{% block title%}Create project{%endblock%}

{% block nav_extra_links %}
<a href="{{URLS.ALLLICENSES}}"><button title="Licenses" class="tertiary" data-icon="article"><span class="w3-hide-small">Licenses</span></button></a>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/project/create.css' %}" />
{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_back_icon %}close{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}
{% block nav_style %}accent{% endblock %}
{% block nav_text_style %}text-accent{% endblock %}
{% block nav_text %}Create project{% endblock %}
{% block nav_auth_links %}{% endblock %} 
{% block nav_noauth %}{% endblock %}

{% block content %}
<div class="w3-row">
<a href="{{URLS.CREATE_FREE}}">Free</a> | <a href="{{URLS.CREATE_MOD}}">Moderated</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}