{% extends 'index.html' %} 
{% load static %}
{% load custom_tags %}


{% block meta_description %}Community projects, open for everyone, to everyone. Contribute to existing ideas, or submit your own to make it real together with everyone.{% endblock %}
{% block og_url %}{{URLS.PROJECTS}}{% endblock %}
{% block og_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block og_description %}Community projects, open for everyone, to everyone. Contribute to existing ideas, or submit your own to make it real together with everyone.{% endblock %}
{% block og_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block tw_url %}{{URLS.PROJECTS}}{% endblock %}
{% block tw_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block tw_description %}Community projects, open for everyone, to everyone. Contribute to existing ideas, or submit your own to make it real together with everyone.{% endblock %}
{% block tw_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}


{% block title %}{{SUBAPPNAME|capfirst}}{% endblock %} 

{% block nav_href %}/{% endblock %}

{% block nav_extra_links %}
<a href="{{URLS.ALLLICENSES}}"><button title="Licenses" class="tertiary" data-icon="article"><span class="w3-hide-small">Licenses</span></button></a>
<a href="{{URLS.CREATE}}"><button title="New project" class="positive" data-icon="add"><span class="w3-hide-small">New project</span></button></a>
{% endblock %}

{% block nav_noauth_projects %}{% endblock %} 

{% block content %}
<br/>
<div class="w3-row w3-padding welcome-row">
  <br/>
  <br/>

  <div class="w3-row w3-padding">
  <h1>Projects</h1>
  </div>
  <br/>
  <div class="w3-row w3-padding">
  <h4>
    Community projects, open for everyone, to everyone.<br/>
    Contribute to existing ideas, or submit your own to make it real together with everyone.
  </h4>
  </div>
  <div class="w3-row w3-padding">
    <a href="#mainframe"><button class="display-button accent">
        <i class="material-icons">volunteer_activism</i>Contribute
      </button>
    </a>
    <a href="{{URLS.APPLANDING|params:SUBAPPNAME}}" hidden>
      <button class="secondary display-button">
        <i class="material-icons">open_in_new</i>Learn More
      </button>
    </a>
  </div>
</div>

<div class="w3-row tertiary" id="mainframe">
  <div class="w3-row active browser-view" data-type="new-projects" id='newbie-projects-view'>
  </div>
</div>
{% endblock %}

