{% extends 'index.html' %} 
{% load static %}
{% block title %}{{SUBAPPNAME|capfirst}} &#183; {{APPNAME}}{% endblock %} 

{% block nav_text %}{{SUBAPPNAME|capfirst}}{% endblock %} 
{% block nav_auth_links %}
<a href="{{ROOT}}/create"
  ><button title="New project" class="positive">
    <i class="material-icons">add_circle</i
    ><span class="w3-hide-small">New project</span>
  </button></a
>{% endblock %} 
{% block nav_noauth_projects %}{% endblock %} 
{% block content %}

<div class="w3-container tertiary">
  <div class="w3-row w3-center w3-margin">
    <form method="GET">
      <input
        type="text"
        name="query"
        placeholder="Search projects"
        required
        {% if request.GET.query %}
        value="{{request.GET.query}}"
        {% endif %}
      />
      <button type="submit" class="positive">
        <i class="material-icons">search</i>
      </button>
      <a href="/projects"
        ><button type="button" class="negative">
          <i class="material-icons">clear</i>
        </button></a
      >
    </form>
  </div>
  <h3 class="w3-container w3-margin-bottom">Most contributed projects</h3>
  <div class="w3-row-padding w3-margin-bottom">
    {% for project in projects %}
    <div class="w3-col l3">
      <div class="w3-row pallete primary">
        <div class="w3-center w3-padding">
          <img src="/media/{{project.image}}" width="100" />
        </div>
        <div class="w3-center">
          <h3>{{project.name}}</h3>
          <span>{{project.description}}</span><br />
          {% for tag in project.tags.all %}<a class="positive-text"
            >#{{tag.name}}</a
          >&nbsp;{% endfor %}
        </div>
        <div class="w3-center w3-padding">
          {% comment %}
          <button class="w3-right sub-accent">
            <i class="material-icons">bookmark_add</i>Save
          </button>
          {% endcomment %}
          <a href="{{project.getLink}}"
            ><button class="w3-right positive">
              <i class="material-icons">visibility</i>View
            </button></a
          >
          {% comment %}
          <button class="w3-right negative">
            <i class="material-icons">favorite</i>Like
          </button>
          {% endcomment %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
