{% extends 'index.html' %} 
{% load static %}
{% block title %}{{SUBAPPNAME|capfirst}}{% endblock %} 

{% block nav_href %}/{% endblock %}

{% block nav_auth_links %}
<a href="{{ROOT}}/create"
  ><button title="New project" class="positive">
    <i class="material-icons">add</i
    ><span class="w3-hide-small">New project</span>
  </button>
</a>
{% endblock %} 

{% block nav_noauth_projects %}{% endblock %} 

{% block content %}
<br/>
<div class="w3-row w3-padding welcome-row">
  <br/>
  <br/>

  <div class="w3-row w3-padding">
  <h1>Projects</h1>
  </div>
  <br/>
  <div class="w3-row w3-padding">
  <h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et.
  </h4>
  </div>
  <div class="w3-row w3-padding">
    <a href="#mainframe"><button class="display-button accent">
        <i class="material-icons">volunteer_activism</i>Contribute
      </button>
    </a>
    <a href="{{ROOT}}/landing" hidden>
      <button class="secondary display-button">
        <i class="material-icons">open_in_new</i>Learn More
      </button>
    </a>
  </div>
</div>

<div class="w3-row tertiary" id="mainframe">
  	<div class="w3-row w3-padding" id="searchbar">
      <br/>
      <input type="text" name="query" class="primary" placeholder="Search people" required /><a href="{{ROOT}}#mainframe"><button type="button" class="negative"><i class="material-icons">clear</i></button></a>
      <br/>
  	</div>
	  <br/>
    <div class="w3-row w3-padding active">
      <div class="w3-row w3-padding">
        <h3 class="text-active">Popular this week</h3>
      </div>
      <div class="w3-row w3-center">
      {% for project in weekprojects %}
          <div class="w3-col w3-quarter w3-padding-small">
            <div class="pallete limit-height w3-center {% if project.profile.is_moderator %}accent{% endif%}" style="padding: 0" id="view-pallete">
              <img class="primary" src="{{ project.getDP }}" alt="{{ project.name }}" />
              <div class="w3-row w3-padding">
                <h5>{{ project.name }}</h5>
                {{project.description}}
              </div>
              <div class="w3-row w3-padding-small">
              <a href="{{project.profile.getLink}}"><i title="View {{project.name}}" class="material-icons w3-right pointer positive-text">visibility</i></a>
              <i title="Share {{project.name}}" class="w3-left material-icons pointer" onclick="shareLinkAction('{{project.name}}', '{{project.description}}', '{{site}}{{project.getLink}}')">share</i>
              </div>
            </div>
          </div>
        {% empty %} 
          <h3 class="text-active">No projects yet.</h3>
        {% endfor %}
      </div>
      <br/>
    </div>
  </div>
</div>
{% endblock %}

