{% extends 'projects/index.html' %}
{% debug %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block meta_description %}{{ project.description }}{% endblock %}
{% block og_url %}{{project.getLink}}{% endblock %}
{% block og_title %}{{project.name}}{% endblock %}
{% block og_description %}{{ project.description }}{% endblock %}
{% block og_site_name %}{{project.name}}{% endblock %}
{% block og_image_url %}{{project.getDP}}{% endblock %}

{% block ld_image_url %}{{project.getDP}}{% endblock %}

{% block tw_image_url %}{{project.getDP}}{% endblock %}
{% block tw_url %}{{project.getLink}}{% endblock %}
{% block tw_title %}{{project.name}}{% endblock %}
{% block tw_description %}{{ project.description }}{% endblock %}

{% block title %}{{project.name}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/project/profile.css' %}" />
{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}
{% block nav_text %}{{project.nickname}}{% endblock %}

