{% extends 'index.html' %}
{% load static %}
{% load custom_tags %}

{% block og_url %}{{project.getLink}}{% endblock %}
{% block og_title %}{{project.name}}{% endblock %}
{% block og_description %}{{ project.description }}{% endblock %}
{% block og_site_name %}{{project.name}}{% endblock %}
{% block og_image_url %}{{project.getDP}}{% endblock %}

{% block ld_image_url %}{{project.getDP}}{% endblock %}

{% block tw_image_url %}{{project.getDP}}{% endblock %}
{% block tw_url %}{{project.getLink}}{% endblock %}
{% block tw_title %}{{project.name}}{% endblock %}
{% block tw_description %}{{ project.description }}{% endblock %}

{% block title %}{{project.name}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/project/profile.css' %}" />
{% endblock %}

{% block nav_icon %}
  <button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %}
{% block nav_text %}{% endblock %}

{% block content %}
<div class="w3-row tertiary">
    <br/>
    <div class="w3-col w3-container w3-quarter">
        <div class="pallete" style="padding:0" id="view-pallete">
            <img src="{{project.getDP}}" alt="{{project.name}}" />
            <div class="w3-row w3-center">
            <h5>{{project.name}}</h5>
            <center>{{project.description}}</center>
            </div>
            <div class="w3-row w3-padding-small">
                {% if user.is_authenticated and user.profile == project.creator %}
                  <i class="material-icons edit-action w3-right" data-edittarget="pallete">edit</i>
                {% endif %}
                <i class="w3-left material-icons pointer" onclick="shareLinkAction('{{project.name}}', '{{project.description}}', '{{site}}{{project.getLink}}')">share</i>
            </div>
        </div>
        {% if user.is_authenticated and user.profile == project.creator %}
        <div class="pallete w3-center" id="edit-pallete">
            <img src="{{ project.getDP }}" alt="{{ project.name }}" id="projectimageoutput" style="opacity:0.5" />
            <input type="file" id="uploadprojectimage" hidden accept="image/png, image/jpg, image/jpeg" />
            <button class="active" type="button" id="upload-button">
              <i class="material-icons">image</i>
              <label id="uploadprojectimagelabel" for="uploadprojectimage">Select Image</label>
            </button>
            <br/>
            
            <form method="POST" action="{{URLS.PROFILEEDIT|params:project.getID|params:'pallete'}}">
              {% csrf_token %}
              <input type="text" hidden id="projectimageData" name="projectimage" value="" />
              <div class="w3-row w3-padding">
                <input type="text" autocomplete="organization-title" autocapitalize placeholder="Project name" required value="{{project.name}}" name="projectname" /><br/><br/>
                <input type="text" placeholder="About project" value="{{project.description}}" name="projectabout" /><br/>
              </div>
              <button id="save-edit-pallete"><i class="material-icons">done</i>Save</button>
              <button id="discard-edit-pallete"><i class="material-icons">cancel</i>Discard</button>
            </form>
        </div>
        {% endif %}
        <br/>
        <div class="w3-row w3-padding-small">
            {% for tag in project.tags.all %}
            <a href="/projects?q={{tag}}&type=tag"><button class="positive">#{{tag}}</button></a>
            {% empty %}
                <button class="primary">No tags assigned</button>
            {% endfor %}
            <br/>
        </div>
        <div class="w3-row w3-padding-small">
            {% if project.isLive %}
            <a target="_blank" rel="noreferrer" href="{{project.getRepoLink}}">
                <button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20"/>&nbsp;{{project.reponame}}</button>
            </a>
            {% endif %}
            {% if project.url %}
            <a target="_blank" rel="noreferrer" href="{{project.url}}">
                <button class="sub-accent"><i class="material-icons">launch</i>Website</button>
            </a>
            {% endif %}
        </div>
        <br/>
    </div>
    <div class="w3-col w3-container w3-threequarter">
        <div class="w3-col w3-half">
            <div class="pallete">
            <center><h5>Contributions</h5>
            <hr/></center>
            </div>
        </div>
        <div class="w3-col w3-container w3-half">
            <div class="pallete">
            <center><h5>Overview</h5>
                <hr/>
            </center>
            <p><span>{{project.description}}</span></p>
            <p>Created on:<span> {{project.createdOn}}</span></p>
            <p>Creator: <span> {{project.creator.getName}} </span></p>
        </div>
        
        </div>
    </div>
</div>
<br/>
{% endblock %}

{% block scripts %}
<script>
const projectID = "{{ project.getID }}"
const selfProject = authenticated?"{{user.profile}}" === "{{project.creator}}":false;
</script>
<script src="{% static 'scripts/project/profile.js' %}" ></script>

{% endblock %}