{% extends 'projects/invitation.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block invite_body %}
<div class="w3-row ">
    <div class="w3-center"><i class="w3-jumbo">widgets</i></div>
    <h4 class="w3-center"><a href="{{invitation.sender.get_link}}" target="_blank"><button class="primary"><img src="{{invitation.sender.get_dp}}" class="circle" width="25">&nbsp;{{invitation.sender.getName}}</button></a>
    wants to transfer the moderatorship of the following project to you.</h4>
    <div class="w3-row">
        <div class="w3-col l4 m3 s1 w3-padding"></div>
        <div class='w3-col l4 m6 s10 w3-padding-large'>
            <br/>
            <div class="w3-col pallete no-pad">
                <div class="w3-col l6 m12 s12">
                    <a href="{{invitation.project.get_link}}" target="_blank">
                        <img class="primary pallete w3-hide-small w3-hide-medium" src="{{ invitation.project.getDP }}" alt="{{ invitation.project.name }}" width="100%" height="100%" style="border-right: 8px solid var(--{{invitation.project.theme}})" />
                        <img class="primary pallete w3-hide-large" src="{{ invitation.project.getDP }}" alt="{{ invitation.project.name }}" width="100%" height="100%" style="border-bottom: 8px solid var(--{{invitation.project.theme}})" />
                    </a>
                </div>
                <div class="w3-col l6 m12 s12 w3-padding" align='left'>
                    <div class="w3-row">
                    <h4 class="{% if invitation.project.is_verified %}align{% endif %} w3-left">{{ invitation.project.name|truncatechars:18 }}{% if invitation.project.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h4>
                    </div>
                    <strong class="w3-row">{{ invitation.project.category }}</strong>
                    <div class="w3-row">{{ invitation.project.description|truncatechars:60 }}</div>
                    <br/><br/>
                    {% for topic in invitation.project.getPalleteTopics %}
                    <a href="{{URLS.PROJECTS|getquery:'search=topic:'}}{{topic.name}}" target="_blank"><button class="{{invitation.project.theme}} small w3-left">{{topic}}</button></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w3-col l4 m3 s1 w3-padding"></div>
    </div>
    <br/><br/>
</div>
{% endblock %}