{% extends 'compete/certificate/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block meta_description %}{{person.getName }}'s certificate of appreciation for {{compete.title}}.{% endblock %}
{% block og_url %}{{appcert.get_link}}{% endblock %}
{% block og_title %}{{person.getFName}}'s Certificate{% endblock %}
{% block og_description %}{{person.getName }}'s certificate of appreciation for {{compete.title}}.{% endblock %}
{% block og_site_name %}{{person.getFName}}'s Certificate{% endblock %}
{% block og_image_url %}{% if certpath %}{{certpath}}{% else %}{{compete.getBanner}}{% endif %}{% endblock %}

{% block ld_image_url %}{% if certpath %}{{certpath}}{% else %}{{compete.getBanner}}{% endif %}{% endblock %}

{% block tw_image_url %}{% if certpath %}{{certpath}}{% else %}{{compete.getBanner}}{% endif %}{% endblock %}
{% block tw_url %}{{appcert.get_link}}{% endblock %}
{% block tw_title %}{{person.getFName}}'s Certificate{% endblock %}
{% block tw_description %}{{person.getName }}'s certificate of appreciation for {{compete.title}}.{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{URLS.CERT_INDEX}}{% endblock %}

{% block content %}
<div style="background:url('{{compete.getBanner}}'); background-size:cover; height:100%; background-repeat:no-repeat;">
<div class="w3-row">
    <div class="w3-col w3-twothird">
        <div class="primary w3-padding">
            <h4>
                <a href="{{person.getLink}}">
                    <img src="{{person.getDP}}" class="w3-circle" width="30" alt="{{person.getName}}" />
                </a> 
                <b>{% blocktrans %}{{person.getName}}</b> contributed in <a href="{{compete.getLink}}" >{{compete.title}}{% endblocktrans %}</a>.
            </h4>
        </div>
        {% if certpath %}
        <img src="{{certpath}}" width="100%" class="preview-type-image" />
        {% else %}
        <div class="dead-text w3-center primary w3-padding">
        <h4>
        <i class="w3-jumbo">hourglass_top</i><br/>
        {% trans "The certificate is not yet available." %}<br/>{% trans "It'll be available here soon." %}<br/>
        {% trans "Regardless of the availability of certificate, this page is equivalent to the said certification." %}
        </h4>
        </div>
        {% endif %}
    </div>
    <div class="w3-col w3-third">
        <div class="w3-row primary w3-padding">
            <h3>{% trans "Certificate Details" %}</h3>
            <h6><span class="dead-text">{% trans "Name" %} </span>{{compete.title}} at {{APPNAME}}</h6>
            <h6><span class="dead-text">{% trans "Issuing Organization" %} </span>{{APPNAME}}</h6>
            <h6><span class="dead-text">{% trans "Issue Date" %} </span>{{compete.resultDeclaredOn|or:compete.endAt}}</h6>
            <h6><span class="dead-text">{% trans "Expiration Date" %} </span>{% trans "Does not expire" %}</h6>
            {% if certID %}
            <h6><span class="dead-text">{% trans "Credential ID" %} </span><a class="click-to-copy" title="{% trans "Click to copy" %}" data-copy="{{certID|upper}}">{{certID|upper}}</a></h6>
            {% else %}
            <h6 ><span class="dead-text">{% trans "Credential ID" %} </span>{% trans "Will be available soon." %}</h6>
            {% endif %}
            <h6><span class="dead-text">{% trans "Credential URL" %}</span> <a class="click-to-copy" title="{% trans "Click to copy" %}" data-copy="{{request.build_absolute_uri}}">{% trans "Copy to clipboard" %}</a></h6>
        </div>
        <br/>
        <div class="w3-row w3-center">
            {% if self and certpath %}
            <a href="{{appcert.get_download_link}}" download>
                <button class="small primary" data-icon="download">{% trans "Download certificate" %}</button>
            </a>
            {% endif %}
            <button class="small primary navigator-share-action" data-title="{{person.getFName}}'s Certificate" data-text="{{person.getName }}'s certificate of participation in '{{compete.title}}" data-url="{{request.build_absolute_uri}}" data-icon="share">{% trans "Share" %}</button>
        </div>
        <br/>
        {% if compete.get_associate %}
        <div class="w3-row w3-center primary">
            <div class="w3-row">
            <h5 class="dead-text">{% trans "In association with" %}</h5>
            <img class="preview-type-image" src="{{compete.get_associate}}" alt="{% trans "Association" %}" width="100%" />
            </div>
        </div>
        {% endif %}
    </div>
</div>
<br/><br/>
</div>
{% endblock %}
