{% extends 'compete/certificate/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block meta_description %}{{member.getName }}'s certificate of participation in {{result.competition.title}}.{% endblock %}
{% block og_url %}{{result.getCertLink|params:member.getUserID}}{% endblock %}
{% block og_title %}{{member.getFName}}'s Certificate{% endblock %}
{% block og_description %}{{member.getName }}'s certificate of participation in {{result.competition.title}}.{% endblock %}
{% block og_site_name %}{{member.getFName}}'s Certificate{% endblock %}
{% block og_image_url %}{% if certpath %}{{certpath}}{% else %}{{result.competition.getBanner}}{% endif %}{% endblock %}

{% block ld_image_url %}{% if certpath %}{{certpath}}{% else %}{{result.competition.getBanner}}{% endif %}{% endblock %}

{% block tw_image_url %}{% if certpath %}{{certpath}}{% else %}{{result.competition.getBanner}}{% endif %}{% endblock %}
{% block tw_url %}{{result.getCertLink|params:member.getUserID}}{% endblock %}
{% block tw_title %}{{member.getFName}}'s Certificate{% endblock %}
{% block tw_description %}{{member.getName }}'s certificate of participation in {{result.competition.title}}.{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{URLS.CERT_INDEX}}{% endblock %}

{% block content %}
<div style="background:url('{{result.competition.getBanner}}'); background-size:cover; height:100%; background-repeat:no-repeat;">
<div class="w3-row">
    <div class="w3-col w3-twothird">
        {% cache CACHE_LONG participant_certificate_header result.getCertLink|params:member.getUserID|add:LANGUAGE_CODE %}
        <div class="primary w3-padding"><h4><a href="{{member.getLink}}"><img src="{{member.getDP}}" class="w3-circle" width="30" alt="{{member.getName}}" /></a> <b>{{member.getName}}</b> participated in <a href="{{result.competition.getLink}}" >{{result.competition.title}}</a> &amp; secured <span class="secondary accent-text">{{result.rank|numsuffix}}</span> rank{% if result.submission.totalMembers > 1 %}, along with {{result.submission.totalMembers|add:'-1'}} {% if result.submission.totalMembers == 2 %}other{% else %}others{% endif %}{% endif%}.</h4></div>
        {% endcache %}
        {% if certpath %}
        {% cache CACHE_MAX participant_certificate_view result.getCertLink|params:member.getUserID|add:LANGUAGE_CODE %}
        <img src="{{certpath}}" width="100%" class="preview-type-image" />
        {% endcache %}
        {% else %}
        {% cache CACHE_SHORT participant_certificate_unavailable result.getCertLink|params:member.getUserID|add:LANGUAGE_CODE %}
        <div class="dead-text w3-center primary w3-padding">
        <h4>
        <i class="w3-jumbo">hourglass_top</i><br/>
        {% trans "The certificate is not yet available." %}<br/>{% trans "It'll be available here soon." %}<br/>
        {% trans "Regardless of the availability of certificate, this page is equivalent to the said certification." %}
        </h4>
        </div>
        {% endcache %}
        {% endif %}
    </div>
    <div class="w3-col w3-third">
        <div class="w3-row primary w3-padding">
        {% cache CACHE_MICRO participant_certificate_details result.getCertLink|params:member.getUserID|add:LANGUAGE_CODE %}
            <h3>{% trans "Certificate Details" %}</h3>
            <h6><span class="dead-text">{% trans "Name" %} </span>{{result.competition.title}} at {{APPNAME}}</h6>
            <h6><span class="dead-text">{% trans "Issuing Organization" %} </span>{{APPNAME}}</h6>
            <h6><span class="dead-text">{% trans "Issue Date" %} </span>{{result.competition.resultDeclaredOn|or:result.submission.submitOn}}</h6>
            <h6><span class="dead-text">{% trans "Expiration Date" %} </span>{% trans "Does not expire" %}</h6>
            {% if certID %}
            <h6><span class="dead-text">{% trans "Credential ID" %} </span><a class="click-to-copy" title="{% trans "Click to copy" %}" data-copy="{{certID|upper}}">{{certID|upper}}</a></h6>
            {% else %}
            <h6 ><span class="dead-text">{% trans "Credential ID" %} </span>Will be available soon.</h6>
            {% endif %}
            <h6><span class="dead-text">{% trans "Credential URL" %}</span> <a class="click-to-copy" title="Click to copy" data-copy="{{SITE}}{{result.getCertLink|params:member.getUserID}}">{% trans "Copy to clipboard" %}</a></h6>
        {% endcache %}
        </div>
        <br/>
        <div class="w3-row w3-center">
            {% if self and certpath %}
            <a href="{{result.getCertDownloadLink|params:member.getUserID}}" download>
                <button class="small primary" data-icon="download">{% trans "Download certificate" %}</button>
            </a>
            {% endif %}
            <button class="small primary navigator-share-action" data-title="{{member.getFName}}'s Certificate" data-text="{{member.getName }}'s certificate of participation in '{{compete.title}}" data-url="{{result.getCertLink|params:member.getUserID}}" data-icon="share">{% trans "Share" %}</button>
        </div>
        <br/>
        {% if result.competition.get_associate %}
        <div class="w3-row w3-center primary">
            <div class="w3-row">
            <h5 class="dead-text">{% trans "In association with" %}</h5>
            <img class="preview-type-image" src="{{result.competition.get_associate}}" alt="{% trans "Association" %}" width="100%" />
            </div>
        </div>
        {% endif %}
    </div>
</div>
<br/><br/>
</div>
{% endblock %}
{% block in_scripts %}
<script>
message("Certificate is valid");
</script>
{% endblock %}
