{% extends 'index.html' %}
{% load static %}
{% load account %}
{% load socialaccount %}
{% block title %}OAuth error{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock%}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}OAuth error{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center"> 
<br/><br/>
<i class="material-icons w3-jumbo negative-text">error</i>
<br/>
<h1>OAuth login failed</h1>
<br/>
<h4>An error occurred while attempting to login via your oauth.</h4>
<br/>
<a href="{% url 'account_login' %}"><button class="positive" type="button">Retry</button></a>
</div>
<br/>
{% endblock %}
