{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}OAuth Cancelled{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock%}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}OAuth Cancelled{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center tertiary">
<br/>
	<div class="w3-padding"><i class="material-icons w3-jumbo">sentiment_dissatisfied</i></div>
	<h1>You cancelled the authorization.</h1>
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half">
    <h3>You can still continue with us.</h3>
    <br/>
    <a href="{% url 'account_login' %}"><button class="positive" type="button">Retry</button></a>
    <br/>
  </div>
</div>
{% endblock %}
