{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block title %}<title>OAuth Link Signup</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>OAuth Link Signup</h3></span>
{% endblock %}


{% block content %}
<div class="w3-row w3-padding w3-center">
  <h1>OAuth Link Signup</h1>
  <br/>
  <h5>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
  You are about to use your {{provider_name}} account to login to {{site_name}}. This is the final step.{% endblocktrans %}</h5>
  <form class="pallete primary" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="positive" type="submit">Continue</button>
  </form>
</div>
{% endblock %}
