{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block title %}OAuth Signup{% endblock %}


{% block nav_href %}{% url 'account_login' %}{% endblock%}
{% block nav_icon %}
  <button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %}
{% block nav_text %}OAuth Signup{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
<br/>
  <div class="material-icons w3-jumbo">link</div>
  <h1>OAuth Link Signup</h1>
  <br/>
  <h5>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
  You are about to use your {{provider_name}} account to login to {{site_name}}. This is the final step.{% endblocktrans %}</h5>
  <form id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="positive" type="submit">Continue</button>
  </form>
</div>
{% endblock %}
