{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if count %}
<div class="w3-row active">
    <div class="w3-row w3-animate-right" style="padding:16px 4px">
    <h5 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Newbie projects" %}</h5>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser w3-animate-left">
        <div class="swiper-wrapper swiper-wrap" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for project in projects %}
            <div class="swiper-slide w3-animate-zoom">
                <div class="pallete w3-center no-pad">
                    <a href="{{project.getLink}}">
                        <img loading="lazy" class="primary pallete wide no-pad" style="border-bottom:4px solid var(--{{project.theme}})"  src="{{ project.getDP }}" alt="{{ project.name }}" />
                    </a>
                    <div class="w3-row w3-padding-small">
                        <div class="w3-row w3-padding-small">
                            <h6 style="margin-bottom:2px" class="{% if project.is_not_free %}align{% endif %}">{{ project.name|truncatechars:18 }}{% if project.is_verified %}<i class="positive-text w3-medium">verified</i>{% elif project.is_core%}<i class="positive-text w3-medium">lock</i>{% endif %}</h6>
                            <span>{{ project.description|or:project.get_nickname|truncatechars:45 }}</span>
                        </div>
                        <div class="w3-col m10 l10 s10 w3-left">
                        {% for topic in project.getPalleteTopics %}
                        <a class="w3-left" href="{{URLS.SEARCH|getquery:"query=topic:"}}{{topic}}">
                            <button class="w3-tiny primary border-joy">{{topic.name}}</button>
                        </a>
                        {% empty %}
                            {% for tag in project.getPalleteTags %}
                                <a class="w3-left" href="{{URLS.SEARCH|getquery:"query=tag:"}}{{tag}}">
                                    <button class="w3-tiny {{project.theme}}">#{{tag.name}}</button>
                                </a>
                            {% empty %}
                                <br/>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <div class="w3-col m2 l2 s2">
                            {% if not request.user.is_authenticated %}
                            <a class="w3-right" href="{{URLS.Auth.LOGIN}}?next={{project.get_link|getquery:'admire=1'}}">
                            <button data-projectID="{{project.get_id}}" class="small primary w3-right" data-icon="volunteer_activism"></button>
                            </a>
                            {% else %}
                            <button data-projectID="{{project.get_id}}" data-admires="{{ project.get_admirers|inlist:request.user.profile|onezero }}" class="small {{ request.user.is_authenticated|onezero:"browse-admire-project-action|" }} {{ project.get_admirers|inlist:request.user.profile|onezero:"positive|primary" }} w3-right" data-icon="volunteer_activism"></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large w3-row">
        <div class="swiper-wrap_i" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
           {% for project in projects %}
            <div class="w3-col w3-animate-zoom">
                <div class="pallete pallete_i w3-center no-pad">
                    <a href="{{project.getLink}}">
                        <img loading="lazy" class="primary pallete wide no-pad" style="border-bottom:4px solid var(--{{project.theme}})"  src="{{ project.getDP }}" alt="{{ project.name }}" />
                    </a>
                    <div class="w3-row w3-padding-small">
                        <div class="w3-row w3-padding-small">
                            <h6 style="margin-bottom:2px" class="{% if project.is_not_free %}align{% endif %}">{{ project.name|truncatechars:18 }}{% if project.is_verified %}<i class="positive-text w3-medium">verified</i>{% elif project.is_core%}<i class="positive-text w3-medium">lock</i>{% endif %}</h6>
                            <span>{{ project.description|or:project.get_nickname|truncatechars:45 }}</span>
                        </div>
                        <div class="w3-col m10 l10 s10 w3-left">
                        {% for topic in project.getPalleteTopics %}
                        <a class="w3-left" href="{{URLS.SEARCH|getquery:"query=topic:"}}{{topic}}">
                            <button class="w3-tiny primary border-joy">{{topic.name}}</button>
                        </a>
                        {% empty %}
                            {% for tag in project.getPalleteTags %}
                                <a class="w3-left" href="{{URLS.SEARCH|getquery:"query=tag:"}}{{tag}}">
                                    <button class="w3-tiny {{project.theme}}">#{{tag.name}}</button>
                                </a>
                            {% empty %}
                                <br/>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <div class="w3-col m2 l2 s2 w3-right">
                            {% if not request.user.is_authenticated %}
                            <a class="w3-right" href="{{URLS.Auth.LOGIN}}?next={{project.get_link|getquery:'admire=1'}}">
                            <button data-projectID="{{project.get_id}}" class="small primary w3-right" data-icon="volunteer_activism"></button>
                            </a>
                            {% else %}
                            <button data-projectID="{{project.get_id}}" data-admires="{{ project.get_admirers|inlist:request.user.profile|onezero }}" class="small {{ request.user.is_authenticated|onezero:"browse-admire-project-action|" }} {{ project.get_admirers|inlist:request.user.profile|onezero:"positive|primary" }} w3-right" data-icon="volunteer_activism"></button>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
	    {% endfor %} 
        </div>
    </div>
    <br/>
</div>
{% endif %}
