{% load cache %}
{% load custom_tags %}
{% if count %}
<div class="w3-row active">
    <div class="w3-row" style="padding:16px 4px">
    <a class="w3-right w3-padding" href="{{URLS.PROJECTS}}"><button class="primary small" data-icon="open_in_new">More</button></a>
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;Newbie projects</h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap">
            {% for project in projects %}
            <div class="swiper-slide">
                <a href="{{project.getLink}}">
                    <div class="pallete w3-center no-pad">
                        <img class="primary" src="{{ project.getDP }}" alt="{{ project.name }}" />
                        <div class="w3-row w3-padding">
                            <h5>{{ project.name }}</h5>
                            <span>{{ project.description|truncatechars:45 }}</span>
                        </div>
                        <br/>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="dead-text w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>No projects yet. Yours could be the first!</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large w3-row">
        <div class="swiper-wrap_i">
            {% for project in projects %}
            <div class="w3-col">
                <a href="{{project.getLink}}">
                    <div class="pallete pallete_i w3-center">
                        <img class="primary" src="{{ project.getDP }}" alt="{{ project.name }}" />
                        <div class="w3-row w3-padding">
                            <h5>{{ project.name }}</h5>
                            <span>{{ project.description|truncatechars:45 }}</span>
                        </div>
                        <br/>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="dead-text w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>No projects yet. Yours could be the first!</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br/>
</div>
{% endif %}