{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if query %}
<div class="w3-row tertiary">
    <div class="w3-row" style="padding:12px 4px">
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;{% blocktrans %}Results for '{{query}}'{% endblocktrans %}</h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap">
            {% for project in projects %}
             {% if project.is_free or project.is_approved %}
            <div class="swiper-slide">
                <a href="{{project.getLink}}">
                    <div class="pallete w3-center no-pad">
                        <img class="primary" src="{{ project.getDP }}" alt="{{ project.name }}" />
                        <div class="w3-row w3-padding">
                            <h5>{{ project.name|truncatechars:18 }}</h5>
                            <span>{{ project.description|truncatechars:45 }}</span>
                        </div>
                        <br/>
                    </div>
                </a>
            </div>
            {% endif %}
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">search</i>
                <h3>{% blocktrans %}No results for '{{query}}'{% endblocktrans %}</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large w3-row">
        <div class="swiper-wrap_i">
            {% for project in projects %}
             {% if project.is_free or project.is_approved %}
            <div class="w3-col">
                <a href="{{project.getLink}}">
                    <div class="pallete pallete_i w3-center">
                        <img class="primary" src="{{ project.getDP }}" alt="{{ project.name }}" />
                        <div class="w3-row w3-padding">
                            <h5>{{ project.name|truncatechars:45 }}</h5>
                            <span>{{ project.description|truncatechars:45 }}</span>
                        </div>
                        <br/>
                    </div>
                </a>
            </div>
            {% endif %}
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">search</i>
                <h3>{% blocktrans %}No results for '{{query}}'{% endblocktrans %}</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br/>
</div>
{% endif %}
