{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if count %}
<div class="w3-row positive">
    <div class="w3-row w3-animate-right" style="padding:16px 4px">
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;Trending in {{topic}}</h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser w3-animate-left">
        <div class="swiper-wrapper swiper-wrap" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for project in projects %}
            <div class="swiper-slide w3-animate-zoom">
                <div class="pallete w3-center no-pad">
                    <a href="{{project.getLink}}">
                        <img class="primary pallete wide no-pad" src="{{ project.getDP }}" alt="{{ project.name }}" />
                    </a>
                    <div class="w3-row w3-padding">
                        <h5 style class="{% if project.is_not_free %}align{% endif %}">{{ project.name|truncatechars:18 }}{% if project.is_verified %}<i class="positive-text w3-large">verified</i>{% elif project.is_core%}<i class="positive-text w3-large">lock</i>{% endif %}</h5>
                        <span>{{ project.description|or:project.get_nickname|truncatechars:45 }}</span>
                        <br/>
                        {% if project.totalTopics %}
                        <a href="{{URLS.PROJECTS}}?search=topic:{{project.getTopics.0}}"><button class="small {{project.theme}} {{project.text_theme}}">{{project.getTopics.0.name}}</button></a>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                        <a href="{{URLS.Auth.LOGIN}}?next={{project.get_link}}">
                        {% endif %}
                        <button data-projectID="{{project.get_id}}" data-admires="{% if request.user.profile in project.admirers.all %}1{% else %}0{% endif %}" class="small {% if request.user.is_authenticated %}browse-admire-project-action{% endif %} {% if request.user.profile in project.admirers.all %}positive{% else %}primary{% endif %}" data-icon="volunteer_activism"></button>
                        {% if not request.user.is_authenticated %}
                        </a>
                        {% endif %}
                    </div>
                    {% if not project.totalTopics %}
                    <br/>
                    {% endif %}
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large w3-row">
        <div class="swiper-wrap_i" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
           {% for project in projects %}
            <div class="w3-col w3-animate-zoom">
                <div class="pallete pallete_i no-pad w3-center">
                    <a href="{{project.getLink}}">
                        <img class="primary pallete wide no-pad" src="{{ project.getDP }}" alt="{{ project.name }}" />
                    </a>
                    <div class="w3-row w3-padding">
                        <h5 class="{% if project.is_not_free %}align{% endif %}">{{ project.name|truncatechars:18 }}{% if project.is_verified %}<i class="positive-text w3-large">verified</i>{% elif project.is_core%}<i class="positive-text w3-large">lock</i>{% endif %}</h5>
                        <span>{{ project.description|or:project.get_nickname|truncatechars:45 }}</span>
                        <br/>
                        {% if project.totalTopics %}
                        <a href="{{URLS.PROJECTS}}?search=topic:{{project.getTopics.0}}"><button class="small {{project.theme}} {{project.text_theme}}">{{project.getTopics.0.name}}</button></a>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                        <a href="{{URLS.Auth.LOGIN}}?next={{project.get_link}}">
                        {% endif %}
                        <button data-projectID="{{project.get_id}}" data-admires="{% if request.user.profile in project.admirers.all %}1{% else %}0{% endif %}" class="small {% if request.user.is_authenticated %}browse-admire-project-action{% endif %} {% if request.user.profile in project.admirers.all %}positive{% else %}primary{% endif %}" data-icon="volunteer_activism"></button>
                        {% if not request.user.is_authenticated %}
                        </a>
                        {% endif %}
                    </div>
                    {% if not project.totalTopics %}
                    <br/>
                    {% endif %}
                </div>
            </div>
	    {% endfor %} 
        </div>
    </div>
    <br/>
</div>
{% endif %}
