{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
{% if results.count or judgements.count or moderations.count %}
    {% for result in results %}
    <div class="w3-col w3-third w3-padding-small">
        <a href="{{result.submission.competition.getLink}}" class="text-tertiary" >
            <div class="w3-row">
                <div class="w3-row pallete" style="background:url('{{result.submission.competition.getBanner}}');" id="view-{{result.submission.competition.id}}">
                    <div class="w3-col w3-threequarter pallete tertiary">
                        <div class="w3-row">
                            <h6>{{result.submission.competition.title}}</h6>
                            <strong>{{result.getRank}} {% trans "position" %}</strong><br/>
                            <span>{{result.submission.competition.endAt}}</span>
                        </div>
                        <div class="w3-row">
                            <a href="{{result.getCertLink|params:person.getID}}"  class="w3-right"><button class="active small" data-icon="qr_code" title="Certificate"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% for judgement in judgements %} 
    <div class="w3-col w3-third w3-padding-small">
        <a href="{{judgement.competition.getLink}}" class="text-tertiary" >
            <div class="w3-row">
                <div class="w3-row pallete" style="background:url('{{judgement.competition.getBanner}}');" id="view-{{judgement.competition.id}}">
                    <div class="w3-col w3-threequarter pallete tertiary">
                        <div class="w3-row">
                            <h6>{{judgement.competition.title}}</h6>
                            <strong>{% trans "Judge" %}</strong><br/>
                            <span>{{judgement.competition.endAt}}</span>
                        </div>
                        <div class="w3-row">
                            <a href="{{judgement.get_cert_link}}"  class="w3-right"><button class="active small" data-icon="qr_code" title="Certificate"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% for moderation in moderations %} 
    <div class="w3-col w3-third w3-padding-small">
        <a href="{{moderation.competition.getLink}}" class="text-tertiary" >
            <div class="w3-row">
                <div class="w3-row pallete" style="background:url('{{moderation.competition.getBanner}}');" id="view-{{moderation.competition.id}}">
                    <div class="w3-col w3-threequarter pallete tertiary">
                        <div class="w3-row">
                            <h6>{{moderation.competition.title}}</h6>
                            <strong>{% trans "Moderator" %}</strong><br/>
                            <span>{{moderation.competition.endAt}}</span>
                        </div>
                        <div class="w3-row">
                            <a href="{{moderation.competition.getModCertLink}}"  class="w3-right"><button class="active small" data-icon="qr_code" title="Certificate"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    <div class="w3-col w3-third w3-padding-small"> 
        <a href="{{URLS.PROFILEACHIEVEMENTS|params:person.profile.nickname}}">
        <div class="w3-row pallete-slab positive-text">
                <h1>View all<br/>achievements<i class="w3-right">arrow_forward</i></h1>
        </div></a>
      </div>
{% else %}
    <br/><br/>
    <center class="dead-text">
        <i class="w3-jumbo">emoji_events</i>
        <h3>{% trans "No achievements, yet." %}</h3>
        {% if self %}
        <h6>It's alright {{person.profile.getFName}}, you don't need to prove yourself to anyone. Take your time.</h6>
        {% else %}
        <h6>So what? {{person.profile.getFName}} has hidden talents, just wait and watch.</h6>
        {% endif %}
    </center>
{% endif %}
</div>
