{% load custom_tags %}
<div class="w3-row">

{% for result in results %} 
    <div class="w3-col w3-half w3-padding-small">
        <div class="w3-row pallete-slab">
        <img class="w3-round w3-right" width="60" src="{{result.submission.competition.getBanner}}" />
        <h6>{{result.submission.competition.title}}</h6>
        <strong>{{result.getRank}} position</strong><br/>
        <a target="_blank" href="{{result.submission.competition.getLink}}" class="w3-right"><button class="active small" data-icon="open_in_new">Competition</button></a>
        <a target="_blank" href="{{result.getCertLink|params:person.getID}}" class="w3-right"><button class="accent small" data-icon="open_in_new">Certificate</button></a>
        </div>
    </div>
    {% empty %}
    <br/><br/>
        <center class="dead-text">
            <i class="w3-jumbo">hourglass_top</i>
            <h2>No projects, yet.</h2>
        </center>
    {% endfor %}
</div>