{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
{% if results.count or judgements.count or moderations.count %}
    {% for result in results %} 
    <div class="w3-col w3-half w3-padding-small">
        <div class="w3-row pallete-slab">
        <a href="{{result.submission.competition.getLink}}"><img class="w3-round w3-right" width="100" src="{{result.submission.competition.getBanner}}" /></a>
        <h6>{{result.submission.competition.title}}</h6>
        <strong>{{result.getRank}} {% trans "position" %}</strong><br/>
        <a href="{{result.getCertLink|params:person.getID}}" class="w3-right"><button class="accent small" data-icon="open_in_new">{% trans "Certificate" %}</button></a>
        </div>
    </div>
    {% endfor %}
    {% for judgement in judgements %} 
    <div class="w3-col w3-half w3-padding-small">
        <div class="w3-row pallete-slab">
        <a href="{{judgement.competition.getLink}}"><img class="w3-round w3-right" width="100" src="{{judgement.competition.getBanner}}" /></a>
        <h6>{{judgement.competition.title}}</h6>
        <strong>{% trans "Judge" %}</strong><br/>
        <a href="{{judgement.get_cert_link}}" class="w3-right"><button class="accent small" data-icon="open_in_new">{% trans "Certificate" %}</button></a>
        </div>
    </div>
    {% endfor %}
    {% for moderation in moderations %} 
    <div class="w3-col w3-half w3-padding-small">
        <div class="w3-row pallete-slab">
        <a href="{{moderation.competition.getLink}}"><img class="w3-round w3-right" width="100" src="{{moderation.competition.getBanner}}" /></a>
        <h6>{{moderation.competition.title}}</h6>
        <strong>{% trans "Moderator" %}</strong><br/>
        <a href="{{moderation.competition.getModCertLink}}" class="w3-right"><button class="accent small" data-icon="open_in_new">{% trans "Certificate" %}</button></a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <br/><br/>
    <center class="dead-text">
        <i class="w3-jumbo">hourglass_top</i>
        <h3>{% trans "No achievements, yet." %}</h3>
        {% if self %}
        <h6>It's alright {{person.profile.getFName}}, you don't need to prove yourself to anyone. Take your time.</h6>
        {% else %}
        <h6>So what? {{person.profile.getFName}} has hidden talents, just wait and watch.</h6>
        {% endif %}
    </center>
{% endif %}
</div>
