{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
{% if ompetitions.count %}
    {% for compete in competitions %} 
    <div class="w3-col w3-half w3-padding-small">
        <div class="w3-row pallete-slab">
            <img class="w3-round w3-right" width="100" src="{{compete.getBanner}}" />
            <h6>{{compete.title}}</h6>
            <strong>{{compete.tagline}}</strong><br/>
            <a class="w3-right" href="{{compete.getLink}}"><button class="primary small" data-icon="open_in_new">{% trans "View" %}</button></a>
        </div>
    </div>
    {% endfor %}
{% else %}
    <br/><br/>
    <center class="dead-text">
        <i class="w3-jumbo">hourglass_top</i>
        <h3>{% trans "No competitions, yet." %}</h3>
        <h6>{{person.profile.getName}} will bring you endeavours soon.</h6>
    </center>
{% endif %}
</div>