{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
{% for fw in frameworks %}

{% empty %}
    <br/><br/>
    <center class="dead-text">
        <i class="w3-jumbo">hourglass_top</i>
        <h3>{% trans "No frameworks, yet." %}</h3>
        <h6>The emptiness not {{person.profile.getFName}}'s fault, as frameworks are still under development.</h6>
        {% if self %}
        <button class="accent big-button" onclick="message('Feature under development.')" data-icon="add" id="create-new-frameword">New Framework</button>
        {% endif %}
    </center>
{% endfor %}
</div>