{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
    {% if self %}
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="w3-col w3-padding-small swiper-slide">
                <div class="pallete active" style="height:65vh;">
                    <center>
                        <i class="material-icons" title="Public">lock_open</i>
                        <h6>{% trans "Approved" %}</h6>
                    </center>
                    <div class="w3-row" style="height:55vh;overflow-y:scroll">
                        {% for mod in approved %}
                        <div class="pallete-slab">
                            {% if mod.type == SUBAPPS.projects %}
                            <img class="w3-circle w3-right" width="30" src="{{mod.project.getDP}}" />
                            <h6>{{mod.project.name|truncatechars:20}}</h6>
                            <strong class="">{{mod.project.nickname}}</strong>
                            <a href="{{mod.project.getLink}}" class="w3-right"><button class="positive small" data-icon="open_in_new"></button></a>
                            {% elif mod.type == SUBAPPS.people %}
                            <h6>{{mod.profile.getName}}</h6>
                            <span>{{mod.profile.getBio}}</span>
                            <a href="{{mod.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">{% trans "View" %}</button></a>
                            {% elif mod.type == SUBAPPS.compete %}
                            <h6>{{mod.competition.title}}</h6>
                            <span>{{mod.competition.tagline|truncatechars:20}}</span>
                            <a href="{{mod.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">{% trans "View" %}</button></a>
                            {% else %}
                             <img class="w3-circle w3-right" width="30" src="{{mod.coreproject.getDP}}" />
                             <h6>{{mod.coreproject.name}}</h6>
                             <span>{{mod.coreproject.codename}}</span>
                             <a href="{{mod.coreproject.getLink}}" class="w3-right"><button class="positive small" data-icon="open_in_new"></button></a>
                            {% endif %}
                        </div>
                        {% empty %}
                        <br/>
                        <center>
                        <i class="w3-jumbo material-icons">hourglass_top</i>
                        <h6>{% trans "Wait for it." %}</h6>
                        <strong>{% trans "Patience is the key." %}</strong>
                        </center>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="w3-col w3-padding-small swiper-slide">
                <div class="pallete accent" style="height:65vh;">
                    <center>
                        <i class="material-icons" title="{% trans "Private to you" %}">lock</i>
                        <h6>{% trans "Pending" %}</h6>
                    </center>
                    <div class="w3-row" style="height:55vh;overflow-y:scroll">
                        {% for mod in unresolved %}
                        <div class="pallete-slab">
                        {% if mod.type == SUBAPPS.projects %}
                        <img class="w3-circle w3-right" width="30" src="{{mod.project.getDP}}" />
                        <h6>{{mod.project.name}}</h6>
                        <span>{{mod.project.reponame}}</span>
                        {% elif mod.type == SUBAPPS.compete %}
                        <img class="w3-round w3-right" width="80" src="{{mod.competition.getBanner}}" />
                        <h6>{{mod.competition.title}}</h6>
                        <span>{{mod.competition.tagline}}</span>
                        {% else %}
                        <img class="w3-circle w3-right" width="30" src="{{mod.coreproject.getDP}}" />
                        <h6>{{mod.coreproject.name}}</h6>
                        <span>{{mod.coreproject.codename}}</span>
                        {% endif %}
                        <a href="{{mod.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">{% trans "Review" %}</button></a>
                        </div>
                        {% empty %}
                        <br/>
                        <center>
                        <i class="w3-jumbo">done</i>
                        <h6>{% trans "All resolved" %}</h6>
                        <strong>{% trans "Help the ones which are live." %}</strong>
                        </center>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="w3-col w3-padding-small swiper-slide">
                <div class="pallete tertiary text-tertiary" style="height:65vh;">
                    <center>
                        <i class="material-icons" title="{% trans "Private to you" %}">lock</i>
                        <h6>{% trans "Rejected" %}</h6>
                    </center>
                    <div class="w3-row" style="height:55vh;overflow-y:scroll">
                        {% for mod in rejected %}
                        <div class="pallete-slab dead-text">
                            {% if mod.type == SUBAPPS.projects %}
                            <img class="w3-circle w3-right" width="30" src="{{mod.project.getDP}}" />
                            <h6>{{mod.project.name}}</h6>
                            <span>{{mod.respondOn}}</span>
                            {% elif mod.type == SUBAPPS.people %}
                            <h6>{{mod.profile.getName}}</h6>
                            <span>{{mod.profile.getBio}}</span>
                            {% elif mod.type == SUBAPPS.compete %}
                            <h6>{{mod.competition.title}}</h6>
                            <span>{{mod.competition.tagline}}</span>
                            {% else %}
                             <img class="w3-circle w3-right" width="30" src="{{mod.coreproject.getDP}}" />
                             <h6>{{mod.coreproject.name}}</h6>
                             <span>{{mod.coreproject.codename}}</span>
                            {% endif %}
                            <a href="{{mod.getLink}}" class="w3-right"><button class="tertiary dead-text small" data-icon="open_in_new"></button></a>
                        </div>
                        {% empty %}
                        <br/>
                        <center class="dead-text">
                        <i class="w3-jumbo material-icons">hourglass_top</i>
                        <h6>{% trans "None rejected" %}</h6>
                        <strong>{% trans "Cool!" %}</strong>
                        </center>
                        <br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% for mod in approved %}
            <div class="w3-col w3-half w3-padding-small">
                {% if mod.type == SUBAPPS.projects %}
                <div class="pallete-slab">
                    <img class="w3-circle w3-right" width="30" src="{{mod.project.getDP}}" />
                    <h6>{{mod.project.name}}</h6>
                    <span>{{mod.project.reponame}}</span>
                    <a href="{{mod.project.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">View</button></a>
                </div>
                {% elif mod.type == SUBAPPS.compete and mod.competition.resultDeclared %}
                <div class="pallete-slab">
                    <img class="w3-round w3-right" width="30" src="{{mod.competition.getBanner}}" />
                    <h6>{{mod.competition.title}}</h6>
                    <span>{{mod.competition.tagline}}</span>
                    <a href="{{mod.competition.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">View</button></a>
                </div>
               {% else %}
                <div class="pallete-slab">
                    <img class="w3-circle w3-right" width="30" src="{{mod.coreproject.getDP}}" />
                    <h6>{{mod.coreproject.name}}</h6>
                    <span>{{mod.coreproject.codename}}</span>
                    <a href="{{mod.coreproject.getLink}}" class="w3-right"><button class="primary small" data-icon="open_in_new">View</button></a>
                </div>
                {% endif %}
            </div>

        {% empty %}
            <br/><br/>
            <center class="dead-text">
                <i class="w3-jumbo">schema</i>
                <h2>No moderations, yet.</h2>
                <h6>Hope for the best!</h6>
            </center>
        {% endfor %}
    {% endif %}
</div>
