{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% with profile=person.profile%}
<div class="w3-row w3-padding-small">
    <div class="w3-row">
        <div class="w3-col w3-half w3-center">
            <h1 class="positive-text">{{profile.xp|or:'0'}}{% if not self %} XP {% else %}<span class="dead-text w3-large">/{{profile.xpTarget|or:'100'}} XP</span>{% endif %}</h1>
            <div class="w3-row" id="view-profiletopics">
            {% for topicdata in profile.getTopicsData %}
                <div class="w3-row pallete-slab w3-padding">
                    <h5 class=" w3-left topic-name">{{topicdata.topic}}</h5>
                    <h5 class=" w3-right positive-text"><span class="topic-points">{{topicdata.points|or:'0' }}</span> XP</h5>
                </div>
            {% empty %}
                {% if self %}
                    <button class="big-button accent edit-action" data-edittarget="profiletopics" data-icon="add">{% trans "Add topics" %}</button>
                {% else %}
                    <br/>
                    <div class="dead-text">
                        <i class="w3-jumbo">hourglass_top</i>
                        <h3>{% trans "No topics yet." %}</h3>
                    </div>
                {% endif %}
            {% endfor %}
            {% if self and profile.totalTopics > 0 %}<i class="edit-action w3-right" data-edittarget="profiletopics">edit</i>{% endif %}</span>
            </div>
            {% if self %}
            <div id="edit-profiletopics">
                <br/>
                <strong class="dead-text">{% trans "Total 5 topics allowed" %}</strong>
                <form action="{{URLS.TOPICSUPDATE}}" method="POST">
                    {% csrf_token %}
                    <input class="wide" placeholder="Search topics" id="topic-search-input" />
                    <div class="w3-row w3-padding" id="topics-viewer">
                        {% for topic in profile.getTopics %}
                        <button type="button" class="primary negative-text topic-existing" data-icon="close" id="{{topic.getID}}">{{topic.name}}</button>
                        {% endfor %}
                        <div class="w3-row w3-padding" id="topics-viewer-new"></div>
                    </div>
                    <input id="removetopicIDs" name="removetopicIDs" hidden type="text" />
                    <input id="addtopicIDs" name="addtopicIDs" hidden type="text" />
                    <br/>
                    <button id="save-edit-profiletopics">{% trans "Save" %}</button>
                    <button id="discard-edit-profiletopics">{% trans "Cancel" %}</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="w3-col w3-half w3-center w3-padding">
            {% if profile.totalTopics == 0 %}
                {% if self %}
                    <br/><br/>
                    <center class="dead-text">
                        <i class="w3-jumbo">hourglass_top</i>
                        <h2>{% trans "Graph depends on topics." %}</h2>
                        <h4>{% trans "Add topics in your profile to enable graph." %}</h4>
                    </center>
                    {% else %}
                    <img src="{{ICON}}" style="opacity: 0.1;" width="300" />
                    <h3 class="dead-text">{% trans "No topics for graph, yet." %}</h3>
                {% endif %}
            {% else %}
            <canvas id="myChart" class="chart-view" data-type="radar" width="400" height="400"></canvas>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}