{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">

  {% if self %}

  <div class="swiper-container">

    <div class="swiper-wrapper">
      <div class="w3-col w3-third swiper-slide">
        <div class="pallete active text-active" style="min-height:65vh; max-height:85vh;">
          <center class="align">
          <i title="Visible to everyone" class="w3-large">lock_open</i>
          <h6>{% trans "Live" %}</h6>
          </center>
          <div class="w3-row" style="min-height:55vh; max-height:75vh;overflow-y:scroll">
          {% for project in approved %}
          <div class="w3-row pallete-slab no-pad">
            <div class="w3-col l4 m4 s4">
                <a href="{{project.get_link}}" >
                    <img class="primary pallete" src="{{ project.getDP }}" alt="{{ project.name }}" width="100%" height="100%" style="border-right: 4px solid var(--{{project.theme}})" />
                </a>
            </div>
            <div class="w3-col l8 m8 s8" >
                <div class="w3-row w3-padding">
                <h6>{{ project.name|truncatechars:18 }}</h5>
                <strong class="align w3-left">{{project.get_nickname}}<i class="positive-text w3-large">{% if project.is_verified %}verified{% elif project.is_core %}lock{% endif %}</i></strong>
                </div>
            </div>
          </div>
          {% empty %}
          <br/>
          <div class="w3-row w3-center">
          <i class="w3-jumbo">sentiment_dissatisfied</i>
          <h6>{% trans "No projects live, yet." %}</h4>
          <strong>{% trans "Don't worry. Keep exploring." %}</strong>
          </div>
          {% endfor %}
          {% if approved.0 %}
          <div class="w3-row w3-padding-small"> 
          <a href="{{URLS.PROFILEPROJECTS|params:person.profile.nickname}}">
          <div class="w3-row pallete-slab positive-text">
                  <h6>View all<br/>projects<i class="w3-right">arrow_forward</i></h6>
          </div></a>
        </div>
        {% endif %}
          </div>
        </div>
      </div>
    
      <div class="w3-col w3-padding-small w3-third swiper-slide">
        <div class="pallete accent text-accent" style="min-height:65vh; max-height:85vh;">
          <center class="align">
          <i  title="Private to you" class="w3-large">lock</i>
          <h6 class="text-accent">{% trans "Pending" %}</h6>
          </center>
          <div class="w3-row" style="min-height:55vh; max-height:75vh;overflow-y:scroll">
          {% for project in moderation %}
          <div class="w3-row pallete-slab no-pad">
            <div class="w3-col l4 m4 s4">
                <a href="{{project.get_link}}" >
                    <img class="primary pallete" src="{{ project.getDP }}" alt="{{ project.name }}" width="100%" height="100%" style="border-right: 4px solid var(--{{project.theme}})" />
                </a>
            </div>
            <div class="w3-col l8 m8 s8" >
                <div class="w3-row w3-padding">
                <h6>{{ project.name|truncatechars:18 }}</h5>
                <strong class="align w3-left">{{project.get_nickname}}<i class="dead-text w3-large">{% if project.is_verified %}verified{% elif project.is_core %}lock{% endif %}</i></strong>
                </div>
            </div>
          </div>
          {% empty %}
          <br/>
          <div class="w3-row w3-center">
          <a href="{{URLS.PROJECTS}}create" class="text-accent">
            <i class="w3-jumbo">add_circle</i>
          </a>
          <h6>{% trans "Create" %}</h6>
          <strong>{% trans "Start small. Dream big." %}</strong>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    
      <div class="w3-col w3-padding-small w3-third swiper-slide">
        <div class="pallete tertiary text-tertiary" style="min-height:65vh; max-height:85vh;">
          <center class="align dead-text">
          <i  title="Private to you" class="w3-large">lock</i>
          <h6 class="dead-text">{% trans "Rejected" %}</h6>
          </center>
          <div class="w3-row" style="min-height:55vh; max-height:75vh;overflow-y:scroll">
          {% for project in rejected %}
          <div class="w3-row pallete-slab no-pad">
            <div class="w3-col l4 m4 s4">
                <a href="{{project.get_link}}" >
                    <img class="primary pallete w3-opacity" src="{{ project.getDP }}" alt="{{ project.name }}" width="100%" height="100%" style="border-right: 4px solid var(--{{project.theme}})" />
                </a>
            </div>
            <div class="w3-col l8 m8 s8" >
                <div class="w3-row w3-padding w3-opacity">
                <h6>{{ project.name|truncatechars:18 }}</h5>
                <strong class="align w3-left">{{project.get_nickname}}<i class="dead-text w3-large">{% if project.is_verified %}verified{% elif project.is_core %}lock{% endif %}</i></strong>
                </div>
            </div>
          </div>
          {% empty %}
          <br/>
          <center class="dead-text">
          <i class="w3-jumbo">sentiment_very_satisfied</i>
          <h6>{% trans "None rejected!" %}</h6>
          <strong>{% trans "This is rare." %}</strong>
          </center>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% else %}
    {% for project in approved %} 
    <div class="w3-col w3-third w3-padding-small">
      <div class="w3-row pallete-slab no-pad">
        <div class="w3-col l4 m6 s4">
            <a href="{{project.get_link}}" >
                <img class="primary pallete" src="{{ project.getDP }}" alt="{{ project.name }}" width="100%" height="100%" style="border-right: 8px solid var(--{{project.theme}})" />
            </a>
        </div>
        <div class="w3-col l8 m6 s8 w3-padding" align='left'>
            <div class="w3-row">
            <h6 class="{% if project.is_verified %}align{% endif %} w3-left">{{ project.name|truncatechars:15 }}{% if project.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
            </div>
            <strong class="w3-row">{{ project.category }}</strong>
        </div>
      </div>
    </div>
      {% empty %}
        <br/><br/>
            <center class="dead-text">
                <i class="w3-jumbo">widgets</i>
                <h3>{% trans "No projects, yet." %}</h3>
                <h6>Give {{person.profile.getFName}} some time. We know they'll grow soon.</h6>
            </center>
      {% endfor %}
      {% if approved.0 %}
        <div class="w3-col w3-third w3-padding-small"> 
        <a href="{{URLS.PROFILEPROJECTS|params:person.profile.nickname}}">
        <div class="w3-row pallete-slab positive-text">
                <h6>View all<br/>projects<i class="w3-right">arrow_forward</i></h6>
        </div></a>
      </div>
      {% endif %}
  {% endif  %}
</div>
