{% load static %} 

{% block content %}

<div class="w3-row-padding" id="projectinnercontent">

  <div class="w3-col l4">
    <div class="pallete primary">
      <h4>Live</h4><hr>
      {% for project in live %} 
      <!-- {{project.id}}<br /> -->
      <div class="w3-margin-bottom">
        <a href="{{project.getLink}}"
          ><i class="material-icons">launch</i><b>{{project.name}}</b></a
        ><br />
        <span> {{project.reponame}}</span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="w3-col l4">
    <div class="pallete primary">
      <h4>Moderation</h4><hr>
      {% for project in moderation %}
      <div class="w3-margin-bottom">
        <a href="{{project.getLink}}"
          ><i class="material-icons">launch</i><b>{{project.name}}</b></a
        ><br />
        <span> {{project.reponame}}</span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="w3-col l4">
    <div class="pallete primary" id="rejectedprojectlist">
      <h4>Rejected</h4><hr>
      {% for project in rejected %} 
      <!-- {{project.id}}<br /> -->
      <div class="w3-margin-bottom">
        <a href="{{project.getLink}}"
          ><i class="material-icons">launch</i><b>{{project.name}}</b></a
        ><br />
        <span>{{project.reponame}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
