<div class="w3-col m5 s6 l3 w3-padding-small w3-right">
    <div class="pallete w3-center">
        <div class="w3-row w3-padding align" xyz="fade back down duration-10 big-100%">
            <img src="{{profile.get_dp}}" class="darkimg w3-card w3-circle xyz-in" width="50" style="border:2px solid var(--{{profile.theme}})" alt="{{APPNAME}}"/>
            <i class="dead-text w3-small xyz-in">link</i>
            <img src="{{ICON}}" class="w3-card w3-circle xyz-in" width="50" style="border:2px solid var(--{{profile.theme}})" alt="{{request.user.getName}}"/>
        </div>  
        <h6>Joined Community</h6>
        {{profile.user.date_joined}}
    </div>
</div>
<div class="w3-col m5 s6 l3 w3-padding-small w3-right">
    <div class="pallete tertiary w3-center">
    <i class="w3-jumbo">upcoming</i><br/>
        <h6>Coming soon</h6>
        You'll see more updates soon
    </div>
</div>