{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}
{% load socialaccount %}

{% block title %}{% trans "Email addresses" %}{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Account emails" %}{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding">
<br/>
<h1>{% trans "Email Addresses" %}</h1>
{% if user.emailaddress_set.all %}
<h5>{% blocktrans %}The following email addresses are associated with your {{APPNAME}} account.{% endblocktrans %}</h5>
<br/>
<form action="{% url 'account_email' %}" class="email_list" method="post">
  {% csrf_token %}
  <div class="w3-row">
    {% for emailaddress in user.emailaddress_set.all %}
    <div class="w3-row  w3-padding-small">
      <label for="email_radio_{{forloop.counter}}" class="w3-padding">
        <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{% endif %} value="{{emailaddress.email}}"/>
        {{ emailaddress.email }}
        {% if emailaddress.primary %}
          <i title="{% trans "Primary email address" %}" class="positive-text">security</i>
        {% endif %}
        {% if emailaddress.verified %}
        <i title="{% trans "Verified" %}" class="active-text">verified</i>
        {% else %}
        <i title="{% trans "Unverified" %}" class="negative-text">error</i>
        <button class="primary small" type="submit" name="action_send" data-icon="send">{% trans "Verify" %}</button>
        {% endif %}
      </label>
    </div>
    {% endfor %}
    <br/>
    {% if user.emailaddress_set.all.count > 1 %}
    <h6>{% trans "Select an email to act." %}</h6>
    <div class="w3-row">
      <button class="accent" type="submit" name="action_primary" data-icon="security">{% trans "Make primary" %}</button>
      <button class="negative" type="submit" name="action_remove" data-icon="remove_circle">{% trans "Remove" %}</button>
    </div>
    {% endif %}
  </div>
</form>
{% else %}
<h4>{% trans "You currently do not have any e-mail address set up. You should add an e-mail address so you can receive notifications, reset your password, etc." %}</h4>
<br/>
{% endif %}
{% if can_add_email %}
<br/>
  <h4>{% trans "Add new email address" %}</h4>
  <strong>{% trans "Verification will be required" %}</strong>
  {% comment %} <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
  </form> {% endcomment %}
  <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      <input type="email" class="required-field" name="email" placeholder="{% trans "New email address" %}" required="" id="id_email"><br/><br/>
      <button class="accent{% comment %} recaptcha-protected-form-action {% endcomment %}" name="action_add" type="submit" data-icon="add" id="add-email-action">{% trans "Add email" %}</button>
  </form>
{% endif %}
</div>
<br/><br/>
{% endblock %}

{% block ext_scripts %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endblock %}

{% block footer %}{% endblock %}
{% block show_lite_footer %}{% endblock %}