{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>Email confirm</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Email confirm</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}



{% block content %}
<div class="w3-row w3-padding w3-center">
<br/><br/><br/>
<h1>Confirm E-mail Address</h1>
<br/><br/>
{% if confirmation %}
<h4>Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.</h4>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">email confirm</button>
</form>

{% else %}

{% url 'account_email' as email_url %}
<h4>This e-mail confirmation link expired or is invalid </h4>.<br/>
<a href="{{ email_url }}"><button class="accent">Resend Email</button></a>

{% endif %}
</div>
{% endblock %}
