{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}{% trans "Email verification" %}{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Email verification" %}{% endblock %}
{% block nav_noauth %}{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
  <br/><br/>
  {% if confirmation %}
  <div class="material-icons w3-jumbo">hourglass_top</div>
  {% else %}
  <div class="material-icons w3-jumbo negative-text">block</div>
  {% endif %}
  <h1>{% trans "Confirm email address" %}</h1>
  
  {% if confirmation %}
  <h4>
    {% blocktrans with confirmation.email_address.email as email %}
    Please confirm that you provided <a class="positive-text" href="mailto:{{ email }}">{{ email }}</a> as your email address for membership at
    <br/>{{APPNAME}}.
    {% endblocktrans %}
  </h4>
  <br/>
  <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="positive" type="submit" data-icon="verified">{% trans "Yes, that's me" %}</button>
    <a href="/"><button type="button" class="negative" data-icon="cancel">{% trans "No, I didn't do that" %}</button></a>
  </form>

  {% else %}
  {% url 'account_email' as email_url %}
  <h4 class="negative-text">{% trans "This email confirmation link has expired, or is invalid." %}</h4><br/>
  <a href="{{ email_url }}"><button class="accent" data-icon="restart_alt">{% trans "Resend Email" %}</button></a>
  {% endif %}
</div>
<br/>
{% endblock %}
