{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% block title %}Email confirm{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Email verification</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user.first_name|capfirst}}</button></a>
  {% endif %}
{% endblock %}



{% block content %}
<div class="w3-row w3-padding w3-center">
  <br/><br/>
  <div class="material-icons w3-jumbo">hourglass_top</div>
  <h1>Confirm email address</h1>
  
  {% if confirmation %}
  <h4>
    {% blocktrans with confirmation.email_address.email as email %}
    Please confirm that <a class="positive-text" href="mailto:{{ email }}">{{ email }}</a> is your email address for Knotters Community.
    {% endblocktrans %}
  </h4>
  <br/>
  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="positive" type="submit"><i class="material-icons">verified</i>Yes, that's me</button>
  </form>

  {% else %}
  {% url 'account_email' as email_url %}
  <h4>This e-mail confirmation link expired or is invalid.</h4><br/>
  <a href="{{ email_url }}"><button class="accent">Resend Email</button></a>
  {% endif %}
</div>
{% endblock %}
