{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load socialaccount %}
{% load account %}
{% load custom_tags %}

{% block og_url %}{{URLS.Auth.LOGIN}}{% endblock %}
{% block og_title %}{% trans "Login" %}{% endblock %}
{% block og_site_name %}{% trans "Login" %}{% endblock %}

{% block tw_url %}{{URLS.Auth.LOGIN}}{% endblock %}
{% block tw_title %}{% trans "Login" %}{% endblock %}
{% block tw_site_name %}{% trans "Login" %}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Login" %}{% endblock %}
{% block nav_auth_links %}{% endblock %}
{% block nav_auth_login %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center tertiary">
	<img src="{{ICON}}" width="50" class="darkimg" />
	<h4>{% trans "Let's solve our problems, together." %}</h4>
</div>
<br/>
<div class="w3-row w3-padding w3-center">
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half accent pallete">
		<div class="w3-row">
			<div class="w3-col w3-half">
				{% get_providers as socialaccount_providers %}
				{% for provider in socialaccount_providers %}
					<br/>
					{% with next=request.GET.next|or:URLS.ROOT %}
						{% with x=URLS.REDIRECTOR|getquery:"n:"|add:next %}
						<a class="w3-row hide-beta" href="{% filter urldecode %}{% provider_login_url provider.id method='oauth2' next=x %}{% endfilter %}">
							<button class="w3-padding {% if provider.id == 'github' %}secondary{% elif provider.id == 'discord' %}tertiary{% else %}primary{% endif %}">
								{% with logo="graphics/thirdparty/"|add:provider.id|add:".png" %}
									<img src="{% static logo %}" width="{% if provider.id == 'discord' %}20{% else %}25{% endif %}" {% if provider.id == 'github' %}class="darkimg-static"{% endif %} />
									{% trans "Continue via" %} {{provider.name}}
								{% endwith %}
							</button>
						</a>
						{% endwith %}
					{% endwith %}
				{% endfor %}
				<br/>
				<h3 class="text-accent">New here?</h3>
				<a href="{% url 'account_signup' %}?{{redirect_field_name}}={{request.GET.next}}">
					<button class="primary" data-icon="person_add">
					{% trans "Create an account" %}
					</button>
				</a>
				
			</div>
			<div class="w3-col w3-half">
				<form method="POST" action="{% url 'account_login' %}?{{redirect_field_name}}={{request.GET.next}}">
					{% csrf_token %}
					<br/>
					<h3 class="text-accent">{% trans "or use your" %}<br/>{{APPNAME}} {% trans "account" %}</h3>
					<br/>
					<div class="w3-row">
					<input type="text" class="required-field" name="login" placeholder="{% trans "Email address" %}" autocomplete="email" autofocus="autofocus" maxlength="150" required id="id_login" />
					<br/><br/>
					<input type="password" class="required-field" name="password" autocomplete="current-password" placeholder="{% trans "Password" %}" required id="id_password" />
					</div>
					<br/>
					<button class="positive recaptcha-protected-form-action" type="submit" class="g-recaptcha" data-sitekey="{{RECAPTCHA_KEY}}" data-action='submit' id="sign-in-action" data-icon="login">{% trans "Sign In" %}</button>
					<button type="button" class="primary" onclick="miniWindow('{% url 'account_reset_password' %}')" data-icon="help">{% trans "Forgot?" %}</button>
					<input type="hidden" name="{{redirect_field_name}}" value="{{URLS.REDIRECTOR}}?n={{request.GET.next}}" />
				</form>
				<br/>
			</div>
		</div>
	</div>
</div>

<br/>
<center class="w3-padding">
<strong>{% trans "By continuing via an identity on our platform" %}, {% trans "you agree to our" %} <a onclick="newTab('{{URLS.Docs.TYPE|params:'termsofservice'}}')" target="_blank">{% trans "terms of service" %}</a> {% trans "and" %} <a onclick="newTab('{{URLS.Docs.TYPE|params:'privacypolicy'}}')" target="_blank">{% trans "privacy policy" %}</a>.</strong>
</center>
<br/>
{% endblock %}
{% block in_scripts %}
<script>
 {% if request.GET.next != URLS.ROOT and request.GET.next %}
  message("Please login to continue")
 {% endif %}
</script>
{% endblock %}
