
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% block head_title %}<title>Login · Knotters</title>{% endblock %}

{% block content %}

<div>
	<h1>Sign in</h1>
	<form method="POST" action="{% url 'account_login' %}">
		{% csrf_token %}
		<div>
			<a href="{% provider_login_url 'google' method='oauth2' %}">&nbsp;Login via Google</a>
			<a href="{% provider_login_url 'github' method='oauth2' %}">Login via Github</a>
		</div>
		<div>or use your account</div>
		<input type="text" name="login" placeholder="Username" autofocus="autofocus" maxlength="150" required id="id_login" />
		<input type="password" name="password" placeholder="Password" required id="id_password" />
		<br/>
		<a href="{% url 'account_reset_password' %}">Forgot your password?</a>
		<button type="submit">Sign In</button>
		<input type="hidden" name="next" value="{{request.GET.next}}" />
	</form>
	<a href="/accounts/signup"><b>Create an account</b></a>
</div>

{% endblock %}
