{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Logout{% endblock %}

{% block nav_href %}{{request.user.profile.getLink}}{% endblock %}
{% block nav_icon %}
  <button class="primary previous-navigation-button" data-icon="arrow_back"></button>
{% endblock %}
{% block nav_text %}Logout{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
	<div class="w3-padding"><img src="{{user.profile.getDP}}" class="w3-circle" width="100"/></div>
	<h1>{{user.first_name|capfirst}}, are you sure you want to log out?</h1>
  <br/>
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half">
    <form method="POST" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="/redirector?n={{ redirect_field_value }}" />
      <button class="negative" type="submit"><i class="material-icons">logout</i>Yes, logout</button>
      <a href="/"><button class="positive" type="button"><i class="material-icons">home</i>No, return home</button></a>
      </form>
    <br/>
  </div>
</div>
{% endblock %}
