

{% load i18n %}
{% load static %}
{% block head_title %}<title>Logout · Knotters</title>{% endblock %}

{% block content %}
<div>
  <h1>Sign Out</h1>
  <div>Are you sure you want to sign out?</div>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">Sign Out</button>
  </form>
</div>

{% endblock %}
