{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}

{% block nav_href %}{% endblock %}
{% block nav_icon %}
  <button class="primary" data-icon="arrow_back" onclick="window.close()"></button>
{% endblock %}
{% block nav_text %}Password reset{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
<br/>
<div class="material-icons w3-jumbo">password</div>
  <h1>Password Reset</h1>
  <br/>
  <h5>Provide us your registered email address, and we'll send you a link to reset your password.</h5>
  <br/>
  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Your email address" autocomplete="email" required id="id_email">
      <br/><br/>
      <button class="accent" type="submit"><i class="material-icons">send</i>Send reset link</button>
  </form>
</div>
<br/>
{% endblock %}
{% block footer %}{% endblock %}