{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password Change{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}Password Change{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
    <div class="w3-row w3-padding w3-center">
    <br/>
    <div class="w3-jumbo material-icons">password</div>
    <h1>Change password</h1>
    <br/>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      <input type="password" name="oldpassword" placeholder="Current password" autocomplete="current-password" required id="id_oldpassword">
      <br/><br/>
      <input type="password" name="password1" placeholder="New password" autocomplete="new-password" required id="id_password1">
      <br/><br/>
      <input type="password" name="password2" placeholder="Retype new password" autocomplete="new-password" required id="id_password2">
      <br/><br/><br/>
      <button type="submit" class="positive" name="action">Change password</button>
      <a href="{% url 'account_reset_password' %}"><button type="button" class="negative">Forgot Password?</button></a>
    </form>
    <br/>
    </div>
{% endblock %}
{% block footer %}{% endblock %}