{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>Password reset done</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password reset done</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}


<h1>"Password Reset" </h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

