{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block title %}<title>password reset</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password reset</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}


{% block content %}
<div class="w3-row w3-padding w3-center">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h3 class="negative-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}</h3>
        <br/>
        <a href="{{ passwd_reset_url }}"><button class="accent">Retry</button></a>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <h3 class="positive-text">{% trans 'Your password is now changed.' %}</h3>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
