{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password reset{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password reset</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
  <br/>
  <div class="w3-jumbo material-icons accent-text">mark_email_unread</div>
  <h1>Check your mailbox</h1>
  <br/>
  <h5>We have sent you an email with password reset link.</h5>
</div>
{% endblock %}