{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}{% trans "Set Password" %}{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Set Password" %}{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
<br/><br/>
<div class="w3-row w3-padding w3-center">
    <div class="w3-jumbo material-icons">password</div>
    <h1>{% trans "Set Password" %}</h1>
    <h4>{% trans "Your account doesn't have a password, so you can create one below." %}</h4>
    <br/><br/>
    <form method="POST" action="{% url 'account_set_password' %}?miniwin={{request.GET.miniwin}}" class="password_set">
        {% csrf_token %}
        <input type="password" class="required-field" name="password1" placeholder="{% trans "New Password" %}" autocomplete="new-password" required id="id_password1" aria-autocomplete="list"></p>
        <input type="password" class="required-field" name="password2" placeholder="{% trans "Retype new Password" %}" required id="id_password2"></p>
        <button type="submit recaptcha-protected-form-action" class="positive" name="action" data-icon="done">{% trans "Set Password" %}</button>
    </form>
    <br/>
</div>
{% endblock %}
{% block ext_scripts %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endblock %}
{% block footer %}{% endblock %}