{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password changed{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}Password changed{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<br/>
  <div class="w3-center w3-padding">
    <br/>
    <div class="w3-jumbo material-icons active-text">verified</div>
    <h1>Password Changed</h1>
    <br/>
    <h4 class="positive-text">Your password is changed now.</h4>
    <br/>
    <a href="/"><button class="positive">Return home</button></a>
  </div>
    <br/>
{% endblock %}
