{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password Change{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password Change</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}

{% block content %}
    <div class="w3-row w3-padding w3-center">
    <br/>
    <div class="w3-jumbo material-icons">password</div>
    <h1>Change password</h1>
    <br/>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      <input type="password" name="oldpassword" placeholder="Current password" autocomplete="current-password" required id="id_oldpassword">
      <br/><br/>
      <input type="password" name="password1" placeholder="New password" autocomplete="new-password" required id="id_password1">
      <br/><br/>
      <input type="password" name="password2" placeholder="Retype new password" autocomplete="new-password" required id="id_password2">
      <br/><br/><br/>
      <button type="submit" class="positive" name="action">Change password</button>
      <a href="{% url 'account_reset_password' %}"><button type="button" class="negative">Forgot Password?</button></a>
    </form>
    {% if form.errors %}
    <br/><br/>
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-error negative-text">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-error negative-text">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}
    </div>
{% endblock %}
