{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block title %}{% trans "Password reset" %}{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Password reset" %}{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
    <br/>
    <div class="w3-jumbo material-icons {% if token_fail %}negative-text">error{% else %}active-text">password{% endif %}</div>
    <h1>{% if token_fail %}{% trans "Invaild link" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <br/>
        <h3 class="negative-text">{% trans "The password reset link was invalid, possibly because it has already been used or it's too late." %}</h3>
        <br/>
        <a href="{{ passwd_reset_url }}"><button class="accent">{% trans "Retry" %}</button></a>
        <br/><br/>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <input type="password" class="required-field" autofocus name="password1" placeholder="{% trans "New password" %}" autocomplete="new-password" required id="id_password1" aria-autocomplete="list" />
                <br/><br/>
                <input type="password" class="required-field" name="password2" placeholder="{% trans "Retype new password" %}" required="" id="id_password2">
                <br/><br/>
                <button class="positive recaptcha-protected-form-action" type="submit" name="action" data-icon="done">{% trans 'Change password' %}</button>
            </form>
        {% else %}
            <h3 class="positive-text">{% trans 'Your password is now changed.' %}</h3>
        {% endif %}
    {% endif %}
    </div>
    <br/>
{% endblock %}
{% block ext_scripts %}
{% if not token_fail %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endif %}
{% endblock %}