{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password set{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password set</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user.first_name|capfirst}}</button></a>
  {% endif %}
{% endblock %}



{% block content %}
<div class="w3-row w3-padding">
<br/><br/>
    <h1>Set Password</h1>
    <br/><br/>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="positive" name="action">Set Password</button>
    </form>
    <br/>
  </div>
{% endblock %}