{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block title %}Password reset{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password reset</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user.first_name|capfirst}}</button></a>
  {% endif %}
{% endblock %}


{% block content %}
<div class="w3-row w3-padding w3-center">
<br/>
    {% if token_fail %}
    <div class="w3-jumbo material-icons negative-text">error</div>
    {% else %}
    <div class="w3-jumbo material-icons active-text">password</div>
    {% endif %}
    <h1>{% if token_fail %}{% trans "Invaild link" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <br/>
        <h3 class="negative-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used or it's too late.{% endblocktrans %}</h3>
        <br/>
        <a href="{{ passwd_reset_url }}"><button class="accent">Retry</button></a>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <input type="password" autofocus name="password1" placeholder="New password" autocomplete="new-password" required id="id_password1" aria-autocomplete="list" />
                <br/><br/>
                <input type="password" name="password2" placeholder="Retype password" required="" id="id_password2">
                <br/><br/>
                <button class="positive" type="submit" name="action"><i class="material-icons">done</i>{% trans 'Change password' %}</button>
            </form>
            {% if form.errors %}
            <br/><br/>
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error negative-text">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <h3 class="positive-text">{% trans 'Your password is now changed.' %}</h3>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
