{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>Password reset from key done</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Password reset done from key</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}


{% block content %}
    <h1>"Change Password" </h1>
    <p>'Your password is now changed.'</p>
{% endblock %}
