{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Password reset{% endblock %}

{% block nav_href %}{% endblock %}
{% block nav_icon %}
  <button class="primary" data-icon="arrow_back" onclick="window.close()"></button>
{% endblock %}
{% block nav_text %}Password reset{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
  <br/>
  <div class="w3-jumbo material-icons accent-text">mark_email_unread</div>
  <h1>Check your mailbox</h1>
  <br/>
  <h5>We have sent you an email with password reset link.</h5>
  <h6>Check your spam folder too, just in case.</h6>
  <br/>
  <a href="/"><button class="accent" onclick="window.close()" data-icon="done">Okay</button></a>
</div>
{% endblock %}
{% block footer %}{%endblock %}