{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}<title>Signup</title>{% endblock %}

{% block nav_title %}
<a href="/" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Join community</h3></span>
{% endblock %}

{% block nav_links %}
<a href="/"><button class="secondary"><i class="material-icons">home</i>Knotters</button></a>
<a href="{% url 'account_login' %}?next={{request.GET.next}}"><button class="positive"><i class="material-icons">login</i>Login</button>
{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center w3-light-grey">
	<h4>Be a part of a community that's always there for you.</h4>
</div>
<div class="w3-row w3-padding w3-center w3-light-grey">
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half  accent pallete">
	<form method="POST" action="{% url 'account_signup' %}">
		{% csrf_token %}
		<div>
			<button class="primary w3-padding"><a href="{% provider_login_url 'google' method='oauth2' next='/redirector?n={{request.GET.next}}' %}">Continue via Google</a></button>
			<button class="secondary w3-padding"><a href="{% provider_login_url 'github' method='oauth2' next='/redirector?n={{request.GET.next}}' %}">Continue via Github</a></button>
		</div>
		<br/>
		<h3>or create a Knotters account</h3>
		<br/>
		<div class="w3-row">
		<input type="email" name="email" placeholder="Email address" autocomplete="email" autofocus="autofocus" maxlength="150" required id="id_email" />
		<br/><br/>
		<input type="text" name="name" placeholder="Your name" autocomplete="name" maxlength="150" required id="id_name" />
		<br/><br/>
		<input type="password" name="password" placeholder="New password" autocomplete="new-password" required id="id_password1" />
		<br/><br/>
		<input type="password" name="password" placeholder="Retype password" autocomplete="new-password" required id="id_password2" />
		</div>
		<br/>
		<button class="positive" type="submit"><i class="material-icons">person_add</i>Create account</button>
		<input type="hidden" name="next" value="/redirector?n={{request.GET.next}}" />
	</form>
	<br/>
	<a href="/accounts/login?next={{request.GET.next}}">
	<button class="primary">
	<i class="material-icons">person</i>Already a member?
	</button>
	</a>
	</div>
</div>
{% block errors %}
<div class="w3-row w3-light-grey w3-padding negative-text w3-center">
{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-error">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
</div>
{%endblock%}