{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load socialaccount %}
{% load custom_tags %}

{% block og_url %}{{URLS.Auth.SIGNUP}}{% endblock %}
{% block og_title %}{% trans "Join community" %}" %}{% endblock %}
{% block og_site_name %}{% trans "Join community" %}" %}{% endblock %}

{% block tw_url %}{{URLS.Auth.SIGNUP}}{% endblock %}
{% block tw_title %}{% trans "Join community" %}" %}{% endblock %}
{% block tw_site_name %}{% trans "Join community" %}{% endblock %}
{% block title %}{% trans "Join community" %}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Join community" %}{% endblock %}
{% block nav_auth_links %}{% endblock %}
{% block nav_auth_signup %}{% endblock %}

{% block content %}

<div class="w3-row w3-padding w3-center tertiary">
	<img src="{{ICON}}" width="50" class="darkimg" />
	<h4>{% trans "Be a part of a community that's always there for you." %}</h4>
</div>
<br/>
<div class="w3-row w3-padding w3-center">
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half accent pallete">
		<div class="w3-row">
			<div class="w3-col w3-half">
				<br/><br/>
				{% get_providers as socialaccount_providers %}
				{% for provider in socialaccount_providers %}
					<br/>
					{% with next=request.GET.next|or:URLS.ROOT %}
						{% with x=URLS.REDIRECTOR|getquery:"n:"|add:next %}
						<a class="w3-row hide-beta"
                                                     {% if provider.id != 'github' %}
                                                      href="{% filter urldecode %}{% provider_login_url provider.id method='oauth2' next=x %}{% endfilter %}"
                                                     {% else %}
                                                      href="{% filter urldecode %}{% provider_login_url provider.id method='oauth2' scope='read:org' next=x %}{% endfilter %}"
                                                     {% endif %}
                                                 >
							<button class="w3-padding {% if provider.id == 'github' %}secondary{% elif provider.id == 'discord' %}tertiary{% else %}primary{% endif %}">
								{% with logo="graphics/thirdparty/"|add:provider.id|add:".png" %}
									<img src="{% static logo %}" width="{% if provider.id == 'discord' %}20{% else %}25{% endif %}" {% if provider.id == 'github' %}class="darkimg-static"{% endif %} />
									&nbsp;{% trans "Continue via" %} {{provider.name}}
								{% endwith %}
							</button>
						</a>
						{% endwith %}
					{% endwith %}
				{% endfor %}
				<br/>
				<h4>{% trans "Already a member?" %}</h4>
				<a class="w3-row" href="{% url 'account_login' %}?{{redirect_field_name}}={{request.GET.next}}">
					<button class="primary" data-icon="login">{% trans "Existing Login" %}</button>
				</a>
			</div>
			<div class="w3-col w3-half">
				<form method="POST" action="{% url 'account_signup' %}?{{redirect_field_name}}={{request.GET.next}}" enctype="multipart/form-data">
					{% csrf_token %}
					<br/>
					<h3>{% trans "or create a" %}<br/>{{APPNAME}} {% trans "account" %}</h3>
					<br/>
					{% for field in form %}
						{{ field }}
						<br/><br/>
					{% endfor %}
					<button class="positive recaptcha-protected-form-action" type="submit" class="g-recaptcha" data-sitekey="{{RECAPTCHA_KEY}}" data-action='submit' data-icon="person_add" id="sign-up-action">{% trans "Create account" %}</button>
					<input type="hidden" name="{{redirect_field_name}}" value="{{URLS.REDIRECTOR}}?n={{request.GET.next}}" />
				</form>
				<br/>
			</div>
		</div>
	</div>
</div>
<br/>
<center class="w3-padding">
<strong>{% trans "By continuing via an identity on our platform" %}, {% trans "you agree to our" %} <a onclick="newTab('{{URLS.Docs.TYPE|params:'termsofservice'}}')" target="_blank">{% trans "terms of service" %}</a> {% trans "and" %} <a onclick="newTab('{{URLS.Docs.TYPE|params:'privacypolicy'}}')" target="_blank">{% trans "privacy policy" %}</a>.</strong>
</center>
<br/>
{% endblock %}

{% block scripts %}
<script>
 {% if request.GET.next != URLS.ROOT and request.GET.next %}
  message("Please signup to continue")
 {% endif %}
</script>
{% endblock %}
