{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Signup closed{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Signup suspended</h3></span>
{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
<i class="material-icons w3-jumbo">construction</i>
<h1>Sign Up unavailable</h1>
<h4>We are sorry, but sign up is currently suspended.</h4>
</div>
{% endblock %}
