{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load socialaccount %}
{% load custom_tags %}

{% block title %}{% trans "Email verification" %}{% endblock %}

{% block nav_text %}{% trans "Email Verification" %}{% endblock %}
{% block nav_auth_links %}{% endblock %}
{% block nav_noauth_links %}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
<i class="w3-jumbo">hourglass_top</i>
<h1>{% trans "Verify your email address." %}</h1>
<br/>
<h5>{% trans "This part of the site requires us to verify that
you are who you claim to be." %}<br/>
{% trans "For this purpose, we require that you
verify ownership of your e-mail address." %}</h5>
<br/>
<span class="positive-text">{% blocktrans %}We have sent an email at <strong>{{user}}</strong> for
verification.{% endblocktrans %} {% trans "Please click on the link inside that email." %}</span>
<br/><br/>
<h4>If your email address is not correct, then</h4>
<br/>
<button onclick="miniWindow('{% url 'account_email' %}')" class="accent" data-icon="edit">{% trans "Change email address" %}</button>
</div>
<br/>
{% endblock %}
