{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}
{% load socialaccount %}

{% block title %}{% trans "Verification" %}{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{% trans "Verification" %}{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
	<div class="w3-padding"><i class="accent-text w3-jumbo">mark_email_unread</i></div>
	<h1>{% trans "Check your mailbox." %}</h1>
  <br/>
  <h3>{% trans "We've sent you a link to verify your authenticity." %}</h3>
  <h4>{% trans "Use that link to verify your email address." %}</h4>
  <h6>{% trans "Check your spam folder too, just in case." %}</h6>
  <br/>
  <strong>{% trans "Your account will be deleted if you don't verify your primary email address under 3 days." %}</strong><br/><br/>
  <a href="{{URLS.Auth.LOGIN}}"><button class="accent window-close-action" data-icon="done">{% trans "Okay" %}</button></a>
</div>
<br/>
{% endblock %}
