{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Email verification{% endblock %}

{% block nav_href %}{% url 'account_login' %}{% endblock %}
{% block nav_icon %}
  <button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %}
{% block nav_text %}Email Verification{% endblock %}
{% block nav_auth_links %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center">
<h1>Verify your email address.</h1>

{% url 'account_email' as email_url %}

<h5>This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. </h5>
<br/>
<span>We have sent an e-mail to you for
verification. Please click on the link inside that e-mail.</span>
<br/><br/>
<h4>If your email address is not correct, then</h4>
<br/>
<a href="{{ email_url }}"><button class="accent">Change email address</button></a>
</div>

{% endblock %}
