{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>verified email required</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>verified email required</h3></span>
{% endblock %}

{% block nav_links %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'account_logout' %}"><button class="positive"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
  {% endif %}
{% endblock %}



{% block content %}
<h1>"Verify Your E-mail Address"</h1>

{% url 'account_email' as email_url %}

<p>This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. </p>

<p>We have sent an e-mail to you for
verification. Please click on the link inside this e-mail. Please
contact us if you do not receive it within a few minutes.</p>

<p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.</p>


{% endblock %}
