{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row w3-padding">
<div class="w3-row pallete-slab ">
   <div class="w3-col w3-half">
      <h4 class="dead-text">Email addresses</h4>
         <button class="accent mini-window-action" data-url="{% url 'account_email' %}" data-icon="open_in_new">{% trans "Email addresses" %}</button>
      <h4 class="dead-text">Personal nickname</h4>
      <div id="view-nickname">
         @{{request.user.profile.get_nickname}} (<a class="click-to-copy">{{SITE}}{{request.user.profile.get_short_link}}</a>)
      <i class="edit-action" data-edittarget="nickname">edit</i>
      </div>
      <div id="edit-nickname">
      <form method="POST" action="{{URLS.NICKNAMEEDIT}}">
      {% csrf_token %}
      <input class="primary" type="text" autocomplete="nickname" autocapitalize placeholder="Your nickname" maxlength="70" required
       value="{{request.user.profile.get_nickname}}" name="nickname" id="nickname" />
      <button id="save-edit-nickname"><i class="material-icons">done</i>Save</button>
      <button id="discard-edit-nickname"><i class="material-icons">close</i>Discard</button>
      </form>
   </div>
      <h4 class="dead-text">Personal Emoticon</h4>
         Coming soon.
      <h4 class="dead-text">Password</h4>
         <button class="accent mini-window-action" data-url="{% url 'account_change_password' %}" data-icon="open_in_new">{% trans "Change Password" %}</button>
         <button class="primary mini-window-action" data-url="{% url 'account_reset_password' %}" data-icon="open_in_new">{% trans "Forgot Password" %}</button>
      <h4 class="dead-text">Linked accounts</h4>
         <button class="primary mini-window-action" data-url="{% url 'socialaccount_connections' %}" data-icon="open_in_new">{% trans "Linked Accounts" %}</button>
   </div>
   <div class="w3-col w3-half">
      <h4 class="dead-text">Phone numbers</h4>
         Coming soon.
      <h4 class="dead-text">Birthday</h4>
         Coming soon.   
      {% if request.user.profile.is_moderator %}
      <h4 class="dead-text">Moderation</h4>
      <div class="w3-left">
         <button id="leavemod" class="negative w3-large w3-animate-zoom w3-hover-opacity">{% trans "Leave Moderation" %}</button>
      </div>
       
      {% endif %}
      {% if request.user.profile.is_mentor %}
      <h4 class="dead-text">Mentorship</h4>
         Coming soon.
      {% endif %}
      {% if request.user.profile.is_manager %}
      <h4 class="dead-text">Management</h4>
         Coming soon.
      {% endif %}
   </div>
</div>
</div>
