{% extends 'account/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load account %}
{% load socialaccount %}
{% load custom_tags %}

{% block themecolor %}{{ request.user.profile.theme }}{% endblock %}

{% block nav_href %}{{request.user.profile.get_link}}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_back_theme %}primary{% endblock %}

{% block nav_style %}{{ request.user.profile.theme }}{% endblock %}
{% block nav_text_style %}{{ request.user.profile.text_theme }}{% endblock %}


{% block nav_auth_user %}
    <a href="{% url 'account_logout' %}?next={{request.path}}"><button class="negative" data-icon="logout"><span class="w3-hide-small">{% trans "Logout" %}</span></button></a>
{% endblock %}

{% block content%}
<br/>
<div class="w3-row w3-center">
    <a href="{{request.user.profile.get_link}}">
        <img src="{{request.user.profile.get_dp}}" class="w3-card w3-circle xyz-in" width="100" style="border:4px solid var(--{{request.user.profile.theme}})" alt="{{request.user.get_name}}" />
    </a>
        <h4>{{request.user.get_name}}</h4>
    <strong class="text-medium dead-text">{{request.user.email}}</strong>
</div>
<br/>
<div class="w3-row w3-center">
    <button class="auth-nav-tab" id="account" data-icon="manage_accounts"><span class="w3-hide-small">Account</span></button>
    <button class="auth-nav-tab" id="device" data-icon="devices"><span class="w3-hide-small">Application</span></button>
    <button class="auth-nav-tab" id="preference" data-icon="tune"><span class="w3-hide-small">Preference</span></button>
    <button class="auth-nav-tab" id="notification" data-icon="notifications"><span class="w3-hide-small">Notification</span></button>
    {% if request.user.profile.is_manager %}
    <button class="auth-nav-tab" id="management" data-icon="business"><span class="w3-hide-small">Management</span></button>
    {% endif %}
    <button class="auth-nav-tab" id="security" data-icon="security"><span class="w3-hide-small">Security</span></button>
</div>
<br/>
<div class="w3-row">
    <div id="tabview"></div>
</div>
<br/>
{% endblock %}

{% block scripts %}
<script nonce="{{request.csp_nonce}}" src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.INDEX}}?tab={{request.GET.tab}}"></script>
{% endblock %}

{% block ext_scripts %}
{% endblock %}
