<div class="w3-row text-large w3-padding">
We conduct and host competitions in which anyone can participate.
Most of our competitions are based & targeted on real world problems, and not money oriented.
However, perks & prizes are involved.
 <br/><br/>
 You earn a flex-able certificate upon successfull participation in any active competition at Knotters, judges and moderators get these too.
<br/>You can also earn massive amount of XPs from our competitions
<br/>Winner's submission gets a free chance to be converted into a vertified project on {{APPNAME}}.
</div>