<div class="w3-row text-large w3-padding">
 Mentors are the people who, during peacetime,
 guide projects through their knowledge and expertise in the domain of concerned project.
 By 'during peacetime', we meant when they are not involved in any competitions.
 <br/><br/>
 Mentors of our platform are the only ones with the required expertise to be eligble to be a judge of competition.
 Mentors too have XPs, topics and growth on this platform, just like the moderators have, just like everyone has.
</div>