<div class="w3-row text-large w3-padding">
To review and manage verified projects submissions, a category of users at {{APPNAME}} are called the moderators.
<br/>The project assigned to a moderator is assigned according to their area of expertise, which is interpreted from their overall contribution record on Knotters.
<br/><br/>A moderator helps a project reach new heights if approved.
<br/>A moderator is also contributes in competitions on behalf of the hosting authority, and receives great amout of XPs from them.
</div>