{% extends 'projects/license/index.html' %}
{% load static %}
{% load cache %}
{% load i18n %}
{% load custom_tags %}

{% block og_url %}{{license.getLink}}{% endblock %}
{% block og_title %}{{license.name}}{% endblock %}
{% block og_description %}{{license.description}}{% endblock %}
{% block og_site_name %}{{license.name}}{% endblock %}

{% block tw_url %}{{URLS.ALLLICENSES}}{% endblock %}
{% block tw_title %}{{license.name}}{% endblock %}
{% block tw_description %}{{license.description}}{% endblock %}

{% block title%}{{license.name}}{%endblock%}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{{license.name}} License{% endblock %}
{% block nav_href%}{{URLS.ALLLICENSES}}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding">
    <div class="w3-row w3-padding">
        {% if not license.isCustom %}
        {% cache CACHE_LONG license_heading license.id %}
        <h1>{{license.name}}</h1>
        <strong>{{license.description}}</strong>
        {% endcache %}
        {% else %}
        <h1>{{license.name}}</h1>
        <strong>{{license.description}}</strong>
        {% endif %}
        <br/><br/>
        <h3>CONTENT</h3>
        <div class="w3-col" style="white-space: pre-wrap; word-wrap: break-word;">
        {% if not license.isCustom %}
        {% cache CACHE_LONG license_content license.id %}
            <code>{{license.content|safechars}}</code>
        {% endcache %}
        {% else %}
        {% cache CACHE_SHORT license_content license.id %}
            <code>{{license.content|safechars}}</code>
        {% endcache %}
        {% endif %}
        </div>
    </div>
<br/>
    {% if not license.isCustom %}
    {% cache CACHE_MAX license_source %}
    <center><strong><span class="dead-text">Source:</span> <a href="http://choosealicense.com/" target="_blank" rel="noreferrer">choosealicense.com</a> </strong></center>
    {% endcache %}
    {% else %}
    {% cache CACHE_MICRO license_source license.id %}
    <center><strong><span class="dead-text">{% blocktrans %}This license is not provided by {{APPNAME}}, and may require modification to use, and permission from {% endblocktrans %}<a target="_blank" href="{{license.creator.getLink}}">creator</a>.</strong></center>
    {% endcache %}
    {% endif %}
</div>
<br/>
{% endblock %}