{% extends 'projects/license/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block og_url %}{{license.getLink}}{% endblock %}
{% block og_title %}{{license.name}}{% endblock %}
{% block og_description %}{{license.description}}{% endblock %}
{% block og_site_name %}{{license.name}}{% endblock %}

{% block tw_url %}{{URLS.ALLLICENSES}}{% endblock %}
{% block tw_title %}{{license.name}}{% endblock %}
{% block tw_description %}{{license.description}}{% endblock %}

{% block title%}{{license.name}}{%endblock%}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{{license.name}} {% trans "License" %}{% endblock %}
{% block nav_href%}{{URLS.ALLLICENSES}}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding">
    <div class="w3-row w3-padding">
        <h1>{{license.name}}</h1>
        <strong>{{license.description}}</strong>
        <br/>
        <h6>Applies to <a href="{{URLS.PROJECTS}}?search=license:{{license.name}}">{{license.totalprojects}} project{{license.totalprojects|pluralize}}</a></h6>
        <br/>
        <h3>CONTENT</h3>
        <div class="w3-col" style="white-space: pre-wrap; word-wrap: break-word;">
        {% if not license.isCustom %}
        {% cache CACHE_LONG license_content license.id %}
            <code>{{license.content|safechars}}</code>
        {% endcache %}
        {% else %}
        {% cache CACHE_SHORT license_content license.id %}
            <code>{{license.content|safechars}}</code>
        {% endcache %}
        {% endif %}
        </div>
    </div>
<br/>
    {% if license.public %}
        <center><strong><span class="dead-text">
            {% if license.creator == knotbot %}
                {% trans "Source" %}:</span> <a href="http://choosealicense.com/" target="_blank" rel="noreferrer">choosealicense.com</a> 
            {% else %}
                <center><strong><span class="dead-text">{% blocktrans with license.creator.getLink as creatorlink %}This license is not provided by {{APPNAME}}, and may require modification to use, and permission from <a target="_blank" href="{{creatorlink}}">creator</a>{% endblocktrans %}.</strong></center>
            {% endif %}
        </strong></center>
    {% else %}
        <center><strong><span class="dead-text">{% blocktrans %}This license is not intended to be used in open source projects.</a>{% endblocktrans %}</strong></center>
    {% endif %}
</div>
<br/>
{% endblock %}
{% block scripts %}
{% endblock %}
