.vscode/
.idea/
*.bat
*.exe
.env
.env.*
!.env.example
runserver
migrate
makemigrations
*.sqlite3
__pycache__
createsuperuser
migrations
qcluster
media/
static/admin
py
*.apk
nginx_waitress
runserver.py
main/__version__.py
_backup_/
_utils_/
*.gpg
bin/
run/
_logs_/
.coverage
htmlcov/
.history/
*.rdb
__static__
templates/certificate.jpg