.vscode/
.idea/
*.bat
*.exe
*.sh
.env
.env.*
media/
!.env.example
runserver
migrate
makemigrations
*.sqlite3
__pycache__
createsuperuser
migrations
qcluster
static/admin
static/webpush
py
*.apk
nginx_waitress
runserver.py
main/__version__.py
main/__refresh__.py
_backup_/
_utils_/
*.gpg
bin/
run/
_logs_/
.coverage
htmlcov/
.history/
*.rdb
media/
__static__
templates/certificate*.jpg
media/
*.mo
*.sh
*.ps1
*.pyc
*.pyo
*.egg-info
*.egg
templates/**/*.py
static/*.py
media/*.py
*.log
makemessages
compilemessages
knottrans/
locale/
prod/
first_pro/
log.*
knotters_env/
knotts_env/
.DS_Store
knotters-env
*.swp
lib/
lib64
*.cfg
share/
