{% extends 'index.html' %}

{% block title %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block nav_text %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block nav_href %}{{URLS.ROOT}}{% endblock %}

{% block content %}

<div class="w3-row w3-padding">
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.COMPETITIONS}}">
            <div class="w3-row pallete accent">
                <h4>Manage Competitions</h4>
                <stong>Result declaration, certificate allotment, blah blah.</stong>
                <i class="w3-right">arrow_forward</i>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding" hidden>
        <a href="{{URLS.REPORT_FEED}}">
            <div class="w3-row pallete accent">
                <h4>Reports & Feedbacks</h4>
                <stong>Reports, guideline violations & stuff</stong>
                <i class="w3-right">arrow_forward</i>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.COMMUNITY}}">
            <div class="w3-row pallete accent">
                <h4>Manage People</h4>
                <stong>Labels, moderators, & whatnot.</stong>
                <i class="w3-right">arrow_forward</i>
            </div>
        </a>
    </div>
</div>

{% endblock %}
