{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block themecolor %}vibrant{% endblock %}

{% block title %}Management{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}
{% block nav_back_theme %}primary{% endblock %}

{% block nav_noauth_management %}{% endblock %}

{% block nav_text %}{% trans "Management" %}{% endblock %}

{% block nav_href %}{{URLS.ROOT}}{% endblock %}

{% block content %}

<div class="w3-row w3-padding">
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.COMPETITIONS}}">
            <div class="w3-row pallete active">
                <i class="w3-right">arrow_forward</i>
                <h4>Manage Competitions</h4>
                <stong>Result declaration, certificate allotment, blah blah.</stong>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.COMMUNITY}}">
            <div class="w3-row pallete accent">
                <i class="w3-right">arrow_forward</i>
                <h4>Manage People</h4>
                <stong>Labels, moderators, & whatnot.</stong>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.REPORT_FEED}}">
            <div class="w3-row pallete negative-text">
                <i class="w3-right">arrow_forward</i>
                <h4>Reports</h4>
                <stong>Reports, guideline violations against your people</stong>
            </div>
        </a>
    </div>
</div>
    <br/>
<center>You can add people to your management from your profile.</center>
{% endblock %}

{% block scripts %}
{% endblock %}