{% extends 'index.html' %} 
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load custom_tags %}

{% block meta_description %}Meet the people you share this platform with. Who knows maybe you'd find an interesting project in a not-so-strange profile? Who knows.{% endblock %}
{% block og_url %}{{URLS.PEOPLE}}{% endblock %}
{% block og_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block og_description %}Meet the people you share this platform with. Who knows maybe you'd find an interesting project in a not-so-strange profile? Who knows.{% endblock %}
{% block og_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block tw_url %}{{URLS.PEOPLE}}{% endblock %}
{% block tw_title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block tw_description %}Meet the people you share this platform with. Who knows maybe you'd find an interesting project in a not-so-strange profile? Who knows.{% endblock %}
{% block tw_site_name %}{{SUBAPPNAME|capfirst}}{% endblock %}

{% block title %}{{SUBAPPNAME|capfirst}}{% endblock %}
{% block nav_href %}/{% endblock %}

{% block nav_noauth_people %}{% endblock %} 

{% block content %}
<br/>
<div class="w3-row w3-center w3-padding-32 welcome-row">
  <br/><br/>
  <h1>Community</h1>
  <br/>
  <div class="w3-row w3-padding">
  <h4>
    Meet the people you share this platform with.<br/>
	Who knows maybe you'd find an interesting project in a not-so-strange profile? Who knows.
  </h4>
  </div>
  <div class="w3-row">
    <a href="#mainframe"><button class="display-button accent">
        <i class="material-icons">group_work</i>Explore
      </button>
    </a>
    <a href="{{URLS.APPLANDING|params:SUBAPPNAME}}" hidden>
      <button class="secondary display-button">
        <i class="material-icons">open_in_new</i>Learn More
      </button>
    </a>
  </div>
</div>

<div class="w3-row tertiary" id="mainframe">
	<div class="w3-row tertiary w3-padding">
	  <div class="w3-col w3-twothird">
      <input class="wide primary" placeholder="Type to search for people" />
    </div>
	  <div class="w3-col w3-third w3-padding-small">
    <button class="negative w3-right" data-icon="close"></button>
    <button class="positive w3-right" data-icon="search"></button>
    </div>
  </div>
	<div class="w3-row accent browser-view" data-type="new-profiles" id='newbie-profiles-view'>
  </div>
</div>
{% endblock %}
