{% extends 'people/index.html' %} 
{% load static %} {% load i18n %} 
{% load l10n %} 
{% load account %} 
{% load socialaccount %}

{% block title %}{{person.first_name}} {{person.last_name}} &#183;
{{appname}}
{% endblock %}
  
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/people/profile.css' %}" />
{% endblock %}

{% block nav_icon %}
<button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %} 
    
{% block nav_text %}{{person.first_name}}{{person.last_name}}{% endblock %} 
    
{% block nav_auth %}{% endblock %}

{% block content %}

    <div class="w3-row tertiary" style="padding-top: 1.5rem;">
      <div class="w3-col w3-container m4 l3">
        <div class="pallete-profile" style="padding: 0; padding-bottom: 12px;">
          <img
            src="/media{{ person.profile_pic }}"
            alt="{{person.first_name}}"
          />

          <div style="display: flex; justify-content: center;">
            <p class="person-name" id="person-name" contenteditable="false">
              {{ person.first_name }} {{ person.last_name }}
            </p>
            <p id="edit-icon">
              <i class="material-icons">edit</i>
            </p>
          </div>
          <button
            id="edit-confirmation"
            type="button"
            style="display: none;"
          ></button>
        </div>

        <div class="pallete-profile">
          <p>Email ID: <span>{{ person.email }}</span></p>
          <!--<p>User ID: <span >{{ person.id }}</span></p>-->
        </div>

        <div class="pallete-profile">
          <p>Date joined: <span>{{ person.date_joined }}</span></p>
          <p>Last login: <span> {{ person.last_login }}</span></p>
        </div>

        {% if person.is_moderator %} moderator {% endif %}
      </div>

      <div class="w3-col w3-container m8 l9">
        <div class="pallete-profile" style="height: 115vh; overflow-y: scroll;">
          <div class="w3-bar">
            <a
              class="w3-bar-item w3-teal nav-tab"
              onclick="openTab(event,'overview')"
              ><i class="material-icons">person</i>Overview</a
            >
            <a class="w3-bar-item nav-tab" onclick="openTab(event,'project')"
              ><i class="material-icons">workspaces</i>Project</a
            >
            <a
              class="w3-bar-item nav-tab"
              onclick="openTab(event,'contribution')"
              ><i class="material-icons">groups</i>Contribution</a
            >
            <a class="w3-bar-item nav-tab" onclick="openTab(event,'activity')"
              ><i class="material-icons">history</i>Activity</a
            >
          </div>
          <hr />

          <div class="loader" id="loader"></div>

          <div id="overview" class="w3-container tab">
            <h2>Hello</h2>
          </div>

          <div id="project" class="w3-container tab" style="display: none;">
            <h2>Hi</h2>
          </div>

          <div
            id="contribution"
            class="w3-container tab"
            style="display: none;"
          >
            <h2>morning</h2>
          </div>

          <div id="activity" class="w3-container tab" style="display: none;">
            <h2>Night</h2>
          </div>
        </div>

        <div class="pallete-profile">
          <h3><i class="material-icons">settings</i>Account settings</h3>
        </div>

        <div style="margin: 2rem 0; text-align: right;">
          <a href="{% url 'account_logout' %}"
            ><button class="negative">
              <i class="material-icons">logout</i>Logout
            </button></a
          >
        </div>
      </div>
    </div>

{% block scripts %}
<script
src="{% static 'scripts/people/profile.js' %}"
type="text/javascript"
></script>
{% endblock %} 
{% endblock %}