{% extends "people/index.html" %}

{% load static %}
{% load i18n %} 
{% load l10n %}
{% load tz %}
{% load cache %}
{% load account %} 
{% load socialaccount %}
{% load custom_tags %}


{% block meta_description %}{{ person.profile.getBio }}{% endblock %}
{% block og_url %}{{person.profile.getLink}}{% endblock %}
{% block og_title %}{{person.getName}}{% endblock %}
{% block og_description %}{{ person.profile.getBio }}{% endblock %}
{% block og_site_name %}{{person.getName}}{% endblock %}
{% block og_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}

{% block ld_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}

{% block tw_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}
{% block tw_url %}{{person.profile.getLink}}{% endblock %}
{% block tw_title %}{{person.getName}}{% endblock %}
{% block tw_description %}{{ person.profile.getBio }}{% endblock %}
{% block tw_site_name %}{{person.getName}}{% endblock %}
{% block title %}{{person.getName}}{% endblock %}

{% block themecolor %}{{ person.profile.theme }}{% endblock %}
{% block nav_href %}{{ROOT}}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_back_theme %}primary{% endblock %}

{% block nav_text %}{{person.getName}}{% endblock %}   
{% block nav_style %}{{ person.profile.theme }}{% endblock %}
{% block nav_text_style %}{{ person.profile.text_theme }}{% endblock %}

{% block nav_auth_user %}
  {% if self %}
    <a href="{{ URLS.AUTH }}"><button class="primary" id="new-settings-action"><i class="">settings</i><span class="w3-hide-small">{% trans "Settings" %}</span></button></a>
    <a href="{% url 'account_logout' %}?next={{request.path}}"><button class="negative" data-icon="logout"><span class="w3-hide-small">{% trans "Logout" %}</span></button></a>
  {% elif not self and request.user.is_authenticated %}
    <a href="{% if request.user.profile %}{{request.user.profile.getLink}}{% else %}{{request.user.getLink}}{% endif %}"><button title="Logged in as {{request.user.profile.getName}}" class="accent"><img src="{{request.user.profile.getDP}}" id="navbarprofilepic" /></button></a>
  {% else %}
      {% block nav_auth_login %}
      <a href="{% url 'account_login' %}?next={{request.path}}"><button title="Login" class="accent" data-icon="login"><span class="w3-hide-small">{% trans "Login" %}</span></button></a>
      {% endblock %}
      {% block nav_auth_signup %}
      <a href="{% url 'account_signup' %}?next={{request.path}}"><button title="Signup" class="positive" data-icon="person_add"><span class="w3-hide-small">{% trans "Join" %}</span></button></a>
      {% endblock %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="w3-row">
  {% if self and not request.user.profile.is_active %}
    <br/>
    <div class="w3-row w3-center w3-padding">
      <i class="w3-jumbo negative-text">toggle_off</i>
      <h2>{% trans "Your account is currently deactived." %}</h2><br/>
      <h3>{% trans "This means your profile is currently not visible to anyone in the world." %}</h3>
      {% if request.user.profile.suspended %}
      <strong>{% trans "Your profile is currently suspended. We must have emailed you regarding this, please check your inbox." %}</strong>
      {% else %}
      <h5>{% trans "If you have changed your mind, then you can reactivate your account." %}</h5>
      <button class="big-button positive" data-icon="restart_alt" id="reactivateaccount">{% trans "Re-activate my account" %}</button><br/><br/>
      <strong>{% trans "You'll have to login again after reactivating." %}</strong>
      {% endif %}
    </div>
    <br/>
    <br/>
  {% else %}
    <div class="w3-row tertiary">
      {% if self and not request.user.profile.on_boarded %}
        <div class="w3-row positive w3-padding w3-center">
          <span>You have not completed on-boarding yet. <a href="{{URLS.ON_BOARDING}}" class="text-positive underline">Click here to do so</a>, and gain free profile XP!</span>
        </div>
      {% endif %}
      <br/>
      <div class="w3-col w3-container m4 l3 w3-animate-left">
        <div class="pallete w3-center w3-animate-zoom" style="padding: 0" id="view-pallete">
          
          <img class="primary preview-type-image" src="{{ person.profile.getDP }}" alt="{{ person.getName }}" />
          
          <div class="w3-row w3-padding">
            <h5 style="{% if person.profile.has_labels %}margin:4px{% endif %}" class="{% if person.profile.is_verified %}align{% endif %}">{{ person.getName }}{% if person.profile.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
            {% for label in person.profile.get_labels %}
              <a href="{{URLS.PEOPLE}}?search=type:{{label.text}}"><strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong></a>
            {% endfor %}
            {% if person.profile.has_labels %}<br/>{% endif %}
            <span>{{ person.profile.getBio }}</span>
          </div>
          <div class="w3-row w3-padding-small">
          <i class="w3-left pointer navigator-share-action" 
            data-title="{{ person.getName }}"
            data-text="{{ person.profile.getBio|or:'Checkout this profile!' }}"
            data-url="{{ person.profile.getLink }}"
            >share</i>
          {% if self %}
            <i class="edit-action w3-right" data-edittarget="pallete">edit</i>
          {% else %}
            <strong class="w3-right w3-tiny"><br/>{{person.profile.getXP}}</strong>
          {% endif %}
          {% if person.profile.totalAllTopics %}
            <a href="{{URLS.PEOPLE}}?search=topic:{{person.profile.getAllTopics.0}}"><button class="small {{person.profile.theme}} {{person.profile.text_theme}}">{{person.profile.getAllTopics.0.name}}</button></a>
          {% endif %}
          </div>
        </div>

        {% if self %}
          <div class="pallete w3-center w3-animate-opacity" id="edit-pallete">
            <img class="primary" src="{{ person.profile.getDP }}" alt="{{ person.getName }}" id="profilePicOutput" style="opacity:0.5" />
            <input type="file" id="uploadprofilepic" hidden accept="image/png, image/jpg, image/jpeg" />
            <button class="{% if person.profile.is_moderator %}accent{% elif person.profile.is_mentor %}active{% else %}positive{% endif %} small" type="button" id="upload-button">
              <i class="material-icons">upload</i>
              <label id="uploadprofilepiclabel" for="uploadprofilepic">Select Image</label>
            </button>
            <br/>
            <form method="POST" action="{{URLS.PROFILEEDIT|params:'pallete'}}">
              {% csrf_token %}
              <input type="text" hidden id="profileImageData" name="profilepic" value="" />
              <div class="w3-row w3-padding">
                <input type="text" autocomplete="name" autocapitalize placeholder="Your name" maxlength="70" required value="{{request.user.getName}}" name="displayname" /><br/><br/>
                <textarea type="text" class="wide" placeholder="Bio" autocomplete="nickname" maxlength="300" name="profilebio" >{{ request.user.profile.getBio }}</textarea><br/>
              </div>
              <button id="save-edit-pallete"><i class="material-icons">done</i>Save</button>
              <button id="discard-edit-pallete"><i class="material-icons">cancel</i>Discard</button>
            </form>
          </div>

        {% endif %}
        <br />
        
        <div class="w3-row w3-padding-small">
        {% if is_manager %}
            {% if has_ghID and not gh_orgID and self %}
              <button class="secondary" id="link-gh-org-mgm"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20" />&nbsp;Link GitHub organization</button></a>
            {% elif gh_orgID %}
              <a target="_blank" rel="noreferrer" href="{{person.profile.management.get_ghorgUrl}}"><button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20" />&nbsp;{{gh_orgID}}</button></a>
              {% if self %}<button class="small primary" data-icon="edit" id="link-gh-org-mgm"></button>{% endif %}
            {% endif %}
        {% elif has_ghID %}
            <a target="_blank" rel="noreferrer" href="{{person.profile.getGhUrl}}"><button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20" />&nbsp;{{person.profile.ghID}}</button></a>
        {% endif %}
        </div>
        <br />

        <div class="w3-row w3-padding-small">
        <a id="show-admirations"><strong>{{ person.profile.total_admiration }} admirer{{ person.profile.total_admiration|pluralize }}</strong></a>
        {% if not self%}
        {% if request.user.is_authenticated %}
            <form method="POST" action="{{ URLS.TOGGLE_ADMIRATION|params:person.get_id }}">
                {% csrf_token %}
                <input type="hidden" value="{% if is_admirer %}false{% else %}true{% endif %}" name="admire" />
                <button type="submit" class="w3-right {% if is_admirer %}positive{% else %}primary{% endif %}" data-icon="volunteer_activism"></button>
            </form>
        {% else %}
            <a href="{{URLS.Auth.LOGIN}}?next={{request.path}}"><button class="w3-right primary" data-icon="volunteer_activism"></button></a>
        {% endif %}
        {% endif %}
        </div>
        <br/>
        <div class="w3-row pallete">
            <center><h5 class="align"><i>open_in_new</i>&nbsp;Links</h5></center>
            <div class="" id="view-sociallinks">    
                {% for site in person.profile.socialsites %}
                    <a class="" href="{{site.site}}" target="_blank" rel="noreferrer">
                        <div class="pallete-slab align w3-left positive-text">
                        <i class="w3-large">open_in_new</i>&nbsp;<strong>{{site.site|noprotocol|truncatechars:30}}</strong>
                        </div>
                    </a>
                {% empty %}
                    <br/>
                    <center class="dead-text">
                        <div class="w3-jumbo material-icons">link_off</div>
                        <h5>No links</h5>
                    </center>
                {% endfor %}
                {% if self %}
                    <div class="w3-row">
                    <i class="material-icons edit-action w3-right" data-edittarget="sociallinks">edit</i>
                    </div>
                {% endif %}
            </div>
            {% if self %}
            <div class="w3-center" id="edit-sociallinks" hidden>
                <form method="POST" action="{{URLS.PROFILEEDIT|params:'sociallinks'}}">
                {% csrf_token %}
                <div id="edit-sociallinks-inputs">
                {% for site in person.profile.socialsites %}
                    <div>
                        <input type="url" class="wide"  placeholder="Link to anything relevant" value="{{site.site}}" name="sociallink{{forloop.counter}}" id="sociallink{{forloop.counter}}" /><br/><br/>
                    </div>
                {% endfor %}
                </div>
                <br/>
                <button class="primary" type="button" id="sociallinks-add" data-icon='add'>Add link</button><br/><br/>
                <button id="save-edit-sociallinks" data-icon="done">{% trans "Save" %}</button>
                <button id="discard-edit-sociallinks" data-icon="close">{% trans "Discard" %}</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br/>

        {% if self %}
        <div class="w3-row pallete">
          <strong class="dead-text">This is currently private to you only.</strong>
          <p><b>{% trans "Email ID" %}</b> <span>{{ person.email }}</span></p>
          <p><b>{% trans "Date joined" %}</b> <span>{{ person.date_joined }}</span></p>
          <p><b>{% trans "Last login" %}</b> <span> {{ person.last_login }}</span></p>
        </div>
        <br />
        {% endif %}

		{% if not self and request.user.is_authenticated %}
        <div class="w3-row">
        <button class="small tertiary negative-text" data-icon="block" id='block-account'>{% trans "Block" %}</button>
        <button class="small tertiary negative-text" data-icon="report" id='report-account'>{% trans "Report" %}</button>
        </div>
        <br />
		{% endif %}
      </div>
      <div class="w3-col w3-container m8 l9 ">
        <div class="pallete w3-animate-bottom" style="min-height: 75vh;">
          <div class="w3-row w3-center w3-animate-top">
            {% if not is_manager %}
            <button title="Profile overview" id="overview" class="nav-tab" data-icon="insights"><span class="w3-hide-small">{% trans "Overview" %}</span></button>
            {% endif %}
            {% if person.profile.is_mentor %}
            <button title="Mentorship" id="mentorship" class="nav-tab" data-icon="supervisor_account"><span class="w3-hide-small">{% trans "Mentorships" %}</span></button>
            {% endif %}
            <button title="Personal projects" id="projects" class="nav-tab" data-icon="widgets"><span class="w3-hide-small">{% trans "Projects" %}</span></button>
            {% if not is_manager %}
            <button title="Acheivements" id="acheivements" class="nav-tab" data-icon="emoji_events"><span class="w3-hide-small">{% trans "Acheivements" %}</span></button>
            {% endif %}
            {% if is_manager %}
            <button title="Competitions" id="competitions" class="nav-tab" data-icon="psychology"><span class="w3-hide-small">{% trans "Competitions" %}</span></button>
            <button title="People" id="people" class="nav-tab" data-icon="group"><span class="w3-hide-small">{% trans "People" %}</span></button>
            {% endif %}
            <button title="Community Frameworks" id="frameworks" class="nav-tab" data-icon="vertical_split"><span class="w3-hide-small">{% trans "Frameworks" %}</span></button>
            {% if person.profile.is_moderator %}
            <button title="Moderation record" id="moderation" class="nav-tab" data-icon="schema"><span class="w3-hide-small">{% trans "Moderation" %}</span></button>
            {% endif %}
          </div>
          <br/>
          <div id="tabview" style="min-height:60vh;max-height:75vh;overflow-y: scroll;"></div>
        </div>

        {% if self %}
        <br/>
        <div class="w3-row pallete w3-animate-right" id="setts">
          <div class="w3-row w3-padding">
          <i class="w3-right w3-spin">settings</i><h3>{% trans "Settings" %}</h3>
          </div>
          <div class="w3-row w3-padding-small w3-center">
              <div class="material-icons w3-jumbo w3-spin">settings</div>
              <h4>Settings have been moved from here.</h4>
              <a href="{{URLS.AUTH}}"><button class="big-button positive" data-icon="open_in_new">Show new settings</button></a>
              <button class="big-button primary" onclick="highlightElementByID('new-settings-action')" data-icon="search">Find new settings button</button>
          </div>
          <br/>
        </div>
        {% endif %}
        <br/>
        <br/>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block in_scripts %}
<script>
  const userID = "{{ person.getID }}";
  const selfProfile = authenticated?"{{request.user.getID}}" === "{{person.getID}}" && activeuser:false;
  const isModerator = "{{person.profile.is_moderator}}" == 'True';
  const isMentor = "{{person.profile.is_mentor}}" == 'True';
  const isManager = "{{is_manager}}" == 'True';
  const tabindex = (Number("{{request.GET.tab}}"||-2)>-1)?Number("{{request.GET.tab}}"): false;
  {% if is_manager %}
    const mgmID = "{{person.profile.manager_id}}";
  {% endif %}

  try{
    getElement("reactivateaccount").onclick=async()=>{
      loaders()
      message("Reactivating your account...")
      const data = await postRequest(URLS.ACCOUNTACTIVATION, {
        activate: true
      });
      if(data.code===code.OK){
        success(`{% trans "Your account has been reactivated" %}`)
        return await logOut()
      }
      subLoader(false)
      loader(false)
      error(data.error)
    }
  }catch{}

{% if person.profile.is_active and not person.profile.suspended %}

  if (!selfProfile && activeuser){
    getElement('block-account').onclick=async()=>{
      blockUserView({userID, username:'{{person.profile.getName}}', userDP: '{{person.profile.getDP}}'})
    }
    getElement('report-account').onclick=async()=>{
      await violationReportDialog(URLS.REPORT_USER,{
        userID: '{{person.get_id}}',
      }, '{{person.profile.getName}}',URLS.REPORT_CATEGORIES)
      
    }
  }

  {% if self %}
    getElement('sociallinks-add').onclick=_=>{
        const parent=getElement('edit-sociallinks-inputs');
        if(parent.childElementCount===5) return message('Maximun URLs limit reached')
        const linkNumber=parent.childElementCount+1;
        const newChild=document.createElement('div');
        newChild.innerHTML = `
            <input class="wide" type="url" inputmode="url" placeholder="Link to anything relevant" name="sociallink${linkNumber}" id=sociallink${linkNumber} /><br/><br/>
        `;
        parent.insertBefore(newChild,parent.childNodes[0]);
    }
  {% endif %}

  {% if self and is_manager and has_ghID %}
  getElement("link-gh-org-mgm").onclick=_=>{
    Swal.fire({
      title:"Link GitHub organization",
      html:`
      Please make sure that you are allowed to represent your organization on Knotters by your administrators.</br></br>
      <div class="w3-row">
          <select id='selected-org-id' class="pallete-slab">
        {% for org in request.user.profile.get_ghOrgsIDName %}
            <option value="{{org.id}}">{{org.name}}</option>
        {% endfor %}
          </select>
      </div>
        `,
      icon: '',
      confirmButtonText: "Link with profile",
      showCancelButton: true,
      {% if gh_orgID %}
      showDenyButton: true,
      denyButtonText: "Unlink organization",
      {% endif %}
      preConfirm: () => {
        return getElement("selected-org-id").value;
      },
    }).then(async(result)=>{
      if(result.isConfirmed){
        const data = await postRequest2({
          path: URLS.Auth.CHANGE_GHORG,
          data: {
            newghorgID: result.value
          }
        })
        if(data && data.code==CODE.OK){
          success("GitHub organization linked")
          return refresh({})
        }
        error(data.error)
      } else if (result.isDenied){
        const data = await postRequest2({
          path: URLS.Auth.CHANGE_GHORG,
          data: {
            newghorgID: false
          }
        })
        if(data && data.code==CODE.OK){
          message("GitHub organization unlinked")
          return refresh({})
        }
        error(data.error)
      }
    })
  }
  {% endif %}
    getElement('show-admirations').onclick=async(_)=>{
        Swal.fire({ 
            html: await getRequest2({ path:setUrlParams(URLS.ADMIRATIONS, userID)}), 
            title:"<h4 class='positive-text'>Admirers</h4>"
        })
    }
{% endif %}
</script>
{% endblock %} 

{% block scripts %}
<script src="{% static 'scripts/people/profile.js' %}" type="text/javascript"></script>
{% endblock %}
