{% extends "people/index.html" %}

{% load static %}
{% load i18n %} 
{% load l10n %}
{% load tz %}
{% load cache %}
{% load account %} 
{% load socialaccount %}
{% load custom_tags %}

{% block meta_description %}{{ person.profile.getBio }}{% endblock %}
{% block og_url %}{{person.profile.getLink}}{% endblock %}
{% block og_title %}{{person.getName}}{% endblock %}
{% block og_description %}{{ person.profile.getBio }}{% endblock %}
{% block og_site_name %}{{person.getName}}{% endblock %}
{% block og_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}

{% block ld_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}

{% block tw_image_url_full %}{% if not person.profile.isRemoteDp %}{{SITE}}{% endif %}{{person.profile.getDP}}{% endblock %}
{% block tw_url %}{{person.profile.getLink}}{% endblock %}
{% block tw_title %}{{person.getName}}{% endblock %}
{% block tw_description %}{{ person.profile.getBio }}{% endblock %}
{% block tw_site_name %}{{person.getName}}{% endblock %}
{% block title %}{{person.getName}}{% endblock %}

{% block nav_href %}{{ROOT}}#mainframe{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_text %}{{person.getName}}{% endblock %}   

{% block nav_auth_user %}
  {% if user.is_authenticated and user == person %}
    <a href="{% url 'account_logout' %}?next={{request.path}}"><button class="negative" data-icon="logout"><span class="w3-hide-small">{% trans "Logout" %}</span></button></a>
  {% elif user.is_authenticated %}
    <a href="{% if user.profile %}{{user.profile.getLink}}{% else %}{{user.getLink}}{% endif %}"><button title="Logged in as {{user.profile.getName}}" class="accent"><img src="{{user.profile.getDP}}" id="navbarprofilepic" />&nbsp;{{user.profile.getFName}}</button></a>
  {% else %}
      {% block nav_auth_login %}
      <a href="{% url 'account_login' %}?next={{request.path}}"><button title="Login" class="accent" data-icon="login"><span class="w3-hide-small">{% trans "Login" %}</span></button></a>
      {% endblock %}
      {% block nav_auth_signup %}
      <a href="{% url 'account_signup' %}?next={{request.path}}"><button title="Signup" class="positive" data-icon="person_add"><span class="w3-hide-small">{% trans "Join" %}</span></button></a>
      {% endblock %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="w3-row">
  {% if user.is_authenticated and user == person and not user.profile.is_active %}
    <br/>
    <div class="w3-row w3-center w3-padding">
      <i class="w3-jumbo negative-text">toggle_off</i>
      <h2>{% trans "Your account is currently deactived." %}</h2><br/>
      <h3>{% trans "This means your profile is currently not visible to anyone in the world." %}</h3>
      {% if user.profile.suspended %}
      <strong>{% trans "Your profile is currently suspended. We must have emailed you regarding this, please check your inbox." %}</strong>
      {% else %}
      <h5>{% trans "If you have changed your mind, then you can reactivate your account." %}</h5>
      <button class="big-button positive" data-icon="restart_alt" id="reactivateaccount">{% trans "Re-activate my account" %}</button><br/><br/>
      <strong>{% trans "You'll have to login again after reactivating." %}</strong>
      {% endif %}
    </div>
    <br/>
    <br/>
  {% else %}
    <div class="w3-row tertiary">
      <br/>
      <div class="w3-col w3-container m4 l3 w3-animate-left">
        <div class="pallete w3-center w3-animate-zoom" style="padding: 0" id="view-pallete">
          
          <img class="primary preview-type-image" src="{{ person.profile.getDP }}" alt="{{ person.getName }}" />
          
          <div class="w3-row w3-padding">
            <h5 style="{% if person.profile.has_labels %}margin:4px{% endif %}" class="{% if person.profile.is_verified %}align{% endif %}">{{ person.getName }}{% if person.profile.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
            {% for label in person.profile.get_labels %}
              <strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong>
            {% endfor %}
            {% if person.profile.has_labels %}<br/>{% endif %}
            <span>{{ person.profile.getBio }}</span>
          </div>
          <div class="w3-row w3-padding-small">
          {% if user.is_authenticated and user == person %}
            <i class="edit-action w3-right" data-edittarget="pallete">edit</i>
          {% endif %}
          <i class="w3-left pointer navigator-share-action" 
          data-title="{{ person.getName }}"
          data-text="{{ person.profile.getBio|or:'Checkout this profile!' }}"
          data-url="{{ person.profile.getLink }}"
          >share</i>
          </div>
        </div>

        {% if user.is_authenticated and user == person %}
          <div class="pallete w3-center w3-animate-opacity" id="edit-pallete">
            <img class="primary" src="{{ person.profile.getDP }}" alt="{{ person.getName }}" id="profilePicOutput" style="opacity:0.5" />
            <input type="file" id="uploadprofilepic" hidden accept="image/png, image/jpg, image/jpeg" />
            <button class="active" type="button" id="upload-button">
              <i class="material-icons">image</i>
              <label id="uploadprofilepiclabel" for="uploadprofilepic">Select Image</label>
            </button>
            <br/>
            <form method="POST" action="{{URLS.PROFILEEDIT|params:'pallete'}}">
              {% csrf_token %}
              <input type="text" hidden id="profileImageData" name="profilepic" value="" />
              <div class="w3-row w3-padding">
                <input type="text" autocomplete="name" autocapitalize placeholder="Your name" maxlength="70" required value="{{user.getName}}" name="displayname" /><br/><br/>
                <textarea type="text" class="wide" placeholder="Bio" autocomplete="nickname" maxlength="300" name="profilebio" >{{ user.profile.getBio }}</textarea><br/>
              </div>
              <button id="save-edit-pallete"><i class="material-icons">done</i>Save</button>
              <button id="discard-edit-pallete"><i class="material-icons">cancel</i>Discard</button>
            </form>
          </div>

        {% endif %}
        <br />
        
        <div class="w3-row w3-padding-small">
        {% if person.profile.has_ghID %}
          <a target="_blank" rel="noreferrer" href="{{person.profile.getGhUrl}}"><button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20" />&nbsp;{{person.profile.ghID}}</button></a>
        {% endif %}
        </div>
        <br />

        {% if self %}
        <div class="w3-row pallete">
          <strong class="dead-text">This is currently private to you only.</strong>
          <p><b>{% trans "Email ID" %}</b> <span>{{ person.email }}</span></p>
          <p><b>{% trans "Date joined" %}</b> <span>{{ person.date_joined }}</span></p>
          <p><b>{% trans "Last login" %}</b> <span> {{ person.last_login }}</span></p>
        </div>
        <br />
        {% endif %}

		{% if not self and user.is_authenticated %}
        <div class="w3-row">
        <button class="small tertiary negative-text" data-icon="block" id='block-account'>{% trans "Block" %}</button>
        <button class="small tertiary negative-text" data-icon="report" id='report-account'>{% trans "Report" %}</button>
        </div>
        <br />
		{% endif %}
      </div>
      <div class="w3-col w3-container m8 l9 ">
        <div class="pallete w3-animate-bottom" style="min-height: 75vh;">
          <div class="w3-row w3-center w3-animate-top">
            {% if not person.profile.is_manager %}
            <button title="Profile overview" id="overview" class="nav-tab" data-icon="insights"><span class="w3-hide-small">{% trans "Overview" %}</span></button>
            {% endif %}
            {% if person.profile.is_mentor %}
            <button title="Mentorship" id="mentorship" class="nav-tab" data-icon="supervisor_account"><span class="w3-hide-small">{% trans "Mentorship" %}</span></button>
            {% endif %}
            <button title="Personal projects" id="projects" class="nav-tab" data-icon="widgets"><span class="w3-hide-small">{% trans "Projects" %}</span></button>
            {% if not person.profile.is_manager %}
            <button title="Acheivements" id="acheivements" class="nav-tab" data-icon="emoji_events"><span class="w3-hide-small">{% trans "Acheivements" %}</span></button>
            {% endif %}
            {% if person.profile.is_manager %}
            <button title="Competitions" id="competitions" class="nav-tab" data-icon="psychology"><span class="w3-hide-small">{% trans "Competitions" %}</span></button>
            {% endif %}
            {% if person.profile.is_moderator %}
            <button title="Moderation record" id="moderation" class="nav-tab" data-icon="schema"><span class="w3-hide-small">{% trans "Moderation" %}</span></button>
            {% endif %}
          </div>
          <br/>
          <div id="tabview" style="min-height:60vh;max-height:70vh;overflow-y: scroll;"></div>
        </div>

        {% if user.is_authenticated and user == person %}
        <br/>
        <div class="w3-row pallete w3-animate-right" id="setts">
          <div class="w3-row w3-padding">
          <i class="w3-right w3-spin">settings</i><h3>{% trans "Settings" %}</h3>
          </div>
          <div class="w3-row w3-padding-small">
            <button id="account" class="set-tab" data-icon="manage_accounts"><span class="w3-hide-small">{% trans "Account" %}</span></button>
            <button id="preference" class="set-tab" data-icon="settings"><span class="w3-hide-small">{% trans "Preference" %}</span></button>
            <button id="security" class="set-tab" data-icon="shield"><span class="w3-hide-small">{% trans "Security" %}</span></button>
            {% if user.is_authenticated and user.is_moderator and False %}
              <button id="moderation" class="set-tab"><i class="material-icons">schema</i><span class="w3-hide-small">{% trans "Moderation" %}</span></button>
            {% endif %}
            <hr />
            <div id="stabview"></div>
          </div>
        </div>
        {% endif %}
        <br/>
        <br/>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block in_scripts %}
<script>
  const userID = "{{ person.getID }}";
  const selfProfile = authenticated?"{{user.getID}}" === "{{person.getID}}" && activeuser:false
  try{
    getElement("reactivateaccount").onclick=async()=>{
      subLoader()
      loader()
      message("Reactivating your account...")
      const data = await postRequest(URLS.ACCOUNTACTIVATION, {
        activate: true
      });
      if(data.code===code.OK){
        success(`{% trans "Your account has been reactivated" %}`)
        return await logOut()
      }
      subLoader(false)
      loader(false)
      error(data.error)
    }
  }catch{}

  if (!selfProfile && activeuser){
	getElement('block-account').onclick=_=>{
		alertify.confirm(
			`<h3>Block {{person.profile.getName}}?</h3>`,
			`<h6>Are you sure you want to ${NegativeText('block {{person.profile.getName}}')}? You both will be invisible to each other on ${APPNAME}, including all associated activities.
			<br/>{% trans "You can unblock them anytime from your profile's privacy settings." %}
			</h6>`,
			()=>{},
			async()=>{
				loader()
        message('{% trans "Blocking" %}...')
				const data = await postRequest(URLS.BLOCK_USER,{
					userID: '{{person.get_id}}'
				})
				if(!data) return loader(false)
				if(data.code===code.OK){
					futuremessage('Blocked {{person.profile.getName}}.')
					return window.location.replace(ROOT)
				}
				loader(false)
				error(data.error)
			}
		).set('labels', {cancel:`${Icon('block')} Block {{person.profile.getFName}}`, ok:'No, go back'}).set('closable', false)
	}
	getElement('report-account').onclick=async()=>{
    const data = await getRequest(URLS.REPORT_CATEGORIES)
    if(!data) return message('Block instead?')
    if(data.code!==code.OK){
      error(data.error)
      return message('Block instead?')
    }
    let options=''
    data.reports.forEach((rep)=>{
      options+=`<option value='${rep.id}'>${rep.name}</option>`
    })
		alertify.confirm(
			`<h3>Report {{person.profile.getName}}</h3>`,
			`
        <select id='report-category' required>
          ${options}
        </select>
      `,
			()=>{},
			async()=>{
				loader()
        message('{% trans "Reporting" %}...')
				const data = await postRequest(URLS.REPORT_USER,{
					userID: '{{person.get_id}}',
          report: getElement('report-category').value,
				})
        loader(false)
				if(!data) return 
				if(data.code===code.OK){
					return message("Reported {{person.profile.getName}}. We'll investigate.")
				}
				error(data.error)
			}
		).set('labels', {cancel:`${Icon('report')} Report {{person.profile.getFName}}`, ok:'{% trans "No" %}, {% trans "go back" %}'}).set('closable', false)
	}
  }
</script>
{% endblock %} 
{% block scripts %}
<script src="{% static 'scripts/people/profile.js' %}" type="text/javascript"></script>
{% endblock %}
