{% extends 'allauth_2fa/index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load account %}
{% load custom_tags %}

{% block nav_auth_links %}{% endblock %}
{% block nav_noauth %}{% endblock %}
{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
<i class="w3-jumbo">lock</i>
<h1>{% trans "Two-Factor Authentication" %}</h1>
<h4>{% trans "Since you have enabled 2FA on your account, this is an additional layer of authentication." %}</h4>
<br/>
<h6>{% trans "Type the code from your autheticator app, below." %} {% trans "Use a backup token if auth app inaccessible." %}</h6>
<br/>
<form method="POST">
  {% csrf_token %}
  <input type="text" class="required-field" name="otp_token" placeholder="{% trans "Two factor code" %} {% trans "or" %} {% trans "backup token" %}" autofocus="autofocus" autocomplete="off" inputmode="numeric" required="" id="id_otp_token"><br/><br/>
  <input type="hidden" name="{{redirect_field_name|or:'next'}}" value="{{URLS.REDIRECTOR}}?n={{request.GET.next}}" />
  <button class="accent recaptcha-protected-form-action" type="submit" data-icon="done">{% trans "Proceed" %}</button>
</form>
</div>
<br/>
{% endblock %}

{% block ext_scripts %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endblock %}
