{% extends 'allauth_2fa/index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_links %}{% endblock %}
{% block content %}
<br/>
<div class="w3-row w3-center w3-padding">
<i class="w3-jumbo negative-text">vpn_key</i>
<h1>2FA {% trans "Backup Tokens" %}</h1>
<strong class="text-medium">
{% if backup_tokens %}
  {% trans "Your account recovery tokens, in case you lose access to your two factor token device." %}
{% else %}
  {% trans "Generate your recovery tokens, in case you lose access to your two factor device." %}
{% endif %}
</strong>
<br/><br/>
{% if backup_tokens %}
  {% if reveal_tokens %}
    <div class="pallete-slab">
      {% for token in backup_tokens %}
        <div><h5>{{ token.token }}</h5></div>
      {% endfor %}
      </div>
      <br/>
      <h5 class="negative-text">{% trans "Save these tokens at a secure place. Losing these can lock you out of your account!" %}<br/>Do not share these with anyone, even if they claim to be from {{APPNAME}}.</h5>
  {% else %}
    {% trans "Backup tokens have been generated and hidden. You can get them from your account settings view." %}
  {% endif %}
{% else %}
{% endif %}
<br/>
{% if backup_tokens %}
<a href="/"><button class="accent window-close-action" data-icon="done">{% trans "I have saved them" %}</button></a>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button class="positive big-button" type="submit" data-icon="add">{% trans "Generate" %}{% if backup_tokens %} {% trans "new" %}{% endif %} {% trans "recovery tokens" %}</button>
</form>
<br/>
<a href="{% url 'two-factor-remove' %}?previous={% url 'two-factor-backup-tokens' %}">
  <button type="button" class="negative" data-icon="remove_circle">{% trans "Disable" %} 2FA</button>
</a>
</div>
<br/>
<br/>
{% endblock %}

{% block footer %}{% endblock %}
{% block show_lite_footer %}{% endblock %}
