{% extends 'allauth_2fa/index.html' %}
{% load i18n %}
{% block nav_links %}{% endblock %}
{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
<i class="w3-jumbo negative-text">cancel</i>
<h2>Disable Two-Factor Authentication?</h2>
<br/>
<h5>Are you sure you want to disable two factor authentication on your account?<br/>
<span class="negative-text">This will potentially weaken your account security.</span></h5>
<br/>
  <div class="w3-row w3-padding">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="big-button negative" data-icon="delete">Disable 2FA in my account</button>
  </form>
  </div>
</div>
<br/>
{% endblock %}

{% block footer %}{% endblock %}