{% extends 'allauth_2fa/index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_links %}{% endblock %}
{% block content %}
<br/>
<div class="w3-row w3-padding w3-center">
<i class="w3-jumbo negative-text">cancel</i>
<h2>{% trans "Disable" %} {% trans "Two-Factor Authentication" %}?</h2>
<br/>
<h5>{% trans "Are you sure you want to disable" %} {% trans "two-factor authentication" %} {% trans "on your account" %}?<br/>
<span class="negative-text">{% trans "This will potentially weaken your account security." %}</span></h5>
<br/>
  <div class="w3-row w3-padding">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="big-button negative" data-icon="block">{% trans "Disable" %} 2FA</button>
  </form>
  </div>
</div>
<br/>
{% endblock %}

{% block footer %}{% endblock %}
{% block show_lite_footer %}{% endblock %}
