{% extends 'management/competition/index.html' %}
{% load custom_tags %}

{% block title %}Manage - {{compete.title}}{% endblock %}

{% block nav_text %}{{compete.title}}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{URLS.COMPETITIONS}}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding">
    <div class="w3-col w3-third w3-center w3-padding">
        <h3>Competition</h3>
        <img src="{{compete.getBanner}}" class="pallete preview-type-image" width="100%" />
        <h3>{{compete.title}}</h3>
        {% if compete.associate %}
        <h6>In association with</h6>
        <img src="{{compete.get_associate}}" class="pallete preview-type-image" width="80%" />
        {% endif %}
    </div>

    <div class="w3-col w3-twothird w3-padding">
        <a href="{{compete.getLink}}"><button class="primary small w3-right" data-icon="open_in_new">View homepage</button></a>
        <h5>Title: {{compete.title}}</h5>
        <h6>Creator: {% if iscreator %}You{% else %}<a href="{{compete.creator.getLink}}" target="_blank">{{compete.creator.getName}}</a>{% endif %}</h6>
        <h6>Moderator: <a href="{{compete.getModerator.getLink}}" target="_blank">{{compete.getModerator.getName}}</a></h6>
        <h6>Judges: {%for judge in compete.getJudges %}[<a href="{{judge.getLink}}" target="_blank">{{judge.getName}}</a>] {% endfor %}</h6>
        <strong>Short description: {{compete.shortdescription|truncatechars:100}}</strong><br/>
        <strong>Description: {{compete.description|truncatechars:100}}</strong><br/>
        <strong>Start At: {{compete.startAt}}</strong><br/>
        <strong>End At: {{compete.endAt}}</strong><br/>
        <strong>Is Upcoming? {{compete.isUpcoming|yesno}}</strong><br/>
        <strong>Is Active? {{compete.isActive|yesno}}</strong><br/>
        <strong>Is History? {{compete.isHistory|yesno}}</strong><br/>
        <strong>Topics: {%for topic in compete.getTopics %}[<a href="{{topic.getLink}}">{{topic.name}}</a>] {% endfor %}</strong><br/>
        <strong>Perks: {%for perk in compete.getPerks %}[{% if perk.name %}{{perk.name}} for {{perk.rank|numsuffix}}{% else %}{{perk}}{% endif %}] {% endfor %}</strong><br/>
        <strong>Task summary: {{compete.taskSummary |truncatechars:100 }}</strong><br/>
        <strong>Task detail: {{compete.taskDetail|truncatechars:100}}</strong><br/>
        <strong>Task sample: {{compete.taskSample|truncatechars:100}}</strong><br/>
        <strong>Total submssions: {{compete.totalSubmissions}}</strong><br/>
        <strong>Total valid submssions: {{compete.totalValidSubmissions}}</strong><br/>
        <strong>Moderated? {{compete.moderated|yesno}}</strong><br/>
        {% if compete.isHistory %}
            <strong>All submissions marked? {{compete.allSubmissionsMarked|yesno}}</strong><br/>
            {% if compete.allSubmissionsMarked %}
                {% if compete.resultDeclared %}
                    <strong>Results Declared: {{compete.resultDeclared|yesno}}</strong><br/>
                    <strong>Certificates Generated: {{compete.certificatesGenerated|yesno}}</strong><br/>
                    {% if not compete.certificatesGenerated and iscreator %}
                        {% if not generating %}
                        <form method="POST" class="w3-right" action="{{compete.generateCertificatesLink}}">
                            {% csrf_token %}
                            <button onclick="loader()" class="accent" data-icon="badge">Generate certificates</button>
                        </form>
                        {% else %}
                        Certificates generation in progress, refresh page to check status.
                        {% endif %}
                    {% endif %}
                {% else %}
                    <strong>Results ready to be declared? {{compete.allSubmissionsMarked|yesno}}</strong><br/>
                    {% if iscreator %}
                        {% if not declaring %}
                        <form method="POST" class="w3-right" action="{{compete.declareResultsLink}}">
                            {% csrf_token %}
                            <button onclick="loader()" class="accent" data-icon="celebration">Declare results now</button>
                        </form>
                        {% else  %}
                        Results declaration in progress, refresh page to check status.
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elif not compete.allSubmissionsMarked %}
                <strong>{{compete.countJudgesWhoMarkedSubmissions}}/{{compete.totalJudges}} judges have marked submissions.</strong>
                <br/>
                {% for judge in compete.judgesWhoMarkedSubmissions %}
                    <strong>{{judge.getName}}</strong>,
                {% endfor %} have marked submissions.<br/>
                {% for judge in compete.judgesWhoNotMarkedSubmissions %}
                    <strong>{{judge.getName}}</strong>,
                {% endfor %}have NOT marked submissions.<br/>
                
            {% endif %}
        {% endif %}
    </div>
</div>
<br/>
{% endblock %}