{% extends 'management/competition/index.html' %}
{% load custom_tags %}

{% block title %}Competition {{compete.title}}{% endblock %}

{% block nav_text %}Competition {{compete.title}}{% endblock %}
{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{URLS.COMPETITIONS}}{% endblock %}

{% block content %}
<br/>
<div class="w3-row w3-padding">
    
    <div class="w3-col w3-third w3-center w3-padding" id="view-compete-info">
        {% if compete.canBeEdited %}
        <button class="primary small w3-right edit-action" data-edittarget="compete-info" data-icon="edit" id="edit-details-action">Edit details</button></a>
        {% endif %}
        <br/><br/>
        <img src="{{compete.getBanner}}" class="pallete preview-type-image" width="100%" />
        <h3>{{compete.title}}</h3>
        <h6>{{compete.tagline}}</h6>
        {% if compete.associate %}
        <h6>In association with</h6>
        <img src="{{compete.get_associate}}" class="pallete preview-type-image" width="80%" />
        {% endif %}
        <div class="w3-row" align='left'>
        <br/>
        <h6>Manager: <a href="{{compete.creator.getLink}}" target="_blank">{{compete.creator.getName}}</a></h6>
        <h6>Moderator </h6><a onclick="miniWindow('{{compete.getModerator.getLink}}')"><button class="accent" data-img="{{compete.getModerator.get_dp}}">{{compete.getModerator.getName}}</button></a>
        <h6>Judges </h6>
        {%for judge in compete.getJudges %}
        <a onclick="miniWindow('{{judge.getLink}}')"><button class="active" data-img="{{judge.get_dp}}">{{judge.getName}}</button></a> 
        {% endfor %}
        <h6>Topics:</h6> 
        {% for topic in compete.getTopics %}
            <a href="{{URLS.COMPETE}}?search=topic:{{topic.name}}"><button class="positive" >{{topic.name}}</button></a>
        {% endfor %}
        <br/><br/>
        <strong>Prize Fee: &#x20B9; {{compete.reg_fee|or:0}}</strong><br/>
        <strong>Start At: {{compete.startAt}}</strong><br/>
        <strong>End At: {{compete.endAt}}</strong><br/>
        {% if compete.isUpcoming %}
        <strong>Is Upcoming</strong><br/>
        {% elif compete.isActive %}
        <strong>Is Active</strong><br/>
        {% else %}
        <strong>Is History</strong><br/>
        {% endif %}
        <strong>Max members in a group: {{compete.max_grouping}}</strong><br/>
        <strong>Max points for a topic: {{compete.eachTopicMaxPoint}}</strong><br/>
        <strong>Short description: {{compete.shortdescription|truncatechars:100}}</strong><br/>
        <strong>Description: {{compete.description|truncatechars:100}}</strong><br/>
        <strong>Perks: <br/>
        {% for perk in compete.getPerks %}
            {% if perk.name %}
                {{perk.rank|numsuffix}} : {{perk.name}} + Certificate + XP<br/>
            {% else %}
                {{ forloop.counter|numsuffix }}{{perk}} + Certificate + XP<br/>
            {% endif %}
        {% endfor %}</strong><br/>
        {% if compete.qualifier %}
        <h6>Qualifier: <a href="{{compete.qualifier.get_link}}" target="_blank">{{compete.qualifier.title}}</a></h6>
        <strong>Qualifier rank: {{compete.qualifier_rank}}</strong>
        {% endif %}
        <strong>Total submssions: {{compete.totalSubmissions}}</strong><br/>
        <strong>Total valid submssions: {{compete.totalValidSubmissions}}</strong><br/>
        <strong>Moderated? {{compete.moderated|yesno}}</strong><br/>
        {% if compete.is_draft %}
            <br/>
            <button class="primary" id="comp-publish-draft">Publish</button>
        {% elif compete.canBeSetToDraft  %}
            <br/>
            <button class="primary" id="comp-make-draft">Make draft</button>
        {% endif %}
        {% if compete.canBeDeleted %}
        <br/><br/>
        <button class="negative" id="comp-delete-permanent">Delete competition</button>
        {% endif %}
        </div>
    </div>

    <div class="w3-col w3-third w3-center w3-padding" hidden id="edit-compete-info">
        {% if compete.canBeEdited %}
        <input type="file" accept="image/png, image/jpg, image/jpeg" id="compbannerfile" hidden />
        <input type="file" accept="image/png, image/jpg, image/jpeg" id="compassociatefile" hidden />
        <input type="text" id="compbanner" name="compbanner" hidden />
        {% if compete.associate %}
        <input type="text" id="compassociate" name="compassociate" hidden />
        {% endif %}
        <button id="save-edit-compete-info" data-icon="done">Save changes</button>
        <button id="discard-edit-compete-info" data-icon="close">Discard changes</button>
        {% endif %}
        <br/><br/>
        <img src="{{compete.getBanner}}" class="pallete preview-type-image" width="80%" id="competebanneroutput" />
        <button class="active small" type="button" data-icon="upload"><label for="compbannerfile" id="competebannerimagebutton">Select banner</label></button>
        <h3><input id="comptitle" name="comptitle" value="{{compete.title}}" /></h3>
        <h6><input id="comptagline" name="comptagline" value="{{compete.tagline}}" /></h6>
        {% if compete.associate %}
        <h6>In association with</h6>
        <img src="{{compete.get_associate}}" class="pallete preview-type-image" width="60%" id="competeassociateoutput" />
        <button class="active small" type="button" data-icon="upload"><label for="compassociatefile" id="competeassociateimagebutton">Select associate image</label></button>
        {% endif %}
        <div class="w3-row" align='left'>
        <br/>
        <h6>Moderator:</h6>
            <span id="selectedmodview">
                <button type='button' title="Moderator" class="primary negative-text selected-compete-mod" data-modID='{{compete.getModerator.get_userid}}' id="removemod{{compete.getModerator.get_userid}}" data-icon="close">
                    <img src="{{compete.getModerator.get_dp}}" width="20" class="circle" /> {{compete.getModerator.get_name}}
                </button>
            </span>
        <button title="Moderator to moderate submissions before judgement, after competition ends." type="button" class="primary active-text" data-icon="add" id="selectmodbutton" hidden>Select moderator</button>
        <h6>Judges:</h6>
        <span id="selectedjudgesview">
            {% for judge in compete.getJudges %}
                <button type='button' title="Judge" class="primary negative-text selected-compete-judge" data-judgeID='{{judge.get_userid}}' id="removejudge{{judge.get_userid}}" data-icon="close">
                    <img src="{{judge.get_dp}}" class="circle" /> {{judge.get_name}}
                </button>
            {% endfor %}
        </span>
        <button title="Add another judge" type="button" class="primary" data-icon="add" id="addjudgebutton">Add judge</button>
        <h6>Topics:</h6>
        <span id="selectedtopicsview">
            {% for topic in compete.getTopics %}
                <button type='button' class="primary negative-text selected-compete-topic" data-topicID="{{topic.get_id}}" id="removetopic{{topic.get_id}}" data-icon="close">{{topic.name}}</button>
            {% endfor %}
        </span>
        <button title="Add another topic" type="button" class="primary" data-icon="add" id="addtopicbutton">Add topic</button>
        <br/><br/>
        {% if compete.reg_fee %}
            <input title="Fee for prize" placeholder="Min 0" type="number" min="0" max="{{compete.reg_fee}}" value="{{compete.reg_fee}}" name="compregfee" id="compregfee">
            <input title="Fee payment link" placeholder="Payment link (if fee)" type="url" maxlength="1000" value="{{compete.fee_link}}" name="compfeelink" id="compfeelink">
        {% endif %}
        Start at<br/>
        <input placeholder="Start at" value="{{compete.startAt|date:'Y-m-d'}}T{{compete.startAt|time:'H:i:s'}}" type="datetime-local" name="compstartAt" id="compstartAt" title="Begin time"><br/>
        End at<br/><input placeholder="End at" value="{{compete.endAt|date:'Y-m-d'}}T{{compete.endAt|time:'H:i:s'}}" type="datetime-local" name="compendAt" id="compendAt" title="Ending time" /><br/>
        Max topic points <input title="Max points for each topic" class="wide" placeholder="Max 100" type="number" min="{{compete.eachTopicMaxPoint}}" value="{{compete.eachTopicMaxPoint}}" max="100" name="compeachTopicMaxPoint" id="compeachTopicMaxPoint"><br/>
        Short Description <textarea rows="5" cols="20" class="wide" placeholder="Short description of competition (max 400 characters)" type="text" name="compshortdesc" id="compshortdesc" maxlength="400">
            {{compete.shortdescription}}
        </textarea>
        Description <textarea rows="4" cols="18" class="wide" placeholder="Competition description (max 1000 characters)" type="text" name="compdesc" id="compdesc" maxlength="1000">{{compete.description}}</textarea><br/><br/>
        {% if compete.qualifier %}
            <h6>Qualifier: <a href="{{compete.qualifier.get_link}}" target="_blank">{{compete.qualifier.title}}</a></h6>
            <input type='number' name='qualifier-competition-rank' id="qualifier-competition-rank" class="create-compete-input" title='Qualifing rank' value="{{compete.qualifier_rank}}" inputmode='numeric' placeholder='Qualifing rank' />
        {% endif %}
        </div>
    </div>

    <div class="w3-col w3-twothird w3-padding">
        {% if not compete.is_draft %}
        <a href="{{compete.getLink}}"><button class="primary small w3-right" data-icon="open_in_new">View homepage</button></a>
        {% endif %}
        <br/>
        <strong>Task summary:</strong><br/>
        <textarea class="task-view-segment" id="comptaskSummary">{{compete.taskSummary }}</textarea><br/>
        <strong>Task detail: </strong><br/>
        <textarea class="task-view-segment" id="comptaskDetail">{{compete.taskDetail }}</textarea><br/>
        <strong>Task sample: </strong><br/>
        <textarea class="task-view-segment" id="comptaskSample">{{compete.taskSample }}</textarea><br/>
        
        {% if compete.isHistory %}
            <strong>All submissions marked? {{compete.allSubmissionsMarked|yesno}}</strong><br/>
            {% if compete.allSubmissionsMarked %}
                {% if compete.resultDeclared %}
                    <strong>Results Declared: {{compete.resultDeclared|yesno}}</strong><br/>
                    <strong>Certificates Generated: {{compete.certificatesGenerated|yesno}}</strong><br/>
                    {% if not compete.certificatesGenerated and iscreator %}
                        {% if not generating %}
                        <form method="POST" class="w3-right" action="{{compete.generateCertificatesLink}}">
                            {% csrf_token %}
                            <button onclick="loader()" class="accent" data-icon="badge">Generate certificates</button>
                        </form>
                        {% else %}
                        Certificates generation in progress, refresh page to check status.
                        {% endif %}
                    {% endif %}
                {% else %}
                    <strong>Results ready to be declared? {{compete.allSubmissionsMarked|yesno}}</strong><br/>
                    {% if iscreator %}
                        {% if not declaring %}
                        <form method="POST" class="w3-right" action="{{compete.declareResultsLink}}">
                            {% csrf_token %}
                            <button onclick="loader()" class="accent" data-icon="celebration">Declare results now</button>
                        </form>
                        {% else  %}
                        Results declaration in progress, refresh page to check status.
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elif not compete.allSubmissionsMarked %}
                <strong>{{compete.countJudgesWhoMarkedSubmissions}}/{{compete.totalJudges}} judges have marked submissions.</strong>
                <br/>
                {% for judge in compete.judgesWhoMarkedSubmissions %}
                    <strong>{{judge.getName}}</strong>,
                {% endfor %} have marked submissions.<br/>
                {% for judge in compete.judgesWhoNotMarkedSubmissions %}
                    <strong>{{judge.getName}}</strong>,
                {% endfor %}have NOT marked submissions.<br/>
                
            {% endif %}
        {% endif %}
    </div>
</div>
<br/>
{% endblock %}

{% block scripts %}
<script>
const compID = "{{compete.get_id}}";
const canEdit = "{{compete.canBeEdited}}" == 'True';
const canDraft = "{{compete.canBeSetToDraft}}" == 'True';
const canDelete = "{{compete.canBeDeleted}}" == 'True';
const isUpcoming = "{{compete.isUpcoming}}" == 'True';
const isHistory = "{{compete.isHistory}}" == 'True';
const isActive = "{{compete.isActive}}" == 'True';

const taskIDEs = getElements("task-view-segment").map((e)=>(new SimpleMDE({
    element: e,
    toolbar: false,
    status: false
})));
taskIDEs.forEach((e)=>e.togglePreview());

{% if compete.canBeSetToDraft %}
getElement("comp-make-draft").onclick=async()=>{
    Swal.fire({
        title: "Convert to Draft?",
        text: "This will convert the competition to draft mode only if the competition is not yet live or there are no submissions.",
        denyButtonText: "Convert to Draft",
        showCancelButton: true,
        showDenyButton: true,
        showConfirmButton: false,
        cancelButtonText: "No, go back!",
    }).then(async(res)=>{
        if(res.isDenied){
            const data = await postRequest2({
                path: setUrlParams(URLS.DRAFT_DEL_COMP, compID),
                data:{
                    draft: true,
                    confirmed: res.isDenied,
                }
            })
            if(data && data.code==CODE.OK){
                return refresh({});
            }
            error(data.error)
        }
    })
}
{% elif compete.is_draft %}
getElement("comp-publish-draft").onclick=async()=>{
    Swal.fire({
        title: "Publish Competition?",
        text: "This will publish the competition to Knotters, and it will be then visible to everyone.",
        confirmButtonText: "Publish Competition",
        showCancelButton: true,
        showDenyButton: false,
        showConfirmButton: true,
        cancelButtonText: "No, go back!",
    }).then(async(res)=>{
        if(res.isConfirmed){
            const data = await postRequest2({
                path: setUrlParams(URLS.DRAFT_DEL_COMP, compID),
                data:{
                    draft: false,
                    confirmed: res.isConfirmed,
                }
            })
            if(data && data.code==CODE.OK){
                return refresh({});
            }
            error(data.error)
        }
    })
}
{% endif %}

{% if compete.canBeDeleted %}
getElement("comp-delete-permanent").onclick=async()=>{
    Swal.fire({
        title: "Delete permanently?",
        text: "This will DELETE the competition, only if the competition is not yet live or there are no submissions.",
        denyButtonText: "DELETE NOW",
        showDenyButton: true,
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonText: "No, go back!",
    }).then(async(res)=>{
        if(res.isDenied){
            const data = await postRequest2({
                path: setUrlParams(URLS.DRAFT_DEL_COMP, compID),
                data:{
                    delete: true,
                    confirmed: res.isDenied,
                }
            })
            if(data && data.code==CODE.OK){
                futureMessage('The competition was deleted')
                return refer({path:URLS.COMPETITIONS})
            }
            error(data.error)
        }
    })
}
{% endif %}

{% if compete.canBeEdited %}
    getElement("compbannerfile").onchange=(e)=>{
        handleCropImageUpload(e, "compbanner", "competebanneroutput", (_) => {
            getElement("competebannerimagebutton").innerHTML = "Selected banner";
        },8/2);
    }
    {% if compete.associate %}
    getElement("compassociatefile").onchange=(e)=>{
        handleCropImageUpload(e, "compassociate", "competeassociateoutput", (_) => {
            getElement("competeassociateimagebutton").innerHTML = "Selected associate";
            getElement("useAssociate").checked = true
        },3.29166667);
    }
    {% endif %}

    getElement("compendAt").addEventListener('blur',(e)=>{
        if(e.target.value <= getElement("compstartAt").value){
            error('Ending time should be greater than begin time!')
        }
        if (new Date(getElement("compstartAt").value).getTime() <= new Date().getTime()) {
            error('Begin time should be greater than current time!')
        }
    })
    getElement("compstartAt").addEventListener('blur',(e)=>{
        if (new Date(e.target.value).getTime() <= new Date().getTime()) {
            error('Begin time should be greater than current time!')
        }
        if(e.target.value >= getElement("compendAt").value){
            error('Ending time should be greater than begin time!')
        }
    })

    let excludemods = [
    {% for judge in compete.getJudges %}
        "{{judge.get_userid}}",
    {% endfor %}
    ];
    let excludejudges = ["{{compete.getModerator.get_userid}}"];
    let compjudgeIDs = [
    {% for judge in compete.getJudges %}
        "{{judge.get_userid}}",
    {% endfor %}
    ];
    let comptopicIDs = [
    {% for topic in compete.getTopics %}
        "{{topic.get_id}}",
    {% endfor %}
    ];
    let compmodID = "{{compete.getModerator.get_userid}}"

    const loadSelectedJMTs = () => {
        getElements('selected-compete-judge').forEach((btn)=>{
            btn.onclick=(e)=>{
                const id = btn.getAttribute('data-judgeID')
                if(compjudgeIDs.includes(id)){
                    excludemods = excludemods.filter(mid=>mid!==id)
                    compjudgeIDs = compjudgeIDs.filter(id=>id!==id)
                    btn.remove()
                }
            }
        })
        getElements('selected-compete-mod').forEach((btn)=>{
            btn.onclick=(e)=>{
                compmodID = ""
                excludejudges = excludejudges.filter((id)=>id!=btn.getAttribute('data-modID'))
                btn.hidden = true
                btn.remove()
                show(getElement('selectmodbutton'))
            }
        })
        getElements('selected-compete-topic').forEach((btn)=>{
            btn.onclick=(e)=>{
                const id = btn.getAttribute('data-topicID')
                if(comptopicIDs.includes(id)){
                    comptopicIDs = comptopicIDs.filter(id=>id!==id)
                    btn.remove()
                }
            }
        })
    }
    loadSelectedJMTs();
    getElement('addtopicbutton').onclick=_=>{
        Swal.fire({
            title: 'Search topics',
            html: `
            <input id='topicquery' placeholder="Type to search topic" class="wide"></input><br/><br/>
            <div id='topicqueryresult'>
            </div>
            <div><a onclick="newTab(setUrlQueries(URLS.LABELS,{tab:1}))">Click here</a> to see available topics.</div>
            `,
            didOpen: ()=>{
                getElement('topicquery').focus();
                getElement('topicquery').oninput=async(e)=>{
                    const data = await postRequest(URLS.TOPICSEARCH, {
                        query: e.target.value
                    })
                    if(!data) return
                    if(data.code===code.OK && data.topic){
                        getElement('topicqueryresult').innerHTML=`<button class="primary" type='button' id="${data.topic.id}">${data.topic.name}</button>`
                        getElement(data.topic.id).onclick=(e)=>{
                            const id = e.target.id.replaceAll('-','')
                            if(comptopicIDs.includes(id)){
                                return error('Already selected');
                            }
                            comptopicIDs.push(id)
                            getElement('selectedtopicsview').innerHTML+=`<button type='button' class="primary negative-text selected-compete-topic" data-topicID='${id}' id="removetopic${id}">${Icon('close')}${data.topic.name}</button>`
                            
                        }
                    } else {
                       getElement('topicqueryresult').innerHTML='No results.'
                    }
                }
            },
        }).then(()=>{
            loadSelectedJMTs()
        })
    }
    getElement('addjudgebutton').onclick=_=>{
        Swal.fire({
            title: 'Search your judge',
            html: `
            <input id='judgequery' placeholder="Type to search your judge" class="wide"></input><br/><br/>
            <div id='judgequeryresult'>
            </div><br/>
            <div>Judge(s) to mark submissions with points according to topics, after competition ends. 
                Make sure they know about your competition beforehand. Only mentors can be judges.
                You'll be responsible for the actions of judge(s) you choose in this competition.
                You can manage your mentors <a href="${URLS.MODERATORS}" target="_blank">from here</a>.
            </div>
            `,
            didOpen: ()=>{
                getElement('judgequery').oninput=async(e)=>{
                    const data = await postRequest(URLS.JUDGESEARCH, {
                        query: e.target.value,
                        excludeIDs: excludejudges
                    })
                    if(!data) return
                    if(data.code===code.OK && data.judge){
                        getElement('judgequeryresult').innerHTML=`
                        <button class="primary" type='button' id="${data.judge.id}">
                            <img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>
                            <a onclick="miniWindow('${data.judge.url}')">${Icon('open_in_new')}</a>`
                        getElement(data.judge.id).onclick=(e)=>{
                            const id = e.target.id.replaceAll('-','')
                            if(compjudgeIDs.includes(id)){
                                return error('Already selected');
                            }
                            excludemods.push(id)
                            compjudgeIDs.push(id)
                            getElement('selectedjudgesview').innerHTML+=`
                            <button type='button' title="Judge" class="primary negative-text selected-compete-judge" data-judgeID='${id}' id="removejudge${id}">
                            ${Icon('close')}<img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>`    
                        }
                    } else {
                        getElement('judgequeryresult').innerHTML='No results.'
                    }
                }
            }
        }).then(()=>{
            loadSelectedJMTs()
        })
    }
    getElement('selectmodbutton').onclick=(ebtn)=>{
        Swal.fire({
            title: 'Search your moderator',
            html: `
            <input id='modquery' placeholder="Type to search your moderator" class="wide"></input><br/><br/>
            <div id='modqueryresult'>
            </div><br/>
            <div>A moderator to moderate submissions before judgement, after competition ends. Make sure they know about your competition beforehand.
                You'll be responsible for the actions of moderator you choose in this competition.
                You can manage your moderators <a href="${URLS.MODERATORS}" target="_blank">from here</a>.
            </div>
            `,
            didOpen: ()=>{
                let lastmodid = ''
                getElement('modquery').oninput=async(e)=>{
                    const data = await postRequest2({
                        path:URLS.MODSEARCH, 
                        data:{
                            query: e.target.value,
                            excludeIDs: excludemods
                        }
                    })
                    if(!data) return
                    if(data.code===code.OK && data.mod){
                        getElement('modqueryresult').innerHTML=`
                        <button class="primary" type='button' id="${data.mod.id}">
                            <img src="${data.mod.dp}" width="20" class="w3-circle" /> ${data.mod.name}
                        </button><a onclick="miniWindow('${data.mod.url}')">${Icon('open_in_new')}</a>
                        `
                        getElement(data.mod.id).onclick=(e)=>{
                            const id = e.target.id.replaceAll('-','')
                            compmodID = id;
                            excludejudges = excludejudges.filter((id)=>id!=lastmodid)
                            excludejudges.push(id)
                            lastmodid = id
                            getElement('selectedmodview').innerHTML =`
                            <button type='button' title="Moderator" class="primary negative-text selected-compete-mod" data-modID='${id}' id="removemod${id}">
                                ${Icon('close')}<img src="${data.mod.dp}" width="20" class="w3-circle primary" /> ${data.mod.name}
                            </button>`
                            hide(getElement('selectmodbutton'))
                            success('Moderator selected!')
                        }
                    } else {
                        getElement('modqueryresult').innerHTML='No results.'
                    }
                }
            }
        }).then(()=>{
            loadSelectedJMTs()            
        })
    }

    getElement("edit-details-action").addEventListener("click",()=>{
        taskIDEs.forEach((e)=>{
            e.togglePreview();
            e.createToolbar();
        });
    })
    getElement("discard-edit-compete-info").addEventListener("click",()=>{
        taskIDEs.forEach((e)=>e.togglePreview());
        refresh({})
    })
    getElement("save-edit-compete-info").addEventListener("click",async()=>{
        taskIDEs.forEach((e)=>e.toTextArea());
        const data = await postRequest2({
            path: setUrlParams(URLS.EDIT_COMP,compID),
            data: {
                comptitle: getElement("comptitle").value, 
                comptagline: getElement("comptagline").value, 
                compshortdesc: getElement("compshortdesc").value,
                compbanner: getElement("compbanner").value,
                {% if compete.associate %}
                compassociate: getElement("compassociate").value,
                {% endif %}
                compdesc: getElement("compdesc").value, 
                compstartAt: getElement("compstartAt").value, 
                compendAt: getElement("compendAt").value, 
                compeachTopicMaxPoint: Number(getElement("compeachTopicMaxPoint").value),
                {% if compete.reg_fee %}
                compregfee: getElement("compregfee").value, 
                compfeelink: getElement("compfeelink").value, 
                {% endif %}
                compmodID,
                comptopicIDs,
                compjudgeIDs,
                comptaskSummary: getElement("comptaskSummary").value, 
                comptaskDetail: getElement("comptaskDetail").value, 
                comptaskSample: getElement("comptaskSample").value, 
            }
        })
        if(data&& data.code == CODE.OK){
            futureMessage("Competition details updated successfully");
            return refresh({});
        }
        else error(data.error)
    })

{% endif %}
</script>
{% endblock %}