{% extends 'management/competition/index.html' %}

{% block title %}Create Competition{% endblock %}

{% block nav_text %}Create Competition{% endblock %}

{% block nav_href %}{{URLS.COMPETITIONS}}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}


{% block content %}
<br/>

<div class="w3-row tertiary">
  <form method="POST" action="{{URLS.SUBMIT_COMP}}" id="create-compete-form">
    {% csrf_token %}
    <input type="file" accept="image/png,image/jpg" id="compbannerfile" hidden />
    <input type="file" accept="image/png,image/jpg" id="compassociatefile" hidden />
    <input type="text" id="compbanner" name="compbanner" hidden />
    <input type="text" id="compassociate" name="compassociate" hidden />
    <div id="banner">
        <img class="preview-type-image" src="/media/compete/default.png" alt="Select Banner" width="100%" id="competebanneroutput" />
    </div>
    <div class="w3-row w3-center accent w3-padding">
      <strong>
          This competition will accept submissions from the given beginning date, till &nbsp;&nbsp;&nbsp;
        <input required placeholder="End at"  class="create-compete-input" type="datetime-local" name="compendAt" id="compendAt">
      </strong>
    </div>
    <form class="w3-row w3-padding">
      <br/>
      <div class="w3-row">
        <div class="w3-col w3-twothird w3-left w3-padding">
          <div class="w3-col w3-half">
          <h2>
            <input required class="create-compete-input wide primary" placeholder="Title" type="text" name="comptitle" id="comptitle">

          </h2>
          <h4>
            <input required class="create-compete-input wide primary" placeholder="Tagline" type="text" name="comptagline" id="comptagline"><br/><br/>
          </h4>
          <strong>
            <textarea rows="5" cols="20" class="create-compete-input primary" required placeholder="Short description" type="text" name="compshortdesc" id="compshortdesc"></textarea>
          </strong><br/>
          </div>
          <div class="w3-col w3-half w3-center dead-text w3-padding">
            <button class="active" type="button" data-icon="upload"><label for="compbannerfile" id="competebannerimagebutton">Select banner</label></button><br/><br/>
            <h4>In association with </h4>
            <img class="pallete preview-type-image" 
                {% if associate %}
                src="{{associate}}"
                {% else %}
                src="/media/compete/default.png"
                {% endif %} width="40%" id="competeassociateoutput" /><br/><br/>
            <button class="active" type="button" data-icon="upload">
                <label for="compassociatefile" id="competeassociateimagebutton">Select associate image</label>
            </button><br/>
            <input name="useAssociate" type='checkbox' id="useAssociate" {% if associate %}checked{% endif %} />
            <label for="useAssociate" >
                Use association
            </label>
        </div>
        </div>
        <div class="w3-col w3-third w3-center w3-padding">
        <br/>
          
          <div class="pallete accent">
            <h6>Begins at</h6>
            <h1>
                <input required placeholder="Start at"  class="create-compete-input" type="datetime-local" name="compstartAt" id="compstartAt">
            </h1>
            <h6>Upcoming</h6>
          </div>
          <br/>
          <div class="w3-row">
            <span id="selectedmodview"></span>
            <button title="Select moderator" type="button" class="primary active-text" data-icon="add" id="selectmodbutton">Select moderator</button>
            <input hidden placeholder="Moderator" class="create-compete-input no-retain" type="text" name="compmodID" id="compmodID" />
            <br/><br/>
            <span id="selectedjudgesview">
            </span>
            <input hidden class="create-compete-input no-retain" name="compjudgeIDs" id="judgeIDs" />
            <button title="Add another judge" type="button" class="primary" data-icon="add" id="addjudgebutton">Add judge</button>
          </div>
        </div>
      </div>
      <br/><br/>
        
      <div class="w3-row pallete" id="mainframe">
        <div class="w3-col w3-quarter tertiary  w3-round">
          <div class="w3-bar-block w3-hide-small w3-padding" id="sidebar">
            <button class="w3-bar-item side-nav-tab" id="overview" data-icon="toc">Overview</button>
            <br/>
            <button class="w3-bar-item side-nav-tab" id="task" data-icon="code">Task</button>
            <br/>
            <button class="w3-bar-item side-nav-tab" id="guidelines" data-icon="rule">Guidelines</button> 
            <br/><br/><br/><br/><br/>  <br/><br/><br/><br/><br/>           
          </div>
          <div class="w3-center w3-hide-large w3-hide-medium">
            <button class="side-nav-tab" id="overview" data-icon="toc"></button>
            <button class="side-nav-tab" id="task" data-icon="code"></button>
            <button class="side-nav-tab" id="guidelines" data-icon="rule"></button>
          </div>
        </div>
  
        <div class="w3-col w3-threequarter w3-padding">
          <br/>
          <div id="tabview">
            <div class="w3-row w3-padding-small" id="overview-block">
                <center>
                    <h3>Topics of this competition</h3>
                    <br/>
                    <span id="selectedtopicsview">
                    </span>
                    <input hidden class="create-compete-input no-retain" name="comptopicIDs" id="topicIDs" />
                    <button title="Add another topic" type="button" class="primary" data-icon="add" id="addtopicbutton">Add topic</button>
                    <br/>
                    <h6>A chance to level up your profile by &nbsp;&nbsp;
                        <!-- <span class="accent"> -->
                            <input class="create-compete-input" required placeholder="Each topic max points" type="number" min="10" name="compeachTopicMaxPoint" id="compeachTopicMaxPoint">
                        <!-- </span> -->
                    </h6>
                </center>
                <div class="w3-row">
                <center><h4>Rank perks<a href="#notice">*</a></h4></center>
                
                <div class="w3-col w3-third w3-padding-small w3-center">
                    <div class="pallete accent">
                        <i class="w3-jumbo ">emoji_events</i>
                        <h1>1st</h1>
                        <h6 class="pallete">
                            <input class="wide create-compete-input" required placeholder="For Rank 1" type="text" name="compperk1" id="compperk1">
                        </h6>
                    </div>
                </div>
                <div class="w3-col w3-third w3-padding-small w3-center">
                    <div class="pallete accent">
                        <i class="w3-jumbo ">emoji_events</i>
                        <h1>2nd</h1>
                        <h6 class="pallete">
                            <input class="wide create-compete-input" required placeholder="For Rank 2" type="text" name="compperk2" id="compperk2">
                        </h6>
                    </div>
                </div>
                <div class="w3-col w3-third w3-padding-small w3-center">
                    <div class="pallete accent">
                        <i class="w3-jumbo ">emoji_events</i>
                        <h1>3rd</h1>
                        <h6 class="pallete">
                            <input class="wide create-compete-input" required placeholder="For Rank 3" type="text" name="compperk3" id="compperk3">
                        </h6>
                    </div>
                </div>
                </div>
                <br/>
                <center>
                <h6>All participants will receive <span class="accent">e-certificates</span><a href="#notice">*</a>.</h6>
                <strong>The points obtained from this competition can be claimed as XP for your profile.</strong>
                </center>
                <div class="w3-row">
                <h4>Description</h4>
                <strong>
                    <textarea rows="4" cols="18" class="create-compete-input wide"  required placeholder="Description" type="text" name="compdesc" id="compdesc"></textarea><br/><br/>
                </strong>
                </div>
          </div>
          <div class="w3-row w3-padding-small" id="task-block">
            <h4>Summary</h4>
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task summary" type="text" name="comptaskSummary" id="comptaskSummary"></textarea>
            <h4>Detail</h4>            
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task details" type="text" name="comptaskDetail" id="comptaskDetail"></textarea>
            <h4>Sample</h4>
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task sample" type="text" name="comptaskSample" id="comptaskSample"></textarea>
          </div>
          <div class="w3-row w3-padding-small" id="guideline-block">
            <center><h4>All participants must adhere to our <a onclick="miniWindow('/docs/competitionguidelines')" class="positive-text">competition guidelines</a>, and then the following.</h4></center>
            <br/>
            <h4>What to submit</h4>
            <p>Your submission should be a valid URL with all the neccessary content required by the task of this competition. Make sure that your provided URL is publicly available all the time after submission.
            If our judges and moderator are unable to access the content provided on your submission URL, then your submission will stand INVALID.
            </p>
            
            <h4>Where to submit</h4>
            <p>For your submission to be considered valid, you must only submit from the only <strong>Submission</strong> tab in this page. For small devices, submission tab will the 4th bubble above this view.<br/>
            Only the <strong class="positive-text">submissions from this page</strong> will be considered <strong class="positive-text">VALID</strong>. We strictly advise you to <strong>NOT use any other means of submission</strong>.
            If you provide your submission via any means <strong class="negative-text">other than this page</strong>, then your submission
            will be <strong class="negative-text">INVALID</strong>
            </p>
            
            <h4>When to submit</h4>
            <p>It is a general advise that you should prepare your submission till at least an hour before a competition ends, to avoid hassle.<br/>
            This competition will accept submissions between <strong>{{compete.startAt}}</strong> and <strong>{{compete.endAt}}</strong>.
            <br/>Any submission after the latter time will be considered late, and therefore, will be <a class="negative-text" target="_blank" href="/docs/competitionguidelines">vulnerable to invalidation</a>.
            </p>
        </div>
        </div>
      </div>
  
      <br/>
    </div>
    <br/>
    </form>
    <center><button form="create-compete-form" type="submit" id="create-compete-form-submit-button" class="positive big-button" data-icon="done">Create Competition</button>
    <button form="create-compete-form" type="reset" class="negative big-button" data-icon="close">Clear fields</button></center>
    <br/>
</div>

{% endblock %}

{% block ext_scripts %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endblock %}

{% block in_scripts %}
<script>

     initializeTabsView({
        onEachTab: async (tab) => {
            console.log("tabId",tab.id);
            if(tab.id==='overview'){
                getElement('overview-block').style.display='block';
                getElement('task-block').style.display='none';
                getElement('guideline-block').style.display='none';
            } else if(tab.id === 'task') {
                getElement('overview-block').style.display='none';
                getElement('task-block').style.display='block';
                getElement('guideline-block').style.display='none';
            } else{
                getElement('overview-block').style.display='none';
                getElement('task-block').style.display='none';
                getElement('guideline-block').style.display='block';
            }
        },
        uniqueID: "competetab",
        tabsClass: "side-nav-tab",
        activeTabClass: "active",
        setDefaultViews:false,
        onShowTab: (tab)=>{
            console.log("tabId show",tab.id);
        },
    });

    let excludemods = [];
    let excludejudges = [];
    getElements('create-compete-input').forEach(element => {
        if(!Array.from(element.classList).includes('no-retain')){
            element.value = sessionStorage.getItem(`create-compete-input-${element.id}`)
            element.oninput=(e)=>{
                sessionStorage.setItem(`create-compete-input-${e.target.id}`,e.target.value)
            }
        }
    });
    getElement("useAssociate").onchange=(e)=>{
        if(!e.target.checked){
            getElement('compassociate').value = ''
        } else {
            if(getElement('competeassociateoutput').src.endsWith('default.png')) {
                e.target.checked = false
                return error('Select the association image')
            }
            getElement('compassociate').value = getElement('competeassociateoutput').src;
        }
    }
    getElement("compbannerfile").onchange=(e)=>{
        handleCropImageUpload(e, "compbanner", "competebanneroutput", (_) => {
            getElement("competebannerimagebutton").innerHTML = "Selected banner";
        },8/2);
    }
    getElement("compassociatefile").onchange=(e)=>{
        handleCropImageUpload(e, "compassociate", "competeassociateoutput", (_) => {
            getElement("competeassociateimagebutton").innerHTML = "Selected associate";
            getElement("useAssociate").checked = true
        },3.29166667);
    }

    getElement('addtopicbutton').onclick=_=>{
        alertify.alert(
            'Search topics',
            `
            <input id='topicquery' placeholder="Type to search topic" class="wide"></input><br/><br/>
            <div id='topicqueryresult'>
            </div>
            `,
            ()=>{
                getElements('selected-compete-topic').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        const id = btn.getAttribute('data-topicID')
                        if(getElement('topicIDs').value.includes(id)){
                            getElement('topicIDs').value = getElement('topicIDs').value.replaceAll(`,${id}`,'')
                            e.target.hidden = true
                            e.target.remove()
                        }
                    }
                })
            }
        )
        getElement('topicquery').oninput=async(e)=>{
            const data = await postRequest(URLS.TOPICSEARCH, {
                query: e.target.value
            })
            if(!data) return
            if(data.code===code.OK && data.topic){
                getElement('topicqueryresult').innerHTML=`<button class="primary" type='button' id="${data.topic.id}">${data.topic.name}</button>`
                getElement(data.topic.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    let existing = String(getElement('topicIDs').value).trim();
                    if(existing.includes(id)){
                        return error('Already selected');
                    }
                    getElement('topicIDs').value = existing + ',' + id;
                    getElement('selectedtopicsview').innerHTML+=`<button type='button' class="primary negative-text selected-compete-topic" data-topicID='${id}' id="removetopic${id}">${Icon('close')}${data.topic.name}</button>`
                    
                }
            }
        }
    }
    getElement('addjudgebutton').onclick=_=>{
        alertify.alert(
            'Search judges',
            `
            <input id='judgequery' placeholder="Type to search judge" class="wide"></input><br/><br/>
            <div id='judgequeryresult'>
            </div>
            `,
            ()=>{
                getElements('selected-compete-judge').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        const id = btn.getAttribute('data-judgeID')
                        if(getElement('judgeIDs').value.includes(id)){
                            excludemods = excludemods.filter(id=>id!==id)
                            getElement('judgeIDs').value = getElement('judgeIDs').value.replaceAll(`,${id}`,'')
                            btn.hidden = true
                            btn.remove()
                        }
                    }
                })
            }
        )
        getElement('judgequery').oninput=async(e)=>{
            const data = await postRequest(URLS.JUDGESEARCH, {
                query: e.target.value,
                excludeIDs: excludejudges
            })
            if(!data) return
            if(data.code===code.OK && data.judge){
                getElement('judgequeryresult').innerHTML=`
                <button class="primary" type='button' id="${data.judge.id}">
                    <img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>`
                getElement(data.judge.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    let existing = String(getElement('judgeIDs').value).trim();
                    if(existing.includes(id)){
                        return error('Already selected');
                    }
                    excludemods.push(id)
                    getElement('judgeIDs').value = existing + ',' + id;
                    getElement('selectedjudgesview').innerHTML+=`
                    <button type='button' class="primary negative-text selected-compete-judge" data-judgeID='${id}' id="removejudge${id}">
                    ${Icon('close')}<img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>`
                    
                }
            }
        }
    }
    getElement('selectmodbutton').onclick=(ebtn)=>{
        alertify.alert(
            'Search mods',
            `
            <input id='modquery' placeholder="Type to search mod" class="wide"></input><br/><br/>
            <div id='modqueryresult'>
            </div>
            `,
            ()=>{
                getElements('selected-compete-mod').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        getElement('compmodID').value = ""
                        excludejudges = []
                        e.target.hidden = true
                        e.target.remove()
                        show(ebtn.target)
                    }
                })
            }
        )
        getElement('modquery').oninput=async(e)=>{
            const data = await postRequest(URLS.MODSEARCH, {
                query: e.target.value,
                excludeIDs: excludemods
            })
            if(!data) return
            if(data.code===code.OK && data.mod){
                getElement('modqueryresult').innerHTML=`
                <button class="primary" type='button' id="${data.mod.id}">
                    <img src="${data.mod.dp}" width="20" class="w3-circle" /> ${data.mod.name}
                </button>`
                getElement(data.mod.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    getElement('compmodID').value = id;
                    excludejudges.push(id)
                    getElement('selectedmodview').innerHTML =`
                    <button type='button' class="primary negative-text selected-compete-mod" data-modID='${id}' id="removemod${id}">
                        ${Icon('close')}<img src="${data.mod.dp}" width="20" class="w3-circle primary" /> ${data.mod.name}
                    </button>`
                    hide(ebtn.target)
                }
            }
        }
    }
    getElement("create-compete-form-submit-button").onclick=(e)=>{
        e.preventDefault();
        if(!getElements('create-compete-input').every(element => {
            if(!element.value){
                error("Some fields not filled.")
                return false
            }
            return true
        })) return
        _processReCaptcha(()=>{
            getElement("create-compete-form").submit()
        })
    }
</script>
{% endblock %}
