{% extends 'management/competition/index.html' %}

{% block title %}Create Competition{% endblock %}

{% block nav_text %}Create Competition{% endblock %}

{% block nav_href %}{{URLS.COMPETITIONS}}{% endblock %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}


{% block content %}
<div class="w3-row tertiary">
  <input type="file" accept="image/png, image/jpg, image/jpeg" id="compbannerfile" hidden />
  <input type="file" accept="image/png, image/jpg, image/jpeg" id="compassociatefile" hidden />
  <form method="POST" action="{{URLS.SUBMIT_COMP}}" id="create-compete-form">
    {% csrf_token %}
    <input type="text" id="compbanner" name="compbanner" hidden />
    <input type="text" id="compassociate" name="compassociate" hidden />
    <div id="banner">
        <img class="preview-type-image" src="/media/compete/default.png" alt="Select Banner" width="100%" id="competebanneroutput" />
    </div>
    <div class="w3-row w3-center accent w3-padding">
      <strong>
          This competition will accept submissions till &nbsp;&nbsp;
        <input required placeholder="End at"  class="create-compete-input" type="datetime-local" name="compendAt" id="compendAt" title="Ending time" />&nbsp;&nbsp;
        only.
      </strong>
    </div>
    <div class="w3-row w3-padding">
      <br/>
      <div class="w3-row">
        <div class="w3-col w3-twothird w3-left w3-padding">
          <div class="w3-col w3-half">
          <h2>
            <input required class="create-compete-input wide primary" placeholder="Title" type="text" name="comptitle" id="comptitle" max="100">

          </h2>
          <h4>
            <input required class="create-compete-input wide primary" placeholder="Competition tagline" type="text" name="comptagline" id="comptagline" max="100"><br/><br/>
          </h4>
          <strong>
            <textarea rows="5" cols="20" class="create-compete-input primary wide" required placeholder="Short description of competition (max 400 characters)" type="text" name="compshortdesc" id="compshortdesc" maxlength="400"></textarea>
          </strong><br/>
          </div>
          <div class="w3-col w3-half w3-center dead-text w3-padding">
            <button class="active" type="button" data-icon="upload"><label for="compbannerfile" id="competebannerimagebutton">Select banner</label></button><br/><br/>
            <h4>In association with </h4>
            <img class="pallete preview-type-image" 
                {% if associate %}
                src="{{associate}}"
                {% else %}
                src="/media/compete/default.png"
                {% endif %} width="40%" id="competeassociateoutput" /><br/><br/>
            <button class="active" type="button" data-icon="upload">
                <label for="compassociatefile" id="competeassociateimagebutton">Select associate image</label>
            </button><br/>
            <input name="useAssociate" type='checkbox' id="useAssociate" {% if associate %}checked{% endif %} />
            <label for="useAssociate" >
                Use association
            </label>
            <br/><strong>Association image should be different from your banner.</strong>
            <br/>
            <h6 class="text-tertiary">Registration fee for prize eligibility (₹)
                <input class="primary create-compete-input" title="Registration fee for prize" required placeholder="Min 0" type="number" min="0" max="90000" value="0" name="compregfee" id="compregfee">
                <br/>   <input class="primary" title="Fee payment link" placeholder="Payment link (if fee)" type="url" maxlength="1000" value="" name="compfeelink" id="compfeelink">
            </h6>
        </div>
        </div>
        <div class="w3-col w3-third w3-center w3-padding">
        <br/>
          
          <div class="pallete accent">
            <h6>Begins at</h6>
            <h1>
                <input required placeholder="Start at"  class="create-compete-input" type="datetime-local" name="compstartAt" id="compstartAt" title="Begin time">
            </h1>
            <h6>Upcoming</h6>
          </div>
          <br/>
          <div class="w3-row">
            <strong>Moderator</strong><br/>
            <span id="selectedmodview"></span>
            <button title="Moderator to moderate submissions before judgement, after competition ends." type="button" class="primary active-text" data-icon="add" id="selectmodbutton">Select moderator</button>
            <input hidden placeholder="Moderator" required class="create-compete-input no-retain" type="text" name="compmodID" id="compmodID" />
            <br/><br/>
            <strong>Judges</strong><br/>
            <span id="selectedjudgesview">
            </span>
            <input hidden required placeholder="Judges" class="create-compete-input no-retain" name="compjudgeIDs" id="judgeIDs" />
            <button title="Add another judge" type="button" class="primary" data-icon="add" id="addjudgebutton">Add judge</button>
            <br/>
            <strong>Moderator and judges should be different.</strong>
          </div>
        </div>
      </div>
      <br/>
      <center><h6 class="dead-text">The following info will remain hidden until competition begins.</h6></center>
      <br/>
      <div class="w3-row pallete" id="mainframe">
        <div class="w3-col w3-quarter tertiary  pallete-slab w3-padding">
          <div class="w3-bar-block w3-hide-small" id="sidebar">
            <button type="button" class="w3-bar-item side-nav-tab" id="overview" data-icon="toc">Overview</button>
            <br/>
            <button type="button" class="w3-bar-item side-nav-tab" id="task" data-icon="code">Task</button>
            <br/>
            <button type="button" class="w3-bar-item side-nav-tab" id="preview" data-icon="visibility">Preview</button> 
            <br/><br/><br/><br/><br/>  <br/><br/><br/><br/><br/>
          </div>
          <div class="w3-center w3-hide-large w3-hide-medium w3-padding">
            <button type="button" class="side-nav-tab" id="overview" data-icon="toc"></button>
            <button type="button" class="side-nav-tab" id="task" data-icon="code"></button>
            <button type="button" class="side-nav-tab" id="preview" data-icon="visibility"></button>
          </div>
        </div>
  
        <div class="w3-col w3-threequarter w3-padding">
          <br/>
          <div id="tabview">
            <div class="w3-row w3-padding-small" id="overview-block">
                <center>
                    <h3>Topics of this competition</h3>
                    <span id="selectedtopicsview">
                    </span>
                    <input hidden required title="Topics" class="create-compete-input no-retain" name="comptopicIDs" id="topicIDs" />
                    <button title="Add another topic" type="button" class="primary" data-icon="add" id="addtopicbutton">Add topic</button>
                    <br/>
                    <h6>The maximum points each judge can appoint to each submission for each topic
                        <input class="create-compete-input" title="Max points for each topic" required placeholder="Max 100" type="number" min="10" max="100" name="compeachTopicMaxPoint" id="compeachTopicMaxPoint">
                    </h6>
                    <h6>Maximum number of members allowed in one submission group
                        <input class="create-compete-input" title="Max members in a group" required placeholder="Min 1" type="number" min="1" max="100" name="compmaxgrouping" id="compmaxgrouping">
                    </h6>
                </center>
                <div class="w3-row" id="perkDetails">
                    <center><h4>Rank prizes</h4></center>
                    
                    <div class="w3-col w3-third w3-padding-small w3-center">
                        <div class="pallete accent">
                            <i class="w3-jumbo ">emoji_events</i>
                            <h1>1st</h1>
                            <h6 class="pallete">
                                <input class="wide create-compete-input" required placeholder="Perk for Rank 1" type="text" name="compperk1" id="compperk1" maxlength="100">
                            </h6>
                        </div>
                    </div>
                    <div class="w3-col w3-third w3-padding-small w3-center"  id="addperksbutton">
                        <div class="pallete primary pointer">
                            <i class="w3-jumbo positive-text">add_circle</i>
                            <h1 class="positive-text">Add perk</h1>
                            <h6 class="pallete positive-text">
                                For next rank
                            </h6>
                        </div>
                    </div>
                </div>
                <br/>
                <center>
                <strong>The perks you've set are solely your own responsibility. Participants will also be knowing this.
                </strong>
                <h6>All participants will receive <span class="accent">e-certificates</span> from {{APPNAME}}.</h6>
                </center>
                <div class="w3-row">
                <h4>Description</h4>
                <strong>
                    <textarea rows="4" cols="18" class="create-compete-input wide"  required placeholder="Competition description (max 1000 characters)" type="text" name="compdesc" id="compdesc" maxlength="1000"></textarea><br/><br/>
                </strong>
                </div>
          </div>
          <div class="w3-row w3-padding-small" id="task-block">
            <h4>Summary</h4>
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task summary (Basic HTML allowed)" type="text" name="comptaskSummary" id="comptaskSummary"></textarea>
            <h4>Detail</h4>            
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task details (Basic HTML allowed)" type="text" name="comptaskDetail" id="comptaskDetail"></textarea>
            <h4>Sample</h4>
            <textarea rows="4" cols="25" class="create-compete-input wide" required placeholder="Task sample (Basic HTML allowed)" type="text" name="comptaskSample" id="comptaskSample"></textarea>
          </div>
          <div class="w3-row w3-padding-small" id="preview-block">
            <h4>Summary</h4>
            <p class="text-medium" style="word-break:break-word" id="comptaskSummary-preview"></p>
            <h4>Detail</h4>            
            <p class="text-medium" style="word-break:break-word" id="comptaskDetail-preview"></p>
            <h4>Sample</h4>
            <p class="text-medium" style="word-break:break-word" id="comptaskSample-preview"></p>
          </div>
        </div>
      </div>
  
      <br/>
    </div>
    <br/>
    </form>
    <center><button form="create-compete-form" type="submit" id="create-compete-form-submit-button" class="positive big-button" data-icon="done">Create Competition</button>
    <!-- <button form="create-compete-form" type="reset" class="negative big-button" data-icon="close">Clear fields</button> -->
    </center>
    <br/>
</div>

{% endblock %}

{% block ext_scripts %}
<script src='https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_KEY}}&trustedtypes=true'></script>
{% endblock %}

{% block in_scripts %}
<script>
    getElement('addperksbutton').onclick=_=>{
        const parent=document.getElementById('perkDetails');
        const position=parent.childElementCount-1;
        const newChild=document.createElement('div');
        newChild.innerHTML = `
                    <div class="w3-col w3-third w3-padding-small w3-center">
                        <div class="pallete accent">
                            <i class="w3-jumbo material-icons">emoji_events</i>
                            <h1>${numsuffix(position)}</h1>
                            <h6 class="pallete">
                                <input class="wide create-compete-input" required placeholder="Perk for Rank ${position}" type="text" name="compperk${position}" id="compperk${position}">
                            </h6>
                        </div>
                    </div>
        `;
        parent.insertBefore(newChild,parent.childNodes[position+3]);
    }

    initializeTabsView({
        onEachTab: async (tab) => {
            if(tab.id==='overview'){
                getElement('overview-block').style.display='block';
                getElement('task-block').style.display='none';
                getElement('preview-block').style.display='none';
            } else if(tab.id === 'task') {
                getElement('overview-block').style.display='none';
                getElement('task-block').style.display='block';
                getElement('preview-block').style.display='none';
            } else if (tab.id === 'preview') {
                getElement('overview-block').style.display='none';
                getElement('task-block').style.display='none';
                getElement('preview-block').style.display='block';
                getElement('comptaskSummary-preview').innerHTML = getElement("comptaskSummary").value;
                getElement('comptaskDetail-preview').innerHTML = getElement("comptaskDetail").value;
                getElement('comptaskSample-preview').innerHTML = getElement("comptaskSample").value;
            }
        },
        uniqueID: "competetab",
        tabsClass: "side-nav-tab",
        activeTabClass: "active",
        setDefaultViews:false,
        onShowTab: (tab)=>{
        },
    });

    let excludemods = [];
    let excludejudges = [];
    getElements('create-compete-input').forEach(element => {
        if(!Array.from(element.classList).includes('no-retain')){
            element.value = sessionStorage.getItem(`create-compete-input-${element.id}`)
            element.oninput=(e)=>{
                sessionStorage.setItem(`create-compete-input-${e.target.id}`,e.target.value)
            }
        }
    });
    getElement("useAssociate").onchange=(e)=>{
        if(!e.target.checked){
            getElement('compassociate').value = ''
        } else {
            if(getElement('competeassociateoutput').src.endsWith('default.png')) {
                e.target.checked = false
                return error('Select the association image')
            }
            getElement('compassociate').value = getElement('competeassociateoutput').src;
        }
    }
    getElement("compbannerfile").onchange=(e)=>{
        handleCropImageUpload(e, "compbanner", "competebanneroutput", (_) => {
            getElement("competebannerimagebutton").innerHTML = "Selected banner";
        },8/2);
    }
    getElement("compassociatefile").onchange=(e)=>{
        handleCropImageUpload(e, "compassociate", "competeassociateoutput", (_) => {
            getElement("competeassociateimagebutton").innerHTML = "Selected associate";
            getElement("useAssociate").checked = true
        },3.29166667);
    }

    getElement('addtopicbutton').onclick=_=>{
        alertify.alert(
            'Search topics',
            `
            <input id='topicquery' placeholder="Type to search topic" class="wide"></input><br/><br/>
            <div id='topicqueryresult'>
            </div>
            <div><a onclick="newTab(setUrlQueries(URLS.LABELS,{tab:1}))">Click here</a> to see available topics.</div>
            `,
            ()=>{
                getElements('selected-compete-topic').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        const id = btn.getAttribute('data-topicID')
                        if(getElement('topicIDs').value.includes(id)){
                            getElement('topicIDs').value = getElement('topicIDs').value.replaceAll(`,${id}`,'')
                            e.target.hidden = true
                            e.target.remove()
                        }
                    }
                })
            }
        )
        getElement('topicquery').oninput=async(e)=>{
            const data = await postRequest(URLS.TOPICSEARCH, {
                query: e.target.value
            })
            if(!data) return
            if(data.code===code.OK && data.topic){
                getElement('topicqueryresult').innerHTML=`<button class="primary" type='button' id="${data.topic.id}">${data.topic.name}</button>`
                getElement(data.topic.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    let existing = String(getElement('topicIDs').value).trim();
                    if(existing.includes(id)){
                        return error('Already selected');
                    }
                    getElement('topicIDs').value = existing + ',' + id;
                    getElement('selectedtopicsview').innerHTML+=`<button type='button' class="primary negative-text selected-compete-topic" data-topicID='${id}' id="removetopic${id}">${Icon('close')}${data.topic.name}</button>`
                    
                }
            } else {
              getElement('topicqueryresult').innerHTML='No results.'
            }
        }
    }
    getElement('addjudgebutton').onclick=_=>{
        alertify.alert(
            'Search judges',
            `
            <input id='judgequery' placeholder="Type to search your judge" class="wide"></input><br/><br/>
            <div id='judgequeryresult'>
            </div><br/>
            <div>Judge(s) to mark submissions with points according to topics, after competition ends. Make sure they know about your competition beforehand.
                You'll be responsible for the actions of judge(s) you choose in this competition.
            </div>
            `,
            ()=>{
                getElements('selected-compete-judge').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        const id = btn.getAttribute('data-judgeID')
                        if(getElement('judgeIDs').value.includes(id)){
                            excludemods = excludemods.filter(mid=>mid!==id)
                            getElement('judgeIDs').value = getElement('judgeIDs').value.replaceAll(`,${id}`,'')
                            btn.hidden = true
                            btn.remove()
                        }
                    }
                })
            }
        )
        getElement('judgequery').oninput=async(e)=>{
            const data = await postRequest(URLS.JUDGESEARCH, {
                query: e.target.value,
                excludeIDs: excludejudges
            })
            if(!data) return
            if(data.code===code.OK && data.judge){
                getElement('judgequeryresult').innerHTML=`
                <button class="primary" type='button' id="${data.judge.id}">
                    <img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>
                    <a onclick="miniWindow('${data.judge.url}')">${Icon('open_in_new')}</a>`
                getElement(data.judge.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    let existing = String(getElement('judgeIDs').value).trim();
                    if(existing.includes(id)){
                        return error('Already selected');
                    }
                    excludemods.push(id)
                    getElement('judgeIDs').value = existing + ',' + id;
                    getElement('selectedjudgesview').innerHTML+=`
                    <button type='button' title="Judge" class="primary negative-text selected-compete-judge" data-judgeID='${id}' id="removejudge${id}">
                    ${Icon('close')}<img src="${data.judge.dp}" width="20" class="w3-circle primary" /> ${data.judge.name}</button>`
                    
                }
            } else {
              getElement('judgequeryresult').innerHTML='No results.'
            }
        }
    }
    getElement('selectmodbutton').onclick=(ebtn)=>{
        alertify.alert(
            'Search moderator',
            `
            <input id='modquery' placeholder="Type to search your moderator" class="wide"></input><br/><br/>
            <div id='modqueryresult'>
            </div><br/>
            <div>A moderator to moderate submissions before judgement, after competition ends. Make sure they know about your competition beforehand.
                You'll be responsible for the actions of moderator you choose in this competition.
            </div>
            `,
            ()=>{
                getElements('selected-compete-mod').forEach((btn)=>{
                    btn.onclick=(e)=>{
                        getElement('compmodID').value = ""
                        excludejudges = excludejudges.filter((id)=>id!=btn.getAttribute('data-modID'))
                        btn.hidden = true
                        btn.remove()
                        show(getElement('selectmodbutton'))
                    }
                })
            }
        )
        let lastmodid = ''
        getElement('modquery').oninput=async(e)=>{
            const data = await postRequest(URLS.MODSEARCH, {
                query: e.target.value,
                excludeIDs: excludemods
            })
            if(!data) return
            if(data.code===code.OK && data.mod){
                getElement('modqueryresult').innerHTML=`
                <button class="primary" type='button' id="${data.mod.id}">
                    <img src="${data.mod.dp}" width="20" class="w3-circle" /> ${data.mod.name}
                </button><a onclick="miniWindow('${data.mod.url}')">${Icon('open_in_new')}</a>
                `
                getElement(data.mod.id).onclick=(e)=>{
                    const id = e.target.id.replaceAll('-','')
                    getElement('compmodID').value = id;
                    excludejudges = excludejudges.filter((id)=>id!=lastmodid)
                    excludejudges.push(id)
                    lastmodid = id
                    getElement('selectedmodview').innerHTML =`
                    <button type='button' title="Moderator" class="primary negative-text selected-compete-mod" data-modID='${id}' id="removemod${id}">
                        ${Icon('close')}<img src="${data.mod.dp}" width="20" class="w3-circle primary" /> ${data.mod.name}
                    </button>`
                    hide(getElement('selectmodbutton'))
                    success('Moderator selected!')
                }
            } else {
              getElement('modqueryresult').innerHTML='No results.'
            }
        }
    }
    getElement("compendAt").addEventListener('blur',(e)=>{
        if(e.target.value <= getElement("compstartAt").value){
            error('Ending time should be greater than begin time!')
        }
        if (new Date(getElement("compstartAt").value).getTime() <= new Date().getTime()) {
            error('Begin time should be greater than current time!')
        }
    })
    getElement("compstartAt").addEventListener('blur',(e)=>{
        if (new Date(e.target.value).getTime() <= new Date().getTime()) {
            error('Begin time should be greater than current time!')
        }
        if(e.target.value >= getElement("compendAt").value){
            error('Ending time should be greater than begin time!')
        }
    })
    getElement("create-compete-form-submit-button").onclick=(e)=>{
        e.preventDefault();
        if(!getElements('create-compete-input').every(element => {
            if(!element.value && element.required){
                error(`${element.title || element.placeholder || 'Some fields'} not filled.`)
                element.scrollIntoView()
                element.focus()
                return false
            }
            return true
        })) return
        subLoader()
        _processReCaptcha(()=>{
            getElement("create-compete-form").submit()
        })
    }
</script>
{% endblock %}
