{% extends 'management/index.html' %}
{% load custom_tags %}

{% block title %}Manage Competitions{% endblock %}

{% block nav_text %}Manage Competitions{% endblock %}
{% block nav_href %}{{ROOT}}{% endblock %}

{% block nav_icon %}
<button class="primary previous-navigation-button" data-icon="arrow_back" onclick="window.close()"></button>
{% endblock %}

{% block content %}
<div class="w3-row w3-padding">

<a href="{{URLS.CREATE_COMP}}"><button class="accent w3-right">Create<i>add</i></button></a>

    <div class="w3-row">
    <h3>Created by you</h3>
    {% for compete in competes %}
        {% if compete.creator == request.user.profile %}
        <div class="w3-col w3-third w3-padding-small">
            <div class="w3-row pallete-slab">
            <img class="w3-round w3-right" width="60" src="{{compete.getBanner}}" />
            <h6>{{compete.title}}</h6>
            <strong>{{compete.totalParticipants}} participants</strong><br/>
            <strong>{{compete.totalValidSubmissions}} submissions</strong>
            <a href="{{compete.getManagementLink}}" class="w3-right"><button class="positive small" data-icon="visibility">View</button></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <br/>
    <div class="w3-row">
    <h3>By other managers</h3>
    {% for compete in competes %}
        {% if compete.creator != request.user.profile %}
        <div class="w3-col w3-third w3-padding-small">
            <div class="w3-row pallete-slab">
            <img class="w3-round w3-right" width="60" src="{{compete.getBanner}}" />
            <h6>{{compete.title}}</h6>
            <strong>{{compete.totalParticipants}} participants</strong><br/>
            <strong>{{compete.totalValidSubmissions}} submissions</strong>
            <a href="{{compete.getManagementLink}}" class="w3-right"><button class="positive small" data-icon="visibility">View</button></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<br/>
{% endblock %}