{% extends 'projects/create.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}


{% block themecolor %}accent{% endblock %}

{% block nav_back_theme %}primary{% endblock %}
{% block nav_style %}accent{% endblock %}
{% block nav_text_style %}text-accent{% endblock %}

{% block nav_text %}{% trans "Submit project" %}{% endblock %}
{% block nav_href %}{{URLS.CREATE}}{% endblock %}
{% block nav_back_icon %}close{% endblock %}
{% block nav_auth_links %}{% endblock %} 
{% block nav_noauth %}{% endblock %}

{% block content %}
{% if user.profile.has_ghID %}
<div class="w3-center w3-padding-small tertiary w3-animate-opacity">
    <h6>Before you apply a project for verification, you should go through the <a target="_blank" rel="noreferrer" class="positive-text" href="/docs/moderationguidelines">
    project guidelines</a>.</h6>
</div>
<center><strong class="dead-text">{% trans "Do not fill any personal information at any step." %}</strong></center>
    
<div class="w3-row w3-padding-64 w3-container">
    <div class="w3-col w3-half w3-padding">
        <input
            type="file"
            accept="image/*"
            id="projectimage"
            hidden
        />
        <form id="create-project-form" class="w3-animate-left" method="POST" action="{{URLS.SUBMIT_MOD}}">
            {% csrf_token %}

            <div class="step-tab" id="step1">
                <input hidden id="projectImageData" name="projectimage" value="" type="text" />
                <br />
                <div class="w3-row">
				<h3>Display name</h3>
                <input
                    required
                    class="big-input"
                    name="projectname"
                    id="projectname"
                    placeholder="Project title"
                    type="text"
                    maxlength="40"
                />
                <span id="projectnameerror"></span>
                <br /><br /><br />

                <h3>Repository name</h3>
                <input
                    required
                    class="big-input"
                    name="reponame"
                    id="reponame"
                    type="text"
                    maxlength="15"
                    placeholder="Project's unique username"
                />
                <span id="reponameerror"></span>
                </div>
            </div>

            <div class="step-tab" id="step2">
                <h3>About</h3>
                <textarea
                    required
                    class="big-input"
                    maxlength="300"
                    rows="4"
                    type="text"
                    name="projectabout"
                    id="projectabout"
                    placeholder="About your project in a sentence or two."
                ></textarea>
                <span id="projectabouterror"></span>
                <br /><br />

                <h3>Extra description</h3>
                <textarea
                    required
                    class="big-input"
                    name="description"
                    maxlength="5000"
                    rows="5"
                    type="text"
                    id="description"
                    placeholder="Detailed explanation of the project, i.e. motive, etc. for moderator to understand."
                ></textarea>
                <span id="descriptionerror"></span>
                
            </div>

            <div class="step-tab" id="step3">
                <h3>Category</h3>
                <input
                    required
                    class="big-input"
                    name="projectcategory"
                    id="projectcategory"
                    maxlength="30"
                    placeholder="Choose type of project"
                    list="categories"
                />
                <datalist id="categories">
                  {% for cat in categories %}
                  <option value="{{cat.name}}">{{cat.name}}</option>
                  {% endfor %}
                </datalist>
                <span id="projectcategoryerror"></span>
                <br /><br />

                <h3>Link</h3>
                <input
                    class="big-input"
                    name="referurl"
                    id="referurl"
                    type="url"
                    inputmode="url"
                    maxlength="100"
                    placeholder="Any link related to this project, optional"
                />
                <span id="referurlerror"></span>
            </div>

            <div class="step-tab" id="step4">
                <div class="w3-row" id="preview-step">
                    <div class="w3-row">
                        <h3 id="projectnamepreview"></h3>
                        <h5 id="reponamepreview"></h5>
                        <div id="projectaboutpreview"></div><br/>
                        <span class="dead-text">Category: </span><strong id="projectcategorypreview"></strong><br/><br/>
                        <h6>Extra description</h6>
                        <div id="descriptionpreview"></div>
                        <strong class="positive-text pointer" id="referurlpreview"></strong>
                    </div>
                    <br/>
                    <div class="w3-row">
                        <h6>License</h6>
                        <span id='licenses'>
                        {% for license in licenses %}
                        <button type="button" class="license-choice" id="{{license.getID}}" title="{{license.name}}: {{license.description}}">{{license.name}}</button>
                        {% endfor %}
                        </span>
                        <button type="button" class="primary" id="more-licenses" data-icon="add">More licenses</button>
                        <input type="hidden" id="license" name="license" value="{{licenses.0.getID}}" />
                    </div>
                </div>
                <br/>
                <strong><a target="_blank" onclick="newTab('{{URLS.ALLLICENSES}}')">Learn more</a> about these licenses.</strong>
                <br/>
                <strong>Days before expiration
                <input
                    name="stale_days"
                    id="stale_days"
                    type="number"
                    inputmode="numeric"
                    placeholder="1-15",
                    value="3"
                    required
                    onblur="this.value=((15-Number(this.value))>=0?Number(this.value)>0?Number(this.value):1:15)||3"
                    min="1"
                    max="15"
                /></strong><br/>
                {% if request.user.profile.is_manager %}
                <label>
                    <input name="useInternalMods" checked id="useInternalMods" type="checkbox"  aria-required="true" />
                    Use moderators only from <a href="{{request.user.profile.get_link}}?tab=2" target="_blank">my organization</a>.
                </label>
                <br/>
                {% endif %}
                <label id="confirm-check-box">
                    <input name="acceptterms" id="acceptterms" type="checkbox" required aria-required="true" />
                    I've read the {{appname}} 
                        <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'moderationguidelines'}}')">moderation guidelines</a>, 
                        <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'privacypolicy'}}')">privacy policy</a> & 
                        <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'termsofservice'}}')">terms of service</a>.
                </label>
            </div>
            <br/>
            <div class="w3-row">
                <div class="w3-row w3-right">
                    <div class="loader" id="actionloader"></div>
                    <div id="actionbuttons">
                    <button
                        type="button"
                        class="primary big-button"
                        id="prevBtn"
                        onclick="nextPrev(-1)"
                    >
                        <i class="big-icon">navigate_before</i> Previous
                    </button>
                    <button
                        type="button"
                        class="big-button positive"
                        id="nextBtn"
                        onclick="nextPrev(1)"
                    >
                        Next <i class="big-icon">navigate_next</i>
                    </button>
                </div>
                </div>
            </div>
            <br/><br/>
            <div class="w3-row w3-center">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>
    <div class="w3-col w3-half w3-center w3-padding w3-animate-right" id="imageview">
        <img class="pallete preview-type-image" id="projectImageOutput" width="60%" src="/media/projects/default.png" /><br/><br/>
        <div class="w3-row">
            <button class="accent" type="button" id="upload-button">
                <i class="material-icons">upload</i>
                <label for="projectimage" id="uploadprojectimagelabel">
                    Upload Image
                </label>
            </button>
            <span id="projectimageerror"></span>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block in_scripts %}
<script>
let currentStep = isNaN("{{request.GET.step}}")?0:Number("{{request.GET.step}}");
{% if not user.profile.has_ghID %}
    connectWithGithub(URLS.CREATE_MOD,_=>{window.location.replace(URLS.CREATE)})
{% else %}
{% comment %} window.addEventListener('beforeunload',(event)=>{
    event.preventDefault();
    return event.returnValue = "Changes are not saved!";
}) {% endcomment %}
{% endif %}
</script>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/project/create.js' %}" type="text/javascript" ></script>
{% endblock %}
