{% extends 'projects/create.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}


{% block themecolor %}tertiary{% endblock %}

{% block nav_style %}tertiary{% endblock %}
{% block nav_text_style %}text-tertiary{% endblock %}
{% block nav_back_theme %}positive{% endblock %}

{% block nav_text %}{% trans "Request core project" %}{% endblock %}
{% block nav_href %}{{URLS.CREATE}}{% endblock %}
{% block nav_back_icon %}close{% endblock %}
{% block nav_auth_links %}{% endblock %} 
{% block nav_noauth %}{% endblock %}

{% block content %}
{% if request.user.profile.is_manager %}
<div class="w3-row positive">
    <br/>
    <input type="file" id="uploadprojectimage" hidden accept="image/png, image/jpg, image/jpeg" />
    <form action="{{URLS.SUBMIT_CORE}}" method="POST">
    {% csrf_token %}
    <div class="w3-col w3-quarter w3-padding">
        <div class="w3-row">
            <div class="pallete w3-center" id="edit-pallete">
                <img src="/media/projects/default.png" id="projectimageoutput" />
                <button class="positive small" type="button" id="upload-button" data-icon="upload">
                <label id="uploadprojectimagelabel" for="uploadprojectimage">Select Image</label>
                </button>
                <br/>
                <input type="text" hidden id="projectimagedata" name="projectimage" value="" />
                <div class="w3-row w3-padding">
                    <input type="text" maxlength="70" class="create-project-input" autocomplete="organization-title" autocapitalize placeholder="Project name" required name="projectname" /><br/><br/>
                    <textarea required maxlength="300" placeholder="About project in a sentence or two." class="create-project-input wide" name="projectabout" ></textarea><br/>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div class="w3-col w3-threequarter">
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Overview</h5></center><br/>
                    <h6>Codename</h6>
                    <input placeholder="project-codename" maxlength="15" required class="create-project-input" name="projectcodename" id="projectcodename" />
                    <h6>Category</h6>
                    <select class="wide text-medium tertiary pallete-slab positive-text" name="projectcategory" required>
                        {% for cat in categories %}
                        <option value="{{cat.get_id}}">{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <h6>Description</h6>
                    <textarea class="wide create-project-input" name="projectdescription" required rows="5" placeholder="Details for moderator to understand your project."></textarea>
                </div>
            </div>
            <br/>
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Request</h5></center><br/>
                    <h6>Moderator Choice</h6>
                    <input type="radio" name="moderator" class="create-project-input" value="random_moderator" required id="random_moderator" />
                    <label for="random_moderator"><span class="positive-text">&nbsp;Random moderator</span></label>
                    <br/>
                    <input type="radio" name="moderator" class="create-project-input" value="internal_moderator" required id="internal_moderator" />
                    <label for="internal_moderator"><span class="positive-text">&nbsp;Internal moderator</span></label>
                    <br/>
                    <input type="radio" name="moderator" class="create-project-input" value="chosen_moderator" required id="chosen_moderator" />
                    <label for="chosen_moderator"><span class="positive-text">&nbsp;Chosen moderator</span></label>
                    <br/><br/>
                    <input type="text" placeholder="Type to search a moderator" class="wide" />
                    <span id="mod-search-output">
                    </span>
                    <input type="text" hidden name="moderator_id" id="moderator_id" />
                </div>
            </div>
        </div>
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Metadata</h5></center><br/>
                    <strong>Requested on <span>{% now "DATETIME_FORMAT" %}</span></strong><br/><br/>
                    <strong>Requested by</strong><a href="{{request.user.profile.getLink}}"><button class="primary" type="button"><img class="w3-circle primary" src="{{request.user.profile.getDP}}"  width="20"/>&nbsp;{{request.user.profile.getName}}</button></a><br/><br/>
                </div>
            </div>
            <br/>
            <div class="w3-row pallete">
                <label id="confirm-check-box">
                <input name="acceptterms" id="acceptterms" type="checkbox" autofocus required aria-required="true" />
                I've read the {{APPNAME}} 
                    <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'communityguidelines'}}')">community guidelines</a>, 
                    <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'moderationguidelines'}}')">project guidelines</a>, 
                    <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'privacypolicy'}}')">privacy policy</a> & 
                    <a onclick="miniWindow('{{URLS.Docs.TYPE|params:'termsofservice'}}')">terms of service</a>.
                </label>
            </div>
            <div class="w3-row">
                <button type="submit" class="w3-right big-button primary" data-icon="done">Submit Request</button>
            </div>
        </div>
    </div>
    <div class="w3-row"></div>
    </form>
    <br/>
</div>
{% endif %}
{% endblock %}

{% block in_scripts %}
<script>
{% if not request.user.profile.is_manager %}
    Swal.fire({title:"Only managers", html:"<h4>Core projects are currently reserved for management accounts only.</h4>"}).then(()=>{
        loaders()
        refer({path:URLS.CREATE})
    });
{% else %}
    getElement("uploadprojectimage").onchange = (e) => {
        handleCropImageUpload(e, "projectimagedata", "projectimageoutput", (_) => {
            getElement("uploadprojectimagelabel").innerHTML = "Selected";
        });
    };
    getElements('create-project-input').forEach(element => {
        if(!Array.from(element.classList).includes('no-retain')){
            element.value = sessionStorage.getItem(`create-coreproject-input-${element.id||element.name}`)
            element.addEventListener("input", (e)=>{
                sessionStorage.setItem(`create-coreproject-input-${element.id||element.name}`,element.value)
            })
        }
    });

    getElement('projectcodename').oninput=async(e)=>{
      e.target.value = String(e.target.value).toLowerCase().trim().replaceAll(" ", "-").replaceAll("--","-").replace(/[^a-zA-Z0-9\-]/g, "-");
    }

    getElement('projectcodename').onchange=async(e)=>{
        let nickname = String(e.target.value).trim()
        if(!nickname) return
        const data = await postRequest(setUrlParams(URLS.CREATEVALIDATEFIELD,'nickname'),{nickname})
        if(!data) return
        if(data.code!==code.OK) return error(data.error)
        return message(`'${String(e.target.value).trim()}' is available!`)
    }
{% endif %}
</script>
{% endblock %}
