{% extends 'projects/create.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}


{% block themecolor %}vibrant{% endblock %}

{% block nav_style %}vibrant{% endblock %}
{% block nav_text_style %}text-vibrant{% endblock %}
{% block nav_back_theme %}primary{% endblock %}

{% block nav_text %}{% trans "Request core project" %}{% endblock %}
{% block nav_href %}{{URLS.CREATE}}{% endblock %}
{% block nav_back_icon %}close{% endblock %}
{% block nav_auth_links %}{% endblock %} 
{% block nav_noauth %}{% endblock %}

{% block content %}
{% if request.user.profile.is_manager %}
<div class="w3-row tertiary">
    <br/>
    <input type="file" id="uploadprojectimage" hidden accept="image/png, image/jpg, image/jpeg" />
    <form action="{{URLS.SUBMIT_CORE}}" method="POST">
    {% csrf_token %}
    <div class="w3-col w3-quarter w3-padding">
        <div class="w3-row">
            <div class="pallete w3-center" id="edit-pallete">
                <img src="/media/projects/default.png" id="projectimageoutput" />
                <button class="vibrant small" type="button" id="upload-button" data-icon="upload">
                <label id="uploadprojectimagelabel" for="uploadprojectimage">Select Image</label>
                </button>
                <br/>
                <input type="text" hidden id="projectimagedata" name="coreproject_projectimage" value="" />
                <div class="w3-row w3-padding">
                    <input type="text" maxlength="70" class="create-project-input" autocomplete="organization-title" autocapitalize placeholder="Project name" required name="coreproject_projectname" /><br/><br/>
                    <textarea required maxlength="300" placeholder="About project in a sentence or two." class="create-project-input wide" name="coreproject_projectabout" ></textarea><br/>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div class="w3-col w3-threequarter">
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Overview</h5></center><br/>
                    <h6>Codename</h6>
                    <input placeholder="project-codename" maxlength="20" minlength="3" required class="create-project-input" name="coreproject_codename" id="projectcodename" />
                    <h6>Category</h6>
                    <select class="wide text-medium vibrant pallete-slab" name="coreproject_projectcategory" required>
                        {% for cat in categories %}
                        <option value="{{cat.get_id}}">{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <h6>Description</h6>
                    <textarea class="wide create-project-input" name="coreproject_projectdescription" required rows="5" placeholder="Details for moderator to understand your project."></textarea>
                </div>
            </div>
            <br/>
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Moderation</h5></center>
                    <h6>Customize Moderation</h6>
                    <input type="radio" name="moderator_type_radio" class="create-project-input" checked value="0" required id="random_moderator" />
                    <label for="random_moderator"><span class="vibrant-text">&nbsp;Random moderator</span></label>
                    <br/>
                    <input type="radio" name="moderator_type_radio" class="create-project-input" value="1" required id="internal_moderator" />
                    <label for="internal_moderator"><span class="vibrant-text">&nbsp;Random Internal moderator</span></label><a href="{{URLS.Management.MODERATORS}}" target="_blank"><i>open_in_new</i></a>
                    <br/>
                    <input type="radio" name="moderator_type_radio" class="create-project-input" value="2" required id="chosen_moderator" />
                    <label for="chosen_moderator"><span class="vibrant-text">&nbsp;Chosen moderator</span></label>
                    <br/><br/>
                    <span id="choose_moderator_views" hidden>
                        <input type="text" placeholder="Type to search a moderator" class="wide" id="choose_moderator_search_input"/>
                        <span id="choose_moderator_search_output">
                        </span>
                        <span id="choose_moderator_selected_output">
                        </span>
                        <br/><br/>
                    </span>
                    <input type="text" hidden name="coreproject_moderator_id" id="coreproject_moderator_id" value='' />
                    <input type="checkbox" hidden name="coreproject_random_moderator" checked id="coreproject_random_moderator" />
                    <input type="checkbox" hidden name="coreproject_internal_moderator"  id="coreproject_internal_moderator" />
                    
                    <input type="url" placeholder="Any relevant link (optional)" class="wide create-project-input" name="coreproject_referurl" />
                    
                    <h6>Maximum days to review</h6>
                    <input type="number" placeholder="Default: 3 days, max 15 days" value="3" class="create-project-input wide" name="coreproject_stale_days" min="1" max="15" />
                    <br/>

                    <h6>Project Budget (&#x20B9;)</h6>
                    <input type="number" min="0" max="1000000" step="0.01" class="create-project-input wide" name="coreproject_projectbudget" required placeholder="INR (&#x20B9;)" />
                </div>
            </div>
        </div>
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Metadata</h5></center><br/>
                    <strong>Requested on <span>{% now "DATETIME_FORMAT" %}</span></strong><br/><br/>
                    <strong>Requested by</strong><a href="{{request.user.profile.getLink}}"><button class="{{request.user.profile.theme}}" type="button"><img class="w3-circle primary" src="{{request.user.profile.getDP}}"  width="20"/>&nbsp;{{request.user.profile.getName}}</button></a><br/><br/>
                    <strong>The source code of this project will be visible to people at {{APPNAME}} organization on GitHub only, hidden from rest of the world.</strong>
                </div>
            </div>
            <br/>
            <div class="w3-row">
                <div class="pallete">
                    <center><h5>Proprietary license</h5></center><br/>
                    <input type="text" placeholder="License name" class="create-project-input wide" name="coreproject_license_name" id="coreproject_license_name" required maxlength="49" /><br/><br/>
                    <input type="text" placeholder="About license" class="create-project-input wide" name="coreproject_license_about" id="coreproject_license_about" required maxlength="500" /><br/><br/>
                    <textarea type="text" rows="5" 
                    placeholder="Something like: Copyright (C) {{request.user.profile.get_name}}, Inc - All Rights Reserved. Unauthorized copying..." class="create-project-input wide" 
                        name="coreproject_license_content" id="coreproject_license_content" required maxlength="50000">
                    </textarea>
                    <input type="text" hidden name="coreproject_license_id" id="coreproject_license_id" />
                    {% for lic in licenses %}
                    <button class="primary small existing-license-button" id="{{lic.id}}" data-name="{{lic.name}}" data-about="{{lic.description}}" data-content="{{lic.content}}" type="button">{{lic.name}}</button>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class="w3-row pallete">
                <label id="confirm-check-box">
                <input name="coreproject_acceptterms" id="acceptterms" type="checkbox" autofocus required aria-required="true" />
                I've read the {{APPNAME}} 
                    <a class="mini-window-action" data-url="{{URLS.Docs.TYPE|params:'moderationguidelines'}}">project guidelines</a>, 
                    <a class="mini-window-action" data-url="{{URLS.Docs.TYPE|params:'communityguidelines'}}">community guidelines</a>, 
                    <a class="mini-window-action" data-url="{{URLS.Docs.TYPE|params:'privacypolicy'}}">privacy policy</a> & 
                    <a class="mini-window-action" data-url="{{URLS.Docs.TYPE|params:'termsofservice'}}">terms of service</a>.
                </label>
            </div>
            <br/>
            <div class="w3-row">
                <button type="submit" class="w3-right big-button vibrant" data-icon="done" id="submit-core-project-request">Submit Request</button>
            </div>
        </div>
    </div>
    <div class="w3-row"></div>
    </form>
    <br/>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script nonce="{{request.csp_nonce}}" src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.CREATE_2}}"></script>
{% endblock %}

