{% extends 'projects/create.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}


{% block themecolor %}tertiary{% endblock %}

{% block nav_style %}tertiary{% endblock %}
{% block nav_text_style %}text-tertiary{% endblock %}
{% block nav_back_theme %}positive{% endblock %}

{% block nav_text %}{% trans "Request project" %}{% endblock %}
{% block nav_href %}{{URLS.CREATE}}{% endblock %}
{% block nav_back_icon %}close{% endblock %}
{% block nav_auth_links %}{% endblock %} 
{% block nav_noauth %}{% endblock %}

{% block content %}
Core project subm
{% endblock %}
