{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row w3-padding-small">
    <center><h4>{% trans "All participants must adhere to our" %} <a class="mini-window-action" data-url="{{ URLS.Docs.TYPE|params:'competitionguidelines' }}">{% trans "competition guidelines" %}</a>, <br/>{% trans "and then the following." %}</h4></center>
    <br/>
    <h4 class="dead-text">{% trans "What to submit" %}</h4>
    <p>{% trans "Your submission should be a valid URL with all the neccessary content required by the task of this competition." %} {% trans "Make sure that your provided URL is publicly available all the time after submission." %}
    {% trans "If our judges and moderator are unable to access the content provided on your submission URL, then your submission will stand INVALID." %}
    </p>
    
    <h4 class="dead-text">{% trans "Where to submit" %}</h4>
    <p>For your submission to be considered valid, you must only submit from the only <strong>Submission</strong> tab in this page. {% trans "For small devices, submission tab will the 4th bubble above this view." %}<br/>
    Only the <strong>submissions from this page</strong> will be considered <strong>VALID</strong>. We strictly advise you to <strong>NOT use any other means of submission</strong>.
    If you provide your submission via any means <strong class="negative-text">other than this page</strong>, then your submission
    will be <strong class="negative-text">INVALID</strong>
    </p>
    
    <h4 class="dead-text">{% trans "When to submit" %}</h4>
    <p>{% trans "It is a general advise that you should prepare your submission till at least an hour before a competition ends, to avoid hassle." %}<br/>
    This competition will accept submissions between <strong>{{compete.startAt}}</strong> and <strong>{{compete.endAt}}</strong>.
    <br/>Any submission after the latter time will be considered late, and therefore, will be <a class="negative-text" target="_blank" href="{{ URLS.Docs.TYPE|params:'competitionguidelines' }}">vulnerable to rejection</a>.
    </p>
</div>
