<div class="w3-row w3-padding-small">
    <center><h4>All participants must adhere to our <a onclick="miniWindow('/docs/competitionguidelines')" class="positive-text">competition guidelines</a>, and then the following.</h4></center>
    <br/>
    <h4>What to submit</h4>
    <p>Your submission should be a valid URL with all the neccessary content required by the task of this competition. Make sure that your provided URL is publicly available all the time after submission.
    If our judges and moderator are unable to access the content provided on your submission URL, then your submission will stand INVALID.
    </p>
    
    <h4>Where to submit</h4>
    <p>For your submission to be considered valid, you must only submit from the only <strong>Submission</strong> tab in this page. For small devices, submission tab will the 4th bubble above this view.<br/>
    Only the <strong class="positive-text">submissions from this page</strong> will be considered <strong class="positive-text">VALID</strong>. We strictly advise you to <strong>NOT use any other means of submission</strong>.
    If you provide your submission via any means <strong class="negative-text">other than this page</strong>, then your submission
    will be <strong class="negative-text">INVALID</strong>
    </p>
    
    <h4>When to submit</h4>
    <p>It is a general advise that you should prepare your submission till at least an hour before a competition ends, to avoid hassle.<br/>
    This competition will accept submissions between <strong>{{compete.startAt}}</strong> and <strong>{{compete.endAt}}</strong> (IST, Asia/Kolkata).
    <br/>Any submission after the latter time will be considered late, and therefore, will be <a class="negative-text" target="_blank" href="/docs/competitionguidelines">vulnerable to invalidation</a>.
    </p>
</div>