<div class="w3-row w3-padding-small">
    <center>
        <h3>Topics of this competition</h3>
        {% for topic in compete.getTopics %}
        <button class=" positive">{{topic.name}}</button>
        {% endfor %}
    </center>
    <h4>Description</h4>
    <p>{{compete.description}}</p>
    <h4>Perks</h4>
    <h6>Chance to level up profile XP by +{{compete.getMaxScore}}!</h6>
    <p>
        {% for perk in compete.getPerks %}
        <h6>Rank {{forloop.counter}} : {{perk}}</<h6>
        {% endfor %}
        <h6>All participants will receive e-certificates.</h6>
        <strong>The points obtained from this competition will be allowed to increment in each participants' personal profiles.</strong>
    </p>
</div>