{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row w3-padding-small">
    <center>
        <h3>{% trans "Topics of this competition" %}</h3>
        {% for topic in compete.getTopics %}
        <button class=" positive">{{topic.name}}</button>
        {% endfor %}
        <br/>
        <br/>
        <h6>A chance to level up your profile by <span class="accent">+{{compete.getMaxScore}} XP</span>!<a href="#notice">*</a></h6>
    </center>
    <div class="w3-row">
    <center><h4>{% trans "Rank prizes" %}<a href="#notice">*</a></h4></center>
    {% for perk in compete.getPerks %}
    <div class="w3-col w3-third w3-padding-small w3-center">
        <div class="pallete accent">
            <i class="w3-jumbo ">
            {% if forloop.counter == 1%}emoji_events{% elif forloop.counter == 2%}military_tech{% elif forloop.counter == 3%}celebration{% else %}card_giftcard{% endif %}
            </i>
            <h1>{{forloop.counter|numsuffix}}</h1>
            <h6 class="pallete">{% if perk.name %}{{perk.name}}{% else %}{{perk}}{% endif %}</h6>
        </div>
    </div>
    {% endfor %}
    </div>
    <br/>
    <center>
    <h6>{% trans "All participants will receive" %} <span class="accent">{% trans "e-certificates" %}</span><a href="#notice">*</a>{% trans "." %}</h6>
    <strong>{% trans "The points obtained from this competition can be claimed as XP for your profile." %}</strong>
    </center>
    <div class="w3-row">
    <h4>{% trans "Description" %}</h4>
    <strong>{{compete.description}}</strong>
    </div>
</>