{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
    {% if request.user.is_authenticated and submission and confirmed %}
    <div class="w3-col w3-half w3-padding-small">
        <h4>
        {% if not submission.submitted %}
        <i>pending</i>&nbsp;{% trans "Not submitted" %}
        {% else %}
        <i>task_alt</i>&nbsp;{% trans "Submitted" %}{% if submission.late %} <span class="negative-text">{% trans "late" %}</span>{% endif%}.
        {% endif %}
        </h4>
        <div class="w3-row pallete positive">
            <h3>{% trans "Submission" %}</h3>
            {% if not submission.submitted and compete.isActive %}
            <form class="w3-row" method="POST" action="{{submission.saveLink}}">
                {% csrf_token %}
            <input class="wide" type="url" name="submissionurl" id="submissionurl" placeholder="Submission URL" data-saved="{{submission.getRepo}}" required value="{{submission.getRepo}}">
            <div><br/></div>
            <button type="submit" class="primary" data-icon="save">Save</button>
            </form>
            {% elif not submission.submittingLate and submission.submitted %}
                <a href="{{submission.getRepo}}" target="_blank"><button class="primary" data-icon="visibility">{% trans "Your submission" %}</button></a>
                <h4 class="text-positive">Submitted on {{submission.submitOn}}
                </h4>
            {% else %}
            <input disabled class="wide" type="url" name="submissionurl" id="submissionurl" placeholder="Submission URL" required value="{{submission.getRepo}}">
            {% endif %}
        </div>
        {% if not submission.submitted and not compete.moderated %}
        <button class="big-button {% if submission.submittingLate %}negative{% else %}accent{% endif %}" data-icon="check_circle" id="finalsubmit">
        {% if submission.submittingLate %}
            {% trans "Late Submit" %}
        {% else %}
            {% trans "Final Submit" %}
        {% endif %}
        </button>
        <br/><strong>{% trans "Save your submission before final submit." %}</strong>
        {% endif %}
        {% if not submission.submitted and compete.moderated %}
            <br/>
            <span class="negative-text">Your submission {% if compete.resultDeclared %}was {% else %}is {% endif %}vulnerable to being invalidated by the moderator.</span>
        {% endif %}
    </div>
    
    <div class="w3-col w3-half w3-padding-small">
        <h5 class="w3-left w3-padding-small">{% trans "Teammates" %}</h5>
        <div class="w3-row">
            {% for member in submission.getMembers %}
            <div class="w3-col w3-third w3-padding-small">
                <div class="pallete accent w3-center">
                    <a target="_blank" href="{{member.getLink}}">
                    <img src="{{member.getDP}}" width="100" class="pallete" />
                    <br/>
                    <strong class="text-accent">{{member.getName}}</strong>
                    </a>
                    {% if not submission.submittingLate and not submission.submitted %}
                    <br/>
                    <button class="small negative remove-person" data-name="{{member.getName}}" data-userID="{{member.getUserID}}" data-icon="delete"></button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% if compete.isActive and not submission.submitted %}
        <br/>
        {% if submission.canInvite %}
        <button class="w3-right active" data-icon="person_add" id="invitepeople">{% trans "Invite" %}</button>
        {% endif %}
        <h5 class="w3-padding-small">{% trans "Invitees" %}</h5>
        <div class="w3-row">
            {% for invitee in submission.getInvitees %}
            <div class="w3-col w3-third w3-padding-small">
                <div class="pallete">
                    <h6>{{invitee.getName}}</h6>
                    <button class="small negative remove-person" data-name="{{invitee.getName}}" data-userID="{{invitee.getUserID}}" data-icon="delete"></button>
                    <a href="{{invitee.getLink}}" target="_blank"><button class="small positive" data-icon="open_in_new"></button></a>
                </div>
            </div>
            {% empty %}
            <center><h4>{% trans "No pending invites" %}</h4></center>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% else %}
        {% if not compete.isActive %}
            <br/><br/>
            <center>
            <div class="w3-jumbo material-icons">hourglass_bottom</div>
            <h1>{% trans "Competition ended" %}{% if request.user.is_authenticated %}<br/>{% trans "before you could participate." %}{% else %}.{% endif%}
            </h1>
            </center>
        {% else %}
            <br/>
            <div class="w3-row w3-center">
            <i class="w3-jumbo">group_work</i>
            
            <h1>{% trans "Competition is a thrill way to grow." %}</h1>
            {% if request.user.is_authenticated %}
            <form action="{{compete.participationLink}}" method="POST">
                {% csrf_token %}
                <a href="#mainframe"><button type="submit" class="display-button accent" id="participate" data-icon="addchart">{% trans "Participate Independently" %}</button></a>
                <br/><br/><br/>
                <strong>{% trans "If you have been invited, then the above button will cancel your pending invitations." %}</strong>
                <br/><br/>
            </form>
                {% if submission and not confirmed %}
                    <h5>{% trans "You have a pending invitation for participation in this competition" %}</h5>
                    <a href="{{URLS.INVITATION|params:submission.get_id|params:request.user.get_id}}"><button class="positive">{% trans "View invitation" %}</button></a>
                {% endif %}
            {% else %}
                <a href="{% url 'account_login' %}?next={{compete.getLink}}#mainframe"><button class="display-button positive" data-icon="login">{% trans "Login to Participate" %}</button></a>
            {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
