{% load i18n %}
{% load l10n %}
{% load tz %}
{% load static %}
{% load cache %}
{% load custom_tags %}

<div class="w3-row">
    {% if request.user.is_authenticated and submission and confirmed %}
    <div class="w3-col w3-half w3-padding-small">
        <h4>
        {% if not submission.submitted %}
        <i>pending</i>&nbsp;{% trans "Not submitted" %}
        {% else %}
        <i>task_alt</i>&nbsp;{% trans "Submitted" %}{% if submission.late %} <span class="negative-text">{% trans "late" %}</span>{% endif%}.
        {% endif %}
        </h4>
        <div class="w3-row pallete active w3-center">
            {% if not submission.submitted and compete.isActive %}
              {% if submission.free_project %}
               <a href="{{submission.getRepo}}" target="_blank"><button class="big-button primary" data-img="{{submission.free_project.getDP}}">{{submission.free_project.name}}</button></a>
               <button class="negative-text primary" data-icon="close" id="remove-quick-project">Remove project as submission</button>
               <input type="url" hidden name="submissionurl" id="submissionurl" data-saved="{{submission.getRepo}}" value="{{submission.getRepo}}">
              {% elif submission.article %}
               <a href="{{submission.getRepo}}" target="_blank"><button class="big-button primary" data-img="{{submission.article.getImage}}">{{submission.article.heading}}</button></a>
               <button class="negative-text primary" data-icon="close" id="remove-quick-project">Remove article as submission</button>
               <input type="url" hidden name="submissionurl" id="submissionurl" data-saved="{{submission.getRepo}}" value="{{submission.getRepo}}">
              {% else %}
		{% if submission.modeProject %}
                <button class="big-button primary" id="submit-quick-project" data-icon="widgets">Submit a Quick Project</button>
		{% else %}
                <button class="big-button primary" id="submit-article" data-icon="widgets">Submit your article</button>
	        {% endif %}
                <input hidden class="wide positive-text" type="url" name="submissionurl" id="submissionurl" placeholder="Submission URL" data-saved="{{submission.getRepo}}" value="{{submission.getRepo}}">
                {% comment %}
                 <div class="text-big">OR</div>
               <form class="w3-row no-auto" method="POST" action="{{submission.saveLink}}">
                {% csrf_token %}
                <strong><input class="wide positive-text" type="url" name="submissionurl" id="submissionurl" placeholder="Submission URL" data-saved="{{submission.getRepo}}" required value="{{submission.getRepo}}"></strong>
                <div><br/></div>
                <button type="submit" class="primary" id="save-url-submission" data-icon="save">Save</button>
               </form> 
                {% endcomment %}
              {% endif %}
            {% elif not submission.submittingLate and submission.submitted %}
                <br/>
                <a href="{{submission.getRepo}}" target="_blank"><button class="primary" data-icon="visibility">{% trans "View your submission" %}</button></a>
                <h4 >Submitted on {{submission.submitOn}}
                </h4>
            {% else %}
            <input disabled class="wide" type="url" name="submissionurl" id="submissionurl" placeholder="Submission URL" data-saved="{{submission.getRepo}}" required value="{{submission.getRepo}}">
            {% endif %}
        </div>
        {% if not submission.submitted and not compete.moderated %}
        <button class="big-button {% if submission.submittingLate %}negative{% else %}accent{% endif %}" data-icon="check_circle" id="finalsubmit">
        {% if submission.submittingLate %}
            {% trans "Late Submit" %}
        {% else %}
            {% trans "Final Submit" %}
        {% endif %}
        </button>

        <br/><br/><strong>{% trans "Verify your submission before final submit." %}</strong>
        {% endif %}
        {% if not submission.submitted and compete.moderated %}
            <br/>
            <span class="negative-text">Your submission {% if compete.resultDeclared %}was {% else %}is {% endif %}vulnerable to being invalidated by the moderator.</span>
        {% endif %}
    </div>
    
    <div class="w3-col w3-half w3-padding-small">
        <h5 class="w3-left w3-padding-small">{% trans "Teammates" %}</h5>
        <a class="w3-right" href="https://discord.gg/q22uzPscnh" target="_blank" rel="noreferrer"><span hidden>Discord</span><button aria-label="Discord"  class="primary w3-animate-zoom"><img alt="Discord" src="{% static 'graphics/thirdparty/discord.webp' %}" width="18" height="20" />&nbsp;Discord Channel</button></a>
        <div class="w3-row">
            {% for profile in submission.getMembers %}
            <div class="w3-col w3-padding-small l4 m4 s6">
                <div class="w3-row pallete-slab tertiary no-pad">
                    <a class="mini-window-action" data-url="{{profile.getLink}}">
                    <img class="primary wide pallete-slab no-pad" src="{{profile.getDP}}" />
                    </a>
                    <div class="w3-row w3-tag w3-round tertiary">
                    <strong style="word-break:break-word">{{profile.getName|truncatechars:18}}</strong>{% if profile.is_verified %}<i class="w3-small">verified</i>{% endif %}
                    </div>
                    <div class="w3-row w3-padding-small">
                    {% if not submission.submittingLate and not submission.submitted %}
                    <br/>
                    <button class="small negative remove-person" data-name="{{profile.getName}}" data-userID="{{profile.getUserID}}" data-icon="delete"></button>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if compete.isActive and not submission.submitted %}
        <br/>
        {% if submission.canInvite %}
        <button class="w3-right active" data-icon="person_add" id="invitepeople">{% trans "Invite" %}</button>
        {% endif %}
        <h5 class="w3-padding-small">{% trans "Invitees" %}</h5>
        <div class="w3-row">
            {% for invitee in submission.getInvitees %}
            <div class="w3-col w3-third w3-padding-small">
                <div class="pallete">
                    <h6>{{invitee.getName}}</h6>
                    <button class="small negative remove-person" data-name="{{invitee.getName}}" data-userID="{{invitee.getUserID}}" data-icon="delete"></button>
                    <a href="{{invitee.getLink}}" target="_blank"><button class="small positive" data-icon="open_in_new"></button></a>
                </div>
            </div>
            {% empty %}
            <center><h4>{% trans "No pending invites" %}</h4></center>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% else %}
        {% if not compete.isActive %}
            <br/><br/>
            <center>
            <div class="w3-jumbo material-icons">hourglass_bottom</div>
            <h1>{% trans "Competition ended" %}{% if request.user.is_authenticated %}<br/>{% trans "before you could participate." %}{% else %}.{% endif%}
            </h1>
            </center>
        {% else %}
            <br/>
            <div class="w3-row w3-center">
            <i class="w3-jumbo">group_work</i>
            
            <h1>{% trans "Competition is a thrill way to grow." %}</h1>
            {% if request.user.is_authenticated %}
                {% if compete.qualifier %}
                    <strong>You need to acheive a rank under {{compete.qualifier_rank}} in the following competition to participate here.</strong>
                    <br/><br/>
                    <div class="pallete-slab no-pad">
                        <img src="{{compete.qualifier.get_banner}}" class="pallete no-pad primary" width="80%"/>
                        <h5>{{compete.qualifier.title}}</h5>
                        <strong>{{compete.qualifier.tagline}}</strong><br/>
                        <a href="{{compete.qualifier.get_link}}" target="_blank"><button class='primary'>View</button></a>
                    </div>
                    {% if compete.qualifier.resultDeclared %}
                        <form action="{{compete.participationLink}}" method="POST">
                            {% csrf_token %}
                            <a href="#mainframe"><button type="submit" class="display-button accent" id="participate" data-icon="addchart">{% trans "Participate Independently" %}</button></a>
                            <br/><br/><br/>
                            <strong>{% trans "If you have been invited, then the above button will cancel your pending invitations." %}</strong>
                            <br/><br/>
                        </form>
                        {% if submission and not confirmed %}
                            <h5>{% trans "You have a pending invitation for participation in this competition" %}</h5>
                            <a href="{{URLS.INVITATION|params:submission.get_id|params:request.user.get_id}}"><button class="positive">{% trans "View invitation" %}</button></a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <form action="{{compete.participationLink}}" method="POST">
                        {% csrf_token %}
                        <a href="#mainframe"><button type="submit" class="display-button accent" id="participate" data-icon="addchart">{% trans "Participate Independently" %}</button></a>
                        <br/><br/><br/>
                        <strong>{% trans "If you have been invited, then the above button will cancel your pending invitations." %}</strong>
                        <br/><br/>
                    </form>
                    {% if submission and not confirmed %}
                        <h5>{% trans "You have a pending invitation for participation in this competition" %}</h5>
                        <a href="{{URLS.INVITATION|params:submission.get_id|params:request.user.get_id}}"><button class="positive">{% trans "View invitation" %}</button></a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="{% url 'account_login' %}?next={{compete.getLink}}#mainframe"><button class="display-button positive" data-icon="login">{% trans "Login to Participate" %}</button></a>
            {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
