{% extends 'management/reportFeed/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{URLS.REPORT_FEED}}{% endblock %}

{% block nav_text %}Feedback{% endblock %}

{% block content %}

<div class="w3-row w3-padding">
<h6>By: {{feedback.author}}{% if not feedback.is_anonymous %}<a onclick="miniWindow('{{feedback.feedbacker.getLink}}')"><button class="small primary">View</button></a>{% endif %}</h6>
<h6>Created On: {{feedback.createdOn}}</h6>
<h6>Last update: {{feedback.updatedOn}}</h6>
<h6>Resolved ? {{feedback.resoved|yesno}}</h6>
<h6>Detail</h6>
<strong>{{feedback.detail}}</strong>
</div>
<br/>

{% endblock %}