{% extends 'management/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}
{% block nav_text %}Reports{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-row w3-padding-small w3-center">
        <button id="reports" class="nav-tab">Reports</button>
    </div>
    <div id="tabview"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.REPORTFEED_INDEX}}"></script>
{% endblock %}