{% extends 'projects/profile.html' %}
{% debug %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block content %}
<div class="w3-row tertiary">
    <br/>
{% if project.suspended %}
    <div class="w3-row w3-center w3-padding">
      <i class="w3-jumbo negative-text">toggle_off</i>
      <h2>This project is currently suspended.</h2><br/>
      <h3>This means the project is currently invisible to the world.</h3>
      <strong>We must have emailed you regarding this action, please check your inbox.</strong>
    </div>
    <br/><br/>
    <br/>
{% else %}
    <div class="w3-col w3-quarter w3-padding">
        <div class="w3-row">
            <div class="pallete" style="padding:0" id="view-pallete">
                <img src="{{project.getDP}}" alt="{{project.name}}" class="preview-type-image" />
                <div class="w3-row w3-center w3-padding-small">
                <h5>{{project.name}}</h5>
                <center>{{project.description}}</center>
                </div>
                <div class="w3-row w3-padding-small">
                    {% if user.is_authenticated and user.profile == project.creator %}
                    <i class="material-icons edit-action w3-right" data-edittarget="pallete">edit</i>
                    {% endif %}
                    <i class="w3-left pointer navigator-share-action" 
                        data-title="{{project.name}}"
                        data-text="{{project.description|or:'Checkout this project!'}}"
                        data-url="{{project.getLink}}"
                    >share</i>
                </div>
            </div>
            {% if iscreator %}
            <div class="pallete w3-center" id="edit-pallete">
                <img src="{{ project.getDP }}" alt="{{ project.name }}" id="projectimageoutput" style="opacity:0.5" />
                <input type="file" id="uploadprojectimage" hidden accept="image/png, image/jpg, image/jpeg" />
                <button class="active" type="button" id="upload-button">
                <i class="material-icons">image</i>
                <label id="uploadprojectimagelabel" for="uploadprojectimage">Select Image</label>
                </button>
                <br/>
                <form method="POST" action="{{project.editProfileLink}}">
                {% csrf_token %}
                <input type="text" hidden id="projectimageData" name="projectimage" value="" />
                <div class="w3-row w3-padding">
                    <input maxlength="70" type="text" autocomplete="organization-title" autocapitalize placeholder="Project name" required value="{{project.name}}" name="projectname" /><br/><br/>
                    <textarea maxlength="120" class="wide" placeholder="About project" name="projectabout" >{{project.description}}</textarea><br/>
                </div>
                <button id="save-edit-pallete" data-icon="done">Save</button>
                <button id="discard-edit-pallete" data-icon="close">Discard</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br/>
        {% if project.has_linked_repo %}
        <div class="w3-row w3-padding-small">
            <a target="_blank" rel="noreferrer" href="{{project.linked_repo.repolink}}">
                <button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20"/>&nbsp;{{project.linked_repo.reponame}}</button>
            </a>
        </div>
        <br/>
        {% endif %}
        {% if not iscreator and user.is_authenticated %}
        <div class="w3-row">
            <button class="small tertiary negative-text" data-icon="report" id='report-project'>Report</button>
        </div>
        <br />
		{% endif %}
        {% if project.socialsites.count %}
        <div class="w3-row pallete">
        {% for site in project.socialsites %}
        <a href="{{site.site}}" target="_blank" rel="noreferrer"><strong>{{site.site|noprotocol}}<i class="w3-small">open_in_new</i></strong></a><br/>
        {% endfor %}
        </div>
        {% endif %}
        {% if project.repolink %}
        <div class="w3-row w3-padding-small">
            <a target="_blank" rel="noreferrer" href="{{project.repoLink}}">
                <button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20"/>&nbsp;{{project.repolink}}</button>
            </a>
        </div>
        <br/>
        {% endif %}
    </div>
    <div class="w3-col w3-threequarter">
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row w3-center">
                <div class="pallete">
                    <center><h5>Overview</h5><hr/></center>
                    <a href="{{URLS.PROJECTS}}?category={{project.category.get_id}}" ><h3>{{project.category.name|capfirst}}</h3></a>
                    <div class="w3-row" id="view-projecttopics">
                    {% for topicdata in project.getTopicsData %}
                        <div class="w3-row pallete-slab w3-padding">
                            <h6 class=" w3-left topic-name">{{topicdata.topic}}</h6>
                        </div>
                    {% empty %}
                        {% if iscreator %}
                            <button class="accent edit-action big-button" data-edittarget="projecttopics" data-icon="add">Add topics</button>
                        {% else %}
                            <br/>
                            <div class="dead-text">
                                <i class="w3-jumbo">hourglass_top</i>
                                <h4>No topics yet.</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if iscreator and project.totalTopics > 0 %}<i class="edit-action w3-right" data-edittarget="projecttopics">edit</i>{% endif %}
                    </div>
                    {% if iscreator %}
                    <div id="edit-projecttopics">
                        <br/>
                        <strong class="dead-text">Total 5 topics allowed</strong>
                        <form action="{{URLS.TOPICSUPDATE|params:project.getID}}" method="POST">
                            {% csrf_token %}
                            <input class="wide" placeholder="Search topics" id="topic-search-input" />
                            <div class="w3-row w3-padding" id="topics-viewer">
                                {% for topic in project.getTopics %}
                                <button type="button" class="primary negative-text topic-existing" data-icon="close" id="{{topic.getID}}">{{topic.name}}</button>
                                {% endfor %}
                                <div class="w3-row w3-padding" id="topics-viewer-new"></div>
                            </div>
                            <input id="removetopicIDs" name="removetopicIDs" hidden type="text" />
                            <input id="addtopicIDs" name="addtopicIDs" hidden type="text" />
                            <br/>
                            <button id="save-edit-projecttopics" data-icon="done">Save</button>
                            <button id="discard-edit-projecttopics" data-icon="close">Cancel</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="w3-row w3-padding" id="tags">
                <div id="view-projecttags">
                {% for tag in project.tags.all %}
                <a href="/projects?q={{tag}}&type=tag"><button class="positive">#{{tag}}</button></a>
                {% empty %}
                    <h5 class="dead-text">No tags assigned</h5>
                {% endfor %}
                {% if iscreator %}<i class="edit-action w3-right" data-edittarget="projecttags">edit</i>{% endif %}
                </div>
                {% if iscreator %}
                <div id="edit-projecttags">
                    <strong class="dead-text">Total 5 tags allowed</strong>
                    <form action="{{URLS.TAGSUPDATE|params:project.getID}}" method="POST">
                        {% csrf_token %}
                        <input class="wide" placeholder="Search tags" id="tag-search-input" />
                        <div class="w3-row w3-padding" id="topics-viewer">
                            {% for tag in project.tags.all %}
                            <button type="button" class="primary negative-text tag-existing" data-icon="close" id="{{tag.id}}">{{tag.name}}</button>
                            {% endfor %}
                            <div class="w3-row w3-padding" id="tags-viewer-new"></div>
                        </div>
                        <input id="removetagIDs" name="removetagIDs" hidden type="text" />
                        <input id="addtagIDs" name="addtagIDs" hidden type="text" />
                        <input id="addtags" name="addtags" hidden type="text" />
                        <br/>
                        <button id="save-edit-projecttags" data-icon="done">Save</button>
                        <button id="discard-edit-projecttags" data-icon="close">Cancel</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="w3-row w3-padding pallete">
                <center><h5>Assets</h5><hr/></center>
                <div class="w3-row">
                    {% for asset in project.assets %}
                    {% empty %}
                        {% if iscreator %}
                        <center>
                        <div class="w3-jumbo material-icons" id="add_assets">add_circle</div>
                        <h5>Add assets</h5>
                        <strong class="dead-text">csv, xlsx, pdf... anything related to the project.</strong>
                        <strong class="dead-text">Coming soon</strong>
                        </center>
                        {% else %}
                        <center class="dead-text">
                        <div class="w3-jumbo material-icons">cloud_off</div>
                        <h5>No assets</h5>
                        </center>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if iscreator %}
            <br/>
            <div class="w3-row">
                <div class="pallete">
                <center><h5>Settings</h5><hr/></center>
                <div class="w3-row">
                {% if project.has_linked_repo %}
                    <button class="negative" id='unlink-github-repository'><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20"/>&nbsp;Unlink {{project.linked_repo.reponame}}</button>
                {% else %}
                    <button class="secondary" id="link-github-repository"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="20"/>&nbsp;Link GitHub repository</button>
                {% endif %}
                </div>
                <div class="w3-row">
                    <button class="negative" data-icon="delete" id='delete-project'>Delete project</button>
                </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="w3-col w3-half w3-padding">
            <div class="w3-row">
                <div class="pallete">
                    {% cache CACHE_LONG project_profile_description project.get_id|add:LANGUAGE_CODE %}
                    <center><h5>Description</h5><hr/></center>
                    <strong>Created on <span>{{project.createdOn}}</span></strong><br/><br/>
                    <strong>Created by</strong><a href="{{project.creator.getLink}}"><button class="primary"><img class="w3-circle primary" src="{{project.creator.getDP}}"  width="20"/>&nbsp;{{project.creator.getName}}</button></a><br/><br/>
                    <strong>License: <a onclick="miniWindow('{{project.license.getLink}}')" target="_blank"> {{project.license.name}}</a></strong><br/>
                    {% endcache %}
                </div>
            </div>
            <br/>
            <div class="w3-row pallete no-pad">
                <center><h5 class="w3-padding">Snapshots</h5>
                {% if iscreator %}
                <div class="w3-row" id="view-snapshot">
                    <button class="small primary edit-action" data-icon='add' id="create-snap" data-edittarget="snapshot">Create</button>
                    <hr/>
                </div>
                <div class="w3-row" id="edit-snapshot">
                    <input type='file' hidden id='snap-file' accept="image/png, image/jpg, image/jpeg" />
                    <form action="{{URLS.SNAPSHOT|params:project.get_id|params:'create'}}" method="POST">
                        {% csrf_token %}
                        <textarea class="wide snapshot-input" name='snaptext' required rows="3" placeholder="Status report, or anything."></textarea>
                        <input class="snapshot-input" type="text" id='snapimage' name='snapimage' hidden />
                        <img width='100%' id='snapimageview' hidden />
                        <div class="dead-text" id='add-image-view'>
                            <label for="snap-file">
                                <div class="w3-jumbo material-icons">add_circle</div>
                                <h5>Add image</h5>
                            </label>
                        </div>
                        <button class="small positive" type='submit' id="save-edit-snapshot" data-icon="done">Submit snapshot</button>
                        <button class="small negative" type='button' id="discard-edit-snapshot" data-icon="close">Discard</button>
                    </form>
                    <hr/>
                </div>
                {% else %}
                <hr/>
                {% endif %}
                </center>
                <div class="w3-row" id="snapshots-view">
                    
                </div>
                <br/>
                <center><button class="small primary" data-icon='expand_more' hidden id='load-more-snaps'>Load more</button></center>
                <br/>
            </div>
            
        </div>
    </div>
    <div class="w3-row"></div>
    <br/>
{% endif %}
</div>
{% endblock %}

{% block in_scripts %}
<script>

const projectID = "{{ project.get_id }}";
const selfProject = "{{iscreator}}"==='True';

{% if not project.suspended %}
if (selfProject){
    getElement('add_assets').onclick=()=>{

    }
    getElement('delete-project').onclick=_=>{
        alertify.confirm('Delete Project', 
        `<h4>Are you sure you want to delete your project '{{project.name}}' ({{project.nickname}})? All associated data will also be deleted, and
        this action is permanent.</h4>`,
        ()=>{
            message('Phew!')
        },
        async ()=>{
            loader()
            const data = await postRequest(setUrlParams(URLS.TRASH,projectID))
            if(!data) return loader(false)
            if(data.code===code.OK){
                futuremessage('{{project.nickname}} was deleted.')
                return window.location.href=URLS.PROJECTS
            }
            error(data.error)
            loader(false)
        }
        ).set('closable', false).set('labels',{ok:'No, wait', cancel:'Yes delete'})
    }
}
{% if not project.has_linked_repo and iscreator %}
getElement('link-github-repository').onclick=async()=>{
    {% if request.user.profile.ghID %}
        loader()
        const data = await postRequest(URLS.USER_GH_REPOS,{public:true});
        loader(false)
        if(!data) return
        if(data.code===code.OK){
            let options = '';
            data.repos.forEach((repo)=>{
                options+=`<option value=${repo.id}>${repo.name}</option>`
            })
            return alertify.confirm('Link Github repository',
                `<h6>Select a repository from the list to link. Only public repositories can be linked.</h6>
                    <div class="w3-row">
                        <select id="selected-repo">
                            ${options}
                        </select>
                    </div>
                `,
                async ()=>{
                    loader()
                    message('Linking...')
                    const data = await postRequest(URLS.LINK_FREE_REPO,{repoID:getElement('selected-repo').value,projectID})
                    if(!data) return loader(false)
                    if(data.code===code.OK){
                        futuremessage(`Repository linked`)
                        return window.location.reload()
                    }
                    loader(false)
                    error(data.error)
                },
                ()=>{}
            ).set('labels', {ok:'Link', cancel:'Discard'})
        }
        error(data.error)
    {% else %}
        connectWithGithub("{{project.getLink}}", ()=>{ error("Cannot link repository without linking account.")})
    {% endif %}
}
{% elif iscreator %}
getElement("unlink-github-repository").onclick=_=>{
    alertify.confirm('Unlink Github repository?',
        `<h6>Are you sure you want to unlink your Github repository '{{project.linked_repo.reponame}}' from your '{{project.nickname}}' project on {{APPNAME}}?</h6>
        `,
        ()=>{},
        async ()=>{
            loader()
            message('Unlinking...')
            const data = await postRequest(URLS.UNLINK_FREE_REPO,{projectID})
            if(!data) return loader(false)
            if(data.code===code.OK){
                futuremessage(`Unlinked your '{{project.linked_repo.reponame}}' repository`)
                return window.location.reload()
            }
            loader(false)
            error(data.error)
        },
    ).set('closable', false).set('labels', {ok:'No, wait', cancel:'Yes, unlink'})
}

getElement('save-edit-snapshot').onclick=(e)=>{
    e.preventDefault();

    e.target.form.submit()
}
{% endif %}
if(!selfProject){
    if(authenticated){
    getElement('report-project').onclick=async()=>{
        const data = JSON.parse(await getRequest(URLS.REPORT_CATEGORIES))
        if(!data) return
        if(data.code!==code.OK){
            return error(data.error)
        }
        let options=''
        data.reports.forEach((rep)=>{
            options+=`<option value='${rep.id}'>${rep.name}</option>`
        })
        alertify.confirm(
            `<h3>Report {{project.nickname}}</h3>`,
            `
            <select id='report-category' required>
            ${options}
            </select>
            `,
            ()=>{},
            async()=>{
                loader()
                message('Reporting...')
                const data = await postRequest(URLS.REPORT_PROJECT,{
                    projectID: '{{project.get_id}}',
                    report: getElement('report-category').value,
                })
                loader(false)
                if(!data) return 
                if(data.code===code.OK){
                    return message("Reported {{project.nickname}}. We'll investigate.")
                }
                error(data.error)
            }
        ).set('labels', {cancel:`${Icon('report')} Report {{project.nickname}}`, ok:'No, go back'}).set('closable', false)
    }}
}
{% endif %}
</script>
{% endblock %}
{% block scripts %}
{% if not project.suspended %}
<script src="{% static 'scripts/project/profile.js' %}" ></script>
{% endif %}
{% endblock %}
