{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if contributors|length %}
<div class="w3-row">
{% for contributor in contributors %}
<div class="w3-row pallete-slab">
    <div class="w3-col s2 m1 ">
        <a href="{{contributor.getLink}}"><img src="{{contributor.getDP}}" class="w3-circle primary" width="40" /></a>
    </div>
    <div class="w3-col s10 m9" style="padding-left:12px">
        <div class="w3-row">
            <strong>{{contributor.getName}}</strong>
        </div>
        <div class="w3-row">
            <strong class="align w3-left dead-text">{{contributor.ghID}}{% if contributor.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</strong>
        </div>
    </div>
    <div class="w3-col s4 m2 w3-right"> 
        <h4 class="{{contributor.theme}}-text w3-right">+{{contributor.get_xp}}</h4>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
