{% extends 'moderation/index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block content %}

<div class="w3-row w3-padding" style="background:url('{{moderation.competition.getBanner}}'); background-repeat:no-repeat;background-size:cover">
    <br/>
    <div class="w3-row">
        <div class="w3-col w3-half w3-padding-small">
            <div class="w3-col w3-half w3-padding-small">
                <div class="pallete secondary">
                    <h5 class="text-secondary">{{moderation.competition.title}}</h5>
                    <h6 class="text-secondary">{{moderation.competition.tagline}}</h6>
                    <div class="text-secondary"><strong>{{moderation.competition.shortdescription|truncatechars:120}}</strong></div>
                    <a href="{{moderation.competition.getLink}}#mainframe"><button class="accent small w3-right" data-icon="open_in_new">{% trans "More details" %}</button></a>
                </div>
            </div>
            <div class="w3-col w3-half w3-padding-small w3-center">
                <div class="pallete accent">
                    <h1 class="w3-jumbo">{{moderation.competition.totalJudges}}</h1>
                    <h3>{% trans "Judges in panel" %}</h3>
                </div>
            </div>
        </div>
        <div class="w3-col w3-half w3-padding-small w3-center">
            <div class="w3-col w3-half w3-padding-small">
                <div class="pallete active">
                    <h1 class="w3-jumbo">{{moderation.competition.totalSubmissions}}</h1>
                    <h3>{% trans "Submissions received" %}</h3>
                </div>
            </div>
            <div class="w3-col w3-half w3-padding-small">
                <div class="pallete primary ">
                    <h1 class="w3-jumbo positive-text">{{moderation.competition.totalValidSubmissions }}</h1>
                    <h3 class="positive-text">{% trans "Submissions valid" %}</h3>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="w3-row pallete-slab primary">
    {% if moderation.competition.isHistory %}
        {% if not moderation.resolved %}
            {% if ismoderator %}
                <br/>
                <center><h4 class="dead-text">{% trans "Judges are waiting for submissions to be approved by you." %}</h4></center>
                {% if moderation.competition.totalValidSubmissions > 0 %}
                <div class="w3-row w3-center">
                    <button class="positive big-button" data-icon="upload" id="finalsend">{% trans "Send for judgement" %}</button>
                    <button class="negative big-button"  data-icon="delete" id="discardall">{% trans "Discard all changes" %}</button>
                </div>
                <br/>
                <div class="w3-row">
                    <h6 class="w3-col w3-half">{% trans "Submissions" %} <span class="dead-text"></span></h6>
                    <div class="w3-col w3-half">
                    <button class="small w3-right accent" id="selectall" data-icon="check_box" >{% trans "Select all" %}</button>
                    <button class="small w3-right negative" id="rejectselected" data-icon="close">{% trans "Reject selected" %}</button>
                    <button class="small w3-right positive" id="approveselected" data-icon="done">{% trans "Approve selected" %}</button>
                    </div>
                </div>
                {% endif %}
                {% for sub in moderation.competition.getValidSubmissions %}
                
                <div class="w3-row pallete-slab" id="subslab{{sub.getID}}">
                    <div class="w3-col w3-threequarter">
                        <a><strong class="w3-padding-small members-count-view" data-subID="{{sub.getID}}">{{sub.totalActiveMembers}} <span class="dead-text">member{{sub.totalActiveMembers|pluralize}}</span></strong></a>
                        <strong class="w3-padding-small {% if sub.submitted %}text-tertiary">{% trans "Submitted" %}{% else %}negative-text">{% trans "Un-submitted" %}{% endif %}</strong>
                        {% if sub.submitted %}
                        <strong class="w3-padding-small {% if sub.late %}negative-text">{% trans "late" %}{% else %}text-tertiary">{% trans "on time" %}{% endif %}</strong>
                        at <strong class="w3-padding-small">{{sub.submitOn}}</strong>
                        {% endif %}
                        <button class="mini-window-action" data-url="{{sub.getRepo}}" class="primary small" data-icon="open_in_new">{% trans "View submission" %}</button>
                    </div>
                        <div class="w3-col w3-quarter w3-center w3-padding">
                        <button class="rejectsubmission negative small" data-subID="{{sub.getID}}" data-subItem="{{sub.getRepo}}" data-icon="cancel" id="reject{{sub.getID}}" >{% trans "Reject" %}</button>
                        <input class="selectsubmission w3-right" data-subID="{{sub.getID}}" data-subItem="{{sub.getRepo}}" id="select{{sub.getID}}" type="checkbox" />
                    </div>
                </div>
                {% empty %}
                <br/>
                <center>
                <i class="w3-jumbo">hourglass_bottom</i>
                <h4>{% trans "No submissions to approve." %}</h4>
                </center>
                {% endfor %}
            {% else %}
                <br/>
                <center>
                <i class="w3-jumbo w3-spin">hourglass_full</i>
                <h1>{% trans "Moderator on duty" %}</h1>
                <h4>{% trans "Please wait while the moderator filters out valid submissions for you to judge." %}</h4><br/>
                <h6 class="positive-text">{% trans "We'll email you as soon as this is done for you." %}</h6>
                </center>
            {% endif %}
        {% else %}
        <br/>
        <div class="w3-row w3-padding">
            {% if moderation.competition.allSubmissionsMarked %}
                {% if moderation.competition.resultDeclared %}
                    <br/>
                    <center>
                    <i class="w3-jumbo positive-text">celebration</i>
                    <h1>{% trans "Results Declared" %} {% trans "." %}</h1>

                    <a href="{% if ismoderator %}{{moderation.competition.getModCertLink}}{% else %}{{moderation.competition.getJudgeCertLink|params:request.user.getID}}{% endif %}"><button class="accent" data-icon="open_in_new">{% trans "Your certificate" %}</button></a>
                    <a href="{{moderation.competition.getLink}}?tab=4"><button class="positive" data-icon="open_in_new">{% trans "See results" %}</button></a>
                    </center>
                {% else %}    
                    <center>
                    <i class="w3-jumbo active-text">verified</i>
                    <h3>{% trans "All submissions have been marked & results are waiting to be declared." %}</h3>
                    <h4>{% trans "Results will be declared by the manager, soon." %}</h4>
                    <h6>{% trans "We'll notify you about the results, once declared." %}</h6>
                    <h6>{% trans "Your certificate of appreciation will also be available, you'll be notified via email about that." %}</h6>
                    </center>
                {% endif %}
            {% else %}
                {% if ismoderator %}
                    <br/>
                    <center>
                    <i class="w3-jumbo w3-spin">hourglass_full</i>
                    <h1>{% trans "Judges on duty" %}</h1>
                    <h4>{% trans "Judges are now marking valid submissions for final ranking." %} {% trans "Thank you for your contribution." %}</h4><br/>
                    <h3>{{moderation.competition.countJudgesWhoMarkedSubmissions}} out of {{moderation.competition.totalJudges}} have marked submissions.</h3>
                    <h6 class="positive-text">{% trans "We'll notify you about the results, once declared." %}</h6>
                    <h6>{% trans "Your certificate of appreciation will also be available, you'll be notified via email about that." %}</h6>
                    </center>
                {% else %}
                    {% if allSubmissionsMarkedByJudge %}
                        <center>
                        <i class="w3-jumbo positive-text">verified</i>
                        <h3>{% trans "All submissions have been marked by you." %}<br/>{% trans "Results will be declared soon." %}</h3>
                        <h4>{% trans "We're grateful to have you as judge in this competition." %} {% trans "Thank you for your contribution." %}</h4>
                        <h6>{% trans "We'll notify you about the results, once declared." %}</h6>
                        <h6>{% trans "Your certificate of appreciation will also be available, you'll be notified via email about that." %}</h6>
                        </center>
                    {% else %}
                        <center><h4 class="dead-text">{% trans "Manager is waiting for submissions to be marked by you." %}</h4></center>
                        <div class="w3-row w3-center">
                            <button class="positive big-button" data-icon="upload" id="finalsend">{% trans "Send for ranking" %}</button>
                            <button class="negative big-button"  data-icon="delete" id="discardall">{% trans "Discard all changes" %}</button>
                        </div>
                        <br/>
                        <h6>Submissions</h6>
                        {% for sub in moderation.competition.getValidSubmissions %}
                        <div class="w3-row pallete-slab" id="subslab{{sub.getID}}">
                            <div class="w3-col w3-padding l4">
                            <strong class="w3-padding">{{sub.totalActiveMembers}} <span class="dead-text">{% trans "member" %}{{sub.totalActiveMembers|pluralize}}</span></strong>
                            <button class="mini-window-action" data-url="{{sub.getRepo}}" class="primary small" data-icon="open_in_new">{% trans "View submission" %}</button>
                            </div>
                            
                            <div class="w3-col l6">
                            {% for topic in moderation.competition.getTopics %}
                            <div class="w3-col w3-third w3-padding-small">
                            <strong>{{topic.name}}</strong>
                            <input id="{{sub.getID}}{{topic.getID}}" data-subID="{{sub.getID}}" data-topicID="{{topic.getID}}"
                                    class="primary wide w3-padding topic-point point-input-{{sub.getID}}" name="{{sub.getID}}{{topic.getID}}" type="number" min="0" max="{{moderation.competition.eachTopicMaxPoint}}" placeholder="Points out of {{moderation.competition.eachTopicMaxPoint}}" />
                            </div>
                            {% endfor %}
                            </div>
                            <div class="w3-col l2 w3-padding">
                            <button class="small positive save-subpoints" data-icon="done" data-subID="{{sub.getID}}" id="save{{sub.getID}}">{% trans "Save" %}</button>
                            <button class="small negative clear-subpoints" data-icon="close" data-subID="{{sub.getID}}" id="clear{{sub.getID}}">{% trans "Clear" %}</button>
                            </div>
                        </div>
                        {% empty %}
                        <br/>
                        <center>
                        <i class="w3-jumbo">hourglass_bottom</i>
                        <h4>{% trans "No submissions to filter." %}</h4>
                        </center>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <br/>
        {% endif %}
    {% elif moderation.competition.isUpcoming %}
        <br/>
        <center>
        <i class="w3-jumbo accent-text">hourglass_top</i>
        <h3>{% trans "Competition will begin at" %}</h3>
        <h1>{{moderation.competition.startAt}}</h1><br/>
        <h4>{% trans "The competion is" %} <span class="accent-text">{% trans "upcoming" %}</span>.</h4>
        <h6 class='dead-text'>You'll be able to {% if ismoderator %}moderate{% else %}judge{% endif %} the submissions after {{moderation.competition.endAt}}</h6>
        </center>
        {% else %}
        <br/>
        <center>
        <i class="w3-jumbo active-text">pending</i>
        <h1 class="w3-jumbo">{{moderation.competition.totalSubmissions}}</h1>
        <h2>{% trans "submissions received" %}</h2><br/>
        <h4>The competion is still <span class="active-text">live</span>.</h4>
        <h6 class='dead-text'>You'll be able to {% if ismoderator %}moderate{% else %}judge{% endif %} the submissions after {{moderation.competition.endAt}}</h6>
        </center>
    {% endif %}
    </div>
<br/>
</div>
{% endblock%}

{% block scripts %}
<script src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.COMPETE}}?id={{moderation.id}}"></script>
{% endblock %}
