{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block title %}{% trans "Forbidden" %}{% endblock %}
{% block nav_text %}
403
{% endblock %}

{% block content %}
  <div class="w3-row w3-padding w3-center tertiary">
  <br/>
	<div class="w3-padding"><i class="material-icons w3-jumbo">pan_tool</i></div>
	<h1>403</h1>
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half">
  <h1>{% trans "Forbidden" %}</h1><br/>
  <h4>{% trans "This part of our application is currently not allowed for you." %} {% trans "Try again later." %}</h4><br/>
  <a href="/"><button class="positive" type="button" data-icon="home">{% trans "Return home" %}</button></a>
  </div>
  <div class="w3-row w3-padding"></div>
  <br/><br/>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
