{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>404 Not found</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>404</h3></span>
{% endblock %}

{% block content %}
  <div class="w3-row w3-padding w3-center w3-light-grey">
  <br/>
	<div class="w3-padding"><i class="material-icons w3-jumbo">error</i></div>
	<h1>404</h1>
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half">
  <h1>Not found</h1>
  <h4>You can still continue with us.</h4><br/>
  <a href="/"><button class="positive" type="button"><i class="material-icons">home</i>Return home</button></a>
  </div>
  <div class="w3-row w3-padding"></div>
  <br/><br/>
  </div>
{% endblock %}
