{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}<title>500 Server error</title>{% endblock %}
{% block nav_title %}
<a href="{% url 'account_login' %}" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>500</h3></span>
{% endblock %}

{% block content %}
<div class="w3-row w3-padding w3-center w3-light-grey">
	<div class="w3-padding"><i class="material-icons w3-jumbo">bug_report</i></div>
	<h1>500</h1>
</div>
<div class="w3-row w3-padding w3-center w3-light-grey">
	<div class="w3-col w3-quarter w3-padding"></div>
	<div class="w3-col w3-half">
    <h1>Server Error</h1>
    <h4>Sorry! We're fixing that right now.</h4><br/>
    <a href="/"><button class="positive" type="button"><i class="material-icons">home</i>Return home</button></a>
    <br/>
  </div>
</div>
{% endblock %}
