{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load account %}
{% load socialaccount %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE|or:'en'}}" class="">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
        <meta name="theme-color" content="{% block themecolor %}#ffffff{% endblock %}" id="themecolor">
        <meta name="description" content="{% block meta_description %}{{DESCRIPTION|safe}}{% endblock %}" />
        
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="application-name" content="{{APPNAME}}" />
        <meta name="author" content="{{APPNAME}} Community">

        <meta property="og:locale" content="en-US" />
        <meta name="image" property="og:image" content="{% block og_image_url_full %}{{SITE}}{% block og_image_url %}{% static 'graphics/self/1024/icon-square.png' %}{% endblock %}{% endblock %}" />
        <meta property="og:type" content="social" />
        <meta property="og:url" content="{{SITE}}{% block og_url %}{% endblock %}" />
        <meta property="og:title" content="{% block og_title %}{% trans "Home" %}{% endblock %} &#183; {{APPNAME}}" />
        <meta property="og:description" content="{% block og_description %}{{DESCRIPTION|safe}}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% trans "Home" %}{% endblock %} &#183; {{APPNAME}}" />

        <meta name="twitter:title" content="{% block tw_title %}{{APPNAME}}{% endblock %}" />
        <meta name="twitter:description" content="{% block tw_description %}{{DESCRIPTION|safe}}{% endblock %}" />
        <meta name="twitter:image" content="{% block tw_image_url_full %}{{SITE}}{% block tw_image_url %}{% static 'graphics/self/2500x1000/banner-bg.webp' %}{% endblock %}{% endblock %}" />
        <meta name="twitter:site" content="@knottersdotorg" />
        <meta name="twitter:creator" content="@ranjanistic" />
        <meta name="twitter:url" content="{{SITE}}{% block tw_url %}{% endblock %}" />
        <meta name="twitter:card" content="{% block tw_card %}summary_large_image{% endblock %}" />
    
        <meta name="linkedin:card" content="{% block ld_image_url_full %}{{SITE}}{% block ld_image_url %}{% static 'graphics/self/2500x1000/banner-bg.webp' %}{% endblock %}{% endblock %}" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="{{APPNAME}}" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="{% static 'graphics/self/1024/icon-circle.webp' %}" />
        <link rel="apple-touch-icon" href="{% static 'graphics/self/1024/icon-circle.webp' %}" />
        <link rel="apple-touch-startup-image" href="{% static 'graphics/self/1024/icon-circle.webp' %}" />
        <link rel="icon" href="{% block icon %}{% static 'graphics/self/64/icon-circle.webp' %}{% endblock %}" class="darkimg">

        <link rel="preload" as="font" href="{% static 'fonts/Poppins/Devnagri.woff2' %}" type="font/woff2" crossorigin />
        <link rel="preload" as="font" href="{% static 'fonts/Poppins/LatinX.woff2' %}" type="font/woff2" crossorigin />
        <link rel="preload" as="font" href="{% static 'fonts/Poppins/Latin.woff2' %}" type="font/woff2" crossorigin />
        <link rel="preload" as="font" href="{% static 'fonts/Questrial/Vietnamese.woff2' %}" type="font/woff2" crossorigin />
        <link rel="preload" as="font" href="{% static 'fonts/Questrial/LatinX.woff2' %}" type="font/woff2" crossorigin />
        <link rel="preload" as="font" href="{% static 'fonts/Questrial/Latin.woff2' %}" type="font/woff2" crossorigin />
        
        <link rel="stylesheet" href="{% static 'fonts/Poppins.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/Questrial.css' %}">
        <link rel="stylesheet" href="{% static 'animxyz/animxyz.min.css' %}">
        <link rel="stylesheet" href="{% static 'alertify/themes/default.min.css' %}" />
        <link rel="stylesheet" href="{% static 'alertify/alertify.min.css' %%}" />
        <link rel="stylesheet" href="{% static 'styles/w3.css' %}">
        <link rel="stylesheet" href="{% static 'icons/material.css' %}">
        <link rel="stylesheet" href="{% static 'cropper/cropper.min.css'%}" />
        <link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/theme.css' %}">
        <link rel="stylesheet" href="{% static 'styles/loader.css' %}">
        <link rel="stylesheet" href="{% static 'styles/scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'styles/overrides.css' %}">
        <link rel="stylesheet" href="{% static 'styles/browser.css' %}">
        {% block stylesheets %}{% endblock %}

        <link rel="manifest" href="{{MANIFESTURL}}" />
        <title>{% block title %}{% trans "Home" %}{% endblock %} &#183; {{APPNAME}}</title>
        {% block head_scripts %}
        {% endblock %}
    </head>
    {% endblock %}
    <body>
        <noscript id="noscript" class="w3-row w3-padding negative">
         <div
           class="pallette primary negative-text w3-center w3-row"
         >
         <i class="w3-jumbo material-icons">error</i>
         <h3 class="negative-text">Javascript Disabled</h3>
           <div class="w3-row w3-center">
            <strong class="text-medium negative-text">Please enable javascript in your browser, allow {{SITE}} to use it, if
            denied.<br />If your browser doesn't support javascript, try a
            <a
              target="_blank"
              rel="noreferrer"
              href="https://google.com/search?q=modern+browsers"
              >modern browser</a
              >.</strong><br/><br/>
             <a href="https://www.google.com/search?q=enable+javascript" 
                target="_blank"
                rel="noreferrer">
              <button class="positive"><i class="material-icons">code</i>Enable JS</button>
             </a>
             <a href="{{request.path}}" 
                rel="noreferrer">
              <button class="primary"><i class="material-icons">refresh</i>Refresh</button>
             </a>
            </div>
         </div>
        </noscript>
        {% block nav %}
        <nav class="w3-row {% block nav_style %}primary{% endblock %} w3-animate-top" id="navbar">
            <div class="w3-row w3-center tertiary pointer beta-alert-view" hidden>This is Knotters Beta, not Knotters. {% trans "Click here to learn more." %}</div>
            {% block nav_title %}
            <a
                style="padding:8px"
                href="{% block nav_href %}{% if request.GET.previous %}{{request.GET.previous}}{% else %}{{ROOT}}{% endif %}{% endblock %}{% if request.GET.miniwin %}?miniwin=1{% endif %}" 
                class="w3-left w3-animate-left previous-navigation-button">
                <span hidden>{{APPNAME}}</span>
                {% block nav_icon_hide %}
                    <img alt="{{APPNAME}}" src="{{ICON}}" class="darkimg" width="40" height="40" class="window-close-action" />
                {% endblock %}

                <button
                    {% block nav_back_show %}hidden{% endblock %}
                    class="{% block nav_back_theme %}primary{% endblock %} previous-navigation-button window-close-action" data-icon="{% block nav_back_icon %}arrow_back{% endblock %}"></button>
            </a>
            <span class="w3-left w3-hide-small"><h3 class="{% block nav_text_style %}text-primary{% endblock %}">{% block nav_text %}{{APPNAME}}{% endblock %}</h3></span>
            {% endblock %}
            {% block nav_right %}
            <span class="w3-right w3-animate-right nav-tabs-span">
                <button aria-label="App update available" class="negative" data-icon="update" title="Update available" id="new-update-action" hidden></button>
                <button aria-label="Theme switch" class="secondary themeswitch" data-icon="brightness_medium"></button>
                {% block nav_links %}
                    {% block nav_noauth %}
                        {% block nav_noauth_competes %}<a href="{{URLS.COMPETE}}"><button aria-label="Competitions" title="Competitions" class="active" data-icon="psychology"><span class="w3-hide-small">{% trans "Competitions" %}</span></button></a>{% endblock %}
                        {% block nav_noauth_projects %}<a href="{{URLS.PROJECTS}}"><button aria-label="Projects" title="Projects" class="positive" data-icon="widgets"><span class="w3-hide-small">{% trans "Projects" %}</span></button></a>{% endblock %}
                        {% block nav_noauth_people %}<a href="{{URLS.PEOPLE}}"><button aria-label="People" title="People" class="accent" data-icon="groups"><span class="w3-hide-small">{% trans "Community" %}</span></button></a>{% endblock %}
                        {% if request.user.profile.is_manager %}
                        {% block nav_noauth_management %}<a href="{{URLS.MANAGEMENT}}"><button aria-label="Management" title="Management" class="primary" data-icon="business"><span class="w3-hide-small">{% trans "Management" %}</span></button></a>{% endblock %}
                        {% endif %}
                        {% block nav_noauth_extra_links %}{% endblock %}
                    {% endblock %}
                    {% block nav_extra_links %}{% endblock %}
                    {% block nav_auth %}
                        {% if request.user.is_authenticated %}
                            {% block nav_auth_links %}{% endblock %}
                            {% block nav_auth_user %}<a href="{% if request.user.profile %}{{request.user.profile.getLink}}{% else %}{{request.user.getLink}}{% endif %}"><button title="Logged in as {{request.user.getName}}" class="{{request.user.profile.theme}}"><img src="{{request.user.profile.getDP}}" alt="{{request.user.getName}}" id="navbarprofilepic" /></button></a>{% endblock %}
                        {% else %}
                            {% block nav_auth_login %}
                            <a href="{% url 'account_login' %}?next={{request.path}}"><button title="Login" class="accent"><i class="material-icons">login</i><span class="w3-hide-small">{% trans "Login" %}</span></button></a>
                            {% endblock %}
                            {% block nav_auth_signup %}
                            <a href="{% url 'account_signup' %}?next={{request.path}}"><button title="Signup" class="positive"><i class="material-icons">person_add</i><span class="w3-hide-small">{% trans "Join" %}</span></button></a>
                            {% endblock %}
                        {% endif %}
                        {% block nav_auth_extra_links %}{% endblock %}
                    {% endblock %}
                {% endblock %}
            </span>
            {% endblock %}
        </nav>
        {% endblock %}
        {% block globalalerts %}
        <div class="w3-row">
        {% for alert in alerts %}
        <div class="w3-row positive w3-center w3-padding" id="view-{{alert.id}}">
            <span class="w3-padding">{{alert.message}}{% if alert.url %} <a class="text-positive" href="{{alert.url}}">Click here to proceed</a>.{% endif %}</span>
            <button class="small primary w3-right close-global-alert" data-icon="close" id="{{alert.id}}"></button>
        </div>
        {% endfor %}
        </div>
        {% if competition %}
        <div class="w3-row pallete comp-banner" style="background:url('{{competition.getBanner}}')" id="view-{{competition.id}}">
         
         <div class="w3-col w3-half pallete tertiary">
          <div class="w3-col w3-half">
           <h4 class="positive-text">{{competition.title}}</h4>
           <h6 class="text-tertiary">{{competition.tagline}}</h6>
          </div>
          <div class="w3-col w3-half w3-padding">
           <strong class="w3-right dead-text">{% trans "Begins at" %} {{competition.startAt}}</strong>
           <strong class="w3-right dead-text">{% trans "Ends at" %} {{competition.endAt}}</strong>
          </div>
         </div>
         <div class="w3-col w3-half w3-padding">
          <a class="w3-right" href="{{competition.getLink}}" target="_blank"><button class="accent small" data-icon="open_in_new">{% trans "View" %}</button></a>
          <button class="small primary w3-right close-global-alert" data-icon="close" id="{{competition.id}}"></button>
         </div>
        </div>
        <br/>
        {% endif %}
        {% endblock %}
        <div style="min-height: 50vh;">
            {% block content %}
            {% block localalert %}
            <div class="w3-row accent w3-padding w3-center" id="mod-mentor-looking" hidden>
              <strong class="">We are actively looking for mentors and moderators. <a class="underline text-accent" href="https://forms.gle/s1bHV5Au6ysS1A1A6" target="_blank">Click here to request</a> to be one.</strong>
              <span class="w3-right no-pad w3-large pointer" id='close-mod-mentor-looking'><i class="w3-large">close</i></span>
            </div>
            {% endblock %}
            <div class="w3-row">
                {% block subcontent %}
                <div class="w3-row w3-padding-large" id='intro-banner' style="height:75vh;">
                    <br/>
                    <div class='w3-row'>
                        <div class='w3-col w3-twothird w3-padding-large'>
                            <div class='w3-row'>
                                <h1 class='w3-jumbo w3-hide-small'>{% blocktrans %}India's First  <span class='accent'>Open Source</span> <span class='active'>Collaborative</span> Community Platform{% endblocktrans %}</h1>
                                <h1 class='w3-hide-large w3-hide-medium'>India's First <span class='accent'>Open Source</span> <span class='active'>Collaborative</span> Community Platform</h1>
                            </div><br/>
                            <div class='w3-row'>
                                {% if not request.user.is_authenticated %}
                                 <a href='{% url 'account_signup' %}?next={{request.path}}'><button class='big-button positive' data-icon='person_add'>{% trans "Become a member" %}</button></a>
                                {% else %}
                                 <a href='{{URLS.ROOT}}'><button class='big-button accent' data-icon='arrow_back'>{% trans "Browse everything" %}</button></a>
                                {% endif %}
                            </div>
                            <br/>
                        </div>
                        <div class='w3-col w3-third' align='right'>
                            <img src='{{ICON}}' width='50%' class='darkimg' />
                        </div>
                    </div>
                </div>
                <div class="w3-row browser-view" data-type="{{BROWSE.DISPLAY_MENTORS}}">
                </div>
                <div class="w3-row w3-padding-large" id='projects-admire-banner' style="height:70vh">
                    <br/>
                    <div class='w3-row'>
                        <div class='w3-col w3-half'>
                        </div>
                        <div class='w3-col w3-half w3-padding-large'>
                            <div class='w3-row'>
                                <h2 class='w3-jumbo w3-hide-small'>{% blocktrans %}Admire projects{% endblocktrans %}</h2>
                                <h2 class='w3-hide-large w3-hide-medium'>{% blocktrans %}Admire projects{% endblocktrans %}</h2>
                                <br/>
                                <strong class='text-medium'>{% trans "Snapshots are waiting for you to admire some projects for them." %}</strong>
                            </div><br/>
                            <a href='{{URLS.PROJECTS}}'><button class='big-button positive' data-icon='open_in_new'>{% trans "Projects" %}</button></a>
                            <br/><br/>
                        </div>
                    </div>
                </div>
                <div class="w3-row browser-view" data-type="{{BROWSE.CORE_MEMBERS}}">
                </div>
                <div class="w3-row w3-padding-large" id='compete-participate-banner' style="height:60vh;">
                    <br/>
                    <div class='w3-row w3-center'>
                        <div class='w3-col w3-padding-large'>
                            <div class='w3-row'>
                                <h2 class='w3-jumbo w3-hide-small'>{% blocktrans %}Participate{% endblocktrans %}</h2>
                                <h2 class='w3-hide-large w3-hide-medium'>{% blocktrans %}Participate{% endblocktrans %}</h2>
                                <br/>
                                <strong class='text-medium'>{% trans "We conduct and host competitions for you to level up. You participate in them to contribute." %}</strong>
                            </div><br/>
                            <a href='{{URLS.COMPETE}}'><button class='big-button active' data-icon='open_in_new'>{% trans "Competitions" %}</button></a>
                            <br/><br/>
                        </div>
                    </div>
                </div>
                <div class="w3-row w3-padding-large" id="existence-reason-banner" style="height:60vh;">
                    <br/>
                    <div class='w3-row w3-center'>
                        <div class='w3-col w3-padding-large'>
                            <div class='w3-row'>
                                <h2 class='w3-jumbo w3-hide-small'>Why {{APPNAME}}?</h2>
                                <h2 class='w3-hide-large w3-hide-medium'>Why {{APPNAME}}?</h2>
                                <br/>
                                <strong class='text-medium'>{% blocktrans %}Starting a project with {{APPNAME}} gives your idea a certain amount of exposure,<br/>a head start, a profile, a face, a room on internet, a family to your project to-be.<br/>We call that family {{APPNAME}} Community.{% endblocktrans %}</strong>
                            </div><br/>
                            <a href='{{URLS.LANDING}}'><button class='big-button accent' data-icon='open_in_new'>{% trans "Read philosophy" %}</button></a>
                            <br/><br/>
                        </div>
                    </div>
                </div><br/>
                <div class="w3-row w3-padding-large w3-center">
                    {% if not request.user.is_authenticated %}
                        <a href="{{URLS.Auth.SIGNUP}}?next={{request.path}}"><button class="big-button positive" data-icon="person_add">Create an Account</button></a>
                        <a href="{{URLS.Auth.LOGIN}}?next={{request.path}}"><button class="big-button accent" data-icon="login">Login as existing</button></a><br/>
                        <button class="big-button primary contact-request-action" data-icon="support">Contact us</button></a>
                    {% endif %}
                </div>
                <br/>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <footer class="w3-row tertiary w3-padding" {% block show_lite_footer %}hidden{% endblock %}>
            <br/>
            <div class="w3-col w3-half w3-padding">
            {% if LANGUAGES|length %}
            <form action="{% url "set_language" %}" method="POST">
                {% csrf_token %}
                <select name="language" class="selectLanguage" id="language_lite_footer">
                {% for language in LANGUAGES %}
                    <option class="optionLanguage"  value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language.1 }}</option>
                {% endfor %}
                </select>
            </form>
            {% endif %}
            </div>
            <div class="w3-col w3-half primary-text w3-padding">
                <a href="/" class="window-close-action"><img class="w3-right" src="{{ICON_SHADOW}}" width="100" /></a>
            </div>
            <div class="w3-row w3-center">
            <a href="{{URLS.Docs.TYPE|params:'copyright'}}" class="dead-text">{% trans "Copyright" %} {% now "Y" %} Knotters</a>
            </div>
        </footer>
        {% block footer %}
        <footer class="w3-row secondary w3-padding w3-animate-bottom" >
            <br/><br/>
            <div class="w3-col w3-half primary-text w3-padding">
                {% if LANGUAGES|length %}
                <form action="{% url "set_language" %}" method="POST">
                    {% csrf_token %}
                    <select name="language" class="selectLanguage" id="language">
                    {% for language in LANGUAGES %}
                        <option class="optionLanguage"  value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language.1 }}</option>
                    {% endfor %}
                    </select>
                </form>
                {% endif %}
                
                <a href="/press" class="text-secondary w3-animate-left" hidden>{% trans "For the press" %}</a><br/>
                <a href="#0" class="text-secondary w3-animate-left pointer troubleshoot-action">{% trans "Troubleshooting" %}</a><br/>
                <a href="#0" class="text-secondary w3-animate-left pointer report-feedback-action">{% trans "Report" %} &amp; {% trans "Feedback" %}</a><br/>
                <a href="{{URLS.DOCS}}" class="text-secondary w3-animate-left">{% trans "Docs" %} &amp; {% trans "statements" %}</a><br/>
                <a href="{{URLS.Docs.TYPE|params:'termsofservice'}}" class="text-secondary w3-animate-left">{% trans "Terms of service" %}</a><br/>
                <a href="{{URLS.Docs.TYPE|params:'privacypolicy'}}" class="text-secondary w3-animate-left">{% trans "Privacy Policy" %}</a><br/>
                <a href="#0" class="text-secondary w3-animate-left contact-request-action">{% trans "Contact us" %}</a><br/>
                <a href="{{URLS.LANDING}}" class="text-secondary w3-animate-left">{% trans "The Landing Page" %}</a><br/>
                <a href="{{URLS.BRANDING}}" class="text-secondary w3-animate-left">{% trans "Brand Resources" %}</a><br/>
                <a href="#0" class="text-secondary w3-animate-left webapp-install-action">{% trans "Web App Installation" %}</a><br/>
                <a href="https://api.knotters.org/" target="_blank" class="text-secondary w3-animate-left">{{APPNAME}} {% trans "API" %}</a><br/>
                <a href="https://events.knotters.org/" target="_blank" class="text-secondary w3-animate-left">{{APPNAME}} {% trans "Events" %}</a><br/>
                <a href="https://beta.knotters.org/" target="_blank" rel="nofollow" class="text-secondary w3-animate-left">{% trans "Beta" %} program</a><br/>
            </div>
            <div class="w3-col w3-half w3-padding-small w3-animate-right">
                <br/><br/>                
                <button class="primary w3-right navigator-share-action" data-title="{{APPNAME}}" data-text="Checkout this page at {{APPNAME}}" data-url="{{request.path}}" data-icon="share">{% trans "Share" %}</button>
                <br/><br/>
                <a href="{{URLS.LANDING}}">
                <div class="w3-row">
                    <h2 class="text-secondary w3-right">{{APPNAME}} {% trans "Community" %}</h2>
                </div>
                <div class="w3-row">
                    <img alt="{{APPNAME}}" class="w3-right darkimg" src="{{ICON}}" width="120" height="120" />
                </div>
                </a>
            </div>
            <div class="w3-row w3-center">
                <a href="https://www.digitalocean.com/?refcode=ebf3fb45c9e2&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" target="_blank" /></a>
                <center>
                <br/>
                {% block footer_social %}
                    {% for social in SOCIALS %}
                    <a href="{{social.link}}" target="_blank" rel="noreferrer">
                        <span hidden>{{social.name}}</span>
                        <button aria-label="{{social.name}}" class="primary w3-animate-zoom">
                            <img alt="{{social.name}}" src="{% static 'graphics/thirdparty/' %}{{social.key}}.webp" width="{{social.width}}" height="{{social.height}}" 
                            {% if social.has_dark %}
                                class="darkimg"
                            {% endif %}
                            />
                        </button>
                    </a>
                    {% endfor %}
                {% endblock %}
                <br/><br/>
                <a href="{{URLS.Docs.TYPE|params:'copyright'}}" class="text-secondary">{% trans "Copyright" %} {% now "Y" %} Knotters</a>
                </center>
            </div>
        </footer>
        {% endblock %}
        <div id="snap-modal" class="w3-modal align" style="display: none">
            <div class="snapshot-modal-content w3-hide-medium w3-hide-large" id="snap-mob">
                <div class="w3-row w3-padding">
                    {% if request.user.is_authenticated %}
                        <div class="w3-col s6 w3-center">
                            <button class="big-button primary delete-snapshot-action negative-text">
                                <i class=" material-icons">delete</i>
                                Delete
                            </button>
                        </div>
                        <div class="w3-col s6 w3-center">
                            <button class="big-button primary report-snapshot-action negative-text">
                                <i class="negative-text material-icons">report</i>
                                Report
                            </button>
                        </div>
                    {% else %}
                        <div class="w3-col s12 w3-center">
                            <button class="big-button primary login-snapshot-action">
                                <i class="material-icons">person_add</i>
                                Signup for more
                            </button>
                        </div>
                    {% endif %}
                </div>
                <br/>
            </div>
            <div class="snapshot-modal-content-large w3-hide-small w3-padding" id="snap-laptop">
                <div class="w3-row w3-center">
                    {% if request.user.is_authenticated %}
                        <div class="w3-col l12 m12 w3-center">
                            <button class="big-button primary delete-snapshot-action negative-text">
                                <i class="negative-text material-icons">delete</i>
                                Delete
                            </button>
                        </div><br/>
                        <div class="w3-col l12 m12 w3-center">
                            <button class="big-button primary report-snapshot-action negative-text">
                                <i class="negative-text material-icons">report</i>
                                Report
                            </button>
                        </div>
                    {% else %}
                        <div class="w3-col l12 m12 w3-center" >
                            <button class="big-button primary login-snapshot-action">
                                <i class="material-icons">person_add</i>
                                Signup for more
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block loadview %}
        <div class="view-loader" id="viewloader">
            <div class="loader"></div>
        </div>
        <div class="linear-loader" id="subloader">
            <div class="loading-animation"></div>
        </div>
        <div class="preview-image-modal w3-padding-small" id="image-previewer">
            <img src="{{ICON}}"  id="preivew-image-src"/>
        </div>
        {% endblock %}
        <script defer src="{% static 'alertify/alertify.min.js' %}"></script>
        <script src="{% static 'sweetalert2/swa2.min.js' %}"></script>
        <script src="{% static 'cropper/cropper.min.js' %}"></script>
        <script src="{% static 'chartjs/chart.min.js' %}"></script>
        <script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>
        <script src="{{URLS.SCRIPTS|params:SCRIPTS.STRINGS}}"></script>
        <script src="{% static 'scripts/globalvars.js' %}"></script>
        <script src="{% static 'scripts/index.js' %}"></script>
        <script src="{% static 'scripts/request.js' %}"></script>
        <script src="{% static 'scripts/notification.js' %}"></script>
        <script src="{% static 'scripts/theme.js' %}"></script>
        <script src="{% static 'scripts/alerts.js' %}"></script>
        <script src="{% static 'scripts/reporter.js' %}"></script>
        <script src="{% static 'scripts/device.js' %}"></script>
        <script src="{% static 'scripts/browser.js' %}"></script>
        <script src="{% static 'scripts/snapshot.js' %}"></script>
        <script src="{% static 'scripts/dynamiccontent.js' %}"></script>
        <script src="{% static 'scripts/sw.js' %}"></script>
        <script src="{{URLS.SCRIPTS|params:SCRIPTS.CONSTANTS}}?fromApp={{SUBAPPNAME}}"></script>
        {% block in_scripts %}{% endblock %}
        {% block ext_scripts %}{% endblock %}
        <script src="{% static 'scripts/autostart.js' %}"></script>
        <script src="{{URLS.SCRIPTS|params:SCRIPTS.QUERY_USE}}?{% for k, v in request.GET.items %}{{k}}={{v}}&{% endfor %}" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
        <script async src="{% static 'html2canvas.min.js' %}"></script>
        {% spaceless %}
        {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <script src="{{URLS.SCRIPTS|params:SCRIPTS.QUERY_USE}}?msg={{message}}" type="text/javascript"></script>
        {% endfor %}
        {% endif %}
        {% endblock %}
        {% block errors %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <script src="{{URLS.SCRIPTS|params:SCRIPTS.QUERY_USE}}?formerr={{error|escape}}" type="text/javascript"></script>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <script src="{{URLS.SCRIPTS|params:SCRIPTS.QUERY_USE}}?formerr={{error|escape}}" type="text/javascript"></script>
            {% endfor %}
        {% endif %}
        {% endblock %}
        {% endspaceless %}
    </body>
</html>
