{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000" >
        <link rel="stylesheet" href="{% static 'styles/w3.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/Poppins.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/Questrial.css' %}">
        <link rel="stylesheet" href="{% static 'icons/material.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="icon" href="{% static 'graphics/icon.svg' %}">
        {% block title %}<title>{{appname}}</title>{% endblock %}
    </head>
    {% endblock %}
    <body>
        {% block nav %}
        <nav class="w3-row">
            {% block nav_title %}
            <a href="/" class="w3-left w3-padding-small"><h3><img src="{% static 'graphics/icon.svg' %}" width="40" />&nbsp;{{appname}}</h3></a>
            {% endblock %}
            <span class="w3-right w3-row w3-padding">
                {% block nav_links %}
                {% if request.user.is_authenticated %}
                <a href="/projects/create"><button class="positive"><i class="material-icons">add_circle</i>New project</button></a>
                <a href="{% url 'account_logout' %}"><button class="accent"><i class="material-icons">person</i>{{request.user|capfirst}}</button></a>
                {% else %}
                <a href="{% url 'account_login' %}?next=/"><button class="accent"><i class="material-icons">login</i>Login</button></a>
                <a href="{% url 'account_signup' %}?next=/"><button class="positive"><i class="material-icons">person_add</i>Join community</button></a>
                {% endif %}
                {% endblock %}
            </span>
        </nav>
        {% endblock %}
        {% block content %}
        <div class="w3-row">
            <div class="w3-row w3-center w3-padding">
                <h1>Solving problems together.</h1>
            </div>
            <div class="w3-row w3-center w3-padding w3-light-grey">
                <br/>
                <h3>Most active projects of this week</h3>
                <br/>
                <div class="w3-col w3-third w3-padding">
                </div>
                {% for project in projects %}
                <a href="/projects/profile/{{project.id}}">
                <div class="w3-col w3-third pallete primary">
                    <div class="w3-row">
                        <img src="/media/{{project.image}}" width="150" />
                    </div>
                    <h2>{{project.name}}</h2>
                    <span>{{project.description}}</span>
                </div>
                </a>
                {% empty %}
                <div class="w3-row w3-center">
                <h2>Waiting for projects.</h2>
                </div>
                {% endfor %}
            <div class="w3-row">
            <br/>
                <a href="/projects"><button class="positive"><i class="material-icons">launch</i>More interesting projects</button></a>
            </div>
            <br/>
            </div>
        </div>
        {% endblock %}
        <br/><br/>
        {% block footer %}
        <footer class="w3-row secondary w3-padding" style="min-height: 50vh;">
            <br/><br/>
            <div class="w3-col w3-half primary-text w3-padding">
                {% if contactmail %}
                <a href="mailto:{{contactmail}}"><button class="primary"><i class="material-icons">mail</i>{{contactmail}}</button></a><br/><br/>
                {% endif %}
                <a target="_blank" rel="noreferrer" href="https://github.com/Knotters"><button class="primary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="25" />Knotters</button></a><br/><br/>
                <a target="_blank" rel="noreferrer" href="https://twitter.com/knottersdotorg"><button class="primary"><img src="{% static 'graphics/thirdparty/twitter.png' %}" width="25" />knottersdotorg</button></a><br/><br/>
                <a target="_blank" rel="noreferrer" href="https://instagram.com/knottersdotorg"><button class="primary"><img src="{% static 'graphics/thirdparty/instagram.png' %}" width="25" />knottersdotorg</button></a><br/><br/>
                <a target="_blank" rel="noreferrer" href="https://facebook.com/knottersdotorg"><button class="primary"><img src="{% static 'graphics/thirdparty/facebook.png' %}" width="22" />knottersdotorg</button></a><br/><br/>
            </div>
            <div class="w3-col w3-half w3-padding-small">
                <br/><br/>
                <div class="w3-row">
                    <h2 class="primary-text w3-right"><a href="/">Knotters Community</a>.</h2>
                </div>
                <div class="w3-row">
                    <img class="w3-right" src="{% static 'graphics/icon.svg' %}" width="100" />
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>