{% extends 'index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block title %}{% trans "Invitation" %}{% endblock %}

{% block nav_text %}{% trans "Invitation" %}{% endblock%}

{% block content %}
<div class="w3-row w3-padding">
    <br/>
    {% block invite_body %}
    {% endblock %}
    <br/>
    <div class="w3-row w3-padding w3-center">
        <form method="POST" action="{% block accept_action %}{% endblock %}" id="invite-accept-form">
            {% csrf_token %}
            {% block accept_formdata %}{% endblock %}
            <input hidden type="text" value="accept" name="action" id="invite-accept-action" />
            <button type="submit" class="positive" data-icon="check">{% block accept_text %}{% trans "Accept Invitation" %}{% endblock %}</button>
        </form>
        <br/>
        <form method="POST" action="{% block decline_action %}{% endblock %}" id="invite-decline-form">
            {% csrf_token %}
            {% block decline_formdata %}{% endblock %}
            <input hidden type="text" value="decline" name="action" id="invite-decline-action" />
            <button type="submit" class="negative" data-icon="close">{% block decline_text %}{% trans "Decline Politely" %}{% endblock %}</button>
        </form>
    </div>
</div>
<br/>
{% endblock %}