{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block meta_description %}This page is a story, telling the story of this page itself. Are you interested in our story?{% endblock %}
{% block og_url %}{{URLS.LANDING}}{% endblock %}
{% block og_title %}The Landing Page{% endblock %}
{% block og_description %}This page is a story, telling the story of this page itself. Are you interested in our story?{% endblock %}
{% block og_site_name %}The Landing Page{% endblock %}

{% block tw_url %}{{URLS.LANDING}}{% endblock %}
{% block tw_title %}The Landing Page{% endblock %}
{% block tw_description %}This page is a story, telling the story of this page itself. Are you interested in our story?{% endblock %}

{% block title %}{% trans "The Landing Page" %}{%endblock%}

{% block nav_text %}{% trans "The Landing Page" %}{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-row w3-center" style="height:100vh">
        <div class="w3-row w3-center">
            <img class="w3-hide-small w3-animate-zoom darkimg" src="{% static 'graphics/self/icon-circle.svg' %}" width="20%" />
            <img class="w3-hide-large w3-hide-medium w3-animate-zoom darkimg" src="{% static 'graphics/self/icon-circle.svg' %}" width="50%" />
        </div>
        <div class="w3-row w3-center w3-animate-bottom">
            <h1>{{APPNAME}}</h1>
            <h1 class="w3-hide-small w3-jumbo"><b>{% trans "The landing page" %}</b></h1>
            <h1 class="w3-hide-large w3-hide-medium"><b>{% trans "The landing page" %}</b></h1>
            <strong class="text-big">
                {% trans "Keep scrolling, will ya?" %}
                </strong>
        </div>
        <br/>
        <div class="w3-row w3-center w3-animate-bottom">
            <a href="#scrolled"><button class="positive big-button" data-icon="arrow_downward">{% trans "Scroll" %}</button></a>
        </div>
        <br/>
        <div class="w3-row w3-center w3-animate-opacity">
            <h6>({% trans "Please scroll, to proceed further😥" %})</h6>
        </div>
    </div>
    <br>
    <div class="w3-row w3-padding-large" align='center' id='scrolled'>
    <br/><br/>
        {% if not request.user.is_authenticated %}
            <strong class="text-big">It is highly recommended that you create an account or login first, then proceed.</strong><br/>
            <a href="{{URLS.Auth.SIGNUP}}?next={{request.path}}"><button class="big-button positive" data-icon="person_add">Create an Account</button></a>
            <a href="{{URLS.Auth.LOGIN}}?next={{request.path}}"><button class="big-button accent" data-icon="login">Login as existing</button></a>
        {% elif not request.user.profile.on_boarded %}
            <strong class="text-big">It is highly recommended that you go through on-boarding first.</strong><br/>
            <a href="{{URLS.ON_BOARDING}}?next={{request.path}}"><button class="big-button positive" data-icon="play_arrow">Continue to on-boarding</button></a>
        {% endif %}
        <br/><br/>
    </div>
    <br/>
    <div class="w3-row w3-padding-large" align='left'>
        <h2>{% trans "Not exactly a landing page"%}<a href="https://en.wikipedia.org/wiki/Landing_page" title="{% trans "What is a landing page?" %}" target="_blank" rel="noreferrer"><i>open_in_new</i></a></h2>
        <div class="w3-col w3-half">
            <strong class="w3-large">
            <p class="text-medium">
                Please come back here if you'll click the above link icon. Wikipedia articles can be intriguing sometimes.<br/>
                This page is a story, telling the story of this page itself, with a tiny (very tiny, almost microscopic) focus on {{APPNAME}} platform.
            </p>
            <p class="text-medium">
                Are you interested in our story? Regardless, we'll continue to tell.
                Not that we don't care about <a onclick="reportFeedbackView(1)">your opinion</a> (which we do), but most of the content on this page is static.
            </p>
            </strong>
        </div>
        <div class="w3-col w3-half">
            <img class="w3-right" src="{{ICON}}"  width="50" />
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding-large" align='center'>
        <h2>The center heading</h2>
        <strong class="w3-large">
        <p class="text-medium">
            To indicate that something important has come up, however, everything is important in this page,
            it's just that center heading looks cool. <a onclick="reportFeedbackView(1)">Does it?</a>
            <br/>
            This <img src={{ICON}} class="darkimg" width="24"/> icon is our logo, which you must've realized by now.
            The name <em>{{APPNAME}}</em> is what we call this platform, and so should you.
        </p>
        </strong>
    </div>
    <br/>
    <div class="w3-row w3-padding-large" align='right'>
        <h2>Introductory section</h2>
        <div class="w3-col w3-half" align='left'>
            <img src="{{ICON}}"  width="50" />
        </div>
        <div class="w3-col w3-half" align='right'>
            <strong class="w3-large">
            <p class="text-medium">
                Has the story started? It did when you first visited this page. It's all about patience.
                Ofcourse you can speed scroll all the way down to the bottom of this page to get rid of this slow character buildup. But, where's the fun in that?
            </p>
            </strong>
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding-large dead-text" align='center' id='creativity-xp'>
        <h3>Did you notice the staircase we formed above? left-center-right 😁</h3>
        <h4>Creativity  +100XP 😎</h4>
    </div>
    <br/>
    <div class="w3-row w3-padding" id='better-truth'>
        <div class="pallete-slab accent w3-padding-large">
            <center><h1>The Better Truth</h1></center>
            <div class="pallete primary w3-padding-large">
                <h5>
                    Here's the truth about why the long storytelling on a landing page.<br/>
                    We were sooo involved in the making of this platform and the services it provides,
                    that we forgot to add landing page on our bucket list.<br/><br/>
                    And about the time we realised that, {{APPNAME}} had become sooo vast in terms of features
                    (quick projects, verified projects, competitions, moderators, judges, licensing, certificates, etc.),
                    that no language had enough words (or variables) to describe them all.
                </h5>
            </div>
            <br/>
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding" id="bitter-truth">
        <div class="pallete-slab secondary w3-padding-large">
            <center><h1 class="text-secondary">The Bitter Truth</h1></center>
            <div class="pallete primary w3-padding-large">
                <h5>
                    Here's the bitter truth for some of you. The story of our landing page is still under construction😿. So in the mean time
                    we'll try to explain you the vast & variety of features of {{APPNAME}}, of which a few have been mentioned in The Better Truth as well.
                </h5>
            </div>
            <br/>
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding-large" id='projects'>
        <div class="w3-row">
            <h1 class="w3-jumbo"><span class="active">The Projects</span><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#projects"><i>link</i></a></h1>
            <strong class="w3-large">
                <p class="text-big">
                    As we said, it's all about patience, therefore the first thing that we'd like to have you introduced,
                    is the Projects feature of {{APPNAME}}, which actively involves the patience factor.
                </p>
            </strong>
            <h3>Have you ever worked on a project? Like a software project or a community project, or anything you'd like to categorize as a project?
            </h3>
            <strong class="w3-large">
                <p>
                    <h4><span class="tertiary">If you haven't, then</span></h4>
                    {{APPNAME}} could prove to be the right place to start, in case you want to start.
                    <h5>Why so?</h5>
                    At the planck epoch stage of any project,
                    which is the idea state, the first time creator gets pretty confused regarding where thee shall begin.<br/>
                    This is the stage at which starting a project with {{APPNAME}} gives your idea a certain amount of exposure, a head start,
                    a profile, a face, a room on internet, a family to your project to-be. We call that family <em>{{APPNAME}} Community</em>.
                    And it's fruitful.
                </p>
                <p>
                    <h4><span class="tertiary">If you have, then</span></h4>
                    There's always a need for any project to be in the public eye. Social networking sites could be helpfull, but those 
                    only provide exposure to the deliverability of your project, not to the project itself. As mentioned previously, having 
                    an official profile of your project, in whichever domain it may be, gives it a recognizable face, a room on internet, and
                    again, a family. {{APPNAME}} provides all of these to your project.
                </p>
            </strong>
            <h3>Your project could be one of the <span class="accent">following</span>.
            </h3>
            <div class="w3-row">
                <h1 id="quick-projects"><span class="accent" >Quick Project</span><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#quick-projects"><i>link</i></a></h1>
                <strong class="text-medium">
                    As the name goes, a quick project can be created quickly, without waiting for anyone's approval.
                    This is the fastest way to start a new project here. Any kind of project can be created under this category.
                </strong>
                <br/>
                <a onclick="newTab('{{URLS.Projects.CREATE_FREE}}')"><button class='big-button positive' data-icon="add">New quick project</button></a>
                <br/><br/>
                <h1 id="verified-projects"><span class="accent" >Verified Project <i>verified</i></span><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#verified-projects"><i>link</i></a></h1>
                <span class="text-medium">
                    A project under this category will have its own Github repository under {{APPNAME}} organization,
                    and much more. But to fall under this category, your project has to undergo a review procedure
                    (Moderators are there for that, we'll discuss them later).
                    Currently recommended for coding based projects only.
                </span>
                <br/>
                <a onclick="newTab('{{URLS.Projects.CREATE_MOD}}')"><button class='big-button accent' data-icon="add">New verified project</button></a>
                <br/><br/>
                <h1 id="core-projects"><span class="accent">Core Project</span><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#core-projects"><i>link</i></a></h1>
                <strong class="text-medium">
                    A special category for projects, which are currently available to management accounts only.
                    Under this category, managers/organizations can request a closed source project at {{APPNAME}}, and it will be
                    available to a few chosen people at {{APPNAME}}, and the people of the organization, for contribution.
                    The source code of these kind of projects will also remain under {{APPNAME}} organization, but with limited visibility.
                    Organizations may also provide incentives to the people who contribute to it.
                </strong>
                <br/>
                <a onclick="newTab('{{URLS.Projects.CREATE_CORE}}')"><button class='big-button primary' data-icon="add">New core project</button></a>
                <br/><br/>
                <h4>
                    And it doesn't end here
                </h4>
                <strong class="text-medium">
                    All projects at Knotters have some special powers through which a track record is maintained of every contributor,
                    and it reflects in each of their profiles accordingly, alongside their respective topics (We'll discuss 'topics' soon).<br/>
                    In short - Everything counts!
                </strong><br/>
                <a onclick="newTab('{{URLS.Projects.CREATE}}')"><button class='big-button primary' data-icon="open_in_new">Try creating a project</button></a>
            </div>
            
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding-large"  id="competitons">
        <div class="w3-row">
            <h1 class="w3-jumbo"><span class="accent">The <span style="word-break:break-word">Competitions</span></span><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#competitons"><i>link</i></a></h1>
            <strong class="w3-large">
                <p class="text-big">
                    We conduct and host competitions in which anyone can participate. Robot🤖 participants are still not allowed. Sorry <a onclick="miniWindow('{{URLS.ROBOTS_TXT}}')">robots</a>!<br/>
                    Most of our competitions are based & targeted on real world problems, and not money oriented. However, perks & prizes are involved.
                </p>
            </strong>
            <h3 id="competion-perks"><span class="active">Following</span> are the perks of participation.
            </h3>
            <div class="w3-row" >
                <h1><span class="active">Flex-able certificate</span></h1>
                <strong class="text-medium">
                    You'll earn a flex-able certificate upon successfull participation in any active competition at Knotters.
                    Just make your submissions follow our <a onclick="newTab('{{URLS.Docs.TYPE|params:'competitionguidelines'}}')">competition guidelines</a>.
                    The certificates you earn here are immortal, and can be shared anywhere.<br/>
                    We also provide appreciation certificates to judges and moderators as well.
                </strong>
                <br/>
                <h1><span class="active">Profile +XP</span></h1>
                <strong class="text-medium">
                    If you would've had noticed <a href="#creativity-xp">this</a>, we mentioned someting about +100XP in creativity. The XP here indicates
                    the experience count, points, like in video games, and just like we earned +100 in creativity, you can also earn massive amount
                    of XPs from our competitions for its topics (We'll discuss 'XP' soon).
                </strong>
                <br/>
                <h1><span class="active">Submission to Project</span></h1>
                <strong class="text-medium">
                    After a competion ends, which is right after results declaration, we may convert the winner's submission into a verified project on Knotters 
                    (after an internal review),
                    without any need to undergo our review procedure, so that it opens up to further contribution. The moderator of competition becomes the moderator 
                    of this verified project too, and one of the judges become mentor of the project.
                </strong>
                <br/><br/>
                <h4>
                    And it doesn't end here
                </h4>
                <strong class="text-medium">
                    All competitions at Knotters have some special powers through which a track record is maintained of every participant,
                    and it reflects in each of their profiles accordingly, alongside their respective topics.
                    Finished competitions remain as an archive to explore the historical records of endeavour.
                    <br/>
                    Again - Everything counts!
                </strong>
                <br/>
                <a onclick="newTab('{{URLS.COMPETE}}')"><button class='big-button active' data-icon="open_in_new">Try participating</button></a>
            </div>
        </div>
    </div>
    <br/>
    <div class="w3-row w3-padding-large" id="moderators">
        <h1>{% trans "The Moderators" %} <a href="{{URLS.PEOPLE}}?search=type:moderator" target="_blank"><strong class="w3-small w3-round w3-tag accent">MOD</strong></a><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#moderators"><i>link</i></a></h1>
        <strong class="text-medium">
            To review and take action on verified projects submissions, a category of users at Knotters are called the moderators.
            The descision taken by a moderator for a project decides its future. If approved, the project enters our world.
            If rejected, then the creator gets a few chances to resubmit the same for review to a different moderator.
            No creator or moderator knows each other during review process. The project assigned to a moderator is assigned 
            according to their area of expertise, which is interpreted from their overall contribution record on Knotters.
            The moderator helps a project reach new heights if approved. Moderator is like a project mentor.
        </strong><br/>
        <a href="{{URLS.PEOPLE}}?search=type:moderator" target="_blank"><button class='big-button accent' data-icon="search">Search moderators</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="mentors">
        <h1>{% trans "The Mentors" %} <a href="{{URLS.PEOPLE}}?search=type:mentor" target="_blank"><strong class="w3-small w3-round w3-tag active">MNT</strong></a><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#mentors"><i>link</i></a></h1>
        <strong class="text-medium">
            Mentors are the people who, during peacetime, guide projects through their knowledge and expertise in the domain of concerned project.
            By 'during peacetime', we meant when they are not involved in any competitions. So yeah you can infer that they have a role in competitions too.
            Actually, a crutial one. Mentors of our platform are the only ones with the required expertise to be eligble to be a judge of competition.
            Mentors too have XPs, topics and growth on this platform, just like the moderators have, just like everyone has.
            Currently we have limited mentorship to verified projects only.
        </strong><br/>
        <a href="{{URLS.PEOPLE}}?search=type:mentor" target="_blank"><button class='big-button active' data-icon="search">Search mentors</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="managers">
        <h1>{% trans "The Managers" %} <a href="{{URLS.PEOPLE}}?search=type:manager" target="_blank"><strong class="w3-small w3-round w3-tag tertiary positive-text">MGR</strong></a><a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#managers"><i>link</i></a></h1>
        <strong class="text-medium">
            Or, organizations. Or, groups. Or, clubs. Or, companies. Or, whatever you call an organized group of people. 
            These are the type of accounts which have access to management tools of {{APPNAME}}, for example, creating competitions,
            creating <a href="#core-projects">Core projects</a>, linking people to their profile for collective growth, promoting people as moderators or mentors, and so on.
        </strong><br/>
        <a href="{{URLS.PEOPLE}}?search=type:manager" target="_blank"><button class='big-button primary' data-icon="search">Search managements</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="licenses">
        <h1>{% trans "The Licenses" %}<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#licenses"><i>link</i></a></h1>
        <strong class="text-medium">
            Several open source licenses are provided on Knotters by default to choose from for your next project.
            You cannot change the license after a project is live. For quick projects, you can only choose from available licenses
            (which are enough in numbers). For verified projects, you can add your own license if the default ones doesn't suit you.
            If you don't understand licenses and their importance, you can go with the default selected license for your projects.
        </strong><br/>
        <a onclick="newTab('{{URLS.Projects.ALLLICENSES}}')"><button class='big-button primary' data-icon="open_in_new">View licenses</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="profile">
        <h1>{% trans "Your profile" %}<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#profile"><i>link</i></a></h1>
        <strong class="text-medium">
            Just like the profile of your project is its own room on Knotters, your own profile also represents your presence in our community.
            Your profile contains dynamic information about your expertise, acheivements, projects and the things you share yourself.
            You can showcase your own profile on any social site by sharing its URL, to flex your presence at Knotters.
        </strong><br/>
        {% if request.user.is_authenticated %}
        <a onclick="newTab('{{request.user.profile.getLink}}')"><button class='big-button primary' style="border:4px solid var(--accent)"><img src="{{request.user.profile.getDP}}" class="circle" width='30' /> {{request.user.profile.getFName}}'s profile</button></a>
        {% else %}
        <a onclick="newTab('{{URLS.Auth.LOGIN}}')"><button class='big-button primary' style="border:4px solid var(--positive)" data-icon="login">Login for profile</button></a>
        {% endif %}
    </div>
    <div class="w3-row w3-padding-large" id="topics">
        <h1>{% trans "The Topics" %}<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#topics"><i>link</i></a></h1>
        <strong class="text-medium">
            Our platform is filled with numerous of topics to choose from, for your profile, for your projects, and for the competitions,
            through which you can uniquely select and level up your expertise in the domain of your choice.
            The topics have indiviual XP points for everyone on Knotters, which can be increased via various sources, the major source being participation 
            in competitions. You can participate in a competition by looking at the topics it associates with, to precisely increase your XP for those topics.
        </strong><br/>
        <a href="{{URLS.PEOPLE}}?search=topic:UI/UX" target="_blank"><button class='big-button accent' data-icon="search">UI/UX People</button></a>
        <a href="{{URLS.PROJECTS}}?search=topic:Translation" target="_blank"><button class='big-button positive' data-icon="search">Translation Projects</button></a>
    </div>
    
    <div class="w3-row w3-padding-large" id="everything-counts">
        <h1>{% trans "Everything counts" %}<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#everything-counts"><i>link</i></a></h1>
        <strong class="text-medium">
            As you'd have read, your level of expertise on Knotters depends on the XP your profile and your topics have.
            Every action you take on Knotters duly contributes to your own visible growth, reflecting in your profile.
            You can contribute to the projects of your choice, and depending on the associated topics of that particular project,
            your own XP will increase for those topics. This was just one of the various ways through which your XPs can be controlled, 
            and for most of the part, you don't need to care about the ways. Focus on the work you do here, or just play around the
            different segments of this platform, and we'll take care of your growth reflection.
        </strong><br/>
        <a href="{{gh_market_app.gh_url}}" target="_blank"><button class='big-button secondary'><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="30" />&nbsp;&nbsp;Our GitHub bot</button></a>
        <strong>for contribution tracking.</strong>
    </div>
    <div class="w3-row w3-padding-large" id="level-up">
        <h1>Level up<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#level-up"><i>link</i></a></h1>
        <strong class="text-medium">
            If you've read about how a moderator gets projects to review, then you could probably interpret the importance of 
            XP of topics for a moderator. As the submitted projects have a category, the associated topics with that particular
            category play an important role in assignment of a moderator.

            Moderators hold an elite position on our platform.
            They perform superlative tasks, govern their approved project's growth, and also moderate submissions of competitions as well!<br/>
            You can, if you want to, become a moderator too. It is a selective process, and depending upon your performance and
            experience at Knotters, we'll reach out to you for the opportunity.
        </strong><br/>
        <a href="https://forms.gle/s1bHV5Au6ysS1A1A6" target="_blank"><button class='big-button primary' data-icon="open_in_new">Apply for promotion</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="wall-of-fame">
        <h1>Wall of Fame <a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#wall-of-fame"><i>link</i></a></h1>
        <strong class="text-medium">
            Yes, you read that right. We have a dedicated wall of fame at Knotters! For those who are unfamiliar with this kind of wall,
            it showcases the acheivers of historical significance at one place. Winners of competitions take the most of the area in 
            that wall, but there's space for the top contributors of every era too. Aim for that wall, and you could achieve 
            most out of this community along the way.
        </strong><br/>
        <a onclick="newTab('{{URLS.FAME_WALL}}')"><button class='big-button positive' data-icon="open_in_new">Wall of Fame</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="activites">
        <h1>Top activities & highlights<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#activites"><i>link</i></a></h1>
        <strong class="text-medium">
            On the top of everything, most of the sections on this platform will regularly higlight projects, people,
            and several categories of recommendations for you to never stop exploring. By showing you relevant profiles at Knotters 
            we intend to provide you sources of inspiration, exposure to what other people do here, 
            and increase the possibilities for you to find the next suitable project that you'd like to start contributing in.
        </strong>
        <br/>
        <a href="{{URLS.PROJECTS}}" target="_blank"><button class='big-button positive' data-icon="widgets">Project activities</button></a>
        <a href="{{URLS.COMPETE}}" target="_blank"><button class='big-button active' data-icon="psychology">Competition activities</button></a>
        <a href="{{URLS.PEOPLE}}" target="_blank"><button class='big-button accent' data-icon="groups">Community activities</button></a>
    </div>
    <div class="w3-row w3-padding-large" id="tips-n-tricks">
        <h1>Tips & Tricks<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#tips-n-tricks"><i>link</i></a></h1>
        <strong class="text-medium">
            <li>Use Alt + R to restart introductions anywhere, or just visit this landing page.</li>
            <li>Use Alt + F10 to switch theme, or click <i class="themeswitch pointer">brightness_medium</i> on navbar.</li>
            <li>While using any search box, you can also search by label:name, like <a onclick="miniWindow('{{URLS.PEOPLE}}?search=topic:creativity')" target="_blank">topic:creativity</a> or 
                <a onclick="miniWindow('{{URLS.PROJECTS}}?search=tag:nodejs')" target="_blank">tag:nodejs</a>.</li>
            <li>You can install this website on your device as application (through supported browsers only). <a onclick="installWebAppInstructions()">Click here</a> to check if you can.</li>
            <li>Many of the things on this platform can work offline too. Also (and therefore), you'll receive in-app updates from us time to time.</li>
        </strong>
    </div>
    <div class="w3-row w3-padding-large" id="why">
        <h1>The 'why' of everything<a class="click-to-copy dead-text" data-copy="{{request.build_absolute_uri}}#why"><i>link</i></a></h1>
        <strong class="text-medium">
            So far you've come, assuming not scrolled all the way down here, you must've got an idea of Knotters,
            and what the existence of this platform intends to bring in the world of open collaboration through your browser.
            If not, then don't worry, follow your instincts, move around and explore the different sections of Knotters.
            It's not that hard to understand the importance of open source community, with proper project recognition and
            exposure to new kinds of skillsets favouring your own personal growth, by doing a simple thing - get started.
            <br/><br/>
            Are you ready?
        </strong>
    </div>
    <div class="w3-row w3-padding-large" align='center'>
        <a href="{{URLS.ROOT}}"><button class="display-button positive" data-icon='flight_takeoff'>I'm ready</button></a>
        <button class="display-button accent" data-icon="share" onclick="shareLinkAction('The Landing Page', 'The Landing Page of {{APPNAME}}', '{{URLS.LANDING}}')">Share this</button>
    </div>
    <br/>
</div>
{% endblock %}
{% block in_scripts %}
<script>
    restartIntros()
</script>
{% endblock %}
