{% extends 'index.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}
{% block title %}
{% trans "Thank You" %}
{% endblock %}
{% block nav_text %}
{% trans "Thank You" %}
{% endblock %}
{% block content %}


<div class="w3-row tertiary" style="background-image: url('{{ICON_SHADOW}}');">
    <div class="w3-row w3-center" style="padding:16px 4px">
        <h3><span class="pallete-slab tertiary">{% trans " Core Contributors" %}</span></h3>
        <strong class="text-medium"><span class="pallete-slab tertiary">{% trans " Thank you for contributing and making what Knotters is today" %}</span></strong>
    </div>
    <div class="w3-row">
        {% for dmentor in dmentors %}
        <div class="w3-col w3-quarter w3-padding-small"> 
            <a href="{{dmentor.get_link|or:URLS.PEOPLE}}" {% if dmentor.get_link %}target="_blank" rel="noreferrer"
                {% endif %}>
                <div class="pallete w3-center no-pad">
                    <img class="primary border-joy" src="{{ dmentor.get_DP }}" alt="{{ dmentor.name }}" loading="lazy" />
                    <div class="w3-row w3-padding">
                        <h6>{{ dmentor.get_name }}</h6>
                        <span>{{ dmentor.get_about }}</span>
                    </div>
                    <br />
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br />
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
