{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

<br/>
<div class="w3-row w3-padding">
{% for competition in upcoming %}
<div class="w3-col w3-half w3-padding w3-animate-zoom">
    <a href="{{competition.getLink}}">
    <div class="w3-row">
        <div class="w3-row pallete" style="background:url('{{competition.getBanner}}');" id="view-{{competition.id}}">
            <div class="w3-col w3-twothird pallete tertiary">
                <div class="w3-row">
                    <i class="w3-circle w3-right w3-medium accent" title="Upcoming">hourglass_top</i>
                    <h4 class="">{{competition.title}}</h4>
                    <h6 class="dead-text">{{competition.tagline}}</h6>
                </div>
                <div class="w3-row">
                    <div class="w3-col w3-half">
                    {% for topic in competition.getPalleteTopics %}
                    <a href="{{URLS.COMPETE|getquery:"search=topic:"}}{{topic}}">
                        <button class="w3-tiny primary border-joy">{{topic.name}}</button>
                    </a>
                    {% endfor %}
                    </div>
                    <div class="w3-col w3-half" align='right'>
                        <br/>
                        <strong>{{competition.startAt}} till {{competition.endAt}}</strong>
                    </div>
                </div>
            </div>
            <div class="w3-col w3-third w3-padding-small" align='right'>
                <div class="w3-row">
                    <button class="navigator-share-action active small" data-icon="share" data-title="{{competition.title}}" data-text="Checkout {{competition.title}} competition at {{APPNAME}}!" data-url="{{competition.get_link}}"></button>
                    {% if not request.user.is_authenticated %}
                    <a class="w3-right" href="{{URLS.Auth.LOGIN}}?next={{competition.get_link|getquery:'admire=1'}}">
                    <button data-compID="{{competition.get_id}}" class="small primary w3-right" data-icon="volunteer_activism"></button>
                    </a>
                    {% else %}
                    <button data-compID="{{competition.get_id}}" data-admires="{{ competition.get_admirers|inlist:request.user.profile|onezero }}" class="small {{ request.user.is_authenticated|onezero:"browse-admire-compete-action|" }} {{ competition.get_admirers|inlist:request.user.profile|onezero:"positive|primary" }} w3-right" data-icon="volunteer_activism"></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </a>
</div>
{% empty %}
<center>
<i class="w3-jumbo accent w3-circle">hourglass_top</i>
<h3>
{% trans "No upcoming competitions." %}</h3>
<h5><a class="switch-compete-home-tab" data-target="history">See competitions history</a></h5>
</center>
{% endfor %}
</div>