{% extends 'invitation.html' %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block invite_body %}
    <div class="w3-row w3-center">
        <div class="w3-jumbo material-icons positive-text">groups</div>
    {% if declined %}
        <h3>{% trans "You have declined this invitation for participation with" %}</h3>
        {% for member in submission.getMembers %}
        <a target="_blank" href="{{member.getLink}}"> 
            <button class="negative"><img src="{{member.getDP}}" width="25" class="w3-circle" />&nbsp;{{member.user.getName}}</button>
        </a>
        {% endfor %}
        <h5>{% trans "in the competition" %}</h5>
        <h2><a target="_blank" href="{{submission.competition.getLink}}">{{submission.competition.title}}</a></h2>
        <br/>
        <a href="{{ROOT}}"><button class="accent" data-icon="done">{% trans "Acknowledged" %}</button></a>

    {% elif accepted %}
        <h3>{% trans "You have accepted this invitation for participation with" %}<h3>
        {% for member in submission.getMembers %}
        <a target="_blank" href="{{member.getLink}}">
            <button class="accent"><img src="{{member.getDP}}" width="25" class="w3-circle" />&nbsp;{{member.user.getName}}</button>
        </a>
        {% endfor %}
        <h5>{% trans "in the competition" %}</h5>
        <h2><a target="_blank" href="{{submission.competition.getLink}}">{{submission.competition.title}}</a></h2>
        <br/>
        <a href="{{submission.competition.getLink}}"><button type="submit" class="positive" data-icon="celebration">{% trans "Let's go" %}!</button></a>
        
    {% else %}
        <h3>{% trans "You have been invited to participate in the competition" %}</h3>
        <h2><a target="_blank" href="{{submission.competition.getLink}}">{{submission.competition.title}}</a></h2>
        <h5>{% trans "together with" %}</h5>
        {% for member in submission.getMembers %}
        <a target="_blank" href="{{member.getLink}}">
            <button class="accent"><img src="{{member.getDP}}" width="25" class="w3-circle" />&nbsp;{{member.user.getName}}</button>
        </a>
        {% endfor %}
        <h5>{% trans "on the team." %}</h5>
    {% endif %}
    </div>
{% endblock %}

{% block accept_action %}{{URLS.INVITEACTION|params:submission.getID|params:request.user.getID|params:'accept'}}{% endblock %}
{% block decline_action %}{{URLS.INVITEACTION|params:submission.getID|params:request.user.getID|params:'decline'}}{% endblock %}
