{% extends 'compete/index.html' %} 
{% load static %} 

{% block title %}{{ compete.title }}{%endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles/compete/profile.css' %}" />
{% endblock %} 

{% block nav_icon %}
<button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %} 

{% block nav_href %}{{ROOT}}{% endblock %} 
{% block nav_text %}{{compete.title}}{% endblock %} 
{% block nav_noauth_competes %}{% endblock %} 
{% block content %}


<div class="w3-row tertiary">
  <div id="banner">
  <img src="{{compete.getBanner }}" alt="{{compete.title}}" width="100%"/>
  </div>
  {% if not compete.isActive %}
  <div class="w3-row w3-center secondary w3-padding">
    <span class="text-secondary">This competition is no longer accepting submissions.</span>
  </div>
  {% endif %}
  <div class="w3-row w3-padding">
    <br/>
    <div class="w3-row">
      <div class="w3-col w3-twothird w3-left w3-padding">
        <h2>{{compete.title}}</h2>
        <h4>{{compete.tagline}}</h4>
        <span>{{compete.shortdescription}}</span>
        <br />
        <div class="w3-row ">
          <b>Description</b><br /><span>{{compete.description}}</span>
        </div>
      </div>
      <div class="w3-col w3-third w3-center">
      <br/>
        {% if compete.isActive %}
        <div class="pallete active">
          <h6 class="text-active">Time remaining</h6>
          <h1 class="w3-jumbo text-active" id="remainingTime">---</h1>
          <h6 class="text-active">DD:HH:MM</h6>
        </div>
        {% else %}
        <div class="pallete secondary">
          <h6 class="text-secondary">Competition ended</h6>
          <h1 class="text-secondary">{{compete.endAt}}</h1>
          <h6 class="text-secondary">Archived</h6>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="pallete" id="competition-tabs">
      <div class="w3-quarter">
        <div class="w3-bar-block w3-hide-small" id="sidebar">
          <a class="w3-bar-item side-nav-tab" id="overview"><i class="material-icons">toc</i>Overview</a>
          <a class="w3-bar-item side-nav-tab" id="task"><i class="material-icons">code</i>Task</a>
          <a class="w3-bar-item side-nav-tab" id="guidelines"><i class="material-icons">rule</i>Guidelines</a>
          <a class="w3-bar-item side-nav-tab" id="submission"><i class="material-icons">send</i>Submission</a>
          {% if compete.resultDeclared %}
          <a class="w3-bar-item side-nav-tab" id="result"><i class="material-icons">leaderboard</i>Results</a>
          {% endif %}
        </div>
        <div class="w3-center w3-hide-large w3-hide-medium">
          <button class="side-nav-tab" id="overview"><i class="material-icons">toc</i></button>
          <button class="side-nav-tab" id="task"><i class="material-icons">code</i></button>
          <button class="side-nav-tab" id="guidelines"><i class="material-icons">rule</i></button>
          <button class="side-nav-tab" id="submission"><i class="material-icons">send</i></button>
          {% if compete.resultDeclared %}
          <button class="side-nav-tab" id="result"><i class="material-icons">leaderboard</i></button>
          {% endif %}
        </div>
      </div>
      <div class="w3-threequarter w3-center">
        <br/>
        <div id="tabview"><div class="loader" id="loader"></div></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
const compID = "{{compete.id}}"
const isActive = "{{compete.isActive}}" == 'True';
const resultDeclared = "{{compete.resultDeclared}}" == 'True';
</script>
<script src="{% static 'scripts/compete/profile.js' %}" type="text/javascript"></script>
{% endblock %} 
