.heading-input {
    font-size: 36px;
    font-family: var(--head-font);
    font-weight: bold;
}

/* .rate {
    padding-top: 8px;
    padding-right: 16px;
} */
.rate span{
    padding-top: 8px;
}
.section-body {
    display: flex;
}

.article-collection-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.parent-sidenav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
    background-color: #00000023;
    display: none;
}

.display-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidenav {
    flex: 35%;
    z-index: 1;
    border-top-right-radius : 10px;
}

.sidenav-small {
    z-index: 1;
    border-top-right-radius : 10px;
    position: fixed;
    top: 50%;
    overflow-y: scroll;
    height: 50vh;
    width: 80%;
    background-color: #00000023;
}

.sections {
    flex: 65%;
}

.section-video {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .section-video {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .sidenav {
        flex: 28%;
    }
    .sections {
        flex: 72%;
    }
    .section-video {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    .sidenav {
        flex: 23%;
    }
    .sections {
        flex: 77%;
    }
    .section-video {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    .section-video {
        width: 50%;
    }
}

