html {
    transition: var(--delay);
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    transition: var(--delay);
    cursor: pointer;
}
a:hover {
    opacity: 0.8;
}
a:active {
    opacity: 0.4;
}
body {
    background-color: var(--primary);
    color: var(--primary-text);
    font-family: var(--body-font);
    transition: var(--delay);
	hyphens: auto;
}
.bold {
    font-weight: bolder;
}
.view-loader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1010;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #151618dc;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    color: var(--secondary-text);
    font-size: 50px;
    font-family: var(--head-font);
}

.positive > span > a,
.positive > a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    font-family: var(--head-font);
    color: var(--primary-text);
    font-weight: bolder;
}

.primary {
    background-color: var(--primary) !important;
    color: var(--primary-text);
}

.primary-text {
    color: var(--primary) !important;
}
.text-primary {
    color: var(--primary-text) !important;
}

.secondary {
    background-color: var(--secondary) !important;
    color: var(--secondary-text);
}
.secondary-text {
    color: var(--secondary) !important;
}
.text-secondary {
    color: var(--secondary-text) !important;
}

.tertiary {
    background-color: var(--tertiary) !important;
    color: var(--tertiary-text);
}
.tertiary-text {
    color: var(--tertiary) !important;
}
.text-tertiary {
    color: var(--tertiary-text) !important;
}

.accent {
    background-color: var(--accent) !important;
    color: var(--accent-text);
}
.accent-text {
    color: var(--accent) !important;
}
.text-accent {
    color: var(--accent-text) !important;
}

.negative {
    background-color: var(--negative) !important;
    color: var(--negative-text);
}
.negative-text {
    color: var(--negative) !important;
}
.text-negative {
    color: var(--negative-text) !important;
}

.positive {
    background-color: var(--positive) !important;
    color: var(--positive-text);
}
.positive-text {
    color: var(--positive) !important;
}
.text-positive {
    color: var(--positive-text) !important;
}

.active {
    background-color: var(--active) !important;
    color: var(--active-text);
}
.active-text {
    color: var(--active) !important;
}
.text-active {
    color: var(--active-text) !important;
}

.sub-accent {
    background-color: var(--active) !important;
    color: var(--active-text);
}
.sub-accent-text {
    color: var(--active) !important;
}

nav {
    padding: 4px 12px;
}

.nav-tab {
    padding: 8px 12px;
    margin: 2px 8px;
}
.nav-tab:hover {
    padding: 8px 12px;
    margin: 2px 14px;
}
.nav-tab > i {
    padding: 0px 2px 4px 0px;
}

button {
    padding: 4px 12px;
    border-radius: 22px;
    margin: 1px 2px;
    font-family: var(--head-font);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: var(--delay);
    border: 0;
    box-shadow: 2px 1px 12px 1px #0000001f;
}

button > span.w3-hide-small {
    padding: 0px 0px 0px 4px;
}

button > i {
    vertical-align: middle;
    padding: 0px 2px 2px 0px;
    font-size: 20px !important;
}
button > img {
    vertical-align: middle;
    padding: 0px 0px 2px 0px;
}

button > label {
    cursor: pointer;
}

button:hover {
    outline: none;
    padding: 4px 18px;
}
button:active {
    outline: none;
    opacity: 0.6;
    box-shadow: 0 0 0 0 #00000000;
}

button.primary {
    color: var(--positive);
}

.pallete {
    padding: 12px;
    box-shadow: 2px 1px 24px 1px #0000001f;
    border-radius: 12px;
    background-color: var(--primary);
	color: var(--primary-text);
    transition: var(--delay);
}

.pallete.limit-height{
	max-height: 30rem;
	overflow: hidden;
	overflow-y: hidden;
}

img.pallete {
    padding: 0px;
    transition: var(--delay);
}

h1.text-negative,
h2.text-negative,
h3.text-negative,
h4.text-negative,
h5.text-negative,
h6.text-negative {
    font-weight: normal !important;
}

.pallete > img {
    width: 100%;
    border-radius: 12px;
    transition: var(--delay);
}

.pallete:active {
    padding: 12px;
    opacity: 0.8;
    box-shadow: 0 0 0 0 #00000000;
    border-radius: 12px;
}

.scroll-x {
    overflow-x: scroll;
}

summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
}
details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
details > summary::after {
    position: absolute;
    content: "+";
    right: 50px;
}
details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 50px;
}
details > summary::-webkit-details-marker {
    display: none;
}

input,
textarea {
    border: 0;
    outline: 0;
    padding: 8px 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: var(--tertiary);
    color: var(--tertiary-text);
    transition: var(--delay);
}

input.negative,
big-input.negative,
textarea.negative {
    border-color: var(--negative);
    background-color: var(--tertiary);
}
input.positive,
big-input.positive,
textarea.positive {
    border-color: var(--positive);
    background-color: var(--tertiary);
}

.edit-action {
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;

    padding: 4px;
    transition: var(--delay);
    background-color: var(--primary);
    color: var(--primary-text);
    box-shadow: 1px 1px 22px 1px #3e3e4149;
}
.edit-action:hover {
    box-shadow: 1px 1px 30px 1px #3e3e414b;
}

.edit-action:active {
    background-color: var(--positive);
    color: var(--positive-text);
    opacity: 50%;
}

button.small {
    font-size: 16px;
    padding: 4px 8px;
}

.pointer {
    cursor: pointer;
}

.wide-button {
    border: 0px solid transparent;
    border-width: 0 0 1px 0;
    border-radius: 2px;
    padding: 8px 0px;
    transition: var(--delay);
    cursor: pointer;
}
.wide-button:hover {
    border-color: var(--secondary);
    opacity: 0.8;
}
.wide-button:active {
    border-color: var(--secondary);
    margin: 0px 12px;
}

.big-input:focus {
    font-size: 28px;
    border: 4px solid var(--positive);
}

.display-button,
.big-button {
    font-size: 15px;
    padding: 12px 22px;
    border-radius: 55px;
    margin-top: 30px;
}

.display-button:hover,
.big-button:hover {
    transform: scale(1.02);
    padding: 12px 22px;
    border-radius: 55px;
}

.display-button > i,
.big-button > i {
    font-size: 28px !important;
    margin-right: 4px;
}

.display-button {
    font-size: 1.5rem;
}

.welcome-row {
    min-height: 73vh;
}	
.welcome-row  h1 {
    font-size: 3.3rem;
}
