html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  transition: var(--delay);
  cursor: pointer;
}
a:hover {
  opacity: 0.8;
}
a:active {
  opacity: 0.4;
}
body {
  background-color: var(--primary);
  color: var(--primary-text);
  font-family: var(--body-font);
}

.positive > span > a,
.positive > a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font);
  color: var(--primary-text);
  font-weight: bolder;
}

.primary {
  background-color: var(--primary) !important;
  color: var(--primary-text);
}
.primary-text {
  color: var(--primary) !important;
}
.text-primary {
  color: var(--primary-text) !important;
}

.secondary {
  background-color: var(--secondary) !important;
  color: var(--secondary-text);
}
.secondary-text {
  color: var(--secondary) !important;
}
.text-secondary {
  color: var(--secondary-text) !important;
}

.tertiary {
  background-color: var(--tertiary) !important;
  color: var(--tertiary-text);
}
.tertiary-text {
  color: var(--tertiary) !important;
}
.text-tertiary {
  color: var(--tertiary-text) !important;
}

.accent {
  background-color: var(--accent) !important;
  color: var(--accent-text);
}
.accent-text {
  color: var(--accent) !important;
}
.text-accent {
  color: var(--accent-text) !important;
}

.negative {
  background-color: var(--negative) !important;
  color: var(--negative-text);
}
.negative-text {
  color: var(--negative) !important;
}
.text-negative {
  color: var(--negative-text) !important;
}

.positive {
  background-color: var(--positive) !important;
  color: var(--positive-text);
}
.positive-text {
  color: var(--positive) !important;
}
.text-positive {
  color: var(--positive-text) !important;
}

.active {
  background-color: var(--active) !important;
  color: var(--active-text);
}
.active-text {
  color: var(--active) !important;
}
.text-active {
  color: var(--active-text) !important;
}

.sub-accent {
  background-color: var(--active) !important;
  color: var(--active-text);
}
.sub-accent-text {
  color: var(--active) !important;
}

nav {
  padding: 4px 12px;
}

button {
  padding: 4px 12px;
  border-radius: 22px;
  margin: 1px 2px;
  font-family: var(--head-font);
  outline: none;
  cursor: pointer;
  font-size: 18px;
  transition: var(--delay);
  border: 0;
  box-shadow: 2px 1px 12px 1px #0000001f;
}

button > span.w3-hide-small {
  padding: 0px 0px 0px 4px;
}

button > i {
  vertical-align: middle;
  padding: 0px 2px 2px 0px;
  font-size: 20px !important;
}
button > img {
  vertical-align: middle;
  padding: 0px 0px 2px 0px;
}

button > label {
  cursor: pointer;
}

button:hover {
  outline: none;
  padding: 4px 18px;
}
button:active {
  outline: none;
  opacity: 0.6;
  box-shadow: 0 0 0 0 #00000000;
}

.pallete {
  padding: 12px;
  box-shadow: 2px 1px 24px 1px #0000001f;
  border-radius: 12px;
  background-color: var(--primary);
  transition: var(--delay);
}

img.pallete {
  padding: 0px;
}


.pallete:active {
  padding: 12px;
  opacity: 0.8;
  box-shadow: 0 0 0 0 #00000000;
  border-radius: 12px;
}

.scroll-x {
  overflow-x: scroll;
}

summary {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--primary-text);
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  margin-top: 40px;
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 50px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 50px;
}
details > summary::-webkit-details-marker {
  display: none;
}


.pallete-profile {
  padding: 12px;
  box-shadow: 2px 1px 24px 1px #0000001f;
  border-radius: 12px;
  transition: var(--delay);
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 2rem;
}

.pallete-profile > img {
  display: block;
 max-width: 100%;
}

.pallete-profile p {
  font-weight: 600;
}

.pallete-profile p span {
  font-weight: 500;
}

.pallete-profile > .w3-bar > a:hover,
.w3-bar-block > a:hover {
  background-color: var(--active);
  color: var(--active-text);
  opacity: 1;
}

input,
textarea {
  border: 0;
  outline: 0;
  padding: 8px 8px;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--tertiary);
  color: var(--tertiary-text);
  transition: var(--delay);
}

.tab > h5 {
  color: var(--negative);
  margin-top: 20%;
  margin-left: 40%;
}

.tab > h5 > button {
  margin-left: 25px;
  background-color: var(--accent);
}

@media screen and (max-width: 768px) {
  .tab > h5 {
    margin-left: 20%;
  }

  .tab > h5 > button {
    margin-left: 10px;
  }
}

.loader {
  border: 8px solid var(--primary); /* Light grey */
  border-top: 8px solid var(--active); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 20%;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
