.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_features {
    margin-bottom: 50px;
    padding: 0 80px;
}

.land_f,
.moderator {
    /* font-family: "Playfair Display", serif; */
    font-weight: 900;
    font-size: 54px;
    display: block;
}

.f_detail {
    max-width: 300px;
    color: #828bb2;
}

.land_feature_cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.land_feature_card,
.land_feature_card1,
.land_feature_card2 {
    /* width: 33%; */
    height: 300px;
    background-color: var(--positive);
    margin: 10px 0;
    padding: 50px 40px;
    position: relative;
    color:var(--primary) !important;
}
.land_feature_card1 {
    top: -150px !important;
}

.land_feature_card2 {
    top: -300px !important;
}

.landing_moderators {
    padding: 0 80px;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.moderator {
    padding: 0 80px;
    margin-top: 80px;
}

.l_moderator {
    width: 28%;
}

.lmm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lm_details {
    padding: 60px 20px 40px 20px;
    background-color: var(--active);
    text-align: center;
}

.lm_text {
    color: #fff;
}
.wall_fame>.lm_text{
    padding-bottom: 100px;
}

.lm_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    background-color: var(--primary-text);
}

.contributor {
    width: 100vw;
    padding: 0 40px;
}

.c_left,
.c_right {
    width: 50%;
    padding: 0 40px;
}

.c_left>h2 {
    /* font-family: "Playfair Display", serif; */
    font-size: 54px;
}

.c_left>h6 {
    color: #828bb2;
}

.c_img {
    width: 400px;
    height: 400px;
}

.wall_fame {
    width: 100vw;
    min-height: 510px;
    background-color: var(--positive);
    margin: 100px 0 50px !important;
    padding: 0 80px;
    clip-path: polygon(50% 0%, 76% 6%, 100% 0, 100% 100%, 77% 94%, 50% 100%, 25% 94%, 0 100%, 0 0, 23% 6%);
}

.wf_text {
    color: #fff;
    font-size: 54px;
    /* font-family: "Playfair Display", serif; */
    line-height: 5cm;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.picture {
    width: 180px;
    position: relative;
    float: left;
    margin: 0 auto 100px;
}

.hook {
    width: 4px;
    height: 4px;
    background-color: #5c5c5d;
    margin: 0 auto 32px auto;
    border-radius: 50%;
    box-shadow: 0 1px 0 1px #a49c7c;
}

.hook:before {
    content: '';
    width: 46px;
    height: 46px;
    border: 2px solid #a49c7c;
    position: absolute;
    left: 67px;
    top: 13px;
    transform: rotate(45deg);
    z-index: -1;
}

.frame {
    height: 180px;
    border-top: 6px solid #b89675;
    border-right: 6px solid #7b654f;
    border-bottom: 6px solid #7b654f;
    border-left: 6px solid #a67c52;
    box-shadow: 4px 4px 0 0 rgba(189, 166, 72, 0.6);
    z-index: 1;
}

.inside {
    height: 168px;
    background: linear-gradient(149deg, #d3d4d5 0%, #d3d4d5 50%, #ccc 51%, #ccc 100%);
    border: 10px solid #fff;
    box-shadow: 1px 1px 1px 1px rgba(189, 193, 194, 0.3) inset;
}

.dribbble {
    font: 0.75em/1.5em verdana, sans-serif;
    color: #7b654f;
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
}

.g_contribution,.g_moderation,.g_competition{
    width:max-content;
    font-size:18px;
    padding:5px 10px;
    font-weight:bold;
    border-radius:40px;
    background-color: var(--positive) !important;
    color: var(--primary) !important;
    cursor:pointer;
}
.g_line{
    width: 100px;
    height:2px;
    background-color:var(--dead-text);
}
.g_active{
    background-color:#1f57bf !important;
    color:white;
    box-shadow:0px 0px 7px 5px #b5b7c0ba;
}
.g_con_text,.g_mod_text,.g_comp_text{
    font-size:27px ;
    padding: 40px;
    text-align: center;
}
.g_mod_text{
    display: none;
}
.g_comp_text{
    display: none;
}
.l_padding{
    padding: 0px 80px;
}
.verticalAlign{
    display:flex;
    justify-content: center;
    align-items:center;
}

@media only screen and (max-width:978px) {
    .landing_features {
        padding: 0 60px;
    }

    .land_feature_card,
    .land_feature_card1,
    .land_feature_card2 {
        /* height:350px */
    }

    .land_feature_card1 {
        top: 0 !important;
    }

    .land_feature_card2 {
        top: 0 !important;
    }
}

@media only screen and (max-width:887px) {
    .contributor {
        flex-direction: column;
    }
    .rc{
        flex-direction: column-reverse !important;
    }

    .c_left,
    .c_right {
        width: 80%;
    }

    .c_img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:738px) {
    .land_feature_cards {
        justify-content: center;
    }
    .l_padding{
        padding:0 40px;
    }
    .verticalAlign{
        flex-direction: column;
    }
    .land_feature_card,
    .land_feature_card1,
    .land_feature_card2 {
        width: 100%;
    }

    .l_moderator {
        width: 45%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:637px) {
    .landing_features {
        padding: 0 40px;
    }
    .g_con_text,.g_mod_text,.g_comp_text{
        font-size:18px;
    }
    .contributor {
        flex-direction: column;
        padding: 0;
    }
    .c_left>h2,.moderator{
        font-size: 40px;
    }
    .c_left,
    .c_right {
        width: 100%;
    }

    .c_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c_img {
        width: 300px;
        height: 300px;
    }
    .landing_moderators {
        padding: 0 40px;
    }
    .moderator{
        padding: 0 40px;
    }
    .l_moderator{
        width:80%;
    }
    .wall_fame {
        padding: 0 20px;
    }
}

@media only screen and (max-width:400px) {
    .landing_features {
        padding: 0 20px;
    }
    .c_left>h2,.moderator{
        font-size:32px;
    }
}