.view-loader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1010;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #151618dc;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding-top: 45vh;
    line-height: 100vh;
    color: var(--secondary-text);
    font-size: 50px;
    font-family: var(--head-font);
}

.loader,
.loader::before,
.loader::after {
    border-radius: 50%;
    border: 8px solid transparent;
    margin: auto;
    width: 100px;
    height: 100px;
}
.loader {
    position: relative;
    border-top: 8px solid var(--positive);
    animation: spin 3s infinite ease-in-out;
}
.loader::before {
    content: "";
    margin-left: -50px;
    margin-top: -8px;
    position: absolute;
    border-top: 8px solid var(--active);
    animation: spin_first 2s infinite alternate ease-out;
}
.loader::after {
    content: "";
    position: absolute;
    margin-left: -50px;
    margin-top: -8px;
    border-top: 8px solid var(--accent);
    animation: spin_second 2s infinite alternate ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
@keyframes spin_first {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
@keyframes spin_second {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.linear-loader {
    position: fixed;
    bottom: 0;
    z-index: 1011;
    overflow: hidden;
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
    margin: 0;
}

.loading-animation {
    position: relative;
    width: 100%;
    background-color: var(--secondary);
    height: 100%;
}

.loading-animation:before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--active);
    animation: loading_first 1.5s infinite ease-out;
}

.loading-animation:after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--accent);
    animation: loading_second 1.5s infinite ease-in;
}

@keyframes loading_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes loading_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}
