:root {
    --primary: #ffffff;
    --primary-text: #000000;
    --secondary: #000000ff;
    --secondary-text: #ffffff;
    --tertiary: #efefef;
    --tertiary-text: #141414;
    --accent: #f5d702;
    --accent-text: #000000;
    --active: #12e49d;
    --active-text: #000000;
    --positive: #1657ce;
    --positive-text: #eeeeee;
    --negative: #cc352a;
    --negative-text: #fcfcfc;
    --dead-text: #868686c7;
    --head-font: "Poppins", sans-serif;
    --body-font: "Questrial", sans-serif;
    --delay: 0.3s;
    --button-radius: 22px;
}

[data-theme="dark"] {
    --primary: #000000;
    --primary-text: #eaeaea;
    --secondary: #05050a;
    --secondary-text: #ffffff;
    --tertiary: #151313;
    --tertiary-text: #ffffff;
    --accent: #de9846;
    --accent-text: #000000;
    --active: #4dbb96;
    --active-text: #000000;
    --positive: #7796d0;
    --positive-text: #000000;
    --negative: #ce6862;
    --negative-text: #000000;
}
