{% extends 'management/community/index.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% block nav_href %}{{URLS.LABELS}}{% endblock %}
{% block nav_text %}{{category}}{% endblock %}
{% block content %}
<div class="w3-row w3-padding">
    <div class="w3-col w3-half w3-padding-small">
    <div class=" pallete-slab">
        <h6>{{category.totalProjects}} projects are in this category</h6>
        {% for project in category.getProjectsLimited %}
        <a onclick="newTab('{{project.getLink}}')" title="{{project.name}}" target="_blank"><img alt="{{project.getName}}" src="{{project.getDP}}" class="w3-circle primary" width="40" /></a>
        {% endfor %}
        and maybe others.
    </div>
    </div>
    <div class="w3-col w3-half w3-padding-small">
        <div class=" pallete-slab">
            
        </div>
    </div>
</div>
<div class="w3-row w3-padding w3-center">
{% if category.isDeletable %}
<button class="negative" data-icon="delete" id="delete-category-{{category.get_id}}">Delete</button>
{% else %}
<button class="dead-text primary">Not deletable</button>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{URLS.SCRIPTS_SUBAPP|params:SUBAPPNAME|params:SCRIPTS.CATEGORY}}?id={{category.get_id}}"></script>
{% endblock %}