{% extends 'management/index.html' %}

{% block nav_text %}Manage Community{% endblock %}


{% block nav_back_show %}{% endblock %}
{% block nav_icon_hide %}{% endblock %}

{% block nav_href %}{{ROOT}}{% endblock %}

{% block content %}

<div class="w3-row w3-padding">
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.MODERATORS}}">
            <div class="w3-row pallete accent">
                <i class="w3-right">arrow_forward</i>
                <h4>Manage Moderators</h4>
                <stong>Demote your existing, or promote new, mods.</stong>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.MENTORS}}">
            <div class="w3-row pallete active">
                <i class="w3-right">arrow_forward</i>
                <h4>Manage Mentors</h4>
                <stong>Demote your existing, or promote new, mentors.</stong>
            </div>
        </a>
    </div>
    <div class="w3-col w3-third w3-padding">
        <a href="{{URLS.LABELS}}">
            <div class="w3-row pallete positive text-positive">
                <i class="w3-right">arrow_forward</i>
                <h4>Manage labels</h4>
                <stong>Manage your topics, categories, tags.</stong>
            </div>
        </a>
    </div>
</div>
    <br/>
<center>You can add people to your management from your profile.</center>

{% endblock %}