{% extends 'management/community/index.html' %}

{% block nav_href %}{{URLS.COMMUNITY}}{% endblock %}
{% block nav_text %}Moderators{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-col w3-half w3-padding">
        <h4>Existing moderators</h4>
        <span id="new-moderators-view"></span>
        {% for mod in moderators %}
        <div class="w3-row pallete-slab" id="pallete-demote-{{mod.getUserID}}">
            <div class="w3-col s2 m1">
                <a onclick="miniWindow('{{mod.getLink}}')" ><img src="{{mod.getDP}}" class="w3-circle primary" width="50" /></a>
            </div>
            <div class="w3-col s10 m8 w3-padding-small">
                <div class="w3-row">
                    {{mod.getName}} {{mod.get_xp}}
                </div>
                <div class="w3-row">
                    {{mod.getEmail}}
                </div>
            </div>
            <div class="w3-col s4 m3 w3-padding-small">
                <div class="w3-row w3-right">
                    <button class="small negative demote-moderator" data-profileurl="{{mod.getLink}}" data-name="{{mod.getName}}" data-userID="{{mod.getUserID}}">Demote</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="w3-col w3-half w3-padding">
    <h4>Promote as moderators</h4>
    <input class="wide" placeholder="Type to search profiles" id="search-profile-input" />
    <br/><br/>
    <span id="profile-search-results"></span>
    <h5>Suggested</h5>
    {% for mod in profiles %}
        <div class="w3-row pallete-slab" id="pallete-promote-{{mod.getUserID}}">
            <div class="w3-col s2 m1">
                <a onclick="miniWindow('{{mod.getLink}}')" ><img src="{{mod.getDP}}" class="w3-circle primary" width="50" /></a>
            </div>
            <div class="w3-col s10 m8 w3-padding-small">
                <div class="w3-row">
                    {{mod.getName}} {{mod.get_xp}}
                </div>
                <div class="w3-row">
                    {{mod.getEmail}}
                </div>
            </div>
            <div class="w3-col s4 m3 w3-padding-small">
                <div class="w3-row w3-right">
                    <button class="small positive promote-moderator" data-profileurl="{{mod.getLink}}" data-name="{{mod.getName}}" data-userID="{{mod.getUserID}}">Promote</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block in_scripts %}
<script>
const loadDemoteMods = () => {
getElements('demote-moderator').forEach((demote)=>{
    demote.onclick=(e)=>{
        alertify.confirm('Demote as moderator?', `<h5>Are you sure that you want to ${NegativeText('demote')} 
            <span class="positive-text" onclick="miniWindow('${e.target.getAttribute('data-profileurl')}')">${e.target.getAttribute('data-name')}</span>
             as a moderator on ${APPNAME}? Their pending moderations will be transferred to a new moderator. (You are not deleting their account)</h5>`,
             async ()=>{
                const modID = e.target.getAttribute('data-userID');
                const modname = e.target.getAttribute('data-name');
                const data = await postRequest('{{URLS.REMOVE_MODERATOR}}', {modID})
                if (!data) return
                if (data.code == code.OK){
                    message(`Demoted ${modname} as moderator`)
                    return hideElement(`pallete-demote-${modID}`)
                }
                error(data.error)
             },
             ()=>{}
        ).set('labels', {ok:'Yes, demote', cancel: 'No, wait'}).set('closable', false)
    }
})
}
getElement('search-profile-input').oninput=async(e)=>{
    const resview = getElement('profile-search-results')
    if(!e.target.value.trim()) {
        resview.innerHTML = ''
        return loadAddMods()
    }
    const data = await postRequest(URLS.ELGIBLE_MODSEARCH, {query:e.target.value})
    if(!data) return
    if (data.code!==code.OK) return
    const mod = data.mod;
    setHtmlContent(resview,`<div class="w3-row pallete-slab" id="pallete-promote-${data.mod.userID}">
            <div class="w3-col s2 m1">
                <img src="${mod.dp}" class="w3-circle primary" width="50" />
            </div>
            <div class="w3-col s10 m8 w3-padding-small">
                <div class="w3-row">
                    ${mod.name}
                </div>
                <div class="w3-row">
                    ${mod.email}
                </div>
            </div>
            <div class="w3-col s4 m3 w3-padding-small">
                <div class="w3-row w3-right">
                    <a href="${mod.url}" target="_blank"><button class="small primary">View</button></a>
                </div>
                <div class="w3-row w3-right">
                    <button class="small positive promote-moderator" data-profileurl="${mod.url}" data-name="${mod.name}" data-userID="${mod.userID}">Promote</button>
                </div>
            </div>
        </div>`, loadAddMods);
    
}

const loadAddMods = () => {
    getElements('promote-moderator').forEach((promote)=>{
        promote.onclick=(e)=>{
            alertify.confirm('Promote as moderator?', `<h5>Are you sure that you want to promote 
                <span class="positive-text" onclick="miniWindow('${e.target.getAttribute('data-profileurl')}')">${e.target.getAttribute('data-name')}</span>
                as a moderator on ${APPNAME}?</h5>`,
                async ()=>{
                    const userID = e.target.getAttribute('data-userID');
                    const username = e.target.getAttribute('data-name');
                    const data = await postRequest(URLS.ADD_MODERATOR, {userID})
                    if (!data) return
                    if (data.code == code.OK){
                        message(`Promoted ${username} as moderator`)
                        hideElement(`pallete-promote-${userID}`)
                        let newmod = getElement(`pallete-promote-${userID}`).innerHTML.replaceAll('promote-', 'demote-').replaceAll('positive', 'negative').replaceAll('Promote', 'Demote')
                        getElement('new-moderators-view').innerHTML += `<div class="w3-row pallete-slab" id="pallete-demote-${userID}">${newmod}</div>`
                        loadDemoteMods()
                        return
                    }
                    error(data.error)
                },
                ()=>{}
            ).set('labels', {ok:'Yes, promote', cancel: 'No, wait'}).set('closable', false)
        }
    })
}
loadDemoteMods()
loadAddMods()
</script>
{% endblock %}