{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if count %}
<div class="w3-row tertiary">
    <div class="w3-row w3-animate-right" style="padding:16px 4px">
    <h5 class="w3-center"><span class="">{% trans "Core contributors" %}</span></h5>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for core in coremems %}
            <div class="swiper-slide w3-animate-zoom">
                <div class="pallete w3-center no-pad">
                    <a href="{{core.profile.getLink}}">
                        <img class="primary pallete border-joy no-pad wide" width="100%" height="100%" src="{{ core.profile.getDP }}" alt="{{ core.profile.name }}" loading="lazy" />
                    </a>
                    <div class="w3-row w3-padding">
                        <h6 class="{% if core.profile.is_verified %}align{% endif %}">{{ core.profile.getName }}{% if core.profile.is_verified %}<i class="positive-text w3-medium">verified</i>{% endif %}</h6>
                        <span>{{ core.get_about }}</span><br/>
                    </div>
                    <br/>
                </div>
            </div>
			{% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large  w3-row">
        <div class="swiper-wrap_i" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for core in coremems %}
            <div class="w3-col w3-animate-zoom">
                <div class="pallete pallete_i no-pad w3-center">
                    <a href="{{core.profile.getLink}}">
                        <img class="primary pallete border-joy no-pad wide" width="100%" height="100%" src="{{ core.profile.getDP }}" alt="{{ core.profile.name }}" loading="lazy" />
                    </a>
                    <div class="w3-row w3-padding">
                        <h6 class="{% if core.profile.is_verified %}align{% endif %}">{{ core.profile.getName }}{% if core.profile.is_verified %}<i class="positive-text w3-medium">verified</i>{% endif %}</h6>
                        <span>{{ core.get_about }}</span><br/>
                    </div>
                    <br/>
                </div>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br />
</div>
{% endif %}
