{% load custom_tags %}
{% load cache %}
{% if count %}
<div class="w3-row accent">
    <div class="w3-row" style="padding:16px 4px">
    <a class="w3-right w3-padding" href="{{URLS.PEOPLE}}"><button class="primary small" data-icon="open_in_new">More</button></a>
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;Newbie profiles</h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap">
            {% for profile in profiles %}
            <div class="swiper-slide">
                <a href="{{profile.getLink}}">
                <div class="pallete w3-center" style="padding:0">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5>{{ profile.getName }}</h5>
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:75 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>No profiles yet. You're the first one!</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large  w3-row">
        <div class="swiper-wrap_i">
            {% for profile in profiles %}
            <div class="">
                <a href="{{profile.getLink}}">
                <div class="pallete pallete_i w3-center" style="padding:0">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5>{{ profile.getName }}</h5>
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:75 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            <div class="">
                <a href="{{profile.getLink}}">
                <div class="pallete pallete_i w3-center" style="padding:0">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5>{{ profile.getName }}</h5>
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:75 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            <div class="">
                <a href="{{profile.getLink}}">
                <div class="pallete pallete_i w3-center" style="padding:0">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5>{{ profile.getName }}</h5>
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:75 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>No profiles yet. You're the first one!</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br />
</div>
{% endif %}