{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if query %}
<div class="w3-row tertiary">
    <div class="w3-row w3-animate-right" style="padding:12px 4px">
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;{% blocktrans %}Results for '{{query}}'{% endblocktrans %}</h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap" xyz="fade front-2 flip-down-40% duration-5 stagger-3">
            {% for profile in profiles %}
            <div class="swiper-slide w3-animate-zoom">
                <a href="{{profile.getLink}}">
                <div class="pallete w3-center no-pad">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5 style="{% if profile.has_labels %}margin:4px{% endif %}" class="{% if profile.is_verified %}align{% endif %}">{{ profile.getName }}{% if profile.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
                        {% for label in profile.get_labels %}
                            <strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong>
                        {% endfor %}{% if profile.has_labels %}<br/>{% endif %}
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:45 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">search</i>
                <h3>{% blocktrans %}No results for '{{query}}'{% endblocktrans %}</h3>
            </center>
            </div>
	   {% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large w3-row">
        <div class="swiper-wrap_i" xyz="fade front-2 flip-down-40% duration-5 stagger-3">
            {% for profile in profiles %}
            <div class="w3-col w3-animate-zoom">
                <a href="{{profile.getLink}}">
                <div class="pallete pallete_i w3-center">
                    <img class="primary" src="{{ profile.getDP }}" alt="{{ profile.name }}" />
                    <div class="w3-row w3-padding">
                        <h5 style="{% if profile.has_labels %}margin:4px{% endif %}" class="{% if profile.is_verified %}align{% endif %}">{{ profile.getName }}{% if profile.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
                        {% for label in profile.get_labels %}
                            <strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong>
                        {% endfor %}{% if profile.has_labels %}<br/>{% endif %}
                        <span>{{ profile.getBio|or:profile.getXP|truncatechars:45 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">search</i>
                <h3>{% blocktrans %}No results for '{{query}}'{% endblocktrans %}</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br />
</div>
{% endif %}
