{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}
{% load custom_tags %}

{% if count %}
<div class="w3-row active">
    <div class="w3-row w3-animate-right" style="padding:16px 4px">
    <a class="w3-right w3-padding" href="{{URLS.PEOPLE}}"><button class="primary small" data-icon="open_in_new">More</button></a>
    <h4 class="w3-left">&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Trending moderators" %}&nbsp;
        <a href="{{URLS.PEOPLE}}?search=type:{{moderators.0.get_labels.0.text}}"><strong class="w3-small w3-round w3-tag {{moderators.0.get_labels.0.theme}}">{{moderators.0.get_labels.0.name}}</strong></a>
    </h4>
    </div>
    <div class="w3-hide-medium w3-hide-small swiper-container swiper-browser">
        <div class="swiper-wrapper swiper-wrap" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for moderator in moderators %}
            <div class="swiper-slide w3-animate-zoom">
                <a href="{{moderator.getLink}}">
                <div class="pallete w3-center no-pad">
                    <img class="primary" src="{{ moderator.getDP }}" alt="{{ moderator.name }}" />
                    <div class="w3-row w3-padding">
                        <h5 style="{% if moderator.has_labels %}margin:4px{% endif %}" class="{% if moderator.is_verified %}align{% endif %}">{{ moderator.getName }}{% if moderator.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
                        {% for label in moderator.get_labels %}
                            <strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong>
                        {% endfor %}{% if moderator.has_labels %}<br/>{% endif %}
                        <span>{{ moderator.getBio|or:moderator.getXP|truncatechars:45 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>{% trans "No moderators yet. You're the first one!" %}</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <div class="w3-hide-large  w3-row">
        <div class="swiper-wrap_i" xyz="fade front-2 flip-down-40% duration-10 stagger-5">
            {% for moderator in moderators %}
            <div class="w3-col w3-animate-zoom">
                <a href="{{moderator.getLink}}">
                <div class="pallete pallete_i w3-center">
                    <img class="primary" src="{{ moderator.getDP }}" alt="{{ moderator.name }}" />
                    <div class="w3-row w3-padding">
                         <h5 style="{% if moderator.has_labels %}margin:4px{% endif %}" class="{% if moderator.is_verified %}align{% endif %}">{{ moderator.getName }}{% if moderator.is_verified %}<i class="positive-text w3-large">verified</i>{% endif %}</h5>
                        {% for label in moderator.get_labels %}
                            <strong class="w3-tiny w3-round w3-tag {{label.theme}}" style="margin-bottom:5px">{{label.name}}</strong>
                        {% endfor %}{% if moderator.has_labels %}<br/>{% endif %}
                        <span>{{ moderator.getBio|or:moderator.getXP|truncatechars:45 }}</span>
                    </div>
                    <br/>
                </div>
                </a>
            </div>
            {% empty %}
            <div class="w3-padding w3-col">
            <center class="w3-padding">
                <i class="w3-jumbo">hourglass_top</i>
                <h3>{% trans "No moderators yet!" %}</h3>
            </center>
            </div>
			{% endfor %} 
        </div>
    </div>
    <br />
</div>
{% endif %}
