{% load socialaccount %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load cache %}

<div id="view-settings">
    <i class="w3-right material-icons edit-action" data-edittarget="settings">edit</i>
    <form class="no-auto">
    <h2>{% trans "Account settings" %}</h2>
    <h4>{% trans "Email address" %}</h4>
    <input disabled class="wide" type="email" autocomplete="email" placeholder="Email address (verification required)" value="{{request.user.email}}" />
    <h4>{% trans "Password" %}</h4>
    {% if request.user.password %}
    <input disabled class="wide" type="password" autocomplete="current-password" value="{% trans "Sike! You thought." %}" />
    {% else %}
    {% endif %}
    <h4>{% trans "Phone" %}</h4>
    {% if request.user.password %}
    <input disabled class="wide" type="text" value="None" />
    {% else %}
    {% endif %}
    </form>
</div>
<div id="edit-settings">
    <h4>{% trans "Change Email address" %}</h4>
    
    <h4>{% trans "Password" %}</h4>
        
    <h4 hidden>{% trans "Change Phone numbers" %}</h4>
    
    <br/><br/>
    <button hidden class="w3-right" id="save-edit-settings" data-icon="done">{% trans "Save" %}</button>
    <button class="w3-right" id="discard-edit-settings" data-icon="cancel">{% trans "Cancel" %}</button>
</div>
