<div class="w3-row">
    <div class="w3-row">
        <h4>Oauth Accounts</h4>
        <button class="positive" onclick="miniWindow('{% url 'socialaccount_connections' %}')" data-icon="open_in_new">Linked Accounts</button>
        <br/>
    </div>
    <div class="w3-row">
        <h4>Blocked Accounts</h4>
        {% for blocked in user.profile.blocklist.all %}
        <div class="w3-col s3 w3-padding-small">
            <div class="w3-row pallete-slab">
                <div class="w3-col s2">
                    <img src="{{blocked.profile.getDP}}" class="w3-circle primary" width="25" />
                </div>
                <div class="w3-col s8" >
                    <div class="w3-row negative-text">
                        <strong>{{blocked.profile.getName}}</strong>
                    </div>
                </div>
                <div class="w3-col s2 w3-right"> 
                    <button class="small primary unblock-button" data-userID="{{blocked.get_id}}" data-username="{{blocked.profile.getName}}" data-icon="remove_circle_outline" title="Unblock"></button>
                </div>
            </div>
        </div>
        {% empty %}
        <h6 class="dead-text">No one blocked. You can block a user from their profile.</h6>
        {% endfor %}
    </div>
    <div class="w3-row">
        <h4>Danger</h4>
        <button hidden class="active" data-icon="shield" id="twofactor">Two factor auth</button>
        <button class="accent" data-icon="toggle_off" id="deactivateaccount">Deactivate Account</button>
        <button class="negative" data-icon="delete" id="deleteaccount">Delete Account</button>
    </div>
</>