{% extends 'index.html' %}
{% load static %}

{% block title %}All projects &#183; {{appname}}{% endblock %}

{% block nav_title %}
<a href="/" class="w3-left w3-padding"><button class="primary"><i class="material-icons">arrow_back</i></button></a>
<span class="w3-left"><h3>Browse projects</h3></span>
{% endblock %}

{% block content %}
<div class="w3-row tertiary">
<div class="w3-col w3-quarter w3-center">
    <br/>
    <form method="GET">
    <input type="text" name="query" placeholder="Search projects" 
    required
    {% if request.GET.query %}
    value="{{request.GET.query}}" 
    {% endif %}
    />
    <button type="submit" class="positive"><i class="material-icons">search</i></button>
    <a href="/projects"><button type="button" class="negative"><i class="material-icons">clear</i></button></a>
    </form>
</div>
<div class="w3-col w3-threequarter">    
    {% for project in projects %}
    <div class="w3-row w3-padding">
        <div class="w3-row pallete primary">
        <div class="w3-col w3-quarter w3-center w3-padding">
            <img src="/media/{{project.image}}" width="100" />
        </div>
        <div class="w3-col w3-half">
            <h2>{{project.name}}</h2>
            <span>{{project.description}}</span><br/>
            {% for tag in project.tags.all %}<a class="positive-text">#{{tag.name}}</a>&nbsp;{% endfor %}
        </div>
        <div class="w3-col w3-quarter w3-padding">
            {% comment %} <button class="w3-right sub-accent"><i class="material-icons">bookmark_add</i>Save</button> {% endcomment %}
            <a href="/projects/profile/{{project.reponame}}"><button class="w3-right positive"><i class="material-icons">visibility</i>View</button></a>
            {% comment %} <button class="w3-right negative"><i class="material-icons">favorite</i>Like</button> {% endcomment %}
        </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}