{% extends 'index.html' %}
{% load static %}

{% block title%}Create project{% endblock%}

{% block nav_icon %}
  <button title="Abort" class="primary"><i class="material-icons">close</i></button>
{% endblock %}

{% block nav_style %}accent{% endblock %}
{% block nav_text %}Create project{% endblock %}
{% block nav_auth_links %}{% endblock %}
{% block nav_noauth %}{% endblock %}

{% block content %}
<div class="w3-row w3-padding">
<br/>

<div class="w3-row w3-padding">
    <button type="submit" class="primary"><i class="material-icons">navigate_before</i>Previous</button></a>
    <button type="button" class="positive" id="stepof"></button>    
</div>

<br/>
<form class="w3-col w3-half w3-padding" method="POST" action="/projects/submit">

    {% csrf_token %}

    <div id="step1">
        <h3>Display name</h3>
        <input class="big-input" name="projectimage" type="file" />
        <input required class="big-input" name="projectname" placeholder="Project title" />
        <span class="w3-right negative-text">{{errorprojectname}}</span>
        <br/><br/>
        <h3>Repository name</h3>
        <input required class="big-input" name="reponame" placeholder="Project username"
            {% if reponame %}
            value="{{reponame}}"
            {% endif %}
        />
        <span class="w3-right negative-text">{{errorreponame}}</span>
    </div>
    
    <div id="step2">
        <h3>About {% if projectname %}
            {{projectname}}
            {% endif %}</h3>
        <textarea required class="big-input" maxlength="3000" name="projectabout" placeholder="What's your project about?">{% if projectabout %}{{projectabout}}{% endif %}</textarea>
        <span class="w3-right negative-text">{{errorprojectabout}}</span>
        <br/><br/>
        <h3>Tags</h3>
        <input required class="big-input" name="tags" maxlength="50" placeholder="Separate by comma"
            {% if tags %}
            value="{{tags}}"
            {% endif %}
        />
        <span class="w3-right negative-text">{{errortags}}</span>
    </div>
    
    <div class="w3-row">
        <button type="submit" class="w3-right big-button positive" id="nextstep">
            submit <i class="material-icons big-icon">navigate_next</i>
        </button>
    </div>

</form>
</div>

<script>
// const steps = [document.getElementById("step1"),document.getElementById("step2"),document.getElementById("step3")];
// let current = 0;
// steps.forEach((step,s)=>{
//     step.hidden = s !== current
// })
// document.getElementById("prevstep").addEventListener('click',()=>{
//     if(current>0){
//         --current;
//     }
//     setStep()
// })

// document.getElementById("nextstep").addEventListener('click',()=>{
//     if(current<steps.length){
//         ++current;
//     }
//     setStep()
// })

// const setStep =()=>{
//     steps.forEach((step,s)=>{
//         step.hidden = s !== current
//     })
//     document.getElementById("stepof").innerHTML = `Step ${current} of ${steps.length}`;
// }

// setStep()

</script>
{% endblock %}