{% extends 'index.html' %}
{% load static %}

{% block title %}{{project.name}} | {{appname}}{% endblock %}


{% block nav_href %}/projects{% endblock %}
{% block nav_icon %}
  <button class="primary"><i class="material-icons">arrow_back</i></button>
{% endblock %}
{% block nav_text %}{{project.name}}{% endblock %}

{% block content %}
{% if project.status == "moderation" %}
<div class="w3-row accent w3-center w3-padding">
This project is currently under review and not yet open to contributions. We'll notify you as soon as it is done.
</div>
{% elif project.status == "rejected" %}
<div class="w3-row negative w3-center">
This project has been rejected by our moderators. <a href="/projects/rejected/{{project.id}}">See why</a>.
</div>
{% endif %}
<div class="w3-row w3-padding">
    <div class="w3-col w3-quarter">
        <div class="w3-row w3-center">
            <div class="pallete w3-transparent">
                <img src="/media/{{project.image}}" width="300" />
            </div>
            <center><h5>{{project.description}}</h5></center><br/>
        </div>
        <div class="w3-row w3-padding">
            <div class="w3-row">
            {% for tag in project.tags.all %}
            <button class="positive">#{{tag}}</button>
            {% empty %}
                <button class="primary">No tags assigned</button>
            {% endfor %}
            </div>
            <br/>
            <div class="w3-row">
                <a target="_blank" rel="noreferrer" href="https://github.com/{{appname}}/{{project.reponame}}">
                    <button class="secondary"><img src="{% static 'graphics/thirdparty/github-dark.png' %}" width="25"/>Contribute</button>
                </a>
                {% if project.url %}
                <a target="_blank" rel="noreferrer" href="{{project.url}}">
                    <button class="sub-accent"><i class="material-icons">launch</i>Open</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w3-col w3-threequarter">
        <div class="w3-col w3-half">
        
        </div>
        <div class="w3-col w3-half">
        
        </div>
    </div>
</div>

{% endblock %}